body {margin:0;font-family:-apple-system,Segoe UI,Roboto,Arial,sans-serif;-webkit-touch-callout: none;-webkit-user-select: none;-khtml-user-select: none;-moz-user-select: none;-ms-user-select: none;user-select: none;}
#qboconnect .btn {color:#ffffff;padding:8px;border-radius:3px;cursor:pointer;font-size: 14px;text-shadow: 0 0 1px #FFF;will-change: opacity, transform;transition: .3s ease-out;}

.connectcontainer {width:100%;text-align:center;overflow:auto;}

.logocontainer {height:65px;display: inline-block;}
.logocontainer .logo {display:inline-block;width:200px;height:65px;background-image:url("images/qbo_logo.png");background-size:200px 65px;background-repeat:no-repeat;}

.rightcontainer {height:65px;display: inline-block;}
.rightcontainer .connecttoqbo {background-color:#5CA54D;float:left;margin: 18px 0 0 30px;box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 1px 5px 0 rgba(0,0,0,0.12), 0 3px 1px -2px rgba(0,0,0,0.2);}
.rightcontainer .connecttoqbo.disabled {background-color:#949494;cursor:default;color: #D6D6D6;text-shadow: none;}
.rightcontainer .connecttoqbo:not(.disabled):hover {background-color:#4D8E40;box-shadow: 0 3px 3px 0 rgba(0,0,0,0.14), 0 1px 7px 0 rgba(0,0,0,0.12), 0 3px 1px -1px rgba(0,0,0,0.2);}
.rightcontainer .disconnectqbo {background-color:#808080;float:left;margin: 18px 0 0 18px;box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 1px 5px 0 rgba(0,0,0,0.12), 0 3px 1px -2px rgba(0,0,0,0.2);}
.rightcontainer .disconnectqbo.disabled {background-color:#949494;cursor:default;color: #D6D6D6;text-shadow: none;}
.rightcontainer .disconnectqbo:not(.disabled):hover {background-color:#6B6B6B;box-shadow: 0 3px 3px 0 rgba(0,0,0,0.14), 0 1px 7px 0 rgba(0,0,0,0.12), 0 3px 1px -1px rgba(0,0,0,0.2);}

.connecteddate {font-size:18px;margin:10px;cursor:default;text-align:center;}

.connecteddate .date {display:inline-block;}
.connecteddate .date .datelabel {display:inline-block;}
.connecteddate .date .dateconnected {display:inline-block;margin-left:10px;font-weight:bold;}
.connecteddate .expire {display:inline-block;margin-left: 70px;}
.connecteddate .expire .expirelabel {display:inline-block;}
.connecteddate .expire .expiredays {display:inline-block;margin-left:10px;font-weight:bold;}
