#selectOrder .bc {display:-webkit-box;display:-moz-box;display:-ms-flexbox;display:-webkit-flex;display:flex;height:44px;line-height:44px;}
#selectOrder .bc-caption {width:85px;height:inherit;line-height:inherit;text-align: center;font-size:.75em;}
#selectOrder .bc-barcode {-webkit-box-flex:1;-webkit-flex:1;flex:1;height:inherit;}
#selectOrder .bc-caption-textbox {box-sizing:border-box;width:100%;height:inherit;}
#selectOrder .bc-find {width:44px;height:inherit;line-height:inherit;padding:0 5px;}
#selectOrder .bc-find-img {height:inherit;cursor:pointer;}
#selectOrderView-response {/*display:none;*/}
#selectOrderView-btnSelectOrder {width:130px;}

/*ul#selectOrder-browseorders {display:block;margin:0;padding:0;}
ul#selectOrder-browseorders > li {display:block;cursor:pointer;padding:.3em 0;}
ul#selectOrder-browseorders > li:not(:first-child) {border-top: 1px solid rgba(80,80,80,1);}
ul#selectOrder-browseorders > li:active {background-color:rgba(69,69,69,.6);}
ul#selectOrder-browseorders > li > .row {display:-webkit-box;display:-moz-box;display:-ms-flexbox;display:-webkit-flex;display:flex;}

ul#selectOrder-browseorders > li[data-moduletype="Order"] > .row > .captionDescription {width:6em;font-size:1em;font-weight:bold;}
ul#selectOrder-browseorders > li[data-moduletype="Order"] > .row > .valueDescription {-webkit-box-flex:1;-webkit-flex:1;flex:1;color:#00aaff;text-decoration: underline;font-size:.75em;font-weight: bold;}
ul#selectOrder-browseorders > li[data-moduletype="Order"] > .row > .captionOrderNo {flex:0 0 6em;width:6em;font-size:.625em;color:#aaaaaa;}
ul#selectOrder-browseorders > li[data-moduletype="Order"] > .row > .valueOrderNo {flex:1 1 0;width:14em;font-size:.625em;}
ul#selectOrder-browseorders > li[data-moduletype="Order"] > .row > .captionStatus {flex:0 0 3.5em;width:3.5em;padding:0 .3em;font-size:.625em;color:#aaaaaa;}
ul#selectOrder-browseorders > li[data-moduletype="Order"] > .row > .valueStatus {-webkit-box-flex:1;flex:1 1 0;font-size:.625em;}
ul#selectOrder-browseorders > li[data-moduletype="Order"] > .row > .captionAsOf {flex:0 0 3.5em;width:3.5em;padding:0 .3em;font-size:.625em;color:#aaaaaa;}
ul#selectOrder-browseorders > li[data-moduletype="Order"] > .row > .valueAsOf {-webkit-box-flex:1;flex:1 1 0;font-size:.625em;}
ul#selectOrder-browseorders > li[data-moduletype="Order"] > .row > .captionDeal {flex:0 0 6em;width:6em;font-size:.625em;color:#aaaaaa;}
ul#selectOrder-browseorders > li[data-moduletype="Order"] > .row > .valueDeal {flex:1 1 0;width:14em;font-size:.625em;}
ul#selectOrder-browseorders > li[data-moduletype="Order"] > .row > .captionEstDates {flex:0 0 6em;width:6em;font-size:.625em;color:#aaaaaa;}
ul#selectOrder-browseorders > li[data-moduletype="Order"] > .row > .valueEstDates {flex:1 1 0;padding:0 .3em 0 0;font-size:.625em;}
ul#selectOrder-browseorders > li[data-moduletype="Order"] > .row > .captionOrderDate {flex:0 0 6em;width:6em;font-size:.625em;color:#aaaaaa;}
ul#selectOrder-browseorders > li[data-moduletype="Order"] > .row > .valueOrderDate {-webkit-box-flex:1;flex:1 1 0;font-size:.625em;}*/

#selectOrder .listview .items {display:block;margin:0;padding:0;}
#selectOrder .listview .items > li {display:block;cursor:pointer;padding:.3em 0;}
#selectOrder .listview .items > li:not(:first-child) {border-top: 1px solid rgba(80,80,80,1);}
#selectOrder .listview .items > li:active {background-color:rgba(69,69,69,.6);}
#selectOrder .listview .items > li > .row {display:-webkit-box;display:-moz-box;display:-ms-flexbox;display:-webkit-flex;display:flex;}

#selectOrder .listview .items > li[data-moduletype="Order"] > .row > .valueDescription {-webkit-box-flex:1;-webkit-flex:1;flex:1;color:#00aaff;text-decoration: underline;font-size:.75em;font-weight:bold;}
#selectOrder .listview .items > li[data-moduletype="Order"] > .row > .captionOrderNo {flex:0 0 6em;width:6em;font-size:.625em;color:#aaaaaa;}
#selectOrder .listview .items > li[data-moduletype="Order"] > .row > .valueOrderNo {flex:1 1 0;width:14em;font-size:.625em;}
#selectOrder .listview .items > li[data-moduletype="Order"] > .row > .captionStatus {flex:0 0 3.5em;width:3.5em;padding:0 .3em;font-size:.625em;color:#aaaaaa;}
#selectOrder .listview .items > li[data-moduletype="Order"] > .row > .valueStatus {-webkit-box-flex:1;flex:1 1 0;font-size:.625em;}
#selectOrder .listview .items > li[data-moduletype="Order"] > .row > .captionAsOf {flex:0 0 3.5em;width:3.5em;padding:0 .3em;font-size:.625em;color:#aaaaaa;}
#selectOrder .listview .items > li[data-moduletype="Order"] > .row > .valueAsOf {-webkit-box-flex:1;flex:1 1 0;font-size:.625em;}
#selectOrder .listview .items > li[data-moduletype="Order"] > .row > .captionDeal {flex:0 0 6em;width:6em;font-size:.625em;color:#aaaaaa;}
#selectOrder .listview .items > li[data-moduletype="Order"] > .row > .valueDeal {flex:1 1 0;width:14em;font-size:.625em;}
#selectOrder .listview .items > li[data-moduletype="Order"] > .row > .captionEstDates {flex:0 0 6em;width:6em;font-size:.625em;color:#aaaaaa;}
#selectOrder .listview .items > li[data-moduletype="Order"] > .row > .valueEstDates {flex:1 1 0;padding:0 .3em 0 0;font-size:.625em;}
#selectOrder .listview .items > li[data-moduletype="Order"] > .row > .captionOrderDate {flex:0 0 6em;width:6em;font-size:.625em;color:#aaaaaa;}
#selectOrder .listview .items > li[data-moduletype="Order"] > .row > .valueOrderDate {-webkit-box-flex:1;flex:1 1 0;font-size:.625em;}

#selectOrder .listview .items > li[data-moduletype="Truck"] > .row > .valueDescription {-webkit-box-flex:1;-webkit-flex:1;flex:1;color:#00aaff;text-decoration: underline;font-size:.75em;font-weight:bold;}
#selectOrder .listview .items > li[data-moduletype="Truck"] > .row > .captionOrderNo {flex:0 0 6em;width:6em;font-size:.625em;color:#aaaaaa;}
#selectOrder .listview .items > li[data-moduletype="Truck"] > .row > .valueOrderNo {flex:1 1 0;width:14em;font-size:.625em;}
#selectOrder .listview .items > li[data-moduletype="Truck"] > .row > .captionAsOf {flex:0 0 3.5em;padding:0 .3em;font-size:.625em;color:#aaaaaa;}
#selectOrder .listview .items > li[data-moduletype="Truck"] > .row > .valueAsOf {-webkit-box-flex:1;flex:1 1 0;font-size:.625em;}
#selectOrder .listview .items > li[data-moduletype="Truck"] > .row > .captionStatus {-webkit-box-flex:1;flex:0 0 3.5em;width:4em;padding:0 .3em;font-size:.625em;color:#aaaaaa;}
#selectOrder .listview .items > li[data-moduletype="Truck"] > .row > .valueStatus {-webkit-box-flex:1;flex:1 1 0;font-size:.625em;}
#selectOrder .listview .items > li[data-moduletype="Truck"] > .row > .captionDepartment {flex:0 0 6em;width:6em;font-size:.625em;color:#aaaaaa;}
#selectOrder .listview .items > li[data-moduletype="Truck"] > .row > .valueDepartment {-webkit-box-flex:1;flex:1 1 0;font-size:.625em;}