#contractSignatureView-canvasSignature {background-color:#ffffff;border-radius:3px;margin:2px;}
#contractSignatureView .signature {margin:0 0 0 5px;}
#contractSignatureView-btnClear {margin:5px 5px;}
#contractSignatureView-btnCancel {margin:5px 5px;}
#contractSignatureView-btnCreateContract {margin:5px 5px;}
#contractSignatureView-buttons {display:none;}