/***************************
FwPage
***************************/
.fwpage {}
.fwpage .fwpage-title {font-size:20px;padding:5px 15px;}
.fwpage .fwpage-body {padding:20px 20px 10px 20px;overflow:auto;}

/*#region Classic Theme*/
html.theme-classic .fwpage {color:#282628;}
html.theme-classic .fwpage .fwpage-title {background-image:linear-gradient(#476984,#364f65);color: #ebebee;border-bottom:1px solid #1a2631;}
html.theme-classic .fwpage .fwpage-body {}
/*#endregion Classic Theme*/

/*#region Default Theme*/
html.theme-default .fwpage {color:#282628;}
html.theme-default .fwpage .fwpage-title {background-image:linear-gradient(#476984,#364f65);color: #ebebee;border-bottom:1px solid #1a2631;}
html.theme-default .fwpage .fwpage-body {}
/*#endregion Default Theme*/
/***************************
FwForm
***************************/
.fwform {}
.fwform[data-rendermode="designer"] {min-height:15px;}
.fwform-title {font-size:20px;}
.fwform[data-rendermode="runtime"] .fwform-body {padding:10px;}
.fwform[data-rendermode="designer"] .fwform-body {padding:0 0 16px 0;}

/*#region Classic Theme*/
html.desktop.theme-classic .fwform {color:#282628;background-color:rgba(210,210,210,1);}
html.desktop.theme-classic .fwform .fwform-title {font-weight:bold;color:#39546B;}
html.desktop.theme-classic .fwform-body {}
/*#endregion Classic Theme*/

/*#region Default Theme*/
html.desktop.theme-default .fwform {color:#282628;background-color:rgba(210,210,210,1);}
html.desktop.theme-default .fwform .fwform-title {font-weight:bold;color:#39546B;}
html.desktop.theme-default .fwform-body {}
/*#endregion Default Theme*/
/***************************
Section
***************************/
.fwform-section[data-rendermode="runtime"] {padding:0px;}
.fwform-section[data-rendermode="designer"] {min-height:15px;}
.fwform-section[data-rendermode="runtime"] .fwform-section-title {padding:5px;font-weight:bold;font-size:14px;text-align:center;cursor:default;}
.fwform-section[data-rendermode="runtime"] .fwform-section-body {min-height:1px;padding:10px;border-top-left-radius:0px;border-top-right-radius:0px;}
.fwform-section[data-rendermode="runtime"] .fwform-section-body:after {content:"";display:table;clear:both;}
.fwform-section[data-rendermode="designer"] .fwform-section-body {padding:0 0 16px 0;}

/*#region Classic Theme*/
html.theme-classic .fwform-section {margin:5px;background: rgba(0,0,0,.2);border:1px solid rgba(0,0,0,.2);}
html.theme-classic .fwform-section-title {color: #555555;background-image:linear-gradient(#dddddd,#bbbbbb);border-bottom:1px solid rgba(0,0,0,.2);}
html.theme-classic .fwform-section-body {background-color: rgba(255,255,255,.7);}
/*#endregion Classic Theme*/

/*#region Default Theme*/
html.theme-default .fwform-section {}
html.theme-default .fwform-section-title {background-color: #9e9e9e;color:#212121;}
html.theme-default .fwform-section-body {}
/*#endregion Default Theme*/
/***************************
FieldRow
***************************/
.fwform-fieldrow {margin: 0 0 5px 0;}
.fwform-fieldrow:after {content:"";display:table;clear:both;}
.fwform-fieldrow[data-rendermode="designer"] > .children {margin:1px;min-height:1px;padding:0px 0px 16px 0px;}
.fwform-fieldrow[data-rendermode="designer"] > .children:after {content:"";display:table;clear:both;}

/***************************
FwDesignerHandle
***************************/
.fwcontainer .fwdesignerhandle { background-color: lightblue; }

/***************************
FwGroupBox
***************************/
.fwgroupbox {margin:5px;padding:0px;}
.fwgroupbox .groupbox-title{font-weight:bold;font-size:14px;text-align:center;line-height:24px;height:24px;cursor:default;}
.fwgroupbox .groupbox-body {min-height:1px;padding:10px;}
.fwgroupbox .groupbox-body:after {content:"";display:table;clear:both;}

/*#region Classic Theme*/
html.theme-classic .fwgroupbox {border:1px solid #A1A1A1;}
html.theme-classic .fwgroupbox .groupbox-title {color:#555555;border-bottom:1px solid rgba(0,0,0,.2);background-image:linear-gradient(#dddddd,#bbbbbb);}
html.theme-classic .fwgroupbox .groupbox-body {background-color: rgba(200,200,200,.7);}
/*#endregion Classic Theme*/

/*#region Default Theme*/
html.theme-default .fwgroupbox {border:1px solid #A1A1A1;}
html.theme-default .fwgroupbox .groupbox-title {color:#555555;border-bottom:1px solid rgba(0,0,0,.2);background-image:linear-gradient(#dddddd,#bbbbbb);}
html.theme-default .fwgroupbox .groupbox-body {background-color: rgba(200,200,200,.7);}
/*#endregion Default Theme*/
/***************************
Status
***************************/
.fwstatus {margin:5px;}

/***************************
Structure
***************************/
.formpage {min-width:1138px;display:inline-block;}
.formpage:after {content:"";display:table;clear:both;}
.formrow:after {content:"";display:table;clear:both;}
.formcolumn {float:left;width:50%;}
.fwgroupbox.half {float:left;min-width:458px;}
.fwgroupbox.quarter {float:left;min-width:224px;}

.fwform-section.half{float:left;min-width:472px;}