.assetDispositionView {}
.assetDispositionView .title {}

.assetDispositionView .searchresults {background-color:#ffffff;color:#000000;}
.assetDispositionView .search .item {min-height:44px;border-top:1px solid #cccccc;padding:1%;cursor:pointer;}
.assetDispositionView .search .item:active {background-color:#03a9f4;}
.assetDispositionView .search .row1 {background-color:#263238;color:#ffffff;font-size:1em;padding:1.5%;}
.assetDispositionView .search .masterno {font-size:15px;}
.assetDispositionView .search .master {font-weight:bold;font-size:15px;}
.assetDispositionView .search .row2 {display:flex;}
.assetDispositionView .search .row2 .col1 {flex:0 0 100px;}
.assetDispositionView .search .row2 .col2 {flex:1 1 0;}
.assetDispositionView .search .row2 .caption {color:#2196f3;font-size:14px;margin:1% 0 0 0;}
.assetDispositionView .search .row2 .value {font-size:14px;}
.assetDispositionView .search .row2 .image img {width:100px;max-height:100px;}

/* item status screen */
.assetDispositionView .status {text-align:center;border-top:1px solid #000000;border-right:1px solid #000000;border-left:1px solid #000000;}
.assetDispositionView .genericError {text-align:center;}
.assetDispositionView .msg {text-align:center;}
.assetDispositionView .pnlStatus {padding:5px;text-align:center;border-top: 1px solid #000000;border-right: 1px solid #000000;border-left: 1px solid #000000;}
.assetDispositionView .retirefrom {background-color:#00695c;padding:0px 0 5px 0;}
.assetDispositionView .pnlLocation1 {padding:5px;text-align:center;background-color:rgb(90,162,165);border-top: 1px solid #000000;border-right: 1px solid #000000;border-left: 1px solid #000000;}
.assetDispositionView .pnlLocation2 {padding:5px;text-align:center;background-color:rgb(181,71,66);border-top: 1px solid #000000;border-right: 1px solid #000000;border-left: 1px solid #000000;}
.assetDispositionView .pnlGenericStatus .txtStatus {text-align:center;padding:5px}
.assetDispositionView .pnlGenericStatus .txtStatusDate {text-align:center;padding:0 5px 0 0}
.assetDispositionView .pnlInStatus .col1 {flex:0 0 91px;width:91px;}
.assetDispositionView .pnlOutStatus .col1 {flex:0 0 91px;width:91px;}
.assetDispositionView .pnlInStatus .col2,
.assetDispositionView .pnlOutStatus .col2 {flex:1 1 0;}
.assetDispositionView .pnlInStatus .txtStatus,
.assetDispositionView .pnlOutStatus .txtStatus {flex:1 1 0;font-size:32px;text-align:center;}
.assetDispositionView .pnlInStatus .caption {flex:0 0 90px;width:100px;font-size:12px;padding:0 0 0 5px;}
.assetDispositionView .pnlOutStatus .caption {flex:0 0 106px;width:100px;font-size:12px;padding:0 0 0 5px;}
.assetDispositionView .pnlInStatus .value,
.assetDispositionView .pnlOutStatus .value{flex:1 1 0;overflow:hidden;white-space:nowrap;text-overflow:ellipsis;font-size:12px;padding:0 0 0 5px;}

.assetDispositionView .pnlDetails {}
.assetDispositionView .tblDetails {width:100%;border-collapse:collapse;background-color:rgba(0,0,0,1);}
.assetDispositionView .tblDetails td {margin:0;padding:2.5px 5px;}
.assetDispositionView .tblDetails td.key{font-size:12px;width:80px;font-weight:bold;}
.assetDispositionView .tblDetails td.value{font-size:12px;border-top:1px solid #000000;}
.assetDispositionView .tblDetails tr.light td.key {background-color:rgba(255,255,255,.3);color:rgba(255,255,255,1);border-top:1px solid #000000;border-bottom:1px solid #000000;}
.assetDispositionView .tblDetails tr.light td.value {background-color:rgba(255,255,255,.4);color:rgba(255,255,255,1);border-top:1px solid #000000;border-bottom:1px solid #000000;}
.assetDispositionView .tblDetails tr.cyan td.key {background-color:rgba(0,150,136,1);color:rgba(255,255,255,1);border-top:1px solid #00796B;}
.assetDispositionView .tblDetails tr.cyan td.value {background-color: #4DB6AC;color:rgba(255,255,255,1);border-top:1px solid #00796B;}
.assetDispositionView .pnlImages {text-align:center;margin:10px 0 0 0;}
.assetDispositionView .pnlImages img {height:100px;border:1px solid #aaaaaa;border-radius:2px;}
.assetDispositionView .pnlImages img:not(:first-child) {margin-left:1px;}
.assetDispositionView .fieldRetireQty .txtRetireQty {flex:1 1 0;text-align:center;display:block;box-sizing:border-box;}
.assetDispositionView .fieldRetireQty .btnaddretireqty {flex:0 0 24px;}
.assetDispositionView .fieldRetireQty .btnsubtractretireqty {flex:0 0 24px;}

/* retire screen */
.assetDispositionView .screenRetire .fields {padding:0 5px;}
.assetDispositionView .screenRetire div[data-control="FwFormField"] {margin-top:10px;}
.assetDispositionView .screenRetire .itemheader {border-top: 1px solid #00796B;}
.assetDispositionView .screenRetire .itemheader .flexrow:not(:first-child) {border-top:1px solid #00796B;}
.assetDispositionView .screenRetire .itemheader .caption {flex:0 0 80px;padding: 2.5px 5px;background-color:rgba(0,150,136,1);font-size:12px;}
.assetDispositionView .screenRetire .itemheader .value {flex:1 1 0;padding: 2.5px 5px;background-color: #4DB6AC;font-size:12px;}
.assetDispositionView .fieldTrackLossAmount {margin:10px 0 0 0;}
.assetDispositionView .fieldTrackLossAmount {font-size:12px;}
.assetDispositionView .fieldTrackLossAmount .caption {font-size:12px;}
.assetDispositionView .fieldTrackLossAmount .pnlLossAmountType {text-align:center;font-size:15px;padding: 0 0 10px 0;}
.assetDispositionView .fieldTrackLossAmount .txtLossAmount {padding-left:5px;border-radius:4px;}
.assetDispositionView .fieldTrackLossAmount .value {padding:0 5px}
.assetDispositionView .txtRetireQty {padding-left:5px;}

/* select order screen  */
.assetDispositionView .pnlOrderNoBarcode {display:-webkit-box;display:-moz-box;display:-ms-flexbox;display:-webkit-flex;display:flex;height:44px;line-height:44px;}
.assetDispositionView .pnlOrderNoBarcode .pnlOrderNoBarcode-divCaption {width:85px;height:inherit;line-height:inherit;text-align: center;font-size:12px;}
.assetDispositionView .pnlOrderNoBarcode .pnlOrderNoBarcode-divBarcode {-webkit-box-flex:1;-webkit-flex:1;flex:1;height:inherit;}
.assetDispositionView .pnlOrderNoBarcode .pnlOrderNoBarcode-divBarcode .pnlOrderNoBarcode-txtBarcode {box-sizing:border-box;width:100%;height:inherit;text-transform:uppercase;}
.assetDispositionView .pnlOrderNoBarcode .pnlOrderNoBarcode-divFind {width:44px;height:inherit;line-height:inherit;padding:0 5px;}
.assetDispositionView .pnlOrderNoBarcode .pnlOrderNoBarcode-divFind .pnlOrderNoBarcode-imgFind {height:inherit;cursor:pointer;}

/* select order screen results */
.assetDispositionView .ulBrowseOrders {display:block;font-size:10px;margin:0;padding:0;}
.assetDispositionView .ulBrowseOrders > li {display:block;border-bottom: 1px solid rgba(80,80,80,1);cursor:pointer;margin:0;padding:0;}
.assetDispositionView .ulBrowseOrders > li:active {background-color:#007acc;}
.assetDispositionView .ulBrowseOrders > li > .row {display:-webkit-box;display:-moz-box;display:-ms-flexbox;display:-webkit-flex;display:flex;}
.assetDispositionView .ulBrowseOrders > li > .row > .captionDescription {flex:0 0 60px;width:60px; font-size: 12px;font-weight: bold;}
.assetDispositionView .ulBrowseOrders > li > .row > .valueDescription {-webkit-box-flex:1;-webkit-flex:1;flex:1;color: #00aaff;text-decoration: underline;font-size: 12px;font-weight: bold;}
.assetDispositionView .ulBrowseOrders > li > .row > .captionOrderNo {flex:0 0 60px;width:60px;}
.assetDispositionView .ulBrowseOrders > li > .row > .valueOrderNo {flex:0 0 64px;width:64px;}
.assetDispositionView .ulBrowseOrders > li > .row > .captionDate {flex:0 0 26px;padding:0 5px;}
.assetDispositionView .ulBrowseOrders > li > .row > .valueDate {-webkit-box-flex:1;flex:1 1 auto;}
.assetDispositionView .ulBrowseOrders > li > .row > .captionDeal {flex:0 0 60px;width:60px;}
.assetDispositionView .ulBrowseOrders > li > .row > .valueDeal {-webkit-box-flex:1;flex:1 1 auto;}
.assetDispositionView .ulBrowseOrders > li > .row > .captionStartDate {flex:0 0 60px;width:60px;}
.assetDispositionView .ulBrowseOrders > li > .row > .valueStartDate {flex:0 0 64px;width:64px;padding:0 5px 0 0;}
.assetDispositionView .ulBrowseOrders > li > .row > .captionEndDate {flex:0 0 50px;width:50px;}
.assetDispositionView .ulBrowseOrders > li > .row > .valueEndDate {-webkit-box-flex:1;flex:1 1 auto;}
.assetDispositionView .divMatchingOrdersCount{text-align:center;font-size: 12px;margin: 5px 0 0 0;}
