/*RentalInventoryAvailabilityReport*/
tbody {
    tr[data-rowtype="detail"]:nth-child(odd) {
        background-color: #DCDCDC;
    }
}

thead {
    th {
        border-top: 2px solid #000000;
        border-bottom: 2px solid #000000;
        font-weight: bold;
        padding: 3px;
        white-space: nowrap;
    }
}

#detail {
    tbody[data-rowtype="reservation"]:nth-of-type(odd) {
        background-color: #DCDCDC;
    }

    tbody[data-rowtype="detail"] {
        border-top: .1em solid black
    }

    tbody {
        tr.subValues {
            text-align: left;
            padding-bottom: 2px;
            padding-left: 3px;
        }

        th.subHeaders {
            text-align: left;
            border-bottom: 2px solid black;
            padding-left: 3px;
        }
    }
}

@page {
    size: landscape;
    margin: 10px 10px 10px 10px; // Adds margin on the pdf
}