<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="Fw.Json.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <Fw.Json.Properties.Settings>
            <setting name="Fw_Json_com_elementexpress_certtransaction_Express" serializeAs="String">
                <value>https://certtransaction.elementexpress.com/express.asmx</value>
            </setting>
        </Fw.Json.Properties.Settings>
    </applicationSettings>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="ExpressSoap">
                    <security mode="Transport"/>
                </binding>
                <binding name="ExpressSoap1"/>
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="https://certtransaction.elementexpress.com/express.asmx" binding="basicHttpBinding" bindingConfiguration="ExpressSoap" contract="ElementExpress.ExpressSoap" name="ExpressSoap"/>
        </client>
    </system.serviceModel>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7"/></startup></configuration>
