//Out Contract
$line-height: 16px;

tbody tr.description-row:nth-child(odd) {
    background-color: #DCDCDC;
}

tbody tr.barcode-row:nth-child(even) {
    background-color: #DCDCDC;
}

.sub-header tr > td {
    padding: 0;
    width: 33.3%;
}

.att-text-align {
    padding-left: 75px;
}

.sub-header-left {
    align-self: flex-start;
}

.sub-header-center {
    align-self: center;
}

.sub-header-right {
    align-self: flex-end;
}

.header-center {
    align-self: center;
    font-size: 15px;
    margin-top: 5px;
}

.header-right {
    align-self: flex-end;
    font-size: 15px;
}

.header-left {
    align-self: flex-start;
    font-size: 15px;
}

body {
    font-size: 15px;
    margin: 0;
    padding: 10px;
}

.company-header {
    align-self: flex-start;
    font-size: 16px;
}

.contract-title {
    align-self: center;
    font-family: Arial, sans-serif;
    font-size: 26px;
    font-weight: bold;
}

.barcodes {
    padding: 0 0 0 50px;

    span {
        font-weight: bold;
    }
}

.rectype-header td {
    border-bottom: 2px solid #000000;
    font-weight: bold;
    padding: 5px;
    white-space: nowrap;
}

.sub {
    border-top: 2px solid #027cc5;
    border-bottom: 2px solid #027cc5;
    background-color: #DCDCDC;
}

fieldset {
    border: 1px solid #000000;
    height: 120px;

    legend {
        text-align: center;
        font-weight: bold;
    }
}

.receivedBy {
    page-break-inside: avoid;
    margin: $line-height 0 0 0;
}

.receivedbyfield {
    flex: 0 1 50%;
    margin: 0 $line-height/2;

    .value {
        border-bottom: 1px solid #000000;
        white-space: nowrap;
        height: $line-height*2;
    }

    .caption {
        white-space: nowrap;
        height: $line-height;
    }
}
