<div class="valign-wrapper">
    <div class="center row">
        <div class="col s12">
            <div class="card">
                <div class="img_error"></div>
                <p>Something went wrong. Let's go back to the <a href="/#home">beginning</a>.</p>
            </div>
        </div>
    </div>
</div>
