#receiveOnSet .rfv-findpo {}

#receiveOnSet .rfv-findset {display:none;}

#receiveOnSet .rfv-newset {display:none;margin-top:10px;}
#receiveOnSet .rfv-newset .newset-title {background-color: #546e7a;padding: 5px;font-size: 18px;text-align: center;}
#receiveOnSet .rfv-newset .newset-fields {background-color: #212121;padding: 10px;}

#receiveOnSet .rfv-scan {display:none;}
#receiveOnSet .rfv-scan .fwmobilecontrol-value {text-transform:uppercase;text-align:center;}
#receiveOnSet .rfv-scan .fwmobilecontrol-value::-webkit-input-placeholder {text-transform: none;}
#receiveOnSet .rfv-scan .fwmobilecontrol-value:-moz-placeholder {text-transform: none;}
#receiveOnSet .rfv-scan .fwmobilecontrol-value::-moz-placeholder {text-transform: none;}
#receiveOnSet .rfv-scan .fwmobilecontrol-value:-ms-input-placeholder {text-transform: none;}
#receiveOnSet .rfv-scan .items {background-color: #212121;margin-top:10px;}

#receiveOnSet .rfv-itemupdate {display:none;}
#receiveOnSet .rfv-itemupdate .item-title {background-color:#546e7a;padding:5px;text-align:center;}
#receiveOnSet .rfv-itemupdate .item-title .item-description {font-size:18px;}
#receiveOnSet .rfv-itemupdate .item-icodefields {padding:10px;background-color:#212121;}
#receiveOnSet .rfv-itemupdate .item-icodefields .item-icodefields-row {display:-webkit-box;display:-moz-box;display:-ms-flexbox;display:-webkit-flex;display:flex;flex-direction:row;}
#receiveOnSet .rfv-itemupdate .item-icodefields .item-icodefields-row .item-icodefields-caption {flex:1 0 32px;}
#receiveOnSet .rfv-itemupdate .item-icodefields .item-icodefields-row .item-icodefields-value {-webkit-box-flex:1;-webkit-flex:1;flex:1 0 0;}
#receiveOnSet .rfv-itemupdate .item-fields {background-color:#212121;margin-top: 10px;padding: 5px;}
#receiveOnSet .rfv-itemupdate .item-fields .assetsetlocation {border-top:1px solid #9e9e9e;margin-top:10px;padding:10px 5px 0 5px;}
#receiveOnSet .rfv-itemupdate .item-fields .assetsetlocation .assetsetlocation-titlerow {}
#receiveOnSet .rfv-itemupdate .item-fields .assetsetlocation .assetsetlocation-titlerow .assetsetlocation-col2 {text-align:center;}
#receiveOnSet .rfv-itemupdate .item-fields .assetsetlocation .assetsetlocation-body {}
#receiveOnSet .rfv-itemupdate .item-fields .assetsetlocation .assetsetlocation-record {padding:4px 0;}
#receiveOnSet .rfv-itemupdate .item-fields .assetsetlocation .assetsetlocation-record .location {width: 100%;box-sizing: border-box;font-size: 18px;border-radius: 4px;padding: 3px;border: 1px solid #bdbdbd;height: 44px;}
#receiveOnSet .rfv-itemupdate .item-fields .assetsetlocation .assetsetlocation-record .qty {background-color:white;width: 100%;box-sizing: border-box;font-size: 18px;color: black;line-height: 44px;height: 44px;flex: 1 1 auto;text-align:center;}
#receiveOnSet .rfv-itemupdate .item-fields .assetsetlocation .assetsetlocation-record i {font-size:44px;background-color: #e9e9e9;cursor:pointer;flex:0 0 44px;}
#receiveOnSet .rfv-itemupdate .item-fields .assetsetlocation .assetsetlocation-col1 {flex: 1 0 0;margin-right:10px;}
#receiveOnSet .rfv-itemupdate .item-fields .assetsetlocation .assetsetlocation-col2 {flex: 0 0 130px;}

#receiveOnSet .rfv-signaturecapture {display:none;}
#receiveOnSet .rfv-signaturecapture #contractSignatureView-buttons {display:none;}
#receiveOnSet .rfv-signaturecapture #rfv-canvasSignature {background-color:#ffffff;border-radius:3px;margin:2px;}

.fwconfirmationbox .tabselector {display:-webkit-box;display:-moz-box;display:-ms-flexbox;display:-webkit-flex;display:flex;height:44px;line-height:44px;box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);background-color:#ffffff;margin:0 2px 2px 2px;}
.fwconfirmationbox .tabselector .tab {-webkit-box-flex:1;-webkit-flex:1;flex:1;height:inherit;text-align:center;cursor:pointer;color:rgb(128, 128, 128);font-weight:bold;}
.fwconfirmationbox .tabselector .tab.active {color:#ffffff;background-color:#1565c0;cursor:default;box-shadow: inset 0 1px 6px rgba(0,0,0,0.5), 0 10px 20px rgba(255,255,255,0.06)}
.fwconfirmationbox .tabselector .tab:not(.active):hover {color:rgba(0, 0, 0, 0.8);}

#receiveOnSet .record {font-size: 12px;border-bottom: 1px solid #454545;padding: 5px;cursor: pointer;will-change:opacity, transform;transition:all .1s ease-out;}
#receiveOnSet .record:active {background-color:rgba(69,69,69,.6);}
#receiveOnSet .record .row {display:-webkit-box;display:-moz-box;display:-ms-flexbox;display:-webkit-flex;display:flex;flex-direction:row;}
#receiveOnSet .record .row .caption.fixed {flex: 0 0 90px;width:90px;}
#receiveOnSet .record .row .caption.dynamic {flex: 0 0 auto;margin-right:5px;}
#receiveOnSet .record .row .caption.bold {font-weight:bold;}
#receiveOnSet .record .row .value {-webkit-box-flex:1;-webkit-flex:1;flex: 1 0 0;}

