#itemStatus .is-search .fwmobilecontrol-value {text-transform:uppercase;text-align:center;}
#itemStatus .is-search .fwmobilecontrol-value::-webkit-input-placeholder {text-transform: none;text-align:center;}
#itemStatus .is-search .fwmobilecontrol-value:-moz-placeholder {text-transform: none;text-align:center;}
#itemStatus .is-search .fwmobilecontrol-value::-moz-placeholder {text-transform: none;text-align:center;}
#itemStatus .is-search .fwmobilecontrol-value:-ms-input-placeholder {text-transform: none;text-align:center;}

#itemStatus .is-error {text-align:center;display:none;margin-top:10px;}

#itemStatus .is-itemdetails {display:none;background-color: #212121;}
#itemStatus .is-itemdetails .is-itemstatus {text-align:center;padding:5px;}
#itemStatus .is-itemdetails .is-detailtable {width:100%;border-collapse:collapse;border:1px solid #000000;background-color:rgba(0,0,0,1);}
#itemStatus .is-itemdetails .is-detailtable td {margin:0;padding:1px 5px;}
#itemStatus .is-itemdetails .is-detailtable td.key {font-size:12px;width:100px;font-weight:bold;border:1px solid rgba(0,0,0,1);}
#itemStatus .is-itemdetails .is-detailtable td.value {font-size:12px;border:1px solid rgba(0,0,0,1);}
#itemStatus .is-itemdetails .is-detailtable tr.light {background-color:rgba(255,255,255,.2);color:rgba(255,255,255,1);}
#itemStatus .is-itemdetails .is-detailtable tr.dark {background-color:rgba(50,50,50,.7);color:rgba(0,200,0,1);}
#itemStatus .is-itemdetails .is-images {margin:4px 0 0 0;text-align:center;}
#itemStatus .is-itemdetails .is-images img {height:100px;border:1px solid #aaaaaa;border-radius:2px;}
#itemStatus .is-itemdetails .is-images img:not(:first-child) {margin-left:1px;}

#itemStatus .is-warehouses{font-size:12px;}
#itemStatus .is-warehouses .warehouse {margin:10px 0 0 0;padding:5px 0;border:1px solid #000000;background-color:rgba(50,50,50,.7);}
#itemStatus .is-warehouses .warehouse .flexcontainer {display:-webkit-box;display:-moz-box;display:-ms-flexbox;display:-webkit-flex;display:flex;}
#itemStatus .is-warehouses .warehouse .captionWarehouse {padding:0 5px;-webkit-box-flex:1;flex:0 1 70px;width:70px;font-weight: bold;color:rgba(255,0,0,1);}
#itemStatus .is-warehouses .warehouse .valueWarehouse {-webkit-box-flex:1;flex:1 1 auto;color:rgba(255,0,0,1);}
#itemStatus .is-warehouses .warehouse:first-child {}
#itemStatus .is-warehouses .warehouse:first-child .captionWarehouse {color:rgba(0,200,0,1);}
#itemStatus .is-warehouses .warehouse:first-child .valueWarehouse {color:rgba(0,200,0,1);}
/*#itemStatus .is-warehouses .warehouse .captionTotal {padding:0 5px;width:40px;font-weight: bold;}
#itemStatus .is-warehouses .warehouse .valueTotal {padding:0 5px;width:40px;text-align:right;}
#itemStatus .is-warehouses .warehouse .captionAisleloc {padding:0 5px;width:40px;font-weight: bold;}
#itemStatus .is-warehouses .warehouse .valueAisleloc {padding:0 5px;width:45px;text-align:right;}
#itemStatus .is-warehouses .warehouse .captionShelfloc {padding:0 5px;width:60px;font-weight: bold;}
#itemStatus .is-warehouses .warehouse .valueShelfloc {padding:0 5px;width:40px;text-align:right;}
#itemStatus .is-warehouses .warehouse .captionIn {padding:0 5px;width:40px;font-weight: bold;}
#itemStatus .is-warehouses .warehouse .valueIn {padding:0 5px;width:40px;text-align:right;}
#itemStatus .is-warehouses .warehouse .captionOut {padding:0 5px;width:40px;font-weight: bold;}
#itemStatus .is-warehouses .warehouse .valueOut {padding:0 5px;width:40px;text-align:right;}
#itemStatus .is-warehouses .warehouse .captionStaged {padding:0 5px;width:45px;font-weight: bold;}
#itemStatus .is-warehouses .warehouse .valueStaged {padding:0 5px;width:40px;text-align:right;}
#itemStatus .is-warehouses .warehouse .captionQCRqd {padding:0 5px;width:60px;font-weight: bold;}
#itemStatus .is-warehouses .warehouse .valueQCRqd {padding:0 5px;width:40px;text-align:right;}
#itemStatus .is-warehouses .warehouse .captionInRepair {padding:0 5px;width:60px;font-weight: bold;}
#itemStatus .is-warehouses .warehouse .valueInRepair {padding:0 5px;width:40px;text-align:right;}
#itemStatus .is-warehouses .warehouse .captionOnPO {padding:0 5px;width:45px;font-weight: bold;}
#itemStatus .is-warehouses .warehouse .valueOnPO {padding:0 5px;width:40px;text-align:right;}*/
#itemStatus .is-warehouses .warehouse .caption {padding:0 5px;font-weight:bold;flex:1 0;}
#itemStatus .is-warehouses .warehouse .value {padding:0 5px;text-align:right;flex:1 0;}

#itemStatus .is-rfiditems {display:none;background-color: #212121;margin-top:10px;}
#itemStatus .is-rfiditems .norecords {text-align:center;margin:5px;}

#itemStatus .is-rfiditems .rfid-item {margin-top:4px;cursor:pointer;border:1px solid #616161;font-size:12px;}
#itemStatus .is-rfiditems .rfid-item .rfid-item-title {background-color:#616161;font-weight:bold;padding:2px;text-align:center;}
#itemStatus .is-rfiditems .rfid-item .rfid-item-info {overflow:auto;}
#itemStatus .is-rfiditems .rfid-item .rfid-item-info .rfid-data {overflow:auto;padding:2px 4px;display:-webkit-box;display:-moz-box;display:-ms-flexbox;display:-webkit-flex;display:flex;flex-direction:row;}
#itemStatus .is-rfiditems .rfid-item .rfid-item-info .rfid-data:nth-child(even) {background:rgba(65, 65, 65, 0.65);}
#itemStatus .is-rfiditems .rfid-item .rfid-item-info .rfid-data .item-caption {flex: 0 0 70px;}
#itemStatus .is-rfiditems .rfid-item .rfid-item-info .rfid-data .item-value {-webkit-box-flex:1;-webkit-flex:1;flex: 1 0 0;}

#itemStatus .is-rfiditems .rfid-item:active {background-color:#0066ff;}

#itemStatus .is-rfiditems .rfid-item.processed .rfid-item-title {background-color:#209309;}
#itemStatus .is-rfiditems .rfid-item.processed.duplicate .rfid-item-title {background-color:#3557e7;}
#itemStatus .is-rfiditems .rfid-item.exception .rfid-item-title {background-color:#C62828;}
#itemStatus .is-rfiditems .rfid-item.pending .rfid-item-title {background-color:#31859c;}
