@font-face {
    font-family: 'bgothm';
    src: url('fwfonts/bgothm/bgothm.002-webfont.eot');
    src: url('fwfonts/bgothm/bgothm.002-webfont.eot?#iefix') format('embedded-opentype'),
         url('fwfonts/bgothm/bgothm.002-webfont.woff2') format('woff2'),
         url('fwfonts/bgothm/bgothm.002-webfont.woff') format('woff'),
         url('fwfonts/bgothm/bgothm.002-webfont.ttf') format('truetype'),
         url('fwfonts/bgothm/bgothm.002-webfont.svg#bankgothic_md_btmedium') format('svg');
    font-weight: normal;
    font-style: normal;
}
.bgothm {font-family:bgothm;}
.rwpurple {color:#6a3aaf;}
.tiwred {color:#d32f2f;}
/***************************
Master
***************************/
#master {/*min-width:1183px;*/}
#master-header .usercontrol #logoff {cursor:pointer;}
#master-header #officelocation {cursor:pointer;position:relative;}
#master-header #officelocation .caption {display:inline-block;}
#master-header #officelocation .value {display:inline-block;margin-left:2px;}
#master-header .user-controls .officelocation {padding:0 10px;display:flex;align-items:center;cursor:pointer;}
#master-header .user-controls .officelocation .locationcolor {width: 1em;height: 1em;margin: auto 4px auto 0;}
#master-header .user-controls .officelocation .value {}
#master-header .user-controls .dashboard {cursor:pointer;padding:0 .3em;}
#master-body {/*padding:10px;*/}
#master-body .programlogo {flex-wrap:wrap;width:99%;}
#master-body .programlogo .chart-container {display:flex;float:left;position:relative;}
#master-body .programlogo .chart-container:hover .toolbar {display:block;}
#master-body .programlogo .chart-container .toolbar {display:none;position:absolute;top:2%;right:2%;cursor:pointer;}
#master-footer {text-align:center;font-size:12px;margin-bottom:10px;}
#master-footer #dbworkslink {cursor:pointer;}

.homepage .programlogo {}

/* need to override the framework values here to make things responsive */
.formpage {min-width:0;display:block;}

.flexrow {
  display: flex;
  flex-wrap: wrap;
  max-width: 1200px; /*max-width:60em;*/
}

.flexrow > * {
  flex: 1 1 0;
  min-width: 25px; /*min-width:16em;max-width:24em;*/
}

.contactform .flexcolumn {
  max-width:1200px;
}

html.theme-material .fwbrowse table tbody tr.editrow .field[data-formdatatype="timepicker"] input.value {
  font-size: .9em;
}

html.theme-material .fwbrowse table thead tr td .field .fieldcaption .caption {
  font-size: .7em;
  padding: 0 .4em;
}

.notabs {
  margin:25px;
}

html.theme-material .fwform-section {
  margin: .6rem .6rem; /* .3rem .9rem  */
  /* background-color: #eceff1; */
}