@font-face {
    font-family: 'bgothm';
    src: url('fwfonts/bgothm/bgothm.002-webfont.eot');
    src: url('fwfonts/bgothm/bgothm.002-webfont.eot?#iefix') format('embedded-opentype'),
         url('fwfonts/bgothm/bgothm.002-webfont.woff2') format('woff2'),
         url('fwfonts/bgothm/bgothm.002-webfont.woff') format('woff'),
         url('fwfonts/bgothm/bgothm.002-webfont.ttf') format('truetype'),
         url('fwfonts/bgothm/bgothm.002-webfont.svg#bankgothic_md_btmedium') format('svg');
    font-weight: normal;
    font-style: normal;
}
.bgothm {font-family:bgothm;}
.rwpurple {color:#6a3aaf;}
.tiwred {color:#d32f2f;}
/***************************
Master
***************************/
#master {/*min-width:1183px;*/}
#master-header .usercontrol #logoff {cursor:pointer;}
#master-header #officelocation {cursor:pointer;position:relative;}
#master-header #officelocation .caption {display:inline-block;}
#master-header #officelocation .value {display:inline-block;margin-left:2px;}
#master-header .user-controls .officelocation {padding:0 10px;display:flex;align-items:center;cursor:pointer;}
#master-header .user-controls .officelocation .locationcolor {width: 1em;height: 1em;margin: auto 4px auto 0;}
#master-header .user-controls .officelocation .value {}
#master-header .user-controls .dashboard {cursor:pointer;padding:0 .3em;}
#master-body {/*padding:10px;*/}
#master-body .programlogo {flex-wrap:wrap;width:99%;}
#master-body .programlogo .chart-container {display:flex;float:left;position:relative;}
#master-body .programlogo .chart-container:hover .toolbar {display:block;}
#master-body .programlogo .chart-container .toolbar {display:none;position:absolute;top:2%;right:2%;cursor:pointer;}
#master-footer {text-align:center;font-size:12px;margin-bottom:10px;}
#master-footer #dbworkslink {cursor:pointer;}

.homepage .programlogo {}

/* need to override the framework values here to make things responsive */
.formpage {min-width:0;display:block;}

.flexrow {
  display: flex;
  flex-wrap: wrap;
  max-width: 1200px; /*max-width:60em;*/
}

.flexrow > * {
  flex: 1 1 0;
  min-width: 25px; /*min-width:16em;max-width:24em;*/
}

.contactform .flexcolumn {
  max-width:1200px;
}

html.theme-material .fwbrowse table tbody tr.editrow .field[data-formdatatype="timepicker"] input.value {
  font-size: .9em;
}

html.theme-material .fwbrowse table thead tr td .field .fieldcaption .caption {
  font-size: .7em;
  padding: 0 .4em;
}

.notabs {
  margin:25px;
}

html.theme-material .fwform-section {
  margin: .6rem .6rem; /* .3rem .9rem  */
  /* background-color: #eceff1; */
}

/* Removes default up and down arrows in input[type="number"] */
#inventory input[type="number"]::-webkit-outer-spin-button, #inventory input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

#inventory input[type="number"] {
    -moz-appearance: textfield;
}

/*#region Search Interface*/
#searchpopup {
    background-color: white;
    box-shadow: 0 25px 44px rgba(0, 0, 0, 0.30), 0 20px 15px rgba(0, 0, 0, 0.22);
    width: 85vw;
    height: 85vh;
    overflow: hidden;
    position: relative;
}

#searchpopup .close-modal {
    display: flex;
    position: absolute;
    top: 10px;
    right: 15px;
    cursor: pointer;
}

#searchpopup #searchTabs {position:absolute;left:0;right:0;top:0;bottom:0;display: flex;flex-direction: column;}
#searchpopup #searchTabs .tabs {flex: 0 0 auto;}
#searchpopup #searchTabs .tabpages {flex: 1 1 0;position:relative;}
#searchpopup #searchTabs .tabpages .tabpage {position:absolute;left:0;right:0;top:0;bottom:0;}
#itemsearch {height:100%;}
#itemsearch .flexpage {height:100%;position:relative;display:flex;flex-direction:column;}

#itemsearch div[data-datafield="InventoryType"] {margin: 5px 0px 0px 10px;display:flex;flex: 0 0 430px;}
#itemsearch div[data-datafield="InventoryType"] > .fwformfield-control {display:flex;}
#itemsearch div[data-datafield="InventoryType"] .fwformfield-control > div {padding-top: 5px;flex: 0 0 85px;}
#itemsearch:not([data-moduletype="PurchaseOrder"]) div[data-datafield="InventoryType"] div[data-value="P"] {display:none;}

#itemsearch .addToOrder[data-type="button"] {margin: 16px 7px 0px 7px;}
#itemsearch .refresh-availability[data-type="button"] {margin: 16px 7px 0px 7px;}

#itemsearch div[data-datafield="SearchBox"] .fwformfield-caption {font-weight:bold;font-size:1em;}
#itemsearch div[data-datafield="SearchBox"] .fwformfield-control {border: 1px solid #9E9E9E;}

#itemsearch .breadcrumbrow {display: flex;flex:0 0 auto;align-items: center;background-color: #fafafa;border-top: 1px solid #BDBDBD;border-bottom: 1px solid #BDBDBD;}
#itemsearch #breadcrumbs {padding-left: 20px;display:flex;flex: 1 0 auto;}
#itemsearch #breadcrumbs .breadcrumb {display: flex;cursor: pointer;font-weight: bold;padding: 6px 0;}
#itemsearch #breadcrumbs .breadcrumb+.breadcrumb:before {content: "\002F";padding: 0 10px;}
#itemsearch #breadcrumbs .breadcrumb .value:hover {color: #1565c0;}
#itemsearch .breadcrumbrow .material-icons {padding: 4.5px;cursor:pointer;}
#itemsearch .breadcrumbrow .material-icons:hover {background-color:#BDBDBD}

#itemsearch .options {position:relative;}
#itemsearch .options .optionsmenu {display: none;position: absolute;top: 100%;right: 2px;padding: 0.0625em;-moz-box-shadow: 3px 3px 5px 1px rgba(0,0,0,.3);-webkit-box-shadow: 3px 3px 5px 1px rgba(0,0,0,.3);box-shadow: 3px 3px 5px 1px rgba(0,0,0,.3);white-space: nowrap;min-width: 170px;background-color: white;}
#itemsearch .options.active .optionsmenu {display:block;}

#itemsearch #categorycolumns {border-top: 1px solid #BDBDBD;border-right: 1px solid #BDBDBD;overflow-y: auto;position: absolute;top: 0;left: 0;right: 0;bottom: 0;}
#itemsearch #categorycolumns > div {margin-bottom:6px;}
#itemsearch #categorycolumns ul {margin:0;cursor:pointer;padding:5px;display:flex;}
#itemsearch #categorycolumns ul.selected {background-color:#66BB6A;}
#itemsearch #categorycolumns ul .downArrowNav {height:24px;width:24px;}
#itemsearch #categorycolumns ul .downArrowNav i {display:none;}
#itemsearch #categorycolumns ul.selected .downArrowNav i {display:block;}
#itemsearch #categorycolumns ul:hover:not(.selected) {background-color: #E0E0E0;}
#itemsearch #categorycolumns #subCategory ul {padding:5px 5px 5px 29px;}

#itemsearch #itemlist {flex: 1 1 0;position:relative;}
#itemsearch #itemlist #inventory {overflow-y: scroll;position: absolute;top: 32px;left: 0;right: 0;bottom: 0;}

#itemsearch #itemlist[data-view="GRID"] .columnDescriptions {display:none;}
#itemsearch #itemlist[data-view="GRID"] {max-width:1950px;}
#itemsearch #itemlist[data-view="GRID"] #inventory {display:flex;flex-wrap:wrap;}
#itemsearch #itemlist[data-view="GRID"] #inventory .item-container {flex:0 0 280px;}
#itemsearch #itemlist[data-view="GRID"] .item-info {padding:20px;position:relative;border: 1px solid #E0E0E0;}
#itemsearch #itemlist[data-view="GRID"] div[data-column="ItemImage"] {width:8em;height:8em;position:relative;margin:0 auto;}
#itemsearch #itemlist[data-view="GRID"] div[data-column="ItemImage"] img {max-height:100%;max-width:100%;position:absolute;top:0;bottom:0;left:0;right:0;margin:auto;}
#itemsearch #itemlist[data-view="GRID"] div[data-column="Description"] {height:6em;}
#itemsearch #itemlist[data-view="GRID"] div[data-column="Description"] .description {font-weight:bold;}
#itemsearch #itemlist[data-view="GRID"] div[data-column="Description"] .classdescription {border-radius: 4px;padding: 2px 4px;color: white;text-transform: lowercase;}
#itemsearch #itemlist[data-view="GRID"] div[data-column="Description"] .toggleaccessories {display:none;}
#itemsearch #itemlist[data-view="GRID"] div[data-column="Quantity"] {display:flex;}
#itemsearch #itemlist[data-view="GRID"] div[data-column="Available"] {display: flex;}
#itemsearch #itemlist[data-view="GRID"] div[data-column="Available"] .available-color {text-align:right;}
#itemsearch #itemlist[data-view="GRID"] div[data-column="ConflictDate"] {display: flex;}
#itemsearch #itemlist[data-view="GRID"] div[data-column="In"] {display: flex;}
#itemsearch #itemlist[data-view="GRID"] div[data-column="QC"] {display: flex;}
#itemsearch #itemlist[data-view="GRID"] div[data-column="Rate"] {display: flex;}
#itemsearch #itemlist[data-view="GRID"] div[data-column="Type"] {display:none;}
#itemsearch #itemlist[data-view="GRID"] div[data-column="Category"] {display:none;}
#itemsearch #itemlist[data-view="GRID"] div[data-column="SubCategory"] {display:none;}
#itemsearch #itemlist[data-view="GRID"] div[data-column="AllWh"] {display:none;}
#itemsearch #itemlist[data-view="GRID"] .gridcaption {text-decoration: underline;flex: 1 0 100px;}
#itemsearch #itemlist[data-view="GRID"] .item-accessories {display:none;}

#itemsearch #itemlist[data-view="LIST"] .columnDescriptions {display:flex;align-items:center;padding:5px 20px 5px 5px;background-color:#e0e0e0;color:#464646;border-bottom:1px solid #BDBDBD;font-weight:bold;}
#itemsearch #itemlist[data-view="LIST"] .item-info {display:flex;align-items:center;padding:5px;position:relative;border-bottom: 1px solid #BDBDBD;}
#itemsearch #itemlist[data-view="LIST"] div[data-column="ItemImage"] {display:none;}
#itemsearch #itemlist[data-view="LIST"] div[data-column="Description"] {flex:1 0 250px;margin:0 10px;}
#itemsearch #itemlist[data-view="LIST"] div[data-column="Description"] .descriptionrow {display:flex;align-items:center;}
#itemsearch #itemlist[data-view="LIST"] div[data-column="Description"] .classdescription {border-radius: 4px;padding: 2px 4px;color: white;text-transform: lowercase;margin: 0 10px;}
#itemsearch #itemlist[data-view="LIST"] div[data-column="Quantity"] {flex:0 0 90px;margin-right:10px;position:relative;text-align:center;}
#itemsearch #itemlist[data-view="LIST"] div[data-column="Type"] {flex:1 0 100px;margin-right:10px;}
#itemsearch #itemlist[data-view="LIST"] div[data-column="Category"] {flex:1 0 100px;margin-right:10px;}
#itemsearch #itemlist[data-view="LIST"] div[data-column="SubCategory"] {flex:1 0 110px;margin-right:10px;}
#itemsearch #itemlist[data-view="LIST"] div[data-column="Available"] {flex:0 0 100px;margin-right:10px;text-align:right;}
#itemsearch #itemlist[data-view="LIST"] div[data-column="AllWh"] {flex:0 0 120px;margin-right:10px;text-align:right;}
#itemsearch #itemlist[data-view="LIST"] div[data-column="ConflictDate"] {flex:0 0 120px;margin-right:10px;text-align:right;}
#itemsearch #itemlist[data-view="LIST"] div[data-column="In"] {flex:0 0 60px;margin-right:10px;text-align:right;}
#itemsearch #itemlist[data-view="LIST"] div[data-column="QC"] {flex:0 0 60px;margin-right:10px;text-align:right;}
#itemsearch #itemlist[data-view="LIST"] div[data-column="Rate"] {flex:0 0 80px;margin-right:10px;text-align:right;}
#itemsearch #itemlist[data-view="LIST"] .gridcaption {display:none;}
#itemsearch #itemlist[data-view="LIST"] .item-accessories .accColumns {display:none;}
#itemsearch #itemlist[data-view="LIST"] .item-accessories div[data-column="Description"] {margin-left: 26px;}

#itemsearch #itemlist[data-view="HYBRID"] .columnDescriptions {display:flex;align-items:center;padding:5px 20px 5px 5px;background-color:#e0e0e0;color:#464646;border-bottom:1px solid #BDBDBD;font-weight:bold;}
#itemsearch #itemlist[data-view="HYBRID"] .item-info {display:flex;align-items:center;padding:5px;position:relative;border-bottom: 1px solid #BDBDBD;}
#itemsearch #itemlist[data-view="HYBRID"] div[data-column="ItemImage"] {width:4em;margin-right:10px;}
#itemsearch #itemlist[data-view="HYBRID"] .item-info div[data-column="ItemImage"] {height:4em;}
#itemsearch #itemlist[data-view="HYBRID"] div[data-column="ItemImage"] img {max-height:100%;max-width:100%;}
#itemsearch #itemlist[data-view="HYBRID"] div[data-column="Description"] {flex:1 0 250px;margin-right:10px;}
#itemsearch #itemlist[data-view="HYBRID"] div[data-column="Description"] .descriptionrow {display:flex;align-items:center;}
#itemsearch #itemlist[data-view="HYBRID"] div[data-column="Description"] .classdescription {border-radius: 4px;padding: 2px 4px;color: white;text-transform: lowercase;margin: 0 10px;}
#itemsearch #itemlist[data-view="HYBRID"] div[data-column="Quantity"] {flex:0 0 90px;margin-right:10px;position:relative;text-align:center;}
#itemsearch #itemlist[data-view="HYBRID"] div[data-column="Type"] {flex:1 0 100px;margin-right:10px;}
#itemsearch #itemlist[data-view="HYBRID"] div[data-column="Category"] {flex:1 0 100px;margin-right:10px;}
#itemsearch #itemlist[data-view="HYBRID"] div[data-column="SubCategory"] {flex:1 0 110px;margin-right:10px;}
#itemsearch #itemlist[data-view="HYBRID"] div[data-column="Available"] {flex:0 0 100px;margin-right:10px;text-align:right;}
#itemsearch #itemlist[data-view="HYBRID"] div[data-column="AllWh"] {flex:0 0 120px;margin-right:10px;text-align:right;}
#itemsearch #itemlist[data-view="HYBRID"] div[data-column="ConflictDate"] {flex:0 0 120px;margin-right:10px;text-align:right;}
#itemsearch #itemlist[data-view="HYBRID"] div[data-column="In"] {flex:0 0 60px;margin-right:10px;text-align:right;}
#itemsearch #itemlist[data-view="HYBRID"] div[data-column="QC"] {flex:0 0 60px;margin-right:10px;text-align:right;}
#itemsearch #itemlist[data-view="HYBRID"] div[data-column="Rate"] {flex:0 0 80px;margin-right:10px;text-align:right;}
#itemsearch #itemlist[data-view="HYBRID"] .gridcaption {display:none;}
#itemsearch #itemlist[data-view="HYBRID"] .item-accessories .accColumns {display:none;}
#itemsearch #itemlist[data-view="HYBRID"] .item-accessories div[data-column="Description"] {margin-left: 26px;}

#inventory .item-container .item-info .toggleaccessories {font-weight: bold;color: #1E88E5;display:inline-block;cursor:pointer;}
#inventory .item-container .item-info .toggleaccessories:hover {text-decoration:underline;}

.item-info .incrementQuantity, .item-info .decrementQuantity {
    padding: 5px 0px;
    float: left;
    width: 25%;
    border: none;
}

.item-container .lightBlue {
    background-color: #c5eefb;
}

.item-container .available-color {padding:4px 8px;border-radius:4px;display:inline-block;min-width: 36px;border: 1px solid rgba(0, 40, 100, 0.12);}
.item-container div[data-column="Available"][data-state="enough"] .available-color {background-color:#7CB342;color:#ffffff;}
.item-container div[data-column="Available"][data-state="negative"] .available-color {background-color:#f44336;color:#ffffff;}
.item-container div[data-column="Available"][data-state="stale"] .available-color {background-color:#1565C0;color:#ffffff;}
.item-container div[data-column="Available"][data-state="low"] .available-color {background-color:#ffeb3b;}

.item-container .item-accessories {}
.item-container .item-accessories .item-accessory-info {display:flex;align-items:center;padding:5px;position:relative;border-bottom: 1px solid #BDBDBD;background-color:#EEEEEE;}

.item-accessory-info .quantityColor {
    border-left: 20px solid;
    border-right: 20px solid transparent;
    border-bottom: 20px solid transparent;
    left: 25%;
    top: 1px;
    height: 0;
    width: 0;
    position: absolute;
    right: 0px;
    z-index: 2;
    pointer-events: none;
    margin-left: 3px;
}

#previewHtml {height:100%;}
/*#endregion*/

.twSubModule {
  margin: 10px;
  border-left: 1px solid silver;
  border-right: 1px solid silver;
}
