/* Deal Outstanding Report */
[applicationstylesheet]
.body {page-break-after: always;}
.body tbody tr[data-rowtype="totals"] div{font-weight:bold;}
.body .header {position:relative;}
.alignright{text-align:right;}
.location {font-weight:bold;}
.totalrow {font-weight:bold;background-color:#ffffff !important;border-top:1px solid #000000;}
.totalrow td div {padding:5px 0;font-size:16px !important;}
td div {}
td div.row1 {padding:0 0 0 0;min-height: 16px;}
td div.row2 {padding:0 0 0 10px;min-height: 16px;}
td div.row3 {padding:0 0 0 20px;min-height: 16px;}
td div.row4 {padding:0 0 0 30px;min-height: 16px;}
.exportedcaption {font-weight:bold;font-size:16px;}
.body tfoot tr {border-top: 1px solid black;}
.body tfoot td > div {line-height:16px;vertical-align:middle;font-size:12px;padding: 10px 0;font-weight: bold;}