/.vs/
/build/
/packages/
*.user

/src/*/Properties/PublishProfiles/

/TestResult.xml
/Sync_RentalWorksWeb_to_TrakitWorksWeb.ps1.log

/lib/Fw/packages/
/lib/Fw/.vs/
/lib/Fw/src/*/obj/
/lib/Fw/src/*/bin/

/src/*/Properties/PublishProfiles/
/src/RentalWorksAPI/Application.config

/src/*/bin/
/src/*/obj/
/src/RentalWorksQuikScan/app_body.htm
/src/RentalWorksQuikScan/app_head.htm
/src/RentalWorksQuikScan/app_scripts.json
/src/RentalWorksQuikScan/app_startupscript.js
/src/RentalWorksQuikScan/Application.config
/src/RentalWorksQuikScan/ApplicationConfig.js
/src/RentalWorksQuikScan/FwApplicationSchema.config
/src/RentalWorksQuikScan/Modules/QuikIn/QuikIn.js.map
/src/RentalWorksQuikScan/Modules/QuikIn/QuikIn.js
/src/RentalWorksQuikScan/scripts/_references.js
/src/RentalWorksQuikScan/scripts/Program.js
/src/RentalWorksQuikScan/scripts/Program.js.map
/src/RentalWorksQuikScan/scripts/RwVirtualNumpad.js.map
/src/RentalWorksQuikScan/scripts/RwVirtualNumpad.js

/src/RentalWorksTest/Application.config

/src/RentalWorksWeb/App_Data/Temp/
/src/RentalWorksWeb/Libraries/Fw/scripts/FwControls/FwReport.js.map
/src/RentalWorksWeb/Libraries/Fw/scripts/FwControls/FwFormField.js.map
/src/RentalWorksWeb/scripts/_references.js
/src/RentalWorksWeb/scripts/Constants.js.map
/src/RentalWorksWeb/scripts/Constants.js
/src/RentalWorksWeb/scripts/Program.js
/src/RentalWorksWeb/scripts/Program.js.map
/src/RentalWorksWeb/scripts/RwMaster.js
/src/RentalWorksWeb/scripts/RwMaster.js.map
/src/RentalWorksWeb/scripts/DefaultApplicationConfig.js
/src/RentalWorksWeb/scripts/DefaultApplicationConfig.js.map
/src/RentalWorksWeb/Source/**/*.js
/src/RentalWorksWeb/Source/**/*.js.map
/src/RentalWorksWeb/app_scripts.json
/src/RentalWorksWeb/Application.config
/src/RentalWorksWeb/ApplicationConfig.js
/src/RentalWorksWeb/FwApplicationSchema.config
/src/RentalWorksWeb/index.htm

/src/RwQBO/App_Data/Temp/
/src/RwQBO/app_scripts.json
/src/RwQBO/Application.config
/src/RwQBO/ApplicationConfig.js
/src/RwQBO/FwApplicationSchema.config
/src/RwQBO/index.htm
/src/RwQBO/scripts/_references.js
/src/RwQBO/Source/Modules/Home/**/*.js
/src/RwQBO/Source/Modules/Home/**/*.js.map
/src/RwQBO/Source/Modules/Settings/**/*.js
/src/RwQBO/Source/Modules/Settings/**/*.js.map

/src/RentalWorksWebApi/appsettings.json
/src/RentalWorksWebApi/.local-chromium/
/src/RentalWorksWebApi/wwwroot/temp/
/src/RentalWorksWebApi/node_modules/
/src/RentalWorksWebApi/wwwroot/Reports/
/src/RentalWorksWebApi/Modules/Reports/WebpackReports/**/*.js
/src/RentalWorksWebApi/Modules/Reports/WebpackReports/**/*.js.map

/src/TrakitWorksWeb/App_Data/Temp/
/src/TrakitWorksWeb/app_scripts.json
/src/TrakitWorksWeb/Application.config
/src/TrakitWorksWeb/ApplicationConfig.js
/src/TrakitWorksWeb/FwApplicationSchema.config
/src/TrakitWorksWeb/index.htm
/src/TrakitWorksWeb/scripts/_references.js
/src/TrakitWorksWeb/Source/**/*.js
/src/TrakitWorksWeb/Source/**/*.js.map
/src/TrakitWorksWeb/scripts/Constants.js.map
/src/TrakitWorksWeb/scripts/Constants\.js
/src/TrakitWorksWeb/scripts/DefaultApplicationConfig.js
/src/TrakitWorksWeb/scripts/DefaultApplicationConfig.js.map
/src/TrakitWorksWeb/scripts/Program.js
/src/TrakitWorksWeb/scripts/Program.js.map
/src/TrakitWorksWeb/scripts/RwMaster.js
/src/TrakitWorksWeb/scripts/RwMaster.js.map
/src/TrakitWorksWeb/Libraries/Fw/scripts/FwControls/FwReport.js.map
/src/TrakitWorksWeb/Libraries/Fw/scripts/FwControls/FwFormField.js.map

/SecurityTreeBuilder/obj/
/SecurityTreeBuilder/bin/

.DS_Store

**/Fw/scripts/FwControls/FwBrowseColumns/**/*.js
**/Fw/scripts/FwControls/FwBrowseColumns/**/*.js.map
**/Fw/scripts/FwControls/FwFormFields/**/*.js
**/Fw/scripts/FwControls/FwFormFields/**/*.js.map
**/Fw/scripts/FwControls/FwAppImage.js
**/Fw/scripts/FwControls/FwAppImage.js.map
**/Fw/scripts/FwControls/FwApplicationTree.js
**/Fw/scripts/FwControls/FwApplicationTree.js.map
**/Fw/scripts/FwControls/FwBrowse.js
**/Fw/scripts/FwControls/FwBrowse.js.map
**/Fw/scripts/FwControls/FwConfirmation.js
**/Fw/scripts/FwControls/FwConfirmation.js.map
**/Fw/scripts/FwControls/FwContextMenu.js
**/Fw/scripts/FwControls/FwContextMenu.js.map
**/Fw/scripts/FwControls/FwControl.js
**/Fw/scripts/FwControls/FwControl.js.map
**/Fw/scripts/FwControls/FwFileMenu.js
**/Fw/scripts/FwControls/FwFileMenu.js.map
**/Fw/scripts/FwControls/FwFormField.js
**/Fw/scripts/FwControls/FwFormField.js.map
**/Fw/scripts/FwControls/FwGrid.js
**/Fw/scripts/FwControls/FwGrid.js.map
**/Fw/scripts/FwControls/FwGridMenu.js
**/Fw/scripts/FwControls/FwGridMenu.js.map
**/Fw/scripts/FwControls/FwMenu.js
**/Fw/scripts/FwControls/FwMenu.js.map
**/Fw/scripts/FwControls/FwModule.js
**/Fw/scripts/FwControls/FwModule.js.map
**/Fw/scripts/FwControls/FwMultiSelectValidation.js
**/Fw/scripts/FwControls/FwMultiSelectValidation.js.map
**/Fw/scripts/FwControls/FwNotification.js
**/Fw/scripts/FwControls/FwNotification.js.map
**/Fw/scripts/FwControls/FwOverlay.js
**/Fw/scripts/FwControls/FwOverlay.js.map
**/Fw/scripts/FwControls/FwPopup.js
**/Fw/scripts/FwControls/FwPopup.js.map
**/Fw/scripts/FwControls/FwReport.js
**/Fw/scripts/FwControls/FwReport.js.map
**/Fw/scripts/FwControls/FwReportsPage.js
**/Fw/scripts/FwControls/FwReportsPage.js.map
**/Fw/scripts/FwControls/FwRibbon.js
**/Fw/scripts/FwControls/FwRibbon.js.map
**/Fw/scripts/FwControls/FwScheduler.js
**/Fw/scripts/FwControls/FwScheduler.js.map
**/Fw/scripts/FwControls/FwSchedulerDetailed.js
**/Fw/scripts/FwControls/FwSchedulerDetailed.js.map
**/Fw/scripts/FwControls/FwSettings.js
**/Fw/scripts/FwControls/FwSettings.js.map
**/Fw/scripts/FwControls/FwTabs.js.map
**/Fw/scripts/FwControls/FwTabs.js
**/Fw/scripts/FwControls/FwValidation.js
**/Fw/scripts/FwControls/FwValidation.js.map
**/Fw/scripts/FwControls/FwValidation2.js
**/Fw/scripts/FwControls/FwValidation2.js.map
**/Fw/scripts/FwControls/FwWebApiReport.js
**/Fw/scripts/FwControls/FwWebApiReport.js.map
**/Fw/scripts/Modules/FwGroup.js.map
**/Fw/scripts/Modules/FwGroup.js
**/Fw/scripts/FwAjax.js
**/Fw/scripts/FwAjax.js.map
**/Fw/scripts/FwAppData.js
**/Fw/scripts/FwAppData.js.map
**/Fw/scripts/FwApplication.js
**/Fw/scripts/FwApplication.js.map
**/Fw/scripts/FwApplicationConfig.js
**/Fw/scripts/FwApplicationConfig.js.map
**/Fw/scripts/FwControls/FwMenu.js
**/Fw/scripts/FwControls/FwMenu.js.map
**/Fw/scripts/FwServices.js
**/Fw/scripts/FwServices.js.map
**/Fw/scripts/FwFunc.js
**/Fw/scripts/FwFunc.js.map
**/Fw/scripts/Routes.js
**/Fw/scripts/Routes.js.map
**/Fw/scripts/MasterPages/WebMaster.js
**/Fw/scripts/MasterPages/WebMaster.js.map

/Sync_Core_to_TrakitWorks.ps1.log

/src/QuartzScheduler/app.config
/src/QuartzScheduler/quartz_jobs.xml

/src/JestTest/node_modules
/src/JestTest/dist
/src/JestTest/*.env
/src/JestTest/*.log
/src/JestTest/**/*.js
/src/JestTest/**/*.map
/src/JestTest/*.html
/src/JestTest/*.pdf
/src/JestTest/*.jpg
/src/JestTest/output/**
