/.vs/
/build/
/packages/

/src/RentalWorksAPI/Properties/PublishProfiles/Dbworks.pubxml.user
/src/RentalWorksAPI/RentalWorksAPI.csproj.user
/src/RentalWorksAPI/Application.config
/src/RentalWorksAPI/bin/
/src/RentalWorksAPI/obj/

/src/RentalWorksQuikScan/RentalWorksQuikScan.csproj.user
/src/RentalWorksQuikScan/bin/
/src/RentalWorksQuikScan/obj/
/src/RentalWorksQuikScan/app_body.htm
/src/RentalWorksQuikScan/app_head.htm
/src/RentalWorksQuikScan/app_scripts.json
/src/RentalWorksQuikScan/app_startupscript.js
/src/RentalWorksQuikScan/Application.config
/src/RentalWorksQuikScan/ApplicationConfig.js
/src/RentalWorksQuikScan/FwApplicationSchema.config
/src/RentalWorksQuikScan/scripts/_references.js
/src/RentalWorksQuikScan/theme/fwcursors/*
/src/RentalWorksQuikScan/theme/fwfonts/*
/src/RentalWorksQuikScan/theme/fwimages/*

/src/RentalWorksWeb/RentalWorksWeb.csproj.user
/src/RentalWorksWeb/App_Data/Temp/
/src/RentalWorksWeb/bin/
/src/RentalWorksWeb/obj/
/src/RentalWorksWeb/app_scripts.json
/src/RentalWorksWeb/Application.config
/src/RentalWorksWeb/ApplicationConfig.js
/src/RentalWorksWeb/FwApplicationSchema.config
/src/RentalWorksWeb/index.htm
/src/RentalWorksWeb/scripts/_references.js
/src/RentalWorksWeb/theme/fwcursors/*
/src/RentalWorksWeb/theme/fwfonts/*
/src/RentalWorksWeb/theme/fwimages/*

/src/RentalWorksTest/RentalWorksTest.csproj.user
/src/RentalWorksTest/Application.config
/src/RentalWorksTest/bin/
/src/RentalWorksTest/obj/

/lib/Fw/src/Fw.Json/obj/
/lib/Fw/src/Fw.Json/bin/
/lib/Fw/src/Fw.Json/scripts/_references.js
/lib/Fw/src/Fw.MSBuild/bin/
/lib/Fw/src/Fw.MSBuild/obj/
/lib/Fw/src/Fw.MSBuild/Fw.MSBuild.csproj.user
/lib/Fw/src/Fw.MSBuild.Test/bin/
/lib/Fw/src/Fw.MSBuild.Test/obj/
/lib/Fw/src/Fw.MSBuild.Test/Fw.MSBuild.Test.csproj.user
/lib/Fw/src/JSAppBuilder/bin/
/lib/Fw/src/JSAppBuilder/obj/
/lib/Fw/src/JSAppBuilder/JSAppBuilder.csproj.user
/lib/Fw/src/ReplaceInFile/bin/
/lib/Fw/src/ReplaceInFile/obj/
/lib/Fw/src/ReplaceInFile/ReplaceInFile.csproj.user

/lib/Fw/src/FwStandard/bin/
/lib/Fw/src/FwStandard/obj/
/lib/Fw/src/FwStandard/FwStandard.csproj.user

/src/RentalWorksWebLogic/bin/
/src/RentalWorksWebLogic/obj/
/src/RentalWorksWebLogic/RentalWorksWebLogic.csproj.user

/src/RentalWorksWebApi/bin/
/src/RentalWorksWebApi/obj/
/src/RentalWorksWebApi/RentalWorksWebApi.csproj.user
/src/RentalWorksWebApi/appsettings.Development.json
/src/RentalWorksWebApi/Properties/PublishProfiles/CustomProfile.pubxml.user

/src/RentalWorksWebDataLayer/obj/
/src/RentalWorksWebDataLayer/bin/
/src/RentalWorksWebDataLayer/RentalWorksWebDataLayer.csproj.user

/TestResult.xml

src/RentalWorksWeb/Source/TypeScript/
