/*BillingStatementReport*/
table {
    thead.main-header {
        th {
            border-top: 2px solid #000000;
            border-bottom: 2px solid #000000;
            font-weight: bold;
            padding: 5px;
            white-space: nowrap;
        }
    }

    tbody[data-rowtype="detail"]:nth-of-type(even) {
        background-color: #DCDCDC;
    }

    tbody {
        tr.subValues {
            text-align: left;
            padding-bottom: 2px;
            padding-left: 3px;
        }

        th.subHeaders {
            text-align: left;
            border-bottom: 2px solid black;
            padding-left: 3px;
            background-color: white;
        }
    }
}

.note {
    font-weight: bold;

    span {
        font-weight: normal;
    }
}

.top {
    vertical-align: top;
}

.page-break {
    page-break-before: always !important;
}
.sub {
    border-top: 2px solid #027cc5;
    border-bottom: 2px solid #027cc5;
    background-color: #DCDCDC;
}
.deal-total {
    text-align:center;
    td {
        border: .2em solid black;
    }
    .header td {
        font-weight:600;
    }
}