<div id="footer" style="/*border:1px solid #ff0000;*/box-sizing:border-box; margin:0 0 -15px 0; padding:24px; width: 612px; box-sizing: border-box; display:flex; font-size:12px;">
  <div style="flex:0 0 140px; font-size: 9px;">{{PrintTime}}</div>
  <div style="flex:1 1 0px; text-align:center; font-weight:bold;">* - manual G/L entry</div>
  <div id="pageno" style="flex:0 0 140px; text-align:right; font-size: 9px">Page <span class="pageNumber"></span> of <span class="totalPages"></span></div>
</div>