<div id="header" style="margin:-15px;padding:24px;min-width:627px; box-sizing: border-box; font-size: 11px; display:flex;/*border:1px solid #000000;*/box-sizing:border-box;">
  <div style="flex:0 0 140px">
  </div>
  <div style="width:100%;">
    <div style="width:33%;flex: 1 1 150px; font-size: 18px; text-align: left; font-weight: bold; white-space: nowrap; float:left;">RENTALWORKS</div>
    <div style="width:33%;flex: 1 1 150px; font-size: 18px; text-align: right; font-weight: bold; white-space: nowrap; float:right;">4WALL ENTERTAINMENT</div>
    <div style="width:33%;flex: 1 1 150px; font-size: 18px; text-align: center; font-weight: bold; white-space: nowrap; margin:0 auto;">G/L Distribution</div>
  </div>
  <div style="width:100%;">
    <div style="width:33%;flex: 1 1 150px; font-size: 18px; text-align: left; font-weight: bold; white-space: nowrap; float:left;">Office: <span style="font-weight:normal;">{{Location}}</span></div>
    <div style="width:33%;flex: 1 1 150px; font-size: 18px; text-align: right; font-weight: bold; white-space: nowrap; float:right;"></div>
    <div style="width:33%;flex: 1 1 150px; font-size: 18px; text-align: center; white-space: nowrap; margin:0 auto;">{{FromDate}} - {{ToDate}}</div>
  </div>
</div>
