$page-width: 768px;
$line-height: 16px;
$normal-text: 1em;

@page {
    margin: 130px 32px 96px 32px;
    /*margin: 48px 24px 48px 24px;*/
    /*size: auto;*/
    size: portrait;
}

html {
}

body {
    font-family: Arial, sans-serif;
    font-size: 12px;
    margin: 0;
    padding: 0;
}

html.preview {
    #pageno {
        visibility: hidden;
    }
}

html.pdf {
    body {
        /*margin: 130px 24px 96px 24px;*/
    }
}

@media only screen {
    .parameters {
        display: block;
    }
}

@media only print {
    .parameters {
        display: none;
    }
}

@mixin flexfield($captionwidth) {
    display: flex;
    height: $line-height;
    line-height: $line-height;
    @content;

    .caption {
        flex: 0 0 $captionwidth;
        height: $line-height;
        line-height: $line-height;
        font-size: $normal-text;
        font-weight: bold;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    .value {
        flex: 1 1 0;
        height: $line-height;
        line-height: $line-height;
        font-size: $normal-text;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }
}

.flexfield-50 {
    @include flexfield(50px);
}

.flexfield-75 {
    @include flexfield(75px);
}

.flexfield-85 {
    @include flexfield(85px);
}

.flexfield-150 {
    @include flexfield(150px);
}

.label {
    line-height: $line-height;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: $normal-text;
}

.Header {
    div {
        flex: 1 0 627px;

        div {
            min-width: 33%;
            flex: 1 1 0;
            font-size: 13px;
            white-space: nowrap;
        }
    }
}

.glItems {
    flex: 1 0 768px;
    border-collapse: collapse;
    margin: 20px 0 0 0;

    table {
        width: 100%;

        colgroup {
            .GLAccount {
                flex: 1 1 0;
            }

            .Description {
                flex: 1 1 0;
            }

            .Debit {
                flex: 1 1 0;
            }

            .Credit {
                flex: 1 1 0;
            }
        }

        thead {
            tr.columnheadings {
                border-top: 2px solid #000000;
                border-bottom: 2px solid #000000;

                th {
                    font-weight: bold;
                    padding: 5px;
                    white-space: nowrap;
                }

                .GLAccount {
                    text-align: left;
                }

                .Description {
                    text-align: left;
                }

                .Debit {
                    text-align: right;
                }

                .Credit {
                    text-align: right;
                }
            }
        }

        tbody {
            tr.caption {
                display: block;
                text-align: center;
                font-size: 1.5em;
                font-weight: bold;
            }

            td {
                padding: 2px 5px;
                font-size: .9em;
            }

            .GLAccount {
                white-space: pre;
                text-align: left;
            }

            .Description {
                text-align: left;
            }

            .Debit {
                text-align: right;
            }

            .Credit {
                text-align: right;
            }
        }
    }
}

.totals {
    font-weight: bold;
    flex: 1 0 768px;
    max-width: 900px;
    float: left;
    width: 100%;
    display:flex;

    .TotalsHeader {
        flex: 1 1 0;
        text-align: center
    }

    .Debit {
        border-top: 2px solid black;
        flex: 1 1 0;
        text-align: right;
    }

    .Credit {
        border-top: 2px solid black;
        flex: 1 1 0;
        text-align: right;
    }
}

#pageContainer {
    #pageHeader {
    }

    #contract {
    }

    #pageFooter {
        margin: $line-height 0 0 0;
    }
}
