<ApplicationConfig>
  <Sites>
    <Site Name="Default">
      <DatabaseConnections>
        <DatabaseConnection Name="RentalWorks">
          <Server>localhost</Server>
          <Database>rentalworks</Database>
        </DatabaseConnection>
      </DatabaseConnections>
    </Site>
  </Sites>
</ApplicationConfig>
