<!-- This is a temporary place-holder file.  Still used by JsAppBuilder -->
<ApplicationConfig>
  <Sites>
    <Site Name="Default">
      <DatabaseConnections>
        <DatabaseConnection Name="RentalWorks">
          <Server>xxxxxxxxxxx</Server>
          <Database>xxxxxxxxx</Database>
        </DatabaseConnection>
      </DatabaseConnections>
    </Site>
  </Sites>
</ApplicationConfig>
