<JSAppBuilderConfig>
  <SchemaPath>FwApplicationSchema.config</SchemaPath>
  <DatabaseConnection>RentalWorks</DatabaseConnection>
  <Fields>
    <Field Publish="false" Key="{{FwFrontEndLibraryPath}}" Value="$(SolutionDir)/src/RentalWorksWeb/Libraries/Fw" />
    <Field Publish="false" Key="{{AppPath}}" Value="$(SolutionDir)/src/RentalWorksWeb" />
    <Field Publish="false" Key="{{AppUri}}" Value="[appbaseurl]" />

    <Field Publish="true" Key="{{FwFrontEndLibraryPath}}" Value="$(SolutionDir)/src/RentalWorksWeb/Libraries/Fw" />
    <Field Publish="true" Key="{{AppPath}}" Value="$(SolutionDir)/src/RentalWorksWeb" />
    <Field Publish="true" Key="{{AppUri}}" Value="file://$(SolutionDir)/src/RentalWorksWeb/" />
  </Fields>
	<MergeSections>
		<MergeSection>
			<ReplaceField>{{{applicationConfigVersion}}}</ReplaceField>
			<MergeFiles>
				<MergeFile>
					<Template>
						<![CDATA[{{{File}}}
applicationConfig.version='{{Version}}';]]>
					</Template>
					<Uri>{{AppPath}}/scripts/DefaultApplicationConfig.js</Uri>
				</MergeFile>
			</MergeFiles>
		</MergeSection>
	</MergeSections>

  <SourceFiles>
    <SourceFile>
      <ReplaceField>{{{stylesheets}}}</ReplaceField>
      <Template><![CDATA[<link type="text/css" rel="stylesheet" href="{{File}}" />]]></Template>
      <InputFiles>
        <Uri>{{AppUri}}libraries/fw/theme/material/FwBrowse.css</Uri>
        <Uri>{{AppUri}}libraries/fw/theme/material/FwConfirmation.css</Uri>
        <Uri>{{AppUri}}libraries/fw/theme/material/FwContainer.css</Uri>
        <Uri>{{AppUri}}libraries/fw/theme/material/FwContextMenu.css</Uri>
        <Uri>{{AppUri}}libraries/fw/theme/material/FwFileMenu.css</Uri>
        <Uri>{{AppUri}}libraries/fw/theme/material/FwFormField.css</Uri>
        <Uri>{{AppUri}}libraries/fw/theme/material/FwMaster.css</Uri>
        <Uri>{{AppUri}}libraries/fw/theme/material/FwMenu.css</Uri>
        <Uri>{{AppUri}}libraries/fw/theme/material/FwModules.css</Uri>
        <Uri>{{AppUri}}libraries/fw/theme/material/FwNotification.css</Uri>
        <Uri>{{AppUri}}libraries/fw/theme/material/FwScheduler.css</Uri>
        <Uri>{{AppUri}}libraries/fw/theme/material/FwTabs.css</Uri>

        <Uri>{{AppUri}}libraries/fw/theme/databaseworks.css</Uri>
        <Uri>{{AppUri}}libraries/fw/theme/FwAppImage.css</Uri>
        <Uri>{{AppUri}}libraries/fw/theme/FwOverlay.css</Uri>
        <Uri>{{AppUri}}libraries/fw/theme/FwSettings.css</Uri>

        <Uri>{{AppUri}}libraries/fw/scripts/jquery/colorpicker/colpick.css</Uri>
        <Uri>{{AppUri}}libraries/fw/scripts/jquery/clockpicker/dist/jquery-clockpicker.css</Uri>
        <Uri>{{AppUri}}libraries/fw/scripts/jquery/datepicker/datepicker.css</Uri>
        <Uri>{{AppUri}}libraries/fw/scripts/jquery/timepicker/timepicker.css</Uri>
        <Uri>{{AppUri}}libraries/fw/scripts/jquery/internationalphone/build/css/intlTelInput.css</Uri>

		<Uri>{{AppUri}}libraries/codemirror/lib/codemirror.css</Uri>

        <Uri>[source_css]</Uri>
        <Uri>{{AppUri}}theme/rentalworks.css</Uri>
      </InputFiles>
      <OutputFile>theme/style-{{Version}}.css</OutputFile>
    </SourceFile>
    <SourceFile>
      <ReplaceField>{{{javascripts}}}</ReplaceField>
      <Template><![CDATA[<script type="text/javascript" src="{{File}}"></script>]]></Template>
      <InputFiles>
        <Uri>{{AppUri}}scripts/Constants.js</Uri>
        <Uri>{{AppUri}}libraries/fw/scripts/modernizr/modernizr-2.6.2.js</Uri>
        <Uri>{{AppUri}}libraries/fw/scripts/mustache/mustache-0.7.0.js</Uri>
        <Uri>{{AppUri}}libraries/fw/scripts/sheetsJS/jszip.js</Uri>
        <Uri>{{AppUri}}libraries/fw/scripts/sheetsJS/xlsx.js</Uri>
        <Uri>{{AppUri}}libraries/fw/scripts/jquery/jquery-3.3.1.js</Uri>
        <Uri>{{AppUri}}libraries/fw/scripts/jquery/jquery-noconflict.js</Uri>
        <Uri>{{AppUri}}libraries/fw/scripts/jquery/jquery.mousewheel.js</Uri>
        <Uri>{{AppUri}}libraries/DayPilotPro/scripts/src/daypilot-common.src.js</Uri>
        <Uri>{{AppUri}}libraries/DayPilotPro/scripts/src/daypilot-bubble.src.js</Uri>
        <Uri>{{AppUri}}libraries/DayPilotPro/scripts/src/daypilot-calendar.src.js</Uri>
        <Uri>{{AppUri}}libraries/DayPilotPro/scripts/src/daypilot-datepicker.src.js</Uri>
        <Uri>{{AppUri}}libraries/DayPilotPro/scripts/src/daypilot-gantt.src.js</Uri>
        <Uri>{{AppUri}}libraries/DayPilotPro/scripts/src/daypilot-menu.src.js</Uri>
        <Uri>{{AppUri}}libraries/DayPilotPro/scripts/src/daypilot-modal.src.js</Uri>
        <Uri>{{AppUri}}libraries/DayPilotPro/scripts/src/daypilot-month.src.js</Uri>
        <Uri>{{AppUri}}libraries/DayPilotPro/scripts/src/daypilot-navigator.src.js</Uri>
        <Uri>{{AppUri}}libraries/DayPilotPro/scripts/src/daypilot-scheduler.src.js</Uri>
        <Uri>{{AppUri}}libraries/DayPilotPro/scripts/src/daypilot-year.src.js</Uri>
        <Uri>{{AppUri}}libraries/fw/scripts/Routes.js</Uri>
        <Uri>{{AppUri}}libraries/fw/scripts/FwAppData.js</Uri>
        <Uri>{{AppUri}}libraries/fw/scripts/FwAjax.js</Uri>
        <Uri>{{AppUri}}libraries/fw/scripts/FwApplicationConfig.js</Uri>
        <Uri>{{AppUri}}libraries/fw/scripts/FwControls/FwAppDocumentGrid.js</Uri>
        <Uri>{{AppUri}}libraries/fw/scripts/FwControls/FwAudit.js</Uri>
        <Uri>{{AppUri}}libraries/fw/scripts/FwControls/FwApplicationTree.js</Uri>
        <Uri>{{AppUri}}libraries/fw/scripts/FwControls/FwBrowseColumns/FwBrowseColumn_appdocumentimage.js</Uri>
        <Uri>{{AppUri}}libraries/fw/scripts/FwControls/FwBrowseColumns/FwBrowseColumn_appdocumentversion.js</Uri>
        <Uri>{{AppUri}}libraries/fw/scripts/FwControls/FwBrowseColumns/FwBrowseColumn_appimage.js</Uri>
        <Uri>{{AppUri}}libraries/fw/scripts/FwControls/FwBrowseColumns/FwBrowseColumn_checkbox.js</Uri>
        <Uri>{{AppUri}}libraries/fw/scripts/FwControls/FwBrowseColumns/FwBrowseColumn_date.js</Uri>
        <Uri>{{AppUri}}libraries/fw/scripts/FwControls/FwBrowseColumns/FwBrowseColumn_documentfile.js</Uri>
        <Uri>{{AppUri}}libraries/fw/scripts/FwControls/FwBrowseColumns/FwBrowseColumn_documentimage.js</Uri>
        <Uri>{{AppUri}}libraries/fw/scripts/FwControls/FwBrowseColumns/FwBrowseColumn_hidden.js</Uri>
        <Uri>{{AppUri}}libraries/fw/scripts/FwControls/FwBrowseColumns/FwBrowseColumn_key.js</Uri>
        <Uri>{{AppUri}}libraries/fw/scripts/FwControls/FwBrowseColumns/FwBrowseColumn_legend.js</Uri>
        <Uri>{{AppUri}}libraries/fw/scripts/FwControls/FwBrowseColumns/FwBrowseColumn_money.js</Uri>
        <Uri>{{AppUri}}libraries/fw/scripts/FwControls/FwBrowseColumns/FwBrowseColumn_note.js</Uri>
        <Uri>{{AppUri}}libraries/fw/scripts/FwControls/FwBrowseColumns/FwBrowseColumn_number.js</Uri>
        <Uri>{{AppUri}}libraries/fw/scripts/FwControls/FwBrowseColumns/FwBrowseColumn_numericupdown.js</Uri>
        <Uri>{{AppUri}}libraries/fw/scripts/FwControls/FwBrowseColumns/FwBrowseColumn_olecolor.js</Uri>
        <Uri>{{AppUri}}libraries/fw/scripts/FwControls/FwBrowseColumns/FwBrowseColumn_percent.js</Uri>
        <Uri>{{AppUri}}libraries/fw/scripts/FwControls/FwBrowseColumns/FwBrowseColumn_phone.js</Uri>
        <Uri>{{AppUri}}libraries/fw/scripts/FwControls/FwBrowseColumns/FwBrowseColumn_rowbackgroundcolor.js</Uri>
        <Uri>{{AppUri}}libraries/fw/scripts/FwControls/FwBrowseColumns/FwBrowseColumn_rowtextcolor.js</Uri>
        <Uri>{{AppUri}}libraries/fw/scripts/FwControls/FwBrowseColumns/FwBrowseColumn_text.js</Uri>
        <Uri>{{AppUri}}libraries/fw/scripts/FwControls/FwBrowseColumns/FwBrowseColumn_time.js</Uri>
        <Uri>{{AppUri}}libraries/fw/scripts/FwControls/FwBrowseColumns/FwBrowseColumn_timepicker.js</Uri>
        <Uri>{{AppUri}}libraries/fw/scripts/FwControls/FwBrowseColumns/FwBrowseColumn_time12.js</Uri>
        <Uri>{{AppUri}}libraries/fw/scripts/FwControls/FwBrowseColumns/FwBrowseColumn_toggleswitch.js</Uri>
        <Uri>{{AppUri}}libraries/fw/scripts/FwControls/FwBrowseColumns/FwBrowseColumn_utcdate.js</Uri>
        <Uri>{{AppUri}}libraries/fw/scripts/FwControls/FwBrowseColumns/FwBrowseColumn_utcdatetime.js</Uri>
        <Uri>{{AppUri}}libraries/fw/scripts/FwControls/FwBrowseColumns/FwBrowseColumn_utctime.js</Uri>
        <Uri>{{AppUri}}libraries/fw/scripts/FwControls/FwBrowseColumns/FwBrowseColumn_validation.js</Uri>
        <Uri>{{AppUri}}libraries/fw/scripts/FwControls/FwBrowse.js</Uri>
        <Uri>{{AppUri}}libraries/fw/scripts/FwControls/FwCharge.js</Uri>
        <Uri>{{AppUri}}libraries/fw/scripts/FwControls/FwConfirmation.js</Uri>
        <Uri>{{AppUri}}libraries/fw/scripts/FwControls/FwContainer.js</Uri>
        <Uri>{{AppUri}}libraries/fw/scripts/FwControls/FwContextMenu.js</Uri>
        <Uri>{{AppUri}}libraries/fw/scripts/FwControls/FwControl.js</Uri>
        <Uri>{{AppUri}}libraries/fw/scripts/FwControls/FwFormField.js</Uri>
        <Uri>{{AppUri}}libraries/fw/scripts/FwControls/FwFormFields/FwFormField_checkbox.js</Uri>
        <Uri>{{AppUri}}libraries/fw/scripts/FwControls/FwFormFields/FwFormField_checkboxlist.js</Uri>
        <Uri>{{AppUri}}libraries/fw/scripts/FwControls/FwFormFields/FwFormField_color.js</Uri>
        <Uri>{{AppUri}}libraries/fw/scripts/FwControls/FwFormFields/FwFormField_combobox.js</Uri>
        <Uri>{{AppUri}}libraries/fw/scripts/FwControls/FwFormFields/FwFormField_date.js</Uri>
        <Uri>{{AppUri}}libraries/fw/scripts/FwControls/FwFormFields/FwFormField_datetime.js</Uri>
        <Uri>{{AppUri}}libraries/fw/scripts/FwControls/FwFormFields/FwFormField_editor.js</Uri>
        <Uri>{{AppUri}}libraries/fw/scripts/FwControls/FwFormFields/FwFormField_email.js</Uri>
        <Uri>{{AppUri}}libraries/fw/scripts/FwControls/FwFormFields/FwFormField_encrypt.js</Uri>
        <Uri>{{AppUri}}libraries/fw/scripts/FwControls/FwFormFields/FwFormField_key.js</Uri>
        <Uri>{{AppUri}}libraries/fw/scripts/FwControls/FwFormFields/FwFormField_money.js</Uri>
        <Uri>{{AppUri}}libraries/fw/scripts/FwControls/FwFormFields/FwFormField_multiselectvalidation.js</Uri>
        <Uri>{{AppUri}}libraries/fw/scripts/FwControls/FwFormFields/FwFormField_number.js</Uri>
        <Uri>{{AppUri}}libraries/fw/scripts/FwControls/FwFormFields/FwFormField_orderby.js</Uri>
        <Uri>{{AppUri}}libraries/fw/scripts/FwControls/FwFormFields/FwFormField_password.js</Uri>
        <Uri>{{AppUri}}libraries/fw/scripts/FwControls/FwFormFields/FwFormField_percent.js</Uri>
        <Uri>{{AppUri}}libraries/fw/scripts/FwControls/FwFormFields/FwFormField_phone.js</Uri>
        <Uri>{{AppUri}}libraries/fw/scripts/FwControls/FwFormFields/FwFormField_phoneinternational.js</Uri>
        <Uri>{{AppUri}}libraries/fw/scripts/FwControls/FwFormFields/FwFormField_radio.js</Uri>
        <Uri>{{AppUri}}libraries/fw/scripts/FwControls/FwFormFields/FwFormField_searchbox.js</Uri>
        <Uri>{{AppUri}}libraries/fw/scripts/FwControls/FwFormFields/FwFormField_select.js</Uri>
        <Uri>{{AppUri}}libraries/fw/scripts/FwControls/FwFormFields/FwFormField_ssn.js</Uri>
        <Uri>{{AppUri}}libraries/fw/scripts/FwControls/FwFormFields/FwFormField_text.js</Uri>
        <Uri>{{AppUri}}libraries/fw/scripts/FwControls/FwFormFields/FwFormField_textarea.js</Uri>
        <Uri>{{AppUri}}libraries/fw/scripts/FwControls/FwFormFields/FwFormField_time.js</Uri>
        <Uri>{{AppUri}}libraries/fw/scripts/FwControls/FwFormFields/FwFormField_timepicker.js</Uri>
        <Uri>{{AppUri}}libraries/fw/scripts/FwControls/FwFormFields/FwFormField_togglebuttons.js</Uri>
        <Uri>{{AppUri}}libraries/fw/scripts/FwControls/FwFormFields/FwFormField_toggleswitch.js</Uri>
        <Uri>{{AppUri}}libraries/fw/scripts/FwControls/FwFormFields/FwFormField_url.js</Uri>
        <Uri>{{AppUri}}libraries/fw/scripts/FwControls/FwFormFields/FwFormField_validation.js</Uri>
        <Uri>{{AppUri}}libraries/fw/scripts/FwControls/FwFormFields/FwFormField_zipcode.js</Uri>
        <Uri>{{AppUri}}libraries/fw/scripts/FwControls/FwAppImage.js</Uri>
        <Uri>{{AppUri}}libraries/fw/scripts/FwControls/FwGridMenu.js</Uri>
        <Uri>{{AppUri}}libraries/fw/scripts/FwControls/FwMenu.js</Uri>
        <Uri>{{AppUri}}libraries/fw/scripts/FwControls/FwModule.js</Uri>
        <Uri>{{AppUri}}libraries/fw/scripts/FwControls/FwMultiSelectValidation.js</Uri>
        <Uri>{{AppUri}}libraries/fw/scripts/FwControls/FwNotification.js</Uri>
        <Uri>{{AppUri}}libraries/fw/scripts/FwControls/FwOverlay.js</Uri>
        <Uri>{{AppUri}}libraries/fw/scripts/FwControls/FwPopup.js</Uri>
        <Uri>{{AppUri}}libraries/fw/scripts/FwControls/FwReport.js</Uri>
        <Uri>{{AppUri}}libraries/fw/scripts/FwControls/FwReportsPage.js</Uri>
        <Uri>{{AppUri}}libraries/fw/scripts/FwControls/FwFileMenu.js</Uri>
        <Uri>{{AppUri}}libraries/fw/scripts/FwControls/FwScheduler.js</Uri>
        <Uri>{{AppUri}}libraries/fw/scripts/FwControls/FwSchedulerDetailed.js</Uri>
        <Uri>{{AppUri}}libraries/fw/scripts/FwControls/FwSettings.js</Uri>
        <Uri>{{AppUri}}libraries/fw/scripts/FwControls/FwTabs.js</Uri>
        <Uri>{{AppUri}}libraries/fw/scripts/FwControls/FwValidation.js</Uri>
        <Uri>{{AppUri}}libraries/fw/scripts/FwControls/FwWebApiReport.js</Uri>
        <Uri>{{AppUri}}libraries/fw/scripts/FwPages/FwBasePages.js</Uri>
        <Uri>{{AppUri}}libraries/fw/scripts/Integration/Authenticate/Okta/FwOktaLogin.js</Uri>
        <Uri>{{AppUri}}libraries/fw/scripts/hybrid/FwHybridMasterController.js</Uri>
        <Uri>{{AppUri}}libraries/fw/scripts/sheetsJS/jszip.js</Uri>
        <Uri>{{AppUri}}libraries/fw/scripts/sheetsJS/xlsx.js</Uri>
        <Uri>{{AppUri}}libraries/fw/scripts/jquery/jquery.signaturepad.js</Uri>
        <Uri>{{AppUri}}libraries/fw/scripts/jquery/jquery.FwConversion.js</Uri>
        <Uri>{{AppUri}}libraries/fw/scripts/jquery/jquery.RemoveClassPrefix.js</Uri>
        <Uri>{{AppUri}}libraries/fw/scripts/jquery/clockpicker/dist/jquery-clockpicker.js</Uri>
        <Uri>{{AppUri}}libraries/fw/scripts/jquery/colorpicker/colpick.js</Uri>
        <Uri>{{AppUri}}libraries/fw/scripts/jquery/internationalphone/build/js/intlTelInput-jquery.js</Uri>
        <Uri>{{AppUri}}libraries/fw/scripts/jquery/internationalphone/build/js/utils.js</Uri>
        <Uri>{{AppUri}}libraries/fw/scripts/jquery/datepicker/bootstrap-datepicker.js</Uri>
        <!--<Uri>{{AppUri}}libraries/fw/scripts/jquery/jquery-sortable.js</Uri>-->
        <Uri>{{AppUri}}libraries/fw/scripts/jquery/inputmask/jquery.inputmask.js</Uri>
        <Uri>{{AppUri}}libraries/fw/scripts/jquery/timepicker/jquery.timepicker.js</Uri>
        <Uri>{{AppUri}}libraries/fw/scripts/jquery/jquery.color.js</Uri>
        <Uri>{{AppUri}}libraries/fw/scripts/jquery/colresizable/colResizable-1.6.js</Uri>
        <Uri>{{AppUri}}libraries/fw/scripts/MasterPages/WebMaster.js</Uri>
        <Uri>{{AppUri}}libraries/fw/scripts/FwFunc.js</Uri>
        <Uri>{{AppUri}}libraries/fw/scripts/FwLanguages.js</Uri>
        <Uri>{{AppUri}}libraries/fw/scripts/FwSecurity.js</Uri>
        <Uri>{{AppUri}}libraries/fw/scripts/FwServices.js</Uri>
        <Uri>{{AppUri}}libraries/fw/scripts/Sortable-1.1.1/Sortable.js</Uri>
        <Uri>{{AppUri}}libraries/fw/scripts/chart.js/dist/Chart.js</Uri>
        <Uri>{{AppUri}}libraries/fw/scripts/decimal.js/decimal.js</Uri>
        <Uri>{{AppUri}}libraries/fw/scripts/Modules/FwGroup.js</Uri>
        <Uri>{{AppUri}}libraries/fw/scripts/moment/moment.js</Uri>
        <Uri>{{AppUri}}scripts/RwLanguages.js</Uri>
        <Uri>{{AppUri}}scripts/RwMaster.js</Uri>
        <Uri>[source_js]</Uri>
        <Uri>{{AppUri}}libraries/fw/scripts/FwApplication.js</Uri>
        <Uri>{{AppUri}}scripts/Program.js</Uri>
      </InputFiles>
      <OutputFile>script1-{{Version}}.js</OutputFile>
    </SourceFile>
	<SourceFile>
	  <ReplaceField>{{{javascripts2}}}</ReplaceField>
	  <Template><![CDATA[<script type="text/javascript" src="{{File}}"></script>]]></Template>
	  <InputFiles>
	    <!--<Uri>{{AppUri}}libraries/ckeditor/ckeditor.js</Uri>
	    <Uri>{{AppUri}}libraries/ckeditor/adapters/jquery.js</Uri>
	    <Uri>{{AppUri}}libraries/ckeditor/config.js</Uri>-->
	    <Uri>{{AppUri}}libraries/codemirror/lib/codemirror.js</Uri>
	    <Uri>{{AppUri}}libraries/codemirror/addon/fold/foldcode.js</Uri>
	    <Uri>{{AppUri}}libraries/codemirror/addon/fold/foldgutter.js</Uri>
	    <Uri>{{AppUri}}libraries/codemirror/addon/fold/xml-fold.js</Uri>
	    <Uri>{{AppUri}}libraries/codemirror/mode/xml/xml.js</Uri>
	  </InputFiles>
	  <OutputFile>script2-{{Version}}.js</OutputFile>
	</SourceFile>
  </SourceFiles>
	<Targets>
		<Target>
			<Publish>false</Publish>
			<AddBaseUrlToSourceFiles>true</AddBaseUrlToSourceFiles>
			<OutputDirectory>$(SolutionDir)/src/RentalWorksWeb</OutputDirectory>
			<Files>
				<File>
          <InputFile>$(SolutionDir)/src/RentalWorksWeb/index_src.htm</InputFile>
          <OutputFile>$(SolutionDir)/src/RentalWorksWeb/index.htm</OutputFile>
				</File>
				<File>
					<InputFile>$(SolutionDir)/src/RentalWorksWeb/app_headsrc.htm</InputFile>
					<OutputFile>$(SolutionDir)/src/RentalWorksWeb/app_head.htm</OutputFile>
				</File>
				<File>
					<InputFile>$(SolutionDir)/src/RentalWorksWeb/app_bodysrc.htm</InputFile>
					<OutputFile>$(SolutionDir)/src/RentalWorksWeb/app_body.htm</OutputFile>
				</File>
				<File>
					<InputFile>$(SolutionDir)/src/RentalWorksWeb/app_startupscriptsrc.js</InputFile>
					<OutputFile>$(SolutionDir)/src/RentalWorksWeb/app_startupscript.js</OutputFile>
				</File>
			</Files>
		</Target>
		<Target>
			<Publish>true</Publish>
			<AddBaseUrlToSourceFiles>true</AddBaseUrlToSourceFiles>
			<OutputDirectory>$(SolutionDir)/src/RentalWorksWebApi/apps/rentalworks</OutputDirectory>
			<Files>
				<File>
					<InputFile>$(SolutionDir)/src/RentalWorksWeb/index_src.htm</InputFile>
					<OutputFile>$(SolutionDir)/src/RentalWorksWebApi/apps/rentalworks/index.htm</OutputFile>
				</File>
				<File>
					<InputFile>$(SolutionDir)/src/RentalWorksWeb/app_headsrc.htm</InputFile>
					<OutputFile>$(SolutionDir)/src/RentalWorksWebApi/apps/rentalworks/app_head.htm</OutputFile>
				</File>
				<File>
					<InputFile>$(SolutionDir)/src/RentalWorksWeb/app_bodysrc.htm</InputFile>
					<OutputFile>$(SolutionDir)/src/RentalWorksWebApi/apps/rentalworks/app_body.htm</OutputFile>
				</File>
				<File>
					<InputFile>$(SolutionDir)/src/RentalWorksWeb/app_startupscriptsrc.js</InputFile>
					<OutputFile>$(SolutionDir)/src/RentalWorksWebApi/apps/rentalworks/app_startupscript.js</OutputFile>
				</File>
			</Files>
		</Target>
	</Targets>
</JSAppBuilderConfig>
