<JSAppBuilderConfig>
  <SchemaPath>FwApplicationSchema.config</SchemaPath>
  <DatabaseConnection>RentalWorks</DatabaseConnection>
  <Fields>
    <Field Publish="false" Key="{{FwFrontEndLibraryPath}}" Value="$(SolutionDir)\src\RentalWorksWeb\Libraries\Fw" />
    <Field Publish="false" Key="{{FwFrontEndLibraryUri}}" Value="/rentalworksweb/libraries/fw" />
    <Field Publish="false" Key="{{AppPath}}" Value="$(SolutionDir)\src\RentalWorksWeb" />
    <Field Publish="false" Key="{{AppUri}}" Value="/rentalworksweb" />

    <Field Publish="true" Key="{{FwFrontEndLibraryPath}}" Value="$(SolutionDir)\src\RentalWorksWeb\Libraries\Fw" />
    <Field Publish="true" Key="{{FwFrontEndLibraryUri}}" Value="http://localhost/rentalworksweb/libraries/fw" />
    <Field Publish="true" Key="{{AppPath}}" Value="$(SolutionDir)\src\RentalWorksWeb" />
    <Field Publish="true" Key="{{AppUri}}" Value="http://localhost/rentalworksweb" />
  </Fields>
  <MergeSections>
    <MergeSection>
      <ReplaceField>{{{applicationConfigVersion}}}</ReplaceField>
      <MergeFiles>
        <MergeFile>
          <Template>
            <![CDATA[<script type="text/javascript">
{{{File}}}
applicationConfig.version='{{Version}}';
</script>]]>
          </Template>
          <Uri>{{AppPath}}\scripts\DefaultApplicationConfig.js</Uri>
        </MergeFile>
      </MergeFiles>
    </MergeSection>
  </MergeSections>

  <SourceFiles>
    <SourceFile>
      <ReplaceField>{{{stylesheets}}}</ReplaceField>
      <Template><![CDATA[<link type="text/css" rel="stylesheet" href="{{File}}" />]]></Template>
      <InputFiles>
        <Uri>{{FwFrontEndLibraryUri}}theme/classic/FwBrowse.css</Uri>
        <Uri>{{FwFrontEndLibraryUri}}theme/classic/FwConfirmation.css</Uri>
        <Uri>{{FwFrontEndLibraryUri}}theme/classic/FwContainer.css</Uri>
        <Uri>{{FwFrontEndLibraryUri}}theme/classic/FwContextMenu.css</Uri>
        <Uri>{{FwFrontEndLibraryUri}}theme/classic/FwFormField.css</Uri>
        <Uri>{{FwFrontEndLibraryUri}}theme/classic/FwMenu.css</Uri>
        <Uri>{{FwFrontEndLibraryUri}}theme/classic/FwNotification.css</Uri>
        <Uri>{{FwFrontEndLibraryUri}}theme/classic/FwRibbon.css</Uri>
        <Uri>{{FwFrontEndLibraryUri}}theme/classic/FwScheduler.css</Uri>
        <Uri>{{FwFrontEndLibraryUri}}theme/classic/FwTabs.css</Uri>

        <Uri>{{FwFrontEndLibraryUri}}theme/default/FwBrowse.css</Uri>
        <Uri>{{FwFrontEndLibraryUri}}theme/default/FwConfirmation.css</Uri>
        <Uri>{{FwFrontEndLibraryUri}}theme/default/FwContainer.css</Uri>
        <Uri>{{FwFrontEndLibraryUri}}theme/default/FwContextMenu.css</Uri>
        <Uri>{{FwFrontEndLibraryUri}}theme/default/FwFileMenu.css</Uri>
        <Uri>{{FwFrontEndLibraryUri}}theme/default/FwFormField.css</Uri>
        <Uri>{{FwFrontEndLibraryUri}}theme/default/FwMenu.css</Uri>
        <Uri>{{FwFrontEndLibraryUri}}theme/default/FwNotification.css</Uri>
        <Uri>{{FwFrontEndLibraryUri}}theme/default/FwScheduler.css</Uri>
        <Uri>{{FwFrontEndLibraryUri}}theme/default/FwTabs.css</Uri>

        <Uri>{{FwFrontEndLibraryUri}}theme/material/FwBrowse.css</Uri>
        <Uri>{{FwFrontEndLibraryUri}}theme/material/FwConfirmation.css</Uri>
        <Uri>{{FwFrontEndLibraryUri}}theme/material/FwContainer.css</Uri>
        <Uri>{{FwFrontEndLibraryUri}}theme/material/FwContextMenu.css</Uri>
        <Uri>{{FwFrontEndLibraryUri}}theme/material/FwFileMenu.css</Uri>
        <Uri>{{FwFrontEndLibraryUri}}theme/material/FwFormField.css</Uri>
        <Uri>{{FwFrontEndLibraryUri}}theme/material/FwMenu.css</Uri>
        <Uri>{{FwFrontEndLibraryUri}}theme/material/FwModules.css</Uri>
        <Uri>{{FwFrontEndLibraryUri}}theme/material/FwNotification.css</Uri>
        <Uri>{{FwFrontEndLibraryUri}}theme/material/FwScheduler.css</Uri>
        <Uri>{{FwFrontEndLibraryUri}}theme/material/FwTabs.css</Uri>

        <Uri>{{FwFrontEndLibraryUri}}theme/material_mobile/FwBrowse.css</Uri>
        <Uri>{{FwFrontEndLibraryUri}}theme/material_mobile/FwConfirmation.css</Uri>
        <Uri>{{FwFrontEndLibraryUri}}theme/material_mobile/FwContainer.css</Uri>
        <Uri>{{FwFrontEndLibraryUri}}theme/material_mobile/FwContextMenu.css</Uri>
        <Uri>{{FwFrontEndLibraryUri}}theme/material_mobile/FwFileMenu.css</Uri>
        <Uri>{{FwFrontEndLibraryUri}}theme/material_mobile/FwFormField.css</Uri>
        <Uri>{{FwFrontEndLibraryUri}}theme/material_mobile/FwMenu.css</Uri>
        <Uri>{{FwFrontEndLibraryUri}}theme/material_mobile/FwNotification.css</Uri>
        <Uri>{{FwFrontEndLibraryUri}}theme/material_mobile/FwScheduler.css</Uri>
        <Uri>{{FwFrontEndLibraryUri}}theme/material_mobile/FwTabs.css</Uri>

        <Uri>{{FwFrontEndLibraryUri}}theme/databaseworks.css</Uri>
        <Uri>{{FwFrontEndLibraryUri}}theme/FwAppImage.css</Uri>
        <Uri>{{FwFrontEndLibraryUri}}theme/FwOverlay.css</Uri>
        <Uri>{{FwFrontEndLibraryUri}}theme/FwSettings.css</Uri>

        <Uri>{{FwFrontEndLibraryUri}}scripts/jquery/colorpicker/colpick.css</Uri>
        <Uri>{{FwFrontEndLibraryUri}}scripts/jquery/clockpicker/dist/jquery-clockpicker.css</Uri>
        <Uri>{{FwFrontEndLibraryUri}}scripts/jquery/datepicker/datepicker.css</Uri>
        <Uri>{{FwFrontEndLibraryUri}}scripts/jquery/timepicker/timepicker.css</Uri>
        <Uri>[source_css]</Uri>
        <Uri>{{AppUri}}theme/rentalworks.css</Uri>
      </InputFiles>
      <Minify>true</Minify>
      <OutputFile>theme\style-{{Version}}.debug.css</OutputFile>
      <MinifiedFile>theme\style-{{Version}}.min.css</MinifiedFile>
    </SourceFile>
    <SourceFile>
      <ReplaceField>{{{javascripts}}}</ReplaceField>
      <Template><![CDATA[<script type="text/javascript" src="{{File}}"></script>]]></Template>
      <InputFiles>
        <Uri>{{AppUri}}scripts/Constants.js</Uri>
        <Uri>{{FwFrontEndLibraryUri}}scripts/modernizr/modernizr-2.6.2.js</Uri>
        <Uri>{{FwFrontEndLibraryUri}}scripts/mustache/mustache-0.7.0.js</Uri>
        <Uri>{{FwFrontEndLibraryUri}}scripts/jquery/jquery-3.3.1.js</Uri>
        <Uri>{{FwFrontEndLibraryUri}}scripts/jquery/jquery-noconflict.js</Uri>
        <Uri>{{FwFrontEndLibraryUri}}scripts/jquery/jquery.mousewheel.js</Uri>
        <Uri>{{AppUri}}libraries/DayPilotPro/scripts/src/daypilot-common.src.js</Uri>
        <Uri>{{AppUri}}libraries/DayPilotPro/scripts/src/daypilot-bubble.src.js</Uri>
        <Uri>{{AppUri}}libraries/DayPilotPro/scripts/src/daypilot-calendar.src.js</Uri>
        <Uri>{{AppUri}}libraries/DayPilotPro/scripts/src/daypilot-datepicker.src.js</Uri>
        <Uri>{{AppUri}}libraries/DayPilotPro/scripts/src/daypilot-gantt.src.js</Uri>
        <Uri>{{AppUri}}libraries/DayPilotPro/scripts/src/daypilot-menu.src.js</Uri>
        <Uri>{{AppUri}}libraries/DayPilotPro/scripts/src/daypilot-modal.src.js</Uri>
        <Uri>{{AppUri}}libraries/DayPilotPro/scripts/src/daypilot-month.src.js</Uri>
        <Uri>{{AppUri}}libraries/DayPilotPro/scripts/src/daypilot-navigator.src.js</Uri>
        <Uri>{{AppUri}}libraries/DayPilotPro/scripts/src/daypilot-scheduler.src.js</Uri>
        <Uri>{{AppUri}}libraries/DayPilotPro/scripts/src/daypilot-year.src.js</Uri>
        <Uri>{{FwFrontEndLibraryUri}}scripts/Routes.js</Uri>
        <Uri>{{FwFrontEndLibraryUri}}scripts/FwAppData.js</Uri>
        <Uri>{{FwFrontEndLibraryUri}}scripts/FwAjax.js</Uri>
        <Uri>{{FwFrontEndLibraryUri}}scripts/FwApplicationConfig.js</Uri>
        <Uri>{{FwFrontEndLibraryUri}}scripts/FwControls/FwAudit.js</Uri>
        <Uri>{{FwFrontEndLibraryUri}}scripts/FwControls/FwApplicationTree.js</Uri>
        <Uri>{{FwFrontEndLibraryUri}}scripts/FwControls/FwBrowseColumns/FwBrowseColumn_appdocumentimage.js</Uri>
        <Uri>{{FwFrontEndLibraryUri}}scripts/FwControls/FwBrowseColumns/FwBrowseColumn_appdocumentversion.js</Uri>
        <Uri>{{FwFrontEndLibraryUri}}scripts/FwControls/FwBrowseColumns/FwBrowseColumn_appimage.js</Uri>
        <Uri>{{FwFrontEndLibraryUri}}scripts/FwControls/FwBrowseColumns/FwBrowseColumn_checkbox.js</Uri>
        <Uri>{{FwFrontEndLibraryUri}}scripts/FwControls/FwBrowseColumns/FwBrowseColumn_date.js</Uri>
        <Uri>{{FwFrontEndLibraryUri}}scripts/FwControls/FwBrowseColumns/FwBrowseColumn_hidden.js</Uri>
        <Uri>{{FwFrontEndLibraryUri}}scripts/FwControls/FwBrowseColumns/FwBrowseColumn_key.js</Uri>
        <Uri>{{FwFrontEndLibraryUri}}scripts/FwControls/FwBrowseColumns/FwBrowseColumn_legend.js</Uri>
        <Uri>{{FwFrontEndLibraryUri}}scripts/FwControls/FwBrowseColumns/FwBrowseColumn_money.js</Uri>
        <Uri>{{FwFrontEndLibraryUri}}scripts/FwControls/FwBrowseColumns/FwBrowseColumn_note.js</Uri>
        <Uri>{{FwFrontEndLibraryUri}}scripts/FwControls/FwBrowseColumns/FwBrowseColumn_number.js</Uri>
        <Uri>{{FwFrontEndLibraryUri}}scripts/FwControls/FwBrowseColumns/FwBrowseColumn_olecolor.js</Uri>
        <Uri>{{FwFrontEndLibraryUri}}scripts/FwControls/FwBrowseColumns/FwBrowseColumn_phone.js</Uri>
        <Uri>{{FwFrontEndLibraryUri}}scripts/FwControls/FwBrowseColumns/FwBrowseColumn_rowbackgroundcolor.js</Uri>
        <Uri>{{FwFrontEndLibraryUri}}scripts/FwControls/FwBrowseColumns/FwBrowseColumn_rowtextcolor.js</Uri>
        <Uri>{{FwFrontEndLibraryUri}}scripts/FwControls/FwBrowseColumns/FwBrowseColumn_text.js</Uri>
        <Uri>{{FwFrontEndLibraryUri}}scripts/FwControls/FwBrowseColumns/FwBrowseColumn_time.js</Uri>
        <Uri>{{FwFrontEndLibraryUri}}scripts/FwControls/FwBrowseColumns/FwBrowseColumn_timepicker.js</Uri>
        <Uri>{{FwFrontEndLibraryUri}}scripts/FwControls/FwBrowseColumns/FwBrowseColumn_time12.js</Uri>
        <Uri>{{FwFrontEndLibraryUri}}scripts/FwControls/FwBrowseColumns/FwBrowseColumn_toggleswitch.js</Uri>
        <Uri>{{FwFrontEndLibraryUri}}scripts/FwControls/FwBrowseColumns/FwBrowseColumn_utcdate.js</Uri>
        <Uri>{{FwFrontEndLibraryUri}}scripts/FwControls/FwBrowseColumns/FwBrowseColumn_utcdatetime.js</Uri>
        <Uri>{{FwFrontEndLibraryUri}}scripts/FwControls/FwBrowseColumns/FwBrowseColumn_utctime.js</Uri>
        <Uri>{{FwFrontEndLibraryUri}}scripts/FwControls/FwBrowseColumns/FwBrowseColumn_validation.js</Uri>
        <Uri>{{FwFrontEndLibraryUri}}scripts/FwControls/FwBrowse.js</Uri>
        <Uri>{{FwFrontEndLibraryUri}}scripts/FwControls/FwCharge.js</Uri>
        <Uri>{{FwFrontEndLibraryUri}}scripts/FwControls/FwConfirmation.js</Uri>
        <Uri>{{FwFrontEndLibraryUri}}scripts/FwControls/FwContainer.js</Uri>
        <Uri>{{FwFrontEndLibraryUri}}scripts/FwControls/FwContextMenu.js</Uri>
        <Uri>{{FwFrontEndLibraryUri}}scripts/FwControls/FwControl.js</Uri>
        <Uri>{{FwFrontEndLibraryUri}}scripts/FwControls/FwFormField.js</Uri>
        <Uri>{{FwFrontEndLibraryUri}}scripts/FwControls/FwFormFields/FwFormField_checkbox.js</Uri>
        <Uri>{{FwFrontEndLibraryUri}}scripts/FwControls/FwFormFields/FwFormField_checkboxlist.js</Uri>
        <Uri>{{FwFrontEndLibraryUri}}scripts/FwControls/FwFormFields/FwFormField_color.js</Uri>
        <Uri>{{FwFrontEndLibraryUri}}scripts/FwControls/FwFormFields/FwFormField_combobox.js</Uri>
        <Uri>{{FwFrontEndLibraryUri}}scripts/FwControls/FwFormFields/FwFormField_date.js</Uri>
        <Uri>{{FwFrontEndLibraryUri}}scripts/FwControls/FwFormFields/FwFormField_datetime.js</Uri>
        <Uri>{{FwFrontEndLibraryUri}}scripts/FwControls/FwFormFields/FwFormField_editor.js</Uri>
        <Uri>{{FwFrontEndLibraryUri}}scripts/FwControls/FwFormFields/FwFormField_email.js</Uri>
        <Uri>{{FwFrontEndLibraryUri}}scripts/FwControls/FwFormFields/FwFormField_encrypt.js</Uri>
        <Uri>{{FwFrontEndLibraryUri}}scripts/FwControls/FwFormFields/FwFormField_key.js</Uri>
        <Uri>{{FwFrontEndLibraryUri}}scripts/FwControls/FwFormFields/FwFormField_money.js</Uri>
        <Uri>{{FwFrontEndLibraryUri}}scripts/FwControls/FwFormFields/FwFormField_multiselectvalidation.js</Uri>
        <Uri>{{FwFrontEndLibraryUri}}scripts/FwControls/FwFormFields/FwFormField_number.js</Uri>
        <Uri>{{FwFrontEndLibraryUri}}scripts/FwControls/FwFormFields/FwFormField_orderby.js</Uri>
        <Uri>{{FwFrontEndLibraryUri}}scripts/FwControls/FwFormFields/FwFormField_password.js</Uri>
        <Uri>{{FwFrontEndLibraryUri}}scripts/FwControls/FwFormFields/FwFormField_percent.js</Uri>
        <Uri>{{FwFrontEndLibraryUri}}scripts/FwControls/FwFormFields/FwFormField_phone.js</Uri>
        <Uri>{{FwFrontEndLibraryUri}}scripts/FwControls/FwFormFields/FwFormField_radio.js</Uri>
        <Uri>{{FwFrontEndLibraryUri}}scripts/FwControls/FwFormFields/FwFormField_searchbox.js</Uri>
        <Uri>{{FwFrontEndLibraryUri}}scripts/FwControls/FwFormFields/FwFormField_select.js</Uri>
        <Uri>{{FwFrontEndLibraryUri}}scripts/FwControls/FwFormFields/FwFormField_ssn.js</Uri>
        <Uri>{{FwFrontEndLibraryUri}}scripts/FwControls/FwFormFields/FwFormField_text.js</Uri>
        <Uri>{{FwFrontEndLibraryUri}}scripts/FwControls/FwFormFields/FwFormField_textarea.js</Uri>
        <Uri>{{FwFrontEndLibraryUri}}scripts/FwControls/FwFormFields/FwFormField_time.js</Uri>
        <Uri>{{FwFrontEndLibraryUri}}scripts/FwControls/FwFormFields/FwFormField_timepicker.js</Uri>
        <Uri>{{FwFrontEndLibraryUri}}scripts/FwControls/FwFormFields/FwFormField_toggleswitch.js</Uri>
        <Uri>{{FwFrontEndLibraryUri}}scripts/FwControls/FwFormFields/FwFormField_url.js</Uri>
        <Uri>{{FwFrontEndLibraryUri}}scripts/FwControls/FwFormFields/FwFormField_validation.js</Uri>
        <Uri>{{FwFrontEndLibraryUri}}scripts/FwControls/FwFormFields/FwFormField_zipcode.js</Uri>
        <Uri>{{FwFrontEndLibraryUri}}scripts/FwControls/FwAppImage.js</Uri>
        <Uri>{{FwFrontEndLibraryUri}}scripts/FwControls/FwGridMenu.js</Uri>
        <Uri>{{FwFrontEndLibraryUri}}scripts/FwControls/FwMenu.js</Uri>
        <Uri>{{FwFrontEndLibraryUri}}scripts/FwControls/FwModule.js</Uri>
        <Uri>{{FwFrontEndLibraryUri}}scripts/FwControls/FwMultiSelectValidation.js</Uri>
        <Uri>{{FwFrontEndLibraryUri}}scripts/FwControls/FwNotification.js</Uri>
        <Uri>{{FwFrontEndLibraryUri}}scripts/FwControls/FwOverlay.js</Uri>
        <Uri>{{FwFrontEndLibraryUri}}scripts/FwControls/FwPopup.js</Uri>
        <Uri>{{FwFrontEndLibraryUri}}scripts/FwControls/FwReport.js</Uri>
        <Uri>{{FwFrontEndLibraryUri}}scripts/FwControls/FwReportsPage.js</Uri>
        <Uri>{{FwFrontEndLibraryUri}}scripts/FwControls/FwRibbon.js</Uri>
        <Uri>{{FwFrontEndLibraryUri}}scripts/FwControls/FwFileMenu.js</Uri>
        <Uri>{{FwFrontEndLibraryUri}}scripts/FwControls/FwScheduler.js</Uri>
        <Uri>{{FwFrontEndLibraryUri}}scripts/FwControls/FwSchedulerDetailed.js</Uri>
        <Uri>{{FwFrontEndLibraryUri}}scripts/FwControls/FwSettings.js</Uri>
        <Uri>{{FwFrontEndLibraryUri}}scripts/FwControls/FwTabs.js</Uri>
        <Uri>{{FwFrontEndLibraryUri}}scripts/FwControls/FwValidation.js</Uri>
        <Uri>{{FwFrontEndLibraryUri}}scripts/FwControls/FwWebApiReport.js</Uri>
        <Uri>{{FwFrontEndLibraryUri}}scripts/FwPages/FwBasePages.js</Uri>
        <Uri>{{FwFrontEndLibraryUri}}scripts/hybrid/FwHybridMasterController.js</Uri>
        <Uri>{{FwFrontEndLibraryUri}}scripts/jquery/jquery.signaturepad.js</Uri>
        <Uri>{{FwFrontEndLibraryUri}}scripts/jquery/jquery.FwConversion.js</Uri>
        <Uri>{{FwFrontEndLibraryUri}}scripts/jquery/jquery.RemoveClassPrefix.js</Uri>
        <Uri>{{FwFrontEndLibraryUri}}scripts/jquery/clockpicker/dist/jquery-clockpicker.js</Uri>
        <Uri>{{FwFrontEndLibraryUri}}scripts/jquery/colorpicker/colpick.js</Uri>
        <Uri>{{FwFrontEndLibraryUri}}scripts/jquery/datepicker/bootstrap-datepicker.js</Uri>
        <!--<Uri>{{FwFrontEndLibraryUri}}scripts/jquery/jquery-sortable.js</Uri>-->
        <Uri>{{FwFrontEndLibraryUri}}scripts/jquery/inputmask/jquery.inputmask.js</Uri>
        <Uri>{{FwFrontEndLibraryUri}}scripts/jquery/timepicker/jquery.timepicker.js</Uri>
        <Uri>{{FwFrontEndLibraryUri}}scripts/jquery/jquery.color.js</Uri>
        <Uri>{{FwFrontEndLibraryUri}}scripts/jquery/colresizable/colResizable-1.6.js</Uri>
        <Uri>{{FwFrontEndLibraryUri}}scripts/MasterPages/WebMaster.js</Uri>
        <Uri>{{FwFrontEndLibraryUri}}scripts/FwFunc.js</Uri>
        <Uri>{{FwFrontEndLibraryUri}}scripts/FwLanguages.js</Uri>
        <Uri>{{FwFrontEndLibraryUri}}scripts/FwSecurity.js</Uri>
        <Uri>{{FwFrontEndLibraryUri}}scripts/FwServices.js</Uri>
        <Uri>{{FwFrontEndLibraryUri}}scripts/Sortable-1.1.1/Sortable.js</Uri>
        <Uri>{{FwFrontEndLibraryUri}}scripts/chart.js/dist/Chart.js</Uri>
        <Uri>{{FwFrontEndLibraryUri}}scripts/decimal.js/decimal.js</Uri>
        
        <Uri>{{FwFrontEndLibraryUri}}scripts/Modules/FwGroup.js</Uri>
        <Uri>{{FwFrontEndLibraryUri}}scripts/moment/moment.min.js</Uri>
        
        <Uri>{{AppUri}}scripts/RwLanguages.js</Uri>
        <Uri>{{AppUri}}scripts/RwMaster.js</Uri>
        <Uri>[source_js]</Uri>
        <Uri>{{FwFrontEndLibraryUri}}scripts/FwApplication.js</Uri>
        <Uri>{{AppUri}}scripts/Program.js</Uri>
      </InputFiles>
      <Minify>true</Minify>
      <OutputFile>script-{{Version}}.debug.js</OutputFile>
      <MinifiedFile>script-{{Version}}.min.js</MinifiedFile>
    </SourceFile>
  </SourceFiles>
  <Targets>
    <Target>
      <Publish>false</Publish>
      <OutputDirectory>$(SolutionDir)\src\RentalWorksWeb</OutputDirectory>
      <Files>
        <File>
          <InputFile>$(SolutionDir)\src\RentalWorksWeb\index_src.htm</InputFile>
          <OutputFile>$(SolutionDir)\src\RentalWorksWeb\index.htm</OutputFile>
        </File>
      </Files>
    </Target>
    <Target>
      <Publish>true</Publish>
      <Minify>true</Minify>
      <OutputDirectory>$(SolutionDir)\build\RentalWorksWeb</OutputDirectory>
      <Files>
        <File>
          <InputFile>$(SolutionDir)\src\RentalWorksWeb\index_src.htm</InputFile>
          <OutputFile>$(SolutionDir)\build\RentalWorksWeb\index.htm</OutputFile>
        </File>
      </Files>
    </Target>
  </Targets>
</JSAppBuilderConfig>
