<?xml version="1.0"?>
<configuration>
  <system.web>
    <compilation debug="true" targetFramework="4.0"/>
    <authentication mode="None" />
    <customErrors mode="Off" />
    <globalization culture="en-US" uiCulture="en-US" requestEncoding="utf-8" responseEncoding="utf-8" fileEncoding="utf-8" />
    <!-- executionTimeout: Allow Requests to last for up to 2 hours -->
    <!-- maxRequestLength: Allow Requests up to 50MB to handle large image uploads (default is 4MB) -->
    <httpRuntime executionTimeout="7200" maxRequestLength="51200"/>
    <pages controlRenderingCompatibilityVersion="4.0" />
  </system.web>
  <system.webServer>
    <security>
      <requestFiltering>
        <!-- Allow Requests up to 50MB to handle large image uploads (default is 4MB) -->
        <requestLimits maxAllowedContentLength="52428800" />
      </requestFiltering>
    </security>
    <urlCompression doDynamicCompression="true" doStaticCompression="true" />
    <staticContent>
      <clientCache cacheControlMode="DisableCache" />
    </staticContent>
    <handlers>
      <add name="rwservices"    verb="*" path="services.ashx"      preCondition="integratedMode" type="RentalWorksWeb.Source.RwServiceRouting, RentalWorksWeb" />
      <add name="fwappdocument" verb="*" path="fwappdocument.ashx" preCondition="integratedMode" type="Fw.Json.HttpHandlers.FwAppDocumentHandler, Fw.Json" />
      <add name="fwappimage"    verb="*" path="fwappimage.ashx"    preCondition="integratedMode" type="Fw.Json.HttpHandlers.FwAppImageHandler, Fw.Json" />
      <add name="fwscheduler"   verb="*" path="fwscheduler.ashx"   preCondition="integratedMode" type="Fw.Json.HttpHandlers.FwSchedulerHandler, Fw.Json" />
      <add name="fwurlreport"   verb="*" path="fwurlreport.ashx"   preCondition="integratedMode" type="Fw.Json.HttpHandlers.FwUrlReportHandler, Fw.Json" />
      <add name="fwdownload"    verb="*" path="fwdownload/*"       preCondition="integratedMode" type="Fw.Json.HttpHandlers.FwDownloadHandler, Fw.Json" />
    </handlers>
    <httpProtocol>
      <customHeaders>
        <add name="X-UA-Compatible" value="IE=edge"/>
      </customHeaders>
    </httpProtocol>
  </system.webServer>
</configuration>