<div id="templateform" class="fwcontrol fwcontainer fwform" data-control="FwContainer" data-type="form" data-version="1" data-caption="Template" data-rendermode="template" data-mode="" data-hasaudit="false" data-controller="TemplateController">
  <div data-control="FwFormField" data-type="key" class="fwcontrol fwformfield" data-isuniqueid="true" data-saveorder="1" data-caption="" data-datafield="TemplateId"></div>
  <div id="Templateform-tabcontrol" class="fwcontrol fwtabs" data-control="FwTabs" data-type="">
    <div class="tabs">
      <div data-type="tab" id="generaltab" class="tab" data-tabpageid="generaltabpage" data-caption="General"></div>
      <div data-type="tab" id="rentaltab" class="tab rental" data-tabpageid="rentaltabpage" data-caption="Rental"></div>
      <div data-type="tab" id="salestab" class="tab sales" data-tabpageid="salestabpage" data-caption="Sales"></div>
      <!--<div data-type="tab" id="facilitiestab" class="tab facilities" data-tabpageid="facilitiestabpage" data-caption="Facilities"></div>
      <div data-type="tab" id="transportationtab" class="tab transportation" data-tabpageid="transportationtabpage" data-caption="Transportation"></div>-->
      <div data-type="tab" id="labortab" class="tab labor" data-tabpageid="labortabpage" data-caption="Labor"></div>
      <div data-type="tab" id="misctab" class="tab miscellaneous" data-tabpageid="misctabpage" data-caption="Misc"></div>
    </div>
    <div class="tabpages">
      <div data-type="tabpage" id="generaltabpage" class="tabpage" data-tabid="generaltab">
        <div class="formpage">
          <div class="fwcontrol fwcontainer fwform-section" data-control="FwContainer" data-type="section" data-caption="Template">
            <div class="fwcontrol fwcontainer fwform-fieldrow" data-control="FwContainer" data-type="fieldrow">
              <div data-control="FwFormField" data-type="text" class="fwcontrol fwformfield" data-caption="Template" data-datafield="Description" data-required="true" style="float:left;width:250px;"></div>
              <div data-control="FwFormField" data-type="validation" class="fwcontrol fwformfield RateType" data-caption="Rate" data-datafield="RateType" data-displayfield="RateType" data-validationname="RateTypeValidation" data-validationpeek="false" data-required="true" style="float:left;width:175px;"></div>
            </div>
            <div class="fwcontrol fwcontainer fwform-fieldrow" data-control="FwContainer" data-type="fieldrow">
              <div data-control="FwFormField" data-type="validation" class="fwcontrol fwformfield" data-caption="Warehouse" data-datafield="WarehouseId" data-displayfield="Warehouse" data-validationname="WarehouseValidation" data-required="true" style="float:left;width:250px;"></div>
              <div data-control="FwFormField" data-type="validation" class="fwcontrol fwformfield" data-caption="Department" data-datafield="DepartmentId" data-displayfield="Department" data-validationname="DepartmentValidation" data-required="true" style="float:left;width:250px;"></div>
              <div data-control="FwFormField" data-type="text" class="fwcontrol fwformfield" data-caption="Warehouse Code" data-datafield="WarehouseCode" data-enabled="false" style="float:left;width:110px;display:none;"></div>
              <div data-control="FwFormField" data-type="validation" class="fwcontrol fwformfield" data-caption="Location" data-datafield="OfficeLocationId" data-displayfield="OfficeLocation" data-validationname="OfficeLocationValidation" data-required="false" style="display:none;"></div>
            </div>
            <div class="fwcontrol fwcontainer fwform-fieldrow rectype" data-control="FwContainer" data-type="fieldrow">
              <div data-control="FwFormField" data-type="checkbox" class="fwcontrol fwformfield" data-caption="Rental" data-datafield="Rental" style="float:left;width:150px;"></div>
              <div data-control="FwFormField" data-type="checkbox" class="fwcontrol fwformfield" data-caption="Sales" data-datafield="Sales" style="float:left;width:150px;"></div>
              <!--<div data-control="FwFormField" data-type="checkbox" class="fwcontrol fwformfield" data-caption="Facilities" data-datafield="Facilities" style="float:left;width:150px;"></div>
              <div data-control="FwFormField" data-type="checkbox" class="fwcontrol fwformfield" data-caption="Transportation" data-datafield="Transportation" style="float:left;width:150px;"></div>-->
              <div data-control="FwFormField" data-type="checkbox" class="fwcontrol fwformfield" data-caption="Labor" data-datafield="Labor" style="float:left;width:150px;"></div>
              <div data-control="FwFormField" data-type="checkbox" class="fwcontrol fwformfield" data-caption="Misc" data-datafield="Miscellaneous" style="float:left;width:150px;"></div>
            </div>
          </div>
        </div>
      </div>
      <div data-type="tabpage" id="rentaltabpage" class="tabpage" data-tabid="rentaltab">
        <div class="fwcontrol fwcontainer fwform-section" data-control="FwContainer" data-type="section" data-caption="Rental Items">
          <div class="fwcontrol fwcontainer fwform-fieldrow rentalgrid" data-control="FwContainer" data-type="fieldrow">
            <div data-control="FwGrid" data-grid="OrderItemGrid" data-securitycaption="Rental Items" class="R"></div>
          </div>
        </div>
      </div>
      <!-- SALES TAB -->
      <div data-type="tabpage" id="salestabpage" class="tabpage" data-tabid="salestab">
        <div class="fwcontrol fwcontainer fwform-section" data-control="FwContainer" data-type="section" data-caption="Sales Items">
          <div class="fwcontrol fwcontainer fwform-fieldrow salesgrid" data-control="FwContainer" data-type="fieldrow">
            <div data-control="FwGrid" data-grid="OrderItemGrid" data-securitycaption="Sales Items" class="S"></div>
          </div>
        </div>
      </div>
      <!-- FACILITIES TAB -->
      <!--
      <div data-type="tabpage" id="facilitiestabpage" class="tabpage" data-tabid="faciltiestab">
        <div class="fwcontrol fwcontainer fwform-section" data-control="FwContainer" data-type="section" data-caption="Facilities Items">
          <div class="fwcontrol fwcontainer fwform-fieldrow facilitiesgrid" data-control="FwContainer" data-type="fieldrow">
            <div data-control="FwGrid" data-grid="OrderItemGrid" data-securitycaption="Facilities Items" class="SP"></div>
          </div>
        </div>
      </div>
        -->
      <!-- TRANSPORTATION TAB -->
      <!--
      <div data-type="tabpage" id="transportationtabpage" class="tabpage" data-tabid="transportationtab">
        <div class="fwcontrol fwcontainer fwform-section" data-control="FwContainer" data-type="section" data-caption="Transportation Items">
          <div class="fwcontrol fwcontainer fwform-fieldrow transportationgrid" data-control="FwContainer" data-type="fieldrow">
            <div data-control="FwGrid" data-grid="OrderItemGrid" data-securitycaption="Transportation Items" class="T"></div>
          </div>
        </div>
      </div>
        -->
      <!-- LABOR TAB -->
      <div data-type="tabpage" id="labortabpage" class="tabpage" data-tabid="labortab">
        <div class="fwcontrol fwcontainer fwform-section" data-control="FwContainer" data-type="section" data-caption="Labor Items">
          <div class="fwcontrol fwcontainer fwform-fieldrow laborgrid" data-control="FwContainer" data-type="fieldrow">
            <div data-control="FwGrid" data-grid="OrderItemGrid" data-securitycaption="Labor Items" class="L"></div>
          </div>
        </div>
      </div>
      <!-- MISC TAB -->
      <div data-type="tabpage" id="misctabpage" class="tabpage" data-tabid="misctab">
        <div class="fwcontrol fwcontainer fwform-section" data-control="FwContainer" data-type="section" data-caption="Misc Items">
          <div class="fwcontrol fwcontainer fwform-fieldrow miscgrid" data-control="FwContainer" data-type="fieldrow">
            <div data-control="FwGrid" data-grid="OrderItemGrid" data-securitycaption="Misc Items" class="M"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>