/*Sales Inventory Transaction Report*/
tbody {
    tr[data-rowtype=detail]:nth-child(odd) {
        background-color: #DCDCDC;
    }

    td.warehouse-header {
        padding-top: .8em;
        padding-bottom: .8em;
        font-weight: bold;
        font-size: 1.5em;
        text-decoration: underline;
    }

    td.category-header {
        padding-bottom: .8em;
        font-weight: bold;
        text-decoration: underline;
        padding-left: 20px;
    }

    td.footer {
        padding-bottom: .8em;
        font-weight: bold;
        text-decoration: underline;
    }

    td:after {
        content: attr(data-value);
    }

    td {
        padding: 3px;
    }
}

thead {
    th {
        border-top: 2px solid #000000;
        border-bottom: 2px solid #000000;
        font-weight: bold;
        padding: 5px;
        white-space: nowrap;
    }
}