<script id="designer_filenav_mode_2_template" type="text/x-handlebars-template">
    <div style="display: inline-block;" data-index="{{index}}">
        <ul class="navbar-nav" id="expanded_folder_container" style="border-radius: 3px; background-color: #3E4041; margin-left: 10px;">
            {{#if files}}
            {{#each files}}
            <li class="nav-item">
                <a class="editable_file nav-link" title="Edit {{fileName}}" data-index="{{@index}}">{{fileName}}</a>
            </li>
            {{/each}}
            {{else}}
            <li class="nav-item" style="display: none;">
                <a id="active_editable_file" class="nav-link">No Active Folder Group</a>
            </li>
            {{/if}}
        </ul>
    </div>

    <div id="collapsed_folders_container" class="dropdown">
        <a class="btn btn-secondary dropdown-toggle" href="https://example.com" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="border-radius: 3px; background-color: #3E4041; border: 1px solid #3E4041; color: rgba(255, 255, 255, 0.5); height: 40px; margin-left: 10px;">
            Folders
        </a>
        <div id="collapsed_folders" class="dropdown-menu" aria-labelledby="dropdownMenuLink">
            {{#if folders}}
            {{#each folders}}
            <a class="expand_collapsed_folder nav-link" title="Edit {{folderName}}" data-index="{{@index}}">{{folderName}}</a>
            {{/each}}
            <div class="dropdown-divider"></div>
            <a id="expand_collapsed_folders" class="dropdown-item" href="#">Expand All</a>
            {{else}}
            <a class="dropdown-item">No Folders Found</a>
            {{/if}}
        </div>
    </div>
</script>