<script id="designer_settings_template" type="text/x-handlebars-template">
    <div>

        <!--<ul id="tab_nav" class="nav nav-tabs" role="tablist">
            <li class="nav-item">
                <a class="nav-link active" href="#general" data-toggle="tab" role="tab" aria-controls="general" aria-selected="true">General</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#codemirror" data-toggle="tab" role="tab" aria-controls="codemirror" aria-selected="false">Code Mirror</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#preview" data-toggle="tab" role="tab" aria-controls="preview" aria-selected="false">Preview</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#design" data-toggle="tab" role="tab" aria-controls="design" aria-selected="false">Design</a>
            </li>
        </ul>-->
        
            <div class="row">
                <div class="col-12">
                    <small class="form-text text-muted">Auto save all files when changes are made every 10secs.</small>
                    <div>
                        <label class="dcss_radio">
                            <input type="radio" name="radio">
                            <span class="dcss_radio_indicator"></span>
                            <small>Auto Save On</small>
                        </label>
                        <label class="dcss_radio">
                            <input type="radio" name="radio">
                            <span class="dcss_radio_indicator"></span>
                            <small>Auto Save Off</small>
                        </label>                        
                    </div>
                    
                        <!--<label class="custom-control custom-radio">
                            <input id="autosave_1" name="radio" type="radio" class="custom-control-input" {{#if settings.isAutoSaveOn}} checked {{/if}}>
                            <span class="custom-control-indicator"></span>
                            <span class="custom-control-description">Auto Save On</span>
                        </label>
                        <label class="custom-control custom-radio">
                            <input id="autosave_2" name="radio" type="radio" class="custom-control-input" {{#if settings.isAutoSaveOff}} checked {{/if}}>
                            <span class="custom-control-indicator"></span>
                            <span class="custom-control-description">Auto Save Off</span>
                        </label>-->
                    </div>
                </div>
            <div class="row">
                <div class="col-12">
                    <div class="form-group">
                        <samll class="form-text text-muted">Default Module Save Path</samll>
                        <input placeholder="{{settings.defaultModuleSavePath}}" id="default_save_module_path_setting" class="dcss_input" type="text" value="{{settings.defaultModuleSavePath}}">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <div class="form-group">
                        <samll class="form-text text-muted">Default Security Menu Save Path</samll>
                        <input placeholder="{{settings.defaultMenuSavePath}}" id="default_save_menu_path_setting" class="dcss_input" type="text" value="{{settings.defaultMenuSavePath}}">
                    </div>
                </div>
            </div>
            <!--<div class="row">
                <div class="col-12">
                    <div class="form-group">
                        <samll class="form-text text-muted">Onload - Open last known Module</samll>
                        <label class="custom-control custom-radio">
                            <input id="open_module_1" name="open_radio" type="radio" class="custom-control-input" {{#if settings.isAutoSaveOn}} checked {{/if}}>
                            <span class="custom-control-indicator"></span>
                            <span class="custom-control-description">Yes</span>
                        </label>
                        <label class="custom-control custom-radio">
                            <input id="open_module_2" name="open_radio" type="radio" class="custom-control-input" {{#if settings.isAutoSaveOff}} checked {{/if}}>
                            <span class="custom-control-indicator"></span>
                            <span class="custom-control-description">No</span>
                        </label>
                    </div>
                </div>
            </div>-->
            <div class="row">
                <div class="col-12">
                    <div class="form-group">
                        <samll class="form-text text-muted">Max number of allowed recents to save and display.</samll>
                        <input placeholder="5" id="number_allowed_recents" class="dcss_input" max="20" type="number" value="">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <!--<samll class="form-text text-muted">CM - Enable Code Folding</samll>
                    <label class="custom-control custom-checkbox">
                        <input type="checkbox" class="custom-control-input">
                        <span class="custom-control-indicator"></span>
                    </label>-->

                    <label class="dcss_checkbox">
                        <input type="checkbox" checked="checked">
                        <span class="dcss_checkbox_indicator"></span>
                        <small>CM - Enable Code Folding</small>
                    </label>

                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <div>
                        <samll class="form-text text-muted">CM - Background Color</samll>
                        <input class="dcss_input" type="color" value="#563d7c" id="example-color-input">
                    </div>
                </div>
            </div>
        </div>
        <!--<div id="codemirror" class="tab-pane fade" role="tabpanel" aria-labelledby="codemirror-tab">Code Mirror</div>
        <div id="preview" class="tab-pane fade" role="tabpanel" aria-labelledby="preview-tab">Preview</div>
        <div id="design" class="tab-pane fade" role="tabpanel" aria-labelledby="design-tab">Design</div>-->
    
</script>