/*#region FwMenu Grid*/
html.theme-default .fwmenu.grid {display:flex;background-color:#9e9e9e;}
html.theme-default .fwmenu.grid .menucaption {flex: 1 1 auto;padding:0 10px;font-size: 14px; font-weight:600;min-width: 100px; overflow: hidden; text-overflow: ellipsis; white-space: nowrap;line-height:44px;}
html.theme-default .fwmenu.grid .buttonbar {flex: 0 0 auto;}
html.theme-default .fwmenu.grid .buttonbar .btn {cursor:pointer;padding:10px;height:24px;}
html.theme-default .fwmenu.grid .buttonbar .btn:hover {background: #4CAF50; color: #ffffff;}
html.theme-default .fwmenu.grid .submenubutton {flex: 0 0 auto;}
html.theme-default .fwmenu.grid .submenubutton .icon {height:24px;padding:10px;cursor:pointer;}
html.theme-default .fwmenu.grid .submenubutton .submenu {display:none;position:absolute;margin-top:1px;padding:1px;-moz-box-shadow:3px 3px 5px 1px rgba(0,0,0,.3);-webkit-box-shadow:3px 3px 5px 1px rgba(0,0,0,.3);box-shadow:3px 3px 5px 1px rgba(0,0,0,.3);}
html.theme-default .fwmenu.grid .submenubutton.active .submenu {display:block;}
html.theme-default .fwmenu.grid .submenubutton .submenu .submenu-column {margin:10px;font-size:14px;float:left;min-width:200px;}
html.theme-default .fwmenu.grid .submenubutton .submenu .submenu-column .submenu-group {margin-bottom:15px;}
html.theme-default .fwmenu.grid .submenubutton .submenu .submenu-column .submenu-group > .caption {font-weight:bold;}
html.theme-default .fwmenu.grid .submenubutton .submenu .submenu-column .submenu-group .submenu-btn {cursor:pointer;padding:3px;border:solid 1px transparent;}
html.theme-default .fwmenu.grid .submenubutton .submenu .submenu-column .submenu-group .submenu-btn:hover {}
html.theme-default .fwmenu.grid .submenubutton .submenu .submenu-column .submenu-group .submenu-btn > .caption {}

/*#region Material Theme*/
html.theme-default .fwmenu.grid .buttonbar .btn {}
html.theme-default .fwmenu.grid .buttonbar .btn:hover:not(.disabled) {text-decoration:underline;}
html.theme-default .fwmenu.grid .buttonbar .btn.disabled {opacity:0.6;}
html.theme-default div[data-control="FwBrowse"][data-type="Grid"][data-enabled="false"] .fwmenu.grid .buttonbar .btn .btn-text {color:#cccccc;}
html.theme-default div[data-control="FwBrowse"][data-type="Grid"][data-enabled="false"] .fwmenu.grid .buttonbar .btn:hover {text-decoration:none !important;}

html.theme-default .fwmenu.grid .submenubutton {}
html.theme-default .fwmenu.grid .submenubutton:hover {background-color: #7B1FA2; color: #ffffff;}
html.theme-default .fwmenu.grid .submenubutton.active {background-color: #7B1FA2; color: #ffffff;}

html.theme-default .fwmenu.grid .submenubutton .submenu {background: #fafafa;border: 1px solid #d6d6d6;color: #263248;}
html.theme-default .fwmenu.grid .submenubutton .submenu .submenu-column .submenu-group > .caption {color:#000077;border-bottom:solid 2px #000077;}
html.theme-default .fwmenu.grid .submenubutton .submenu .submenu-column .submenu-group .submenu-btn:hover {background: rgba(213,221,229,1);color: #1a2631;border: 1px solid rgba(41,77,133,1);}
/*#endregion Material Theme*/

/*#endregion FwMenu Grid*/

/*#region FwMenu: (Browses/Forms)*/
html.theme-default .fwmenu.default {overflow:auto;display:flex;background-color:#fafafa;border-bottom: 1px solid #9e9e9e;}

html.theme-default .fwmenu.default .buttonbar {flex:1 0 auto;height:40px;line-height:40px;margin-left:10px;display:flex;}
html.theme-default .fwmenu.default .buttonbar .vr {height:30px;position:relative;width:1px;top:5px;margin:0 5px;}
html.theme-default .fwmenu.default .buttonbar .btn {cursor:pointer;padding:0 10px;display:flex;}


html.theme-default .fwmenu.default .buttonbar .ddviewbtn {display:flex;padding:0 10px;-webkit-touch-callout: none;-webkit-user-select: none;-moz-user-select: none;-ms-user-select: none;user-select: none;}
html.theme-default .fwmenu.default .buttonbar .ddviewbtn > .ddviewbtn-caption {margin-right:5px;}
html.theme-default .fwmenu.default .buttonbar .ddviewbtn > .ddviewbtn-select {display:flex;cursor:pointer;}
html.theme-default .fwmenu.default .buttonbar .ddviewbtn > .ddviewbtn-select > .ddviewbtn-select-value {padding-left:5px;}
html.theme-default .fwmenu.default .buttonbar .ddviewbtn > .ddviewbtn-select > i {line-height:40px;height:auto;}

html.theme-default .fwmenu.default .buttonbar .ddviewbtn > .ddviewbtn-select > .ddviewbtn-dropdown {display:none;position:absolute;top:40px;line-height:24px;font-size:14px;-moz-box-shadow:0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12);-webkit-box-shadow:0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12);box-shadow:0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12);}
html.theme-default .fwmenu.default .buttonbar .ddviewbtn > .ddviewbtn-select.active > .ddviewbtn-dropdown {display:block;}
html.theme-default .fwmenu.default .buttonbar .ddviewbtn > .ddviewbtn-select > .ddviewbtn-dropdown > .ddviewbtn-dropdown-btn {border: 1px solid transparent;overflow: auto;}
html.theme-default .fwmenu.default .buttonbar .ddviewbtn > .ddviewbtn-select > .ddviewbtn-dropdown > .ddviewbtn-dropdown-btn > .ddviewbtn-dropdown-btn-caption {float:left;padding:0 10px;}

html.theme-default .fwmenu.default .submenubutton {flex:0 0 auto;transition: .3s;}
html.theme-default .fwmenu.default .submenubutton .icon {height:24px;padding:8px;cursor:pointer;}
html.theme-default .fwmenu.default .submenubutton .submenu {display:none;position:absolute;margin-top:1px;-moz-box-shadow:3px 3px 5px 1px rgba(0,0,0,.3);-webkit-box-shadow:3px 3px 5px 1px rgba(0,0,0,.3);box-shadow:3px 3px 5px 1px rgba(0,0,0,.3);}
html.theme-default .fwmenu.default .submenubutton.active .submenu {display:block;}
html.theme-default .fwmenu.default .submenubutton .submenu .submenu-column {margin:10px;font-size:14px;float:left;min-width:200px;}
html.theme-default .fwmenu.default .submenubutton .submenu .submenu-column .submenu-group {margin-bottom:15px;}
html.theme-default .fwmenu.default .submenubutton .submenu .submenu-column .submenu-group > .caption {font-weight:bold;}
html.theme-default .fwmenu.default .submenubutton .submenu .submenu-column .submenu-group .submenu-btn {cursor:pointer;padding:3px;border:solid 1px transparent;}
html.theme-default .fwmenu.default .submenubutton .submenu .submenu-column .submenu-group .submenu-btn:hover {}
html.theme-default .fwmenu.default .submenubutton .submenu .submenu-column .submenu-group .submenu-btn > .caption {}

html.theme-default .fwmenu.default .submenubutton.fw {float:right;}
html.theme-default .fwmenu.default .submenubutton.fw .submenu {right:0;}

/*#region Material Theme*/
html.theme-default .fwmenu.default .buttonbar .vr {background-color:rgba(0,0,0,0.4)}
html.theme-default .fwmenu.default .buttonbar .btn {border-top: 4px solid transparent;line-height:32px;transition: .3s;}
html.theme-default .fwmenu.default .buttonbar .btn:hover:not(.disabled) {border-top:4px solid #2e7d32;}
html.theme-default .fwmenu.default .buttonbar .btn.disabled {opacity:0.6;}
html.theme-default .fwmenu.default .buttonbar .btn > i {line-height:32px;}

html.theme-default .fwmenu.default .buttonbar .ddviewbtn {}
html.theme-default .fwmenu.default .buttonbar .ddviewbtn .ddviewbtn-select {border-top: 4px solid transparent;line-height:32px;transition: .3s;}
html.theme-default .fwmenu.default .buttonbar .ddviewbtn .ddviewbtn-select:hover {border-top:4px solid #2e7d32;}
html.theme-default .fwmenu.default .buttonbar .ddviewbtn .ddviewbtn-select.active {border-top:4px solid #2e7d32;}
html.theme-default .fwmenu.default .buttonbar .ddviewbtn > .ddviewbtn-select > i {line-height:32px;height:auto;}

html.theme-default .fwmenu.default .buttonbar .ddviewbtn .ddviewbtn-dropdown {background: #fafafa;border: 1px solid #d6d6d6;color:#263248;}
html.theme-default .fwmenu.default .buttonbar .ddviewbtn .ddviewbtn-dropdown .ddviewbtn-dropdown-btn:hover {background: rgba(213,221,229,1);color: #1a2631;border: 1px solid rgba(41,77,133,1);}

html.theme-default .fwmenu.default .submenubutton:hover {background:#2e7d32;}
html.theme-default .fwmenu.default .submenubutton:active {background:#2e7d32;}
html.theme-default .fwmenu.default .submenubutton.active {background:#2e7d32;}

html.theme-default .fwmenu.default .submenubutton .submenu {background: #fafafa;border: 1px solid #d6d6d6;color: #263248;}
html.theme-default .fwmenu.default .submenubutton .submenu .submenu-column .submenu-group > .caption {color:#000077;border-bottom:solid 2px #000077;}
html.theme-default .fwmenu.default .submenubutton .submenu .submenu-column .submenu-group .submenu-btn:hover {background: rgba(213,221,229,1);color: #1a2631;border: 1px solid rgba(41,77,133,1);}
/*#endregion Material Theme*/

/*#endregion FwMenu:(Browses/Forms)*/
