div.label-col {
    font-size: 4em;
    align-items: center;
}

div.label-col div {
    margin: 30px 0 0 0;
}

div.logo-container {
    height: 400px;
}

img.logo {
    height: 100%;
}

span.location {
    font-weight: 700;
    font-size: 1.2em;
}

.section-box {
    border: 1px solid black;
}

.section-box.target {
    margin: 15px 0 15px 0;
    padding: 13px;
    font-weight: 700;
    text-align: center;
}

.top-row {
    border-top: 1px solid black;
    border-bottom: 1px solid black;
}

.top-label {
    width: 540px;
    text-align: center;
    border-bottom: 1px solid black;
}

@page { // removes footer from pdf
    margin: 0;
}

body {
    font-size: 1.2em;
}
