div.tag-col {
    font-size: 1.2em;
}

div.tag-col span {
    font-weight: 700;
    margin: 0 0 0 25px;
}

.bill-main {
    font-size: 1.4em;
    font-weight: 700;
    margin: 5px 0 0 15px !important;
}

div.tag-col div {
    margin: 5px 0 0 8px;
}

.divider {
    border-top: 2px solid black;
    border-radius: 5px;
}
.damage-note {
    display: flex;
    max-width: 775px;
    margin: 0 0 0 14px;
}