/*OrderConflictReport*/
tbody {
    tr[data-rowtype="detail"]:nth-child(odd) td:not(.no-border) {
        background-color: #DCDCDC;
    }

    th.sub-header {
        text-align: left;
        border-bottom: 2px solid black;
        padding-left: 3px;
    }
}

.no-border {
    border-top: none;
    border-bottom: none;
}
