/*OrderConflictReport*/
tbody[data-rowtype="detail"]:nth-child(odd) td:not(.no-border) {
    background-color: #DCDCDC;
}

thead {
    th {
        border-bottom: 2px solid #000000;
        font-weight: bold;
        padding: 3px;
        white-space: nowrap;
    }
}

.no-border {
    border-top: none;
    border-bottom: none;
}