html.theme-default .fwtabs[data-version="1"] {}
html.theme-default .fwtabs[data-version="1"] > .tabs {box-sizing:border-box;min-height:16px;overflow:hidden;font-size:12px;padding:15px 0 0 0;-webkit-user-select:none;-moz-user-select:none;-ms-user-select:none;}
html.theme-default .fwtabs[data-version="1"] > .tabs .tab {display:flex;align-items: center;font-weight:bold;float:left;box-sizing:border-box;margin:0 0 0 5px;padding:0 5px 0 5px;height:32px;line-height:32px;cursor:pointer;border-top-left-radius:0px;border-top-right-radius:0px;transition: all 0.25s ease;background-color:rgba(150,150,150,.5);border-top:solid 1px #777;border-right:solid 1px #777;border-left:solid 1px #777;}
html.theme-default .fwtabs[data-version="1"] > .tabs .tab.submodule {margin-left:0;border-left:none;}
html.theme-default .fwtabs[data-version="1"] > .tabpage .tab {height:22px;line-height:22px;margin:0 3px 0 0px;padding:0 5px 0 5px;}
html.theme-default .fwtabs[data-version="1"] > .tabpage .tab[data-enabled="false"] {opacity:0.5;cursor:default;}
html.theme-default .fwtabs[data-version="1"] > .tabs .tab.active {height:36px;background-color:rgba(255,255,255,1);border-top:solid 4px;border-bottom:solid 1px transparent;color:#000077;}
html.theme-default .fwtabs[data-version="1"] > .tabs .tab.inactive {margin-top:4px;background-color:rgba(200,200,200,.9);color:#777777;}
html.theme-default .fwtabs[data-version="1"] > .tabs .tab[data-tabdisplay="hidden"] {display:none;}
html.theme-default .fwtabs[data-version="1"] > .tabs .tab .caption {float:left;-webkit-touch-callout: none;-webkit-user-select: none;-khtml-user-select: none;-moz-user-select: none;-ms-user-select: none;user-select: none;}
html.theme-default .fwtabs[data-version="1"] > .tabs .tab[data-enabled="false"] .caption {color:#aaaaaa;}
html.theme-default .fwtabs[data-version="1"] > .tabs .tab .modified {}
html.theme-default .fwtabs[data-version="1"] > .tabs .tab .delete {cursor:pointer;margin:0 0 0 .3125em;border-radius:.625em;line-height:.1;padding:.04em;color:black;}
html.theme-default .fwtabs[data-version="1"] > .tabs .tab .delete:hover {color:white;background-color:#893429;}
html.theme-default .fwtabs[data-version="1"] > .tabs .tab .delete:active {color:white;background-color:#8f2020;}
html.theme-default .fwtabs[data-version="1"] > .tabs .tab .delete i {font-size:14px;}
html.theme-default .fwtabs[data-version="1"] > .tabs .tab .submodule-caption {float:left;}
html.theme-default .fwtabs[data-version="1"] > .tabs .tab .submodule-caption .form-caption {float:left;}
html.theme-default .fwtabs[data-version="1"] > .tabpages {border:1px solid #8e8e8e;}
html.theme-default .fwtabs[data-version="1"] > .tabpages .tabpage {background-color:#eeeeee;}

html.theme-default .fwtabs[data-version="2"] {display:flex;}
html.theme-default .fwtabs[data-version="2"] > .tabs {flex:0 0 140px;border-right:1px solid #9E9E9E;}
html.theme-default .fwtabs[data-version="2"] > .tabs .tab {font-size:14px;cursor:pointer;min-height:20px;display:flex;border-bottom:1px solid #9e9e9e;transition:all .2s;}
html.theme-default .fwtabs[data-version="2"] > .tabs .tab .border {flex:0 0 6px;background-color:#424242;}
html.theme-default .fwtabs[data-version="2"] > .tabs .tab.active {background-color:#eeeeee;}
html.theme-default .fwtabs[data-version="2"] > .tabs .tab.active .border {background-color:#2196f3;}
html.theme-default .fwtabs[data-version="2"] > .tabs .tab .caption {padding:10px 6px;}
html.theme-default .fwtabs[data-version="2"] > .tabs .tab .modified {flex:1 0 auto;}
html.theme-default .fwtabs[data-version="2"] > .tabs .tab .delete {padding-top: 8px;}
html.theme-default .fwtabs[data-version="2"] > .tabs .tab[data-enabled="false"] {opacity:0.5;cursor:default;}
html.theme-default .fwtabs[data-version="2"] > .tabs .tab[data-tabdisplay="hidden"] {display:none;}
html.theme-default .fwtabs[data-version="2"] > .tabpages {flex:1 1 0;overflow:hidden;}
html.theme-default .fwtabs[data-version="2"] > .tabpages .tabpage {background-color:#eeeeee;box-shadow: 4px 0px 5px -3px rgba(0, 0, 0, 0.16);min-height: 100%;}

/*Tab Designer CSS*/
html.theme-default .fwtabs .designer .tabs .new {float:left;box-sizing:border-box;white-space:nowrap;margin:2px 0 0 1px;padding:0 5px;height:22px;line-height:22px;vertical-align:middle;cursor:pointer;text-align:center;}
html.theme-default .fwtabs .designer .tabs .new:after {content: "";display:table;clear:both;}
html.theme-default .fwtabs .designer .tabs .new {font-size:14px;background-color:#777777;color:#ffffff;}
html.theme-default .fwtabs .designer .tabs {box-sizing:border-box;min-height:16px;font-size:11px;padding:0 5px;margin-bottom:-1px;-webkit-user-select:none;-moz-user-select:none;-ms-user-select:none;}
html.theme-default .fwtabs .designer .tabs:after {content: "";display:table;clear:both;}
html.theme-default .fwtabs .designer .tabs .tab {float:left;box-sizing:border-box;white-space:nowrap;margin:2px 0 0 1px;padding:0 5px;height:22px;line-height:22px;vertical-align:middle;cursor:pointer;text-align:center;}
html.theme-default .fwtabs .designer .tabs .tab:after {content: "";display:table;clear:both;}
html.theme-default .fwtabs .designer .tabs .tab .caption {float:left;-webkit-touch-callout: none;-webkit-user-select: none;-khtml-user-select: none;-moz-user-select: none;-ms-user-select: none;user-select: none;}
html.theme-default .fwtabs .designer .tabs .tab .caption .editcaption {width:50px;font-size:11px;height:16px;line-height:16px;}
html.theme-default .fwtabs .designer .tabs .tab .delete {float:left;cursor:pointer;margin:0 0 0 15px;color:#ff0000;}
html.theme-default .fwtabs .designer .tabs .tab.inactive {}
html.theme-default .fwtabs .designer .tabs .tab.active {}
html.theme-default .fwtabs .designer .tabpages .tabpage {min-height:1px;padding:0 0 16px 0;}