<ApplicationConfig>
  <Dev>
    <Debug>true</Debug>
  </Dev>
  <Sites>
    <Site Name="Default">
      <DatabaseConnections>
        <DatabaseConnection Name="RentalWorks">
          <Server>66.171.250.133</Server>
          <Database>rentalworksdev</Database>
        </DatabaseConnection>
      </DatabaseConnections>
      <APISettings>
        <AuthUsername>DefaultUser</AuthUsername>
        <AuthPassword>DefaultPassword</AuthPassword>
      </APISettings>
      <Dev>
        <EnableLogging>false</EnableLogging>
      </Dev>
    </Site>
  </Sites>
</ApplicationConfig>
