.contactform .flexrow {display:flex;flex-wrap:wrap;}
.contactform .flexcolumn {flex:1 0 320px; /*max-width:480px;*/} /* TG - removed max-width 5/24/2018*/

.contactform .fwformfield-caption {white-space:nowrap;}