tbody {
    tr[data-rowtype="detail"]:nth-child(even) {
        background-color: #DCDCDC;
    }

    tr[data-rowtype="ProjectManagerheader"] {
        td[data-value="0"]:after {
            content: "";
        }
    }

    td:after {
        content: attr(data-value);
    }

    td {
        padding: 3px;
    }
}

body {
    font-family: Arial, sans-serif;
    font-size: 11px;
    margin: 0;
    padding: 0;
}

thead {
    th {
        border-top: 2px solid #000000;
        border-bottom: 2px solid #000000;
        font-weight: bold;
        padding: 5px;
        white-space: nowrap;
    }
}

.name-row {
    font-weight: bold;
    padding-top: 10px;
    font-size: 14px;
}
.deal-row {
    font-weight: bold;
    padding-top: 5px;
    font-size: 14px;
}

.office-footer {
    font-weight: bold;
    padding-top: 5px;
    border-bottom: 2px solid #000000;
}

.total-row {
    font-weight: bold;
    border-top: 1.5px solid black;
    padding-top: 10px;
}
