@font-face {
    font-family: 'bgothm';
    src: url('fwfonts/bgothm/bgothm.002-webfont.eot');
    src: url('fwfonts/bgothm/bgothm.002-webfont.eot?#iefix') format('embedded-opentype'),
         url('fwfonts/bgothm/bgothm.002-webfont.woff2') format('woff2'),
         url('fwfonts/bgothm/bgothm.002-webfont.woff') format('woff'),
         url('fwfonts/bgothm/bgothm.002-webfont.ttf') format('truetype'),
         url('fwfonts/bgothm/bgothm.002-webfont.svg#bankgothic_md_btmedium') format('svg');
    font-weight: normal;
    font-style: normal;
}
.bgothm {font-family:bgothm;cursor:pointer;}
/***************************
Master
***************************/
#master {/*min-width:1183px;*/}
#master-header .usercontrol #logoff {cursor:pointer;}
#master-header #officelocation {cursor:pointer;position:relative;}
#master-header #officelocation .caption {display:inline-block;}
#master-header #officelocation .value {display:inline-block;margin-left:2px;}
#master-header .user-controls .officelocation {padding:0 10px;display:flex;align-items:center;cursor:pointer;}
#master-header .user-controls .officelocation .locationcolor {width: 1em;height: 1em;margin: auto 4px auto 0;}
#master-header .user-controls .officelocation .value {}
#master-header .user-controls .dashboard {cursor:pointer;padding:0 .3em;}
#master-body {/*padding:10px;*/}
#master-body .programlogo {flex-wrap:wrap;width:99%;}
#master-body .programlogo .chart-container {display:flex;float:left;position:relative;}
#master-body .programlogo .chart-container:hover .toolbar {display:block;}
#master-body .programlogo .chart-container .toolbar {display:none;position:absolute;top:2%;right:2%;cursor:pointer;}
#master-footer {text-align:center;font-size:12px;margin-bottom:10px;}
#master-footer #dbworkslink {cursor:pointer;}

.homepage .programlogo {text-align:center;width:100%;}

/* need to override the framework values here to make things responsive */
.formpage {min-width:0;display:block;} 


/***************************
flexrow
***************************/

.flexrow {display:flex;flex-wrap: wrap;max-width:1200px;/*max-width:60em;*/}
.flexrow > * {flex:1 1 0;min-width:25px;/*min-width:16em;max-width:24em;*/}
html.theme-material .fwform-section {margin:.3rem .9rem;}
html.theme-material .fwbrowse table thead tr td .field .fieldcaption .caption {font-size:.7em;padding:0 .4em;}
html.theme-material .fwbrowse table tbody tr.editrow .field[data-formdatatype="date"]           input.value {font-size:.9em;} 
html.theme-material .fwbrowse table tbody tr.editrow .field[data-formdatatype="time"]           input.value {} 
html.theme-material .fwbrowse table tbody tr.editrow .field[data-formdatatype="money"]          input.value {font-size:.9em;} 
html.theme-material .fwbrowse table tbody tr.editrow .field[data-formdatatype="text"]           input.value {font-size:.9em;} 
html.theme-material .fwbrowse table tbody tr.editrow .field[data-formdatatype="validation"]     input.text  {font-size:.9em;} 
html.theme-material .fwbrowse table tbody tr.editrow .field[data-formdatatype="number"]         input.value {font-size:.9em;} 
/*
html.theme-material .fwformfield[data-type="text"] .fwformfield-control{border-top:none;border-right:none;border-left:none;border-bottom:1px solid #e1dfdf;}
html.theme-material .fwformfield[data-type="validation"] .fwformfield-control{border-top:none;border-right:none;border-left:none;border-bottom:1px solid #e1dfdf;}
html.theme-material .fwformfield[data-type="date"] .fwformfield-control{border-top:none;border-right:none;border-left:none;border-bottom:1px solid #e1dfdf;}
html.theme-material .fwformfield[data-type="time"] .fwformfield-control{border-top:none;border-right:none;border-left:none;border-bottom:1px solid #e1dfdf;}
    */

/***************************
ProgressBar
***************************/

/* Reset the default appearance */
progress[value]::-webkit-progress-value {
    background-image:
        -webkit-linear-gradient(-45deg, transparent 33%, rgba(0, 0, 0, .1) 33%, rgba(0, 0, 0, .1) 66%, transparent 66%),
        -webkit-linear-gradient(top, rgba(255, 255, 255, .25), rgba(0, 0, 0, .25)),
        -webkit-linear-gradient(left, #335EC4, #1F71F4);
    border-radius: 45px;
    background-size: 35px 20px, 100% 100%, 100% 100%;
}

progress::-webkit-progress-bar {
    background-image:
        -webkit-linear-gradient(-45deg, transparent 33%, rgba(0, 0, 0, .1) 33%, rgba(0, 0, 0, .1) 66%, transparent 66%),
        -webkit-linear-gradient(top, rgba(255, 255, 255, .25), rgba(0, 0, 0, .25)),
        -webkit-linear-gradient(left, #333, #666);
    border-radius: 45px;
    background-size: 35px 20px, 100% 100%, 100% 100%
}

progress {
    width: 100%;
    -webkit-appearance: none;
    -moz-appearance: none;
    width: 300px;
    height: 20px;
    font-family: 'Material Icons';
}

.progress_bar {
    position: fixed;
    left: 42%;
    top: 42%;
    z-index: 100;
    text-align: center;
}

progress::-webkit-progress-value {
    background-image:
	   -webkit-linear-gradient(-45deg, transparent 33%, rgba(0, 0, 0, .1) 33%, rgba(0,0, 0, .1) 66%, transparent 66%),
	   -webkit-linear-gradient(top, rgba(255, 255, 255, .25),  rgba(0, 0, 0, .25)),
	   -webkit-linear-gradient(left, #09c, #f44);
    border-radius: 5px; 
    background-size: 35px 20px, 100% 100%, 100% 100%;
}