/*Rental Inventory Movement Report*/
tbody {
    tr[data-rowtype="detail"]:nth-child(odd) {
        background-color: #DCDCDC;
    }
}

thead.main-header {
    border-top:2px solid black;
    border-bottom:2px solid black;
}