/*Rental Inventory Movement Report*/
tbody {
    tr.subValues:nth-child(odd) {
        background-color: #DCDCDC;
    }
}

thead.main-header {
    border-top:2px solid black;
    border-bottom:2px solid black;
}

th {
    padding: 0px 5px;
}

th.subHeaders{
    border-bottom:2px solid black;
}