#checkIn .searchresults { /*padding:5px;*/ }
#checkIn .fwmobilesearch .item.link:active {background-color: #455A64;}
#checkIn .fwmobilesearch .row1 {font-size:12px;font-weight: bold;padding: 2px 5px;background-color: #424242;}
#checkIn .fwmobilesearch .item.link .row1 {text-decoration:underline;}
#checkIn .fwmobilesearch .item.link:active .row1 {background-color: #607D8B;}
#checkIn .fwmobilesearch .item[data-inrepair="T"] .row1 {background-color: #F44336;}
#checkIn .fwmobilesearch .row2 {display:-webkit-box;display:-moz-box;display:-ms-flexbox;display:flex;flex-wrap:wrap;}
#checkIn .fwmobilesearch .col1 {flex: 1 1 0;}
#checkIn .fwmobilesearch .col2 {flex: 1 1 0;}
#checkIn .fwmobilesearch .datafield {display:-webkit-box;display:-moz-box;display:-ms-flexbox;display:flex;padding:2px;}
#checkIn .fwmobilesearch .caption {flex: 0 0 6em;font-size:.625em;color: #aaaaaa;}
#checkIn .fwmobilesearch .value {flex: 1 1 0;font-size:.625em;}
#checkIn .fwmobilesearch .item[data-inrepair="T"] .status .value {color: #F44336;}

#checkIn #checkIn-pendingList {display:none;}
#checkIn #checkIn-sessionInList { display: none; }
#checkIn .itemsearch .searchresults .item[data-itemclass="C"] .row1 {background-color:#8888ff;}
#checkIn .itemsearch .searchresults .item[data-itemclass="K"] .row1 {background-color:#03d337;}
#checkIn .itemsearch .searchresults .item[data-itemclass="N"] .row1 {background-color:#ffae84;}
#checkIn .itemsearch .searchresults .item[data-itemclass="C"],
#checkIn .itemsearch .searchresults .item[data-itemclass="CI"],
#checkIn .itemsearch .searchresults .item[data-itemclass="CO"] {border-left:6px solid #8888ff;}
#checkIn .itemsearch .searchresults .item[data-itemclass="K"],
#checkIn .itemsearch .searchresults .item[data-itemclass="KI"],
#checkIn .itemsearch .searchresults .item[data-itemclass="KO"] {border-left:6px solid #03d337;}
#checkIn .itemsearch .searchresults .item[data-itemclass="N"],
#checkIn .itemsearch .searchresults .item[data-itemclass="NI"] {border-left:6px solid #ffae84;}
#checkIn .itemsearch .searchresults .qtystillout .caption,
#checkIn .itemsearch .searchresults .qtystillout .value {color:#ff9800;}
#checkIn .itemsearch .searchresults .vendor .caption {flex: 0 0 9em;color:#ffb28c;}
#checkIn .itemsearch .searchresults .vendor .value {color:#ffb28c;}

#checkIn #checkIn-extraitems {display:none;}
#checkIn #checkIn-extraitems .extraitemlist-title {text-align:center;font-size:1em;background-color:#E65100;padding:10px;}

#checkIn-rfid {background-color: rgba(0,0,0,.5);display:none;}
#checkIn-rfid .rfidfilter {display:flex;height: 22px;line-height: 22px;padding: 10px 0;color: #e0e0e0;}
#checkIn-rfid .rfidfilter .rfidfilter-caption {flex:0 0 40px;padding:0 0 0 10px;cursor:default;}
#checkIn-rfid .rfidfilter .option {flex:1 0 auto;text-align:center;border-radius: 10px;cursor:pointer;margin:0 4px;}
#checkIn-rfid .rfidfilter .option.active#rfidfilter-all {background-color:#4caf50;}
#checkIn-rfid .rfidfilter .option.active#rfidfilter-processed {background-color:#2196f3;}
#checkIn-rfid .rfidfilter .option.active#rfidfilter-exceptions {background-color:#f44336;}
#checkIn-rfid .rfidpanel {padding: 4px 0;}

#checkIn-orderpriority {display:none;background-color: rgba(0,0,0,.5);}
#checkIn-orderpriority #orderprioritytitle {background-color: #546e7a;text-align: center;font-size: 18px;padding: 4px;}
#checkIn-orderpriority .order {}
#checkIn-orderpriority .order[data-checkininclude="F"] {opacity:0.5;}
#checkIn-orderpriority .order .ordertitle {padding:4px;background-color:#1a237e;}
#checkIn-orderpriority .order .orderbody {display:flex;}
#checkIn-orderpriority .order .orderdetails {font-size:12px;padding: 4px;}
#checkIn-orderpriority .order .orderdetails .caption {display:inline-block;width: 70px;}
#checkIn-orderpriority .order .orderdetails .value {display:inline-block;}
#checkIn-orderpriority .order .ordercontrols {margin-left:auto;display: flex;}
#checkIn-orderpriority .order .ordercontrols .material-icons {font-size: 32px;line-height:40px;}
#checkIn-orderpriority .order .ordercontrols .control {height:40px;width:40px;cursor:pointer;text-align:center;}
#checkIn-orderpriority .order[data-checkininclude="F"] .ordercontrols .clear {background-color: #f44336;}
#checkIn-orderpriority .order[data-checkininclude="T"] .ordercontrols .clear {background-color: #4caf50;}

#checkIn-qty-lblQty {margin:0 5px 0 0;}
#checkIn-qty-btnCheckIn {margin:10px 0;}
#checkIn-qty-btnCancel {margin:10px 0;}
#checkIn-summary table {margin:0 auto;}
#checkIn-summary table td.col1{width:100px;}
#checkIn-summary table td.col2{width:25px;}
#checkIn-summary table td.col3{width:100px;}
#checkIn-summary table td.col4{width:25px;}
#checkIn-buttons {position:fixed;bottom:20px;width:320px;background-color:rgba(180,180,180,.95);border-top:1px solid #000000;}
#checkIn-buttons button {margin:1px 0;}

#checkIn-popupQty {background-color:rgba(245,245,245,1.0);border-radius:6px;padding:10px;color:#000000;width:250px;}
#checkIn-popupQty-code { text-align: center; font-size: 12px; color: #000000; padding: 0 0 3px 0; }
#checkIn-popupQty-description {text-align:center;color:rgba(0,0,0,1);font-size:12px;font-weight:bold;}
#checkIn-popupQty-fields {background-color:#000000;}
#checkIn-popupQty-summary-table {width:220px;margin:0 auto;border-collapse:collapse;color:#00ff00;font-size:12px;}
#checkIn-popupQty-summary-table-tdMasterNo {text-align:center;color:#ffffff;}
#checkIn-popupQty-summary-table-tdMasterNo > span.label {}
#checkIn-popupQty-summary-table > tbody > tr > td {}
#checkIn-popupQty-summary-table > tbody > tr > td.col1 {width:70px;}
#checkIn-popupQty-summary-table > tbody > tr > td.col2 {width:35px;padding:0 5px;}
#checkIn-popupQty-summary-table > tbody > tr > td.col3 {width:70px;}
#checkIn-popupQty-summary-table > tbody > tr > td.col4 {width:35px;padding:0 0 0 5px;}
#checkIn-popupQty-summary-table-divVendor {width:220px;color:rgb(255,178,140);text-align:center;overflow:hidden;white-space:nowrap;text-overflow:ellipsis;}

.checkin-suspendedsessions {color:#000000;font-size:10px;padding:5px;background-color:rgba(0,0,0,.1);}
.checkin-suspendedsession {cursor:pointer;padding:2px 2px 2px 4px;margin:2px 0;border-left:5px solid #0000ff;border-top:1px solid #777777;border-bottom:1px solid #777777;border-right:1px solid #777777;background-color:#ffffff;}
.checkin-suspendedsession:active{background-color:#bbdefb;}
.checkin-suspendedsession-status-NEW {border-left:5px solid #ffff00;}
.checkin-suspendedsession-status-NEW .checkin-suspendedsession-status-label,
.checkin-suspendedsession-status-NEW .checkin-suspendedsession-status-value {background-color:#ffff00;}
.checkin-suspendedsession-status-ACTIVE {border-left:5px solid #00ff00;}
.checkin-suspendedsession-status-ACTIVE .checkin-suspendedsession-status-label,
.checkin-suspendedsession-status-ACTIVE .checkin-suspendedsession-status-value {background-color:#00ff00;}
/*.checkin-suspendedsession:not(:first-child) {border-top:1px solid #000000;}*/
.checkin-suspendedsession-row {overflow:hidden;}
.checkin-suspendedsession-statusdate-label {float:left;width:25%;box-sizing:border-box;font-weight:bold;}
.checkin-suspendedsession-statusdate-value {float:left;width:35%;box-sizing:border-box;}
.checkin-suspendedsession-sessionno-label {float:left;width:25%;box-sizing:border-box;font-weight:bold;text-decoration:underline;color:#0000ff;}
.checkin-suspendedsession-sessionno-value {float:left;width:35%;box-sizing:border-box;text-decoration:underline;color:#0000ff;}
.checkin-suspendedsession-orderno-label {float:left;width:25%;box-sizing:border-box;font-weight:bold;}
.checkin-suspendedsession-orderno-value {float:left;width:25%;box-sizing:border-box;}
.checkin-suspendedsession-orderdesc-label {float:left;width:25%;box-sizing:border-box;font-weight:bold;}
.checkin-suspendedsession-orderdesc-value {float:left;width:25%;box-sizing:border-box;}
.checkin-suspendedsession-deal-label {float:left;width:25%;box-sizing:border-box;font-weight:bold;}
.checkin-suspendedsession-deal-value {float:left;width:75%;box-sizing:border-box;}
.checkin-suspendedsession-status-label {float:left;width:15%;box-sizing:border-box;font-weight:bold;padding:0 2px;border-top:1px solid #777777;border-bottom:1px solid #777777;border-left:1px solid #777777;}
.checkin-suspendedsession-status-value {float:left;width:25%;box-sizing:border-box;padding:0 2px;border-top:1px solid #777777;border-bottom:1px solid #777777;border-right:1px solid #777777;}
.checkin-suspendedsession-username-label {float:left;width:25%;box-sizing:border-box;font-weight:bold;}
.checkin-suspendedsession-username-value {float:left;width:75%;box-sizing:border-box;}

#checkIn-qty-btnSubtract,
#checkIn-qty-btnAdd {min-width:40px;display:inline;}

#checkIn-serial {background-color: rgba(0,0,0,.5);display:none;}
#checkIn-serial .serial-title {background-color:#546e7a;padding:4px;font-size:14px;} 
#checkIn-serial .serial-title .serial-title-object {text-align:center;} 
#checkIn-serial .serial-details {background-color:#212121;padding:4px;color:#00c853;font-size: 14px;} 
#checkIn-serial .serial-details .serial-details-row {display:-webkit-box;display:-moz-box;display:-ms-flexbox;display:-webkit-flex;display:flex;} 
#checkIn-serial .serial-details .serial-details-row .serial-details-row-caption {flex:1 0 80px;width:80px;text-align: right;margin-right: 5px;} 
#checkIn-serial .serial-details .serial-details-row .serial-details-row-value {flex:1 0 80px;width:80px;} 
#checkIn-serial .serialitem.standard {background-color:#fafafa;color:#212121;border-bottom:1px solid #546e7a;cursor:pointer;overflow:auto;line-height:44px;} 
#checkIn-serial .serialitem.standard.in {background-color:#4caf50;} 
#checkIn-serial .serialitem.standard .serialitem-caption {font-size:14px;padding:0 10px 0 20px;float:left;} 
#checkIn-serial .serialitem.standard .serialitem-value {font-weight:bold;font-size:16px;float:left;} 
 
#checkIn-serial .serialitem.metered {background-color:#fafafa;color:#212121;border-bottom:1px solid #546e7a;border-left:10px solid #f44336;} 
#checkIn-serial .serialitem.metered.valueset {border-left:10px solid #4caf50;} 
#checkIn-serial .serialitem.metered .serialitem-row {cursor:pointer;overflow:auto;line-height:44px;} 
#checkIn-serial .serialitem.metered .serialitem-row .serialitem-caption {font-size:14px;padding:0 10px 0 20px;float:left;} 
#checkIn-serial .serialitem.metered .serialitem-row .serialitem-value {font-weight:bold;font-size:16px;float:left;} 
#checkIn-serial .serialitem.metered .serialitem-row .serialitem-metericon {float:right;padding:0 10px 0 0;height:44px;} 
#checkIn-serial .serialitem.metered .serialitem-row .serialitem-metericon i {font-size:32px;line-height:44px;} 
#checkIn-serial .serialitem.metered .serialitem-meter-dropdown {display:none;} 
#checkIn-serial .serialitem.metered .serialitem-meter-dropdown .serialitem-meter-dropdown-row {font-weight:bold;overflow:auto;line-height:44px;} 
#checkIn-serial .serialitem.metered .serialitem-meter-dropdown .serialitem-meter-dropdown-row .serialitem-meter-dropdown-caption {padding:0 10px 0 40px;float:left;font-size:14px;} 
#checkIn-serial .serialitem.metered .serialitem-meter-dropdown .serialitem-meter-dropdown-row .serialitem-meter-dropdown-value {text-align:right;float:right;width:130px;text-align:center;} 
#checkIn-serial .serialitem.metered .serialitem-meter-dropdown .serialitem-meter-dropdown-row .meterinvalue {background-color:#f44336;cursor:pointer;} 
#checkIn-serial .serialitem.metered .serialitem-meter-dropdown .serialitem-meter-dropdown-row .meterinvalue.valueset {background-color:#4caf50;} 

#checkIn-serial .zeroitems {text-align:center;padding:10px;background-color:#bdbdbd;color:#212121;}

#checkIn #checkIn-bottomtray {position:fixed;bottom:0;left:0;right:0;background-color:#424242;}
#checkIn #checkIn-bottomtray .item {display:flex;flex:1 0 auto;margin:2px 10px;line-height:32px;}
#checkIn #checkIn-bottomtray .item .caption {margin-right:5px;}
#checkIn #checkIn-bottomtray .btnclear {display:inline-block;line-height:30px;padding:0 6px;background-color:#2196F3;border:1px solid #3F51B5;cursor:pointer;margin:2px 10px;}
#checkIn #checkIn-bottomtray .btnclear:hover {background-color:#1976d2;}
#checkIn #checkIn-bottomtray .orderlocation {display:flex;}
#checkIn #checkIn-bottomtray .aisleshelf {display:flex;}

#checkIn-orderlocation {display:none;}
#checkIn #checkIn-orderlocation .orderlocations {background-color: #212121;padding:5px;}
#checkIn #checkIn-orderlocation .orderlocations .location {padding: 0 0 12px 0;cursor:pointer;}
#checkIn #checkIn-orderlocation .orderlocations .location.selected {background-color: rgba(33, 150, 243, 0.5);}
#checkIn #checkIn-orderlocation .orderlocations .location.selected .row1 {background-color: rgba(33, 150, 243, 0.5);}
#checkIn #checkIn-orderlocation .orderlocations .zeroitems {text-align:center;padding:10px 0;}
#checkIn #checkIn-orderlocation .orderlocations .location .row1 {font-size:12px;font-weight: bold;padding: 2px 5px;background-color: #424242;}
#checkIn #checkIn-orderlocation .orderlocations .location .row2,
#checkIn #checkIn-orderlocation .orderlocations .location .row3 {display:-webkit-box;display:-moz-box;display:-ms-flexbox;display:flex;flex-wrap:wrap;}
#checkIn #checkIn-orderlocation .orderlocations .location .col1 {flex: 1 1 0;}
#checkIn #checkIn-orderlocation .orderlocations .location .col2 {flex: 1 1 0;}
#checkIn #checkIn-orderlocation .orderlocations .location .datafield {display:-webkit-box;display:-moz-box;display:-ms-flexbox;display:flex;padding:2px;}
#checkIn #checkIn-orderlocation .orderlocations .location .caption {flex: 0 0 6em;font-size:.625em;color: #aaaaaa;}
#checkIn #checkIn-orderlocation .orderlocations .location .value {flex: 1 1 0;font-size:.625em;}