[data-control="FwAppImage"] {background-color:#333333;}
[data-control="FwAppImage"] .title {color:#ffffff;text-align:center;padding:5px 0;background-color:#222222;display:none;}
[data-control="FwAppImage"] .toolbar {background-color:rgba(255,255,255,.1);color:#ffffff;display:flex;}
[data-control="FwAppImage"][data-enabled="false"] .toolbar {display:none;}
[data-control="FwAppImage"] .toolbar .button {flex:0 0 auto;display:flex;padding:2px;cursor:pointer;}
[data-control="FwAppImage"] .toolbar .button .caption {padding:0 5px;display:none;}
[data-control="FwAppImage"] .toolbar .button:hover {background-color:rgba(255,255,255,.2);}
[data-control="FwAppImage"] .toolbar .button:hover .caption {text-decoration:underline;}
[data-control="FwAppImage"] .labeladdnote {padding:2px 5px;font-size:12px;font-weight:bold;}
[data-control="FwAppImage"] .imageviewer {display:flex;}
[data-control="FwAppImage"] div.images {flex:1 1 0;overflow:hidden;}
[data-control="FwAppImage"] .fullsizeimagepager {display:flex;}
[data-control="FwAppImage"] .pageleftcontainer {flex: 0 0 auto;cursor:pointer;color:#ffffff;display:flex;flex-direction:column;align-content:center;justify-content:center;}
[data-control="FwAppImage"] .pageleftcontainer:hover {background-color:#1976d2;}
[data-control="FwAppImage"] .pagerightcontainer {flex: 0 0 auto;cursor:pointer;color:#ffffff;display:flex;flex-direction:column;align-content:center;justify-content:center;}
[data-control="FwAppImage"] .pagerightcontainer:hover {background-color:#1976d2;}
[data-control="FwAppImage"] div.image {flex:1 1 0;min-height:10px;background-color:#000000;border:1px solid #000000;cursor:pointer;height:100%;display:flex;flex-direction:column;justify-content:center;align-items:center;position:relative;}
[data-control="FwAppImage"] div.image > div.imagecontrol {display:flex;}
[data-control="FwAppImage"] div.image > div.imagecontrol > div.imagecontainer {display:flex;flex-direction:column;width:200px;height:200px;}
[data-control="FwAppImage"] div.image > div.imagecontrol > div.imagecontainer > .fullsizeimage {flex:1 1 0;background-size: contain;background-repeat: no-repeat;background-position:center center;}
[data-control="FwAppImage"] div.image > div.datestamp {text-align:center;font-size:10px;background-color:#000000;color:#ffffff;}

[data-control="FwAppImage"] div.images .thumbnails {display:flex;flex-wrap:nowrap;overflow:auto;}
[data-control="FwAppImage"] div.images .thumbnails .thumb{flex:0 0 auto;cursor:pointer;display:block;margin:2px;height:100px;width:100px;background-repeat:no-repeat;background-size:contain;background-position: center center;}

.FwAppImageUploadImageConfirmation .pasteimage.dragover {outline:1px solid #0000ff;}
.FwAppImageUploadImageConfirmation .button.default {color: #fff;background-color:#1976d2;text-align:center;cursor:pointer;border: none;border-radius: 2px;display: inline-block;height: 36px;line-height: 36px;outline: 0;padding: 0 2rem;text-transform: uppercase;vertical-align: middle;-webkit-tap-highlight-color: transparent;text-decoration: none;box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12);letter-spacing: .5px;transition: .2s ease-out;}
.FwAppImageUploadImageConfirmation .button.default:hover {background-color:#1e88e5;box-shadow: 0 5px 11px 0 rgba(0,0,0,0.18),0 4px 15px 0 rgba(0,0,0,0.15);}
