<ApplicationConfig>
  <Dev>
    <Debug>true</Debug>
  </Dev>
  <Sites>
    <Site Name="Default">
      <DatabaseConnections>
        <DatabaseConnection Name="RentalWorks">
          <Server>sqldemo01.dbwcloud.com</Server>
          <Database>rentalworksdev</Database>
        </DatabaseConnection>
      </DatabaseConnections>
    </Site>
  </Sites>
</ApplicationConfig>
