<div id="header" style="margin:-15px;padding:24px;min-width:627px; box-sizing: border-box; font-size: 11px; display:flex;/*border:1px solid #000000;*/box-sizing:border-box;">
  <div style="flex: 1 1 0; font-size: 18px; text-align: center; font-weight: bold; white-space: nowrap;">Customer Revenue By Type</div>
</div>