/* PhyInvItemView */
#phyInvItemView-qty input {width:70px;margin:0 10px;text-align:center;}
#phyInvItemView-add {width: 65px;margin:0 10px 0 0;font-size:14px;}
#phyInvItemView-replace{width: 65px;font-size:14px;}