/* Sales Inventory Transactions Report */
[applicationstylesheet]
/*.body {page-break-after: always;}*/
.body tbody tr[data-rowtype="totals"] div{font-weight:bold;}
.body .header {position:relative;}
.body thead td{
    border-bottom: 1px solid black;
    text-align: left;
    background-color: #fff;
}
    .body thead td div {
        font-size: 14px;
    }
.alignleft {
    float: left;
    width: 33.33333%;
    text-align: left;
    padding: 5px 0px 5px 0px;
}

.aligncenter {
    float: left;
    width: 33.33333%;
    text-align: center;
    padding: 5px 0px 5px 0px;
}

.alignright {
    float: left;
    width: 33.33333%;
    text-align: right;
    padding: 5px 0px 5px 0px;
}

​ .location {
    font-weight: bold;
}
.totalrow {font-weight:bold;background-color:#ffffff !important;border-top:1px solid #000000;}
.totalrow td div {padding:5px 0;font-size:16px !important;}
td div.row1 {
    font-size: 14px;
    padding: 15px 0px 15px 0px;
}
    /*td div.rotate {
        transform:
        translate(25px, 51px)
        rotate(315deg);
        width: 30px;
        height: 140px;
        white-space: nowrap;
        border-bottom: 1px solid #ccc;
        padding: 5px 10px;
    }*/
td div.row2 {padding:0 0 0 10px;min-height: 16px;}
td div.row3 {padding:0 0 0 20px;min-height: 16px;}
td div.row4 {padding:0 0 0 30px;min-height: 16px;}
/*tbody tr td {border: 1px solid black;}*/
tr td div {padding: 5px 0px 5px 0px; min-height: 16px;}
.exportedcaption {font-weight:bold;font-size:16px;}
.body tfoot tr {border-top: 1px solid black;}
.body tfoot td > div {line-height:16px;vertical-align:middle;font-size:14px;padding: 10px 0;font-weight: bold;}
