/*Sub-Sales Staged Items Report*/
tbody {
    td:after {
        content: attr(data-value);
    }
    td {
        padding: 3px;
    }
    tr[data-rowtype="detail"]:nth-child(odd) {
        background-color: #DCDCDC;
    }
}

thead {
    th {
        border-bottom: 2px solid #000000;
        font-weight: bold;
        padding: 5px;
        white-space: nowrap;
    }
}