/***************************
FwPage
***************************/
html.theme-default .fwpage {color:#282628;}
html.theme-default .fwpage .fwpage-title {font-size:20px;padding:5px 15px;background-image:linear-gradient(#476984,#364f65);color: #ebebee;border-bottom:1px solid #1a2631;}
html.theme-default .fwpage .fwpage-body {padding:20px 20px 10px 20px;overflow:auto;}

/***************************
FwForm
***************************/
html.theme-default .fwform {color:#282628;background-color:rgba(210,210,210,1);}
html.theme-default .fwform[data-rendermode="designer"] {min-height:15px;}
html.theme-default .fwform-title {font-size:20px;font-weight:bold;color:#39546B;}
html.theme-default .fwform[data-rendermode="runtime"] .fwform-body {}
html.theme-default .fwform[data-rendermode="designer"] .fwform-body {padding:0 0 16px 0;}

/***************************
Section
***************************/
/*#region Default Theme*/
html.theme-default .fwform-section {}
html.theme-default .fwform-section-title {padding:5px;font-weight:bold;font-size:14px;text-align:center;cursor:default;background-color: #9e9e9e;color:#212121;}
html.theme-default .fwform-section-body {min-height:1px;padding:10px;/*overflow:auto;*/}
/*#endregion Default Theme*/

/***************************
FieldRow
***************************/
html.theme-default .fwform-fieldrow {margin: 0 0 5px 0;}
html.theme-default .fwform-fieldrow:after {content:"";display:table;clear:both;}
html.theme-default .fwform-fieldrow[data-rendermode="designer"] > .children {margin:1px;min-height:1px;padding:0px 0px 16px 0px;}
html.theme-default .fwform-fieldrow[data-rendermode="designer"] > .children:after {content:"";display:table;clear:both;}

/***************************
FwDesignerHandle
***************************/
html.theme-default .fwcontainer .fwdesignerhandle { background-color: lightblue; }

/***************************
FwGroupBox
***************************/
html.theme-default .fwgroupbox {margin:5px;padding:0px;border:1px solid #A1A1A1;}
html.theme-default .fwgroupbox .groupbox-title{font-weight:bold;font-size:14px;text-align:center;line-height:24px;height:24px;cursor:default;color:#555555;border-bottom:1px solid rgba(0,0,0,.2);background-image:linear-gradient(#dddddd,#bbbbbb);}
html.theme-default .fwgroupbox .groupbox-body {min-height:1px;padding:10px;background-color: rgba(200,200,200,.7);}
html.theme-default .fwgroupbox .groupbox-body:after {content:"";display:table;clear:both;}

/***************************
Status
***************************/
html.theme-default .fwstatus {margin:5px;}

/***************************
Structure
***************************/
html.theme-default.transworks .formpage {min-width:1121px;display:inline-block;}
html.theme-default .formpage {}
html.theme-default .formpage:after {content:"";display:table;clear:both;}
html.theme-default .formrow:after {content:"";display:table;clear:both;}
html.theme-default .formcolumn {float:left;width:50%;}
html.theme-default .fwgroupbox.half {float:left;min-width:458px;}
html.theme-default .fwgroupbox.quarter {float:left;min-width:224px;}

html.theme-default .fwform-section.half{float:left;min-width:472px;}