/*RentalInventoryChangeReport*/
tbody {
    tr[data-rowtype="detail"]:nth-child(odd) {
        background-color: #DCDCDC;
    }

    td:after {
        content: attr(data-value);
    }

    td {
        padding: 3px;
    }
}

thead {
    th {
        border-top: 2px solid #000000;
        border-bottom: 2px solid #000000;
        font-weight: bold;
        padding: 5px;
        white-space: nowrap;
    }
}

.header-row {
    font-weight: bold;
    font-size: 12px;
}

.header-row:not(.lower) {
    padding-top: 8px;
}

.total-row {
    font-weight: bold;
    border-top: 1.5px solid black;
    padding-top: 10px;
}
.name-row {
    font-weight: bold;
    padding-top: 15px;
    font-size: 12px;
}

.total-row {
    font-weight: bold;
    border-top: 1.5px solid black;
    padding-top: 10px;
}

.rpt-flexrow-ROA {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
}
