#inventoryWebImage-buttons {text-align:center;padding:30px 0;}
#inventoryWebImage-btnTakePicture img{vertical-align:middle;margin:0 10px 0 0;width:22px;height:22px;}
#inventoryWebImage-images {text-align:center;}
#inventoryWebImage-images img {height:100px;border:1px solid #aaaaaa;border-radius:2px;}
#inventoryWebImage-images img:not(:first-child) {margin-left:1px;}
#inventoryWebImage-pnlUpdate {background-color:rgba(0,0,0,.3);border-top:1px solid #000000;}

#inventoryWebImage #scancontrol {}

#inventoryWebImage .fwmobilecontrol-control {}
#inventoryWebImage .fwmobilecontrol-value {text-transform:uppercase;text-align:center;}
#inventoryWebImage .fwmobilecontrol-value::-webkit-input-placeholder {text-transform: none;}
#inventoryWebImage .fwmobilecontrol-value:-moz-placeholder {text-transform: none;}
#inventoryWebImage .fwmobilecontrol-value::-moz-placeholder {text-transform: none;}
#inventoryWebImage .fwmobilecontrol-value:-ms-input-placeholder {text-transform: none;}

#inventoryWebImage .iwi-item {display:none;}
#inventoryWebImage .iwi-item .iwi-item-title {}
#inventoryWebImage .iwi-item .iwi-item-title .iwi-item-description {font-size: 18px;background-color: #546e7a;padding: 5px;text-align: center;}
#inventoryWebImage .iwi-item .iwi-item-title .iwi-item-details {background-color: #37474f;padding:5px 10px;font-size: 12px;display:flex;}
#inventoryWebImage .iwi-item .iwi-item-title .iwi-item-detail {flex:1;}
#inventoryWebImage .iwi-item .iwi-item-title .iwi-item-detail .caption {display: inline-block;width: 70px;}
#inventoryWebImage .iwi-item .iwi-item-title .iwi-item-detail .value {display: inline-block;}
#inventoryWebImage .iwi-item .iwi-item-images {text-align: center;background-color: #212121;}
#inventoryWebImage .iwi-item .iwi-item-images img {height:100px;}
#inventoryWebImage .iwi-item .iwi-item-images img:not(:first-child) {margin-left:1px;}
#inventoryWebImage .iwi-item .iwi-item-images .nopicturesfound {padding:10px 0;}

#inventoryWebImage .iwi-status {background-color: #f44336;padding: 10px;color: rgba(0,0,0,0.87);display: none;text-align: center;}