/*Rental Inventory Status and Revenue Report*/
tbody {
    tr.subValues {
        text-align: left;
        padding-bottom: 2px;
        padding-left: 3px;
    }

    th.subHeaders {
        text-align: left;
        border-bottom: 2px solid black;
        padding-left: 3px;
    }
}

tbody[data-rowtype="detail"]:nth-of-type(even) {
    background-color: #DCDCDC;
}

.main-header {
    border-top: 2px solid #000000;
    border-bottom: 2px solid #000000;
    font-weight: bold;
    padding: 5px;
    white-space: nowrap;
}
