/*Invoice Report*/
body {
    font-size: 15px;
    margin: 0;
    padding: 10px;
}

tbody[data-rowtype="detail"]:nth-child(even) {
    /*background-color: #DCDCDC;*/
}

.sub-header tr > td {
    padding: 0;
    width: 33.3%;
}

.att-text-align {
    padding-left: 75px;
}

.sub-header-left {
    align-self: flex-start;
}

.sub-header-center {
    align-self: center;
}

.sub-header-right {
    align-self: flex-end;
}

.header-center {
    align-self: center;
    font-size: 15px;
    margin-top: 5px;
}

.header-right {
    align-self: flex-end;
    font-size: 15px;
}

.header-left {
    align-self: flex-start;
    font-size: 15px;
}

.company-header {
    align-self: flex-start;
    font-size: 15px;
}

.rectype-header td {
    border-bottom: 2px solid #000000;
    font-weight: bold;
    padding: 5px;
    white-space: nowrap;
}

.headerRow {
    background-color: #f1f8e9;
}

.textRow {
    font-weight: normal;
    font-style: italic;
}

.subTotalRow {
    background-color: #c8e6c9;
}

.alignRight {
    text-align: right;
}

.tax {
    padding: 4px 3px 4px 0px;
}

/* Report Colors */
.rptNumberSection {
  background-color: #e3f2fd;
  color: #027cc5;
  border: 2px solid #212121;
  padding: 5px 10px;
  font-size: 26px;
  text-align: center;
}

.sub {
  border-top: 2px solid #027cc5;
  border-bottom: 2px solid #027cc5;
  background-color: #e3f2fd;
}

.sectionBorder {
  border-top: 2px solid #027cc5;
}

.shaded-activity-total {
  background-color: #e3f2fd;
  font-weight: 600;
  vertical-align: top;
}

.shaded-totals {
  background-color: #ffffff;
}

.grandTotalAllActivities {
  background-color: #e8f5e9;
  width: 110px;
  text-align: right;
  font-weight: bold;
  border-top: 1.5px solid black;
  padding: 10px 0px 6px 0px;
}