/*Sub-Rental Billing Analysis Report*/
tbody {
    tr[data-rowtype="detail"]:nth-child(odd) {
        background-color: #DCDCDC;
    }

    td:after {
        content: attr(data-value);
    }

    td {
        padding: 3px;
    }
}

thead {
    th {
        border-bottom: 2px solid #000000;
        font-weight: bold;
        padding: 5px;
        white-space: nowrap;
    }
}

.noBorder {
    border-top: none;
    border-bottom: none;
}

@page {
    size: landscape;
    margin: 10px 10px 10px 10px; // Adds margin on the pdf
}