/*Order Status Detail Report*/
tbody {
    td:after {
        content: attr(data-value);
    }

    td {
        padding: 3px;
    }
}
tbody[data-rowtype="detail"]:nth-child(even) {
    background-color: #DCDCDC;
}
.sub-header tr > td {
    padding: 0;
    width: 33.3%;
}
.att-text-align {
    padding-left: 75px;
}

.sub-header-left {
    align-self: flex-start;
}
.sub-header-center {
    align-self: center;
}
.sub-header-right {
    align-self: flex-end;
}

.header-center {
    align-self: center;
    font-size: 13px;
    margin-top: 5px;
}

.header-right {
    align-self: flex-end;
    font-size: 13px;
}

.header-left {
    align-self: flex-start;
    font-size: 13px;
}

body {
    font-size: 13px;
    margin: 0;
    padding: 15px;
}

thead {
    th {
        font-weight: bold;
        padding: 5px;
        white-space: nowrap;
    }
    th:not(.sub) {
        border-bottom: 2px solid #000000;
    }
}
.sub {
    border-top: 2px solid #027cc5;
    border-bottom: 2px solid #027cc5;
    background-color: #DCDCDC;
}
span {
    .marker {
        background-color: yellow;
    }
}

.qrcode {
    height: 75px;
    width: 100px;
}

@page {
    size: landscape;
    //margin: 10px 10px 10px 10px; // Adds margin on the pdf
}
