<!-- Deal Invoice Batch Report-->
<div class="rpt-flexrow" style="margin:5px 0px 0px 4px;">
  <div class="rpt-header-center">
    <div style="font-weight:600">Charge Batch Report</div>
    <div style="font-weight:600">
      <span>Batch No: {{BatchNumber}}</span> - 
      <span>Date: {{Date}}</span>
    </div>
    <div class="header-left">
      <span>Office: {{Office}}</span>
    </div>
  </div>
</div>
<div class="rpt-flexrow" style="margin-top:25px;">
  <table>
    <thead class="mainHeader">
      <tr class="columnheadings">
        <th>Customer</th>
        <th>Deal</th>
        <th>Inv. No.</th>
        <th>Inv. Date</th>
        <th>Order No.</th>
        <th>PO No.</th>
        <th>Invoice Description</th>
        <th>Bill Start</th>
        <th>Bill End</th>
        <th>Invoice Total</th>
      </tr>
    </thead>
    <tbody>
      <tr></tr>
    </tbody>
  </table>
</div>