/*RentalInventoryChangeReport*/
tbody {
    tr[data-rowtype="detail"]:nth-child(odd) {
        background-color: #DCDCDC;
    }
}

thead {
    th {
        border-top: 2px solid #000000;
        border-bottom: 2px solid #000000;
        font-weight: bold;
        padding: 5px;
        white-space: nowrap;
    }
}

.rpt-flexrow-ROA {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
}
