$line-height: 16px;
$normal-text: 1em;

/*@import url('https://fonts.googleapis.com/css?family=Lato|Roboto|Open+Sans');*/

html {
    height: 100%;
}

body {
    font-family: Arial, sans-serif;
    /*font-family: 'Roboto', sans-serif;*/
    font-size: 12px;
    height: 100%;
}

@media only screen {
    .parameters {
        display: block;
    }
}

@media only print {
    .parameters {
        display: none;
    }
}

@mixin flexfield($captionwidth) {
    display: flex;
    height: $line-height;
    line-height: $line-height;
    @content;

    .caption {
        flex: 0 0 $captionwidth;
        height: $line-height;
        line-height: $line-height;
        font-size: $normal-text;
        font-weight: bold;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    .value {
        flex: 1 1 0;
        height: $line-height;
        line-height: $line-height;
        font-size: $normal-text;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }
}

.flexfield-50 {
    @include flexfield(50px);
}

.flexfield-75 {
    @include flexfield(75px);
}

.flexfield-85 {
    @include flexfield(85px);
}

.flexfield-150 {
    @include flexfield(150px);
}

.label {
    height: $line-height;
    line-height: $line-height;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: $normal-text;
}

.BillingStartDate {
    text-align: center;
    border-bottom: 1px solid #000000;
    padding: 40px 0 0 0;
}

.IssuedTo {
    .IssuedToCaption {
        text-align: center;
        border-bottom: 1px solid #000000;
        font-size: $normal-text;
        font-weight: bold;
    }

    .add1, .add2, .add3 {
        height: $line-height;
        line-height: $line-height;
        font-size: $normal-text;
    }

    .phone {
        margin: 20px 0 0 0;
    }

    .fax {
    }
}


#tblRentalItems {
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0 0 0;

    colgroup {
        .ICode {
            width: 150px;
        }

        .Description {
            width: 100%;
        }

        .QtyOrdered {
            width: 100px;
        }

        .Out {
            width: 100px;
        }

        .TotalOut {
            width: 100px;
        }
    }

    thead {
        tr.columnheadings {
            th {
                font-weight: bold;
                padding: 5px;
                white-space: nowrap;
                border-top: 1px solid #000000;
                border-bottom: 1px solid #000000;
            }
                
            .ICode {
                border-left: 1px solid #000000;
                text-align: left;
            }

            .Description {
                width: 100%;
                text-align: left;
            }

            .QtyOrdered {
                width: 150px;
                text-align: right;
            }

            .Out {
                width: 150px;
                text-align: right;
            }

            .TotalOut {
                width: 150px;
                text-align: right;
                border-right: 1px solid #000000;
            }
        }

        tr.caption {
            text-align: center;
            font-size: 1.5em;
            font-weight: bold;
        }
    }

    tbody {
        td {
            white-space: nowrap;
            padding: 2px 5px;
            font-size: .9em;
        }

        .ICode {
        }

        .Description {
        }

        .QtyOrdered {
            text-align: right;
        }

        .Out {
            text-align: right;
        }

        .TotalOut {
            text-align: right;
        }
    }
}

#pagecontainer {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    flex-direction: column;
    max-width: 768px;

    #pageHeader {
        flex: 0 0 auto;
    }

    #contractHeader {
        flex: 0 0 auto;
    }

    #rentalItems {
        flex: 1 1 1px;
    }

    #receivedBy {
        flex: 0 0 auto
    }

    #pageFooter {
        flex: 0 0 auto;
        margin: $line-height 0 0 0;
    }
}

@media screen {
    #pagecontainer {
        #header, #footer {
            width: auto !important;
        }
    }
}

@media print {
    #pagecontainer {
        #pageHeader {
            display: none;

        }

        #pageFooter {
            display: none;
        }
    }
}

fieldset {
    border: 1px solid #000000;
    height: 200px;

    legend {
        text-align: center;
        font-weight: bold;
    }
}

.receivedbyfield {
    width: 150px;
    page-break-inside: avoid;

    .value {
        border-bottom: 1px solid #000000;
        white-space: nowrap;
    }

    .caption {
        white-space: nowrap;
    }
}
