<script id="designer_designer_template" type="text/x-handlebars-template">
    <div class="modal-content design_module_section">
        <div class="design_module">
            <div class="icon"><i class="material-icons">dns</i></div>
            <div class="caption center">Container</div>
        </div>
        <div class="design_module">
            <div class="icon"><i class="material-icons">chrome_reader_mode</i></div>
            <div class="caption center">Panel</div>
        </div>
        <div class="design_module">
            <div class="icon"><i class="material-icons">flip_to_front</i></div>
            <div class="caption center">Form</div>
        </div>
        <div class="design_module">
            <div class="icon"><i class="material-icons">view_headline</i></div>
            <div class="caption center">Grid</div>
        </div>
        <div class="design_module">
            <div class="icon"><i class="material-icons">view_week</i></div>
            <div class="caption center">Column</div>
        </div>
        <div class="design_module">
            <div class="icon"><i class="material-icons">view_stream</i></div>
            <div class="caption center">Row</div>
        </div>
    </div>
</script>