<script id="designer_filenav_template" type="text/x-handlebars-template">
    {{#each folders}}
    <li class="nav-item" title="Edit {{folderName}}" data-toggle="dropdown" data-index="{{@index}}" style="cursor: pointer;">
        <div class="dropdown">
            <a class="file_menu_option nav-link dropdown-toggle" id="dropdownMenuButton2" data-toggle="dropdown">{{folderName}}</a>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton2">
                {{#each files}}
                <a class="editable_file dropdown-item" title="Edit {{fileName}}" data-index="{{@index}}">{{fileName}}</a>
                {{/each}}
                <div class="dropdown-divider"></div>
                <a class="expand_module_folder dropdown-item">Expand All</a>
                <!--<a class="edit_module_folder dropdown-item">Edit</a>
                <a class="delete_module_folder dropdown-item">Delete</a>-->
                <div class="dropdown-divider"></div>
                <a class="close_full_module dropdown-item">Close</a>
            </div>
        </div>
    </li>
    {{/each}}
</script>