<script id="designer_options_context_template" type="text/x-handlebars-template">
    <nav class="navbar navbar-toggleable-md navbar-inverse bg-inverse bg-faded" style="background-color: #565a5d !important;">
        <div class="collapse navbar-collapse">
            <ul class="context_menu_nav navbar-nav" id="default_options" style="display: none;">
                <li>
                    <samll class="form-text" style="color: white;">No options found.</samll>
                </li>
            </ul>
            <ul class="context_menu_nav navbar-nav" id="edit_options" style="display: none;">
                <li>
                    <samll class="form-text" style="color: white;">No options found.</samll>
                </li>
            </ul>
            <ul class="context_menu_nav navbar-nav" id="preview_options" style="display: none;">
                <li class="nav-item active" data-toggle="dropdown" style="cursor: pointer;">
                    <div class="form-group">
                        <samll class="form-text text-muted" style="color: white !important;">Render Style Type</samll>
                        <select class="form-control" id="render_style_select">
                            <option value="theme-default">Default</option>
                            <option value="theme-classic">Classic</option>
                            <option value="theme-material">Material</option>
                        </select>
                    </div>
                </li>
                <li>
                    <div>
                        <samll class="form-text text-muted" style="color: white !important;">Display Size</samll>
                        <div class="form-check form-check-inline" style="margin-top: 6px;">
                            <label class="form-check-label">
                                <input class="form-check-input display_size_option" type="radio" name="displaysizeoption" id="inlineRadio3" value="1">
                                <i class="material-icons">desktop_windows</i>
                            </label>
                        </div>
                        <div class="form-check form-check-inline" style="margin-top: 6px;">
                            <label class="form-check-label">
                                <input class="form-check-input display_size_option" type="radio" name="displaysizeoption" id="inlineRadio2" value="2">
                                <i class="material-icons">tablet</i>
                            </label>
                        </div>
                        <div class="form-check form-check-inline" style="margin-top: 6px;">
                            <label class="form-check-label">
                                <input class="form-check-input display_size_option" type="radio" name="displaysizeoption" id="inlineRadio1" value="3">
                                <i class="material-icons">smartphone</i>
                            </label>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </nav>
</script>