<?xml version="1.0" encoding="utf-16"?>
<FwApplicationSchema xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <Modules />
  <Grids />
  <Validations>
    <Validation ValidationName="ContainerDescriptionValidation">
      <Browse DatabaseConnection="RentalWorks" TableName="masterview">
        <UniqueIds>
          <Column Caption="containerid" ColumnName="containerid" DataType="key" SqlDataType="char" SqlIsNullable="false" SqlCharacterMaximumLength="8" SqlNumericPrecision="0" SqlNumericScale="0" SqlIsIdentity="false" ReadOnly="true" Required="false" ValidationName="" ValidationDisplayField="" NoDuplicate="true" ExportToExcel="true" TabCaption="" />
        </UniqueIds>
        <Columns>
          <Column Caption="Description" ColumnName="master" DataType="text" SqlDataType="varchar" SqlIsNullable="false" SqlCharacterMaximumLength="255" SqlNumericPrecision="0" SqlNumericScale="0" SqlIsIdentity="false" ReadOnly="true" Required="false" ValidationName="" ValidationDisplayField="true" NoDuplicate="false" ExportToExcel="true" TabCaption="" />
          <Column Caption="inactive" ColumnName="inactive" DataType="checkbox" SqlDataType="char" SqlIsNullable="false" SqlCharacterMaximumLength="3" SqlNumericPrecision="0" SqlNumericScale="0" SqlIsIdentity="false" ReadOnly="false" Required="true" ValidationName="" ValidationDisplayField="" NoDuplicate="false" ExportToExcel="false" TabCaption="" />
        </Columns>
      </Browse>
    </Validation>
    <Validation ValidationName="ManufacturerValidation">
      <Browse DatabaseConnection="RentalWorks" TableName="vendor">
        <UniqueIds>
          <Column Caption="vendorid" ColumnName="vendorid" DataType="key" SqlDataType="char" SqlIsNullable="false" SqlCharacterMaximumLength="8" SqlNumericPrecision="0" SqlNumericScale="0" SqlIsIdentity="false" ReadOnly="true" Required="false" ValidationName="" ValidationDisplayField="" NoDuplicate="true" ExportToExcel="true" TabCaption="" />
        </UniqueIds>
        <Columns>
          <Column Caption="Vendor" ColumnName="vendor" DataType="text" SqlDataType="varchar" SqlIsNullable="false" SqlCharacterMaximumLength="100" SqlNumericPrecision="0" SqlNumericScale="0" SqlIsIdentity="false" ReadOnly="true" Required="false" ValidationName="" ValidationDisplayField="true" NoDuplicate="false" ExportToExcel="true" TabCaption="" />
          <Column Caption="inactive" ColumnName="inactive" DataType="checkbox" SqlDataType="char" SqlIsNullable="false" SqlCharacterMaximumLength="1" SqlNumericPrecision="0" SqlNumericScale="0" SqlIsIdentity="false" ReadOnly="false" Required="true" ValidationName="" ValidationDisplayField="" NoDuplicate="false" ExportToExcel="false" TabCaption="" />
        </Columns>
      </Browse>
    </Validation>
    <Validation ValidationName="PrimaryVendorValidation">
      <Browse DatabaseConnection="RentalWorks" TableName="inventorycontactview">
        <UniqueIds>
          <Column Caption="contactid" ColumnName="contactid" DataType="key" SqlDataType="char" SqlIsNullable="false" SqlCharacterMaximumLength="8" SqlNumericPrecision="0" SqlNumericScale="0" SqlIsIdentity="false" ReadOnly="true" Required="false" ValidationName="" ValidationDisplayField="" NoDuplicate="true" ExportToExcel="true" TabCaption="" />
        </UniqueIds>
        <Columns>
          <Column Caption="Person" ColumnName="person" DataType="text" SqlDataType="varchar" SqlIsNullable="false" SqlCharacterMaximumLength="65" SqlNumericPrecision="0" SqlNumericScale="0" SqlIsIdentity="false" ReadOnly="true" Required="false" ValidationName="" ValidationDisplayField="true" NoDuplicate="false" ExportToExcel="true" TabCaption="" />
          <Column Caption="inactive" ColumnName="inactive" DataType="checkbox" SqlDataType="char" SqlIsNullable="false" SqlCharacterMaximumLength="8" SqlNumericPrecision="0" SqlNumericScale="0" SqlIsIdentity="false" ReadOnly="false" Required="true" ValidationName="" ValidationDisplayField="" NoDuplicate="false" ExportToExcel="false" TabCaption="" />
        </Columns>
      </Browse>
    </Validation>
    <Validation ValidationName="RepairOrderDescValidation">
      <Browse DatabaseConnection="RentalWorks" TableName="repairview">
        <UniqueIds>
          <Column Caption="repairid" ColumnName="repairid" DataType="key" SqlDataType="char" SqlIsNullable="false" SqlCharacterMaximumLength="8" SqlNumericPrecision="0" SqlNumericScale="0" SqlIsIdentity="false" ReadOnly="true" Required="false" ValidationName="" ValidationDisplayField="" NoDuplicate="true" ExportToExcel="true" TabCaption="" />
          <Column Caption="repairdate" ColumnName="repairdate" DataType="text" SqlDataType="smalldatetime" SqlIsNullable="false" SqlCharacterMaximumLength="4" SqlNumericPrecision="16" SqlNumericScale="0" SqlIsIdentity="false" ReadOnly="true" Required="false" ValidationName="" ValidationDisplayField="" NoDuplicate="true" ExportToExcel="true" TabCaption="" />
        </UniqueIds>
        <Columns>
          <Column Caption="Description" ColumnName="master" DataType="text" SqlDataType="varchar" SqlIsNullable="false" SqlCharacterMaximumLength="100" SqlNumericPrecision="0" SqlNumericScale="0" SqlIsIdentity="false" ReadOnly="true" Required="false" ValidationName="" ValidationDisplayField="true" NoDuplicate="false" ExportToExcel="true" TabCaption="" />
          <Column Caption="inactive" ColumnName="inactive" DataType="checkbox" SqlDataType="varchar" SqlIsNullable="false" SqlCharacterMaximumLength="1" SqlNumericPrecision="0" SqlNumericScale="0" SqlIsIdentity="false" ReadOnly="false" Required="true" ValidationName="" ValidationDisplayField="" NoDuplicate="false" ExportToExcel="false" TabCaption="" />
        </Columns>
      </Browse>
    </Validation>
    <Validation ValidationName="RepairOrderNoValidation">
      <Browse DatabaseConnection="RentalWorks" TableName="repairview">
        <UniqueIds>
          <Column Caption="repairid" ColumnName="repairid" DataType="key" SqlDataType="char" SqlIsNullable="false" SqlCharacterMaximumLength="8" SqlNumericPrecision="0" SqlNumericScale="0" SqlIsIdentity="false" ReadOnly="true" Required="false" ValidationName="" ValidationDisplayField="" NoDuplicate="true" ExportToExcel="true" TabCaption="" />
          <Column Caption="repairdate" ColumnName="repairdate" DataType="text" SqlDataType="smalldatetime" SqlIsNullable="false" SqlCharacterMaximumLength="4" SqlNumericPrecision="16" SqlNumericScale="0" SqlIsIdentity="false" ReadOnly="true" Required="false" ValidationName="" ValidationDisplayField="" NoDuplicate="true" ExportToExcel="true" TabCaption="" />
        </UniqueIds>
        <Columns>
          <Column Caption="No" ColumnName="repairno" DataType="text" SqlDataType="char" SqlIsNullable="false" SqlCharacterMaximumLength="8" SqlNumericPrecision="0" SqlNumericScale="0" SqlIsIdentity="false" ReadOnly="true" Required="false" ValidationName="" ValidationDisplayField="true" NoDuplicate="false" ExportToExcel="true" TabCaption="" />
          <Column Caption="Description" ColumnName="master" DataType="text" SqlDataType="varchar" SqlIsNullable="false" SqlCharacterMaximumLength="100" SqlNumericPrecision="0" SqlNumericScale="0" SqlIsIdentity="false" ReadOnly="true" Required="false" ValidationName="" ValidationDisplayField="false" NoDuplicate="false" ExportToExcel="true" TabCaption="" />
          <Column Caption="inactive" ColumnName="inactive" DataType="checkbox" SqlDataType="varchar" SqlIsNullable="false" SqlCharacterMaximumLength="1" SqlNumericPrecision="0" SqlNumericScale="0" SqlIsIdentity="false" ReadOnly="false" Required="true" ValidationName="" ValidationDisplayField="" NoDuplicate="false" ExportToExcel="false" TabCaption="" />
        </Columns>
      </Browse>
    </Validation>
    <Validation ValidationName="RetiredReasonValidation">
      <Browse DatabaseConnection="RentalWorks" TableName="retiredreason">
        <UniqueIds>
          <Column Caption="retiredreasonid" ColumnName="retiredreasonid" DataType="key" SqlDataType="char" SqlIsNullable="false" SqlCharacterMaximumLength="8" SqlNumericPrecision="0" SqlNumericScale="0" SqlIsIdentity="false" ReadOnly="true" Required="false" ValidationName="" ValidationDisplayField="" NoDuplicate="true" ExportToExcel="true" TabCaption="" />
        </UniqueIds>
        <Columns>
          <Column Caption="Description" ColumnName="retiredreason" DataType="text" SqlDataType="char" SqlIsNullable="false" SqlCharacterMaximumLength="20" SqlNumericPrecision="0" SqlNumericScale="0" SqlIsIdentity="false" ReadOnly="true" Required="false" ValidationName="" ValidationDisplayField="true" NoDuplicate="false" ExportToExcel="true" TabCaption="" />
          <Column Caption="inactive" ColumnName="inactive" DataType="checkbox" SqlDataType="char" SqlIsNullable="false" SqlCharacterMaximumLength="1" SqlNumericPrecision="0" SqlNumericScale="0" SqlIsIdentity="false" ReadOnly="false" Required="true" ValidationName="" ValidationDisplayField="" NoDuplicate="false" ExportToExcel="false" TabCaption="" />
        </Columns>
      </Browse>
    </Validation>
    <Validation ValidationName="SetCharactersByICodeValidation">
      <Browse DatabaseConnection="RentalWorks" TableName="funcicodeoutonorders(@masterid)">
        <UniqueIds>
          <Column Caption="orderid" ColumnName="orderid" DataType="key" SqlDataType="char" SqlIsNullable="false" SqlCharacterMaximumLength="8" SqlNumericPrecision="0" SqlNumericScale="0" SqlIsIdentity="false" ReadOnly="true" Required="false" ValidationName="" ValidationDisplayField="" NoDuplicate="true" ExportToExcel="true" TabCaption="" />
        </UniqueIds>
        <Columns>
          <Column Caption="Description" ColumnName="orderdesc" DataType="text" SqlDataType="varchar" SqlIsNullable="false" SqlCharacterMaximumLength="255" SqlNumericPrecision="0" SqlNumericScale="0" SqlIsIdentity="false" ReadOnly="true" Required="false" ValidationName="" ValidationDisplayField="true" NoDuplicate="false" ExportToExcel="true" TabCaption="" />
        </Columns>
      </Browse>
    </Validation>
    <Validation ValidationName="SetNoValidation">
      <Browse DatabaseConnection="RentalWorks" TableName="setno">
        <UniqueIds>
          <Column Caption="setnoid" ColumnName="setnoid" DataType="key" SqlDataType="char" SqlIsNullable="false" SqlCharacterMaximumLength="8" SqlNumericPrecision="0" SqlNumericScale="0" SqlIsIdentity="false" ReadOnly="true" Required="false" ValidationName="" ValidationDisplayField="" NoDuplicate="true" ExportToExcel="true" TabCaption="" />
        </UniqueIds>
        <Columns>
          <Column Caption="setno" ColumnName="setno" DataType="text" SqlDataType="char" SqlIsNullable="false" SqlCharacterMaximumLength="8" SqlNumericPrecision="0" SqlNumericScale="0" SqlIsIdentity="false" ReadOnly="true" Required="false" ValidationName="" ValidationDisplayField="true" NoDuplicate="false" ExportToExcel="true" TabCaption="" />
          <Column Caption="inactive" ColumnName="inactive" DataType="checkbox" SqlDataType="char" SqlIsNullable="false" SqlCharacterMaximumLength="1" SqlNumericPrecision="0" SqlNumericScale="0" SqlIsIdentity="false" ReadOnly="false" Required="true" ValidationName="" ValidationDisplayField="" NoDuplicate="false" ExportToExcel="false" TabCaption="" />
        </Columns>
      </Browse>
    </Validation>
    <Validation ValidationName="VendorValidation">
      <Browse DatabaseConnection="RentalWorks" TableName="vendor">
        <UniqueIds>
          <Column Caption="vendorid" ColumnName="vendorid" DataType="key" SqlDataType="char" SqlIsNullable="false" SqlCharacterMaximumLength="8" SqlNumericPrecision="0" SqlNumericScale="0" SqlIsIdentity="false" ReadOnly="true" Required="false" ValidationName="" ValidationDisplayField="" NoDuplicate="true" ExportToExcel="true" TabCaption="" />
        </UniqueIds>
        <Columns>
          <Column Caption="Vendor" ColumnName="vendor" DataType="text" SqlDataType="varchar" SqlIsNullable="false" SqlCharacterMaximumLength="100" SqlNumericPrecision="0" SqlNumericScale="0" SqlIsIdentity="false" ReadOnly="true" Required="false" ValidationName="" ValidationDisplayField="true" NoDuplicate="false" ExportToExcel="true" TabCaption="" />
          <Column Caption="inactive" ColumnName="inactive" DataType="checkbox" SqlDataType="char" SqlIsNullable="false" SqlCharacterMaximumLength="1" SqlNumericPrecision="0" SqlNumericScale="0" SqlIsIdentity="false" ReadOnly="false" Required="true" ValidationName="" ValidationDisplayField="" NoDuplicate="false" ExportToExcel="false" TabCaption="" />
        </Columns>
      </Browse>
    </Validation>
  </Validations>
</FwApplicationSchema>