<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <location path="." inheritInChildApplications="false">
    <system.web>
      <compilation debug="true" targetFramework="4.7"/>
    </system.web>
    <system.webServer>
      <security>
        <requestFiltering>
          <!-- Allow Requests up to 50MB to handle large image uploads (default is 4MB) -->
          <requestLimits maxAllowedContentLength="52428800"/>
        </requestFiltering>
      </security>
      <httpProtocol>
        <customHeaders>
          <clear/>
          <add name="Access-Control-Allow-Origin" value="*"/>
          <add name="Access-Control-Allow-Methods" value="GET, PUT, POST, DELETE, OPTIONS"/>
          <add name="Access-Control-Allow-Headers" value="Origin, X-Requested-With, Content-Type, Accept, Authorization"/>
          <add name="Access-Control-Max-Age" value="86400"/>
        </customHeaders>
      </httpProtocol>
      <staticContent>
        <clientCache cacheControlMode="DisableCache"/>
		  <mimeMap fileExtension="htm" mimeType="text/html"/>
        <mimeMap fileExtension="svg" mimeType="image/svg+xml"/>
        <mimeMap fileExtension="eot" mimeType="application/vnd.ms-fontobject"/>
        <mimeMap fileExtension="woff" mimeType="application/font-woff"/>
        <mimeMap fileExtension="woff2" mimeType="application/font-woff2"/>
        <mimeMap fileExtension="csv" mimeType="application/vnd.ms-excel"/>
        <mimeMap fileExtension="json" mimeType="application/json"/>
		<mimeMap fileExtension="mp3" mimeType="audio/mpeg"/>
      </staticContent>
    </system.webServer>
  </location>
</configuration>
