#quikPick .record {font-size: 14px;border-bottom: 1px solid #454545;padding: 5px;cursor: pointer;will-change:opacity, transform;transition:all .1s ease-out;}
#quikPick .record:active {background-color:rgba(69,69,69,.6);}
#quikPick .record .row {display:-webkit-box;display:-moz-box;display:-ms-flexbox;display:-webkit-flex;display:flex;flex-direction:row;}
#quikPick .record .row .caption.fixed {flex: 0 0 80px;width:80px;}
#quikPick .record .row .caption.dynamic {flex: 0 0 65px;margin-right:5px;}
#quikPick .record .row .value {-webkit-box-flex:1;-webkit-flex:1;flex: 1 0 0;}
#quikPick .record.order .desc {color:#03a9f4;text-decoration:underline;}

#quikPick .qp-newquote {background-color:#212121;display:none;}
#quikPick .qp-newquote .qm-newquote-title {background-color:#546e7a;padding:5px;font-size:18px;text-align:center;}
#quikPick .qp-newquote .qm-newquote-fields {padding:10px;}
