#assetSetLocation .asl-scan {}
#assetSetLocation .asl-scan .error {display:none;background-color:#f44336;padding:10px 0;text-align:center;}
#assetSetLocation .asl-scan .itemdetails {display:none;margin-top:10px;}
#assetSetLocation .asl-scan .itemdetails .itemdetails-title {background-color: #546e7a;padding: 5px;font-size: 18px;text-align: center;}
#assetSetLocation .asl-scan .itemdetails .itemdetails-fields {background-color: #212121;padding: 10px 0;}
#assetSetLocation .asl-scan .itemdetails .fwform-fieldrow {display:-webkit-box;display:-moz-box;display:-ms-flexbox;display:-webkit-flex;display:flex;flex-flow:row wrap;justify-content:space-around;}
#assetSetLocation .asl-scan .itemdetails .fwformfield {flex: 1 0 auto;}
#assetSetLocation .asl-scan .itemdetails .category-title {background-color: #4caf50;padding: 5px;font-size: 18px;text-align: center;color:rgba(0,0,0,0.87);margin: 15px 0 5px 0;}
#assetSetLocation .asl-scan .itemdetails .imagecontainer {text-align:center;}

#assetSetLocation .asl-search {display:none;}

#assetSetLocation .fwmobilecontrol-value {text-transform:uppercase;text-align:center;}
#assetSetLocation .fwmobilecontrol-value::-webkit-input-placeholder {text-transform: none;}
#assetSetLocation .fwmobilecontrol-value:-moz-placeholder {text-transform: none;}
#assetSetLocation .fwmobilecontrol-value::-moz-placeholder {text-transform: none;}
#assetSetLocation .fwmobilecontrol-value:-ms-input-placeholder {text-transform: none;}

#assetSetLocation .record {font-size: 12px;border-bottom: 1px solid #454545;padding: 5px;cursor: pointer;will-change:opacity, transform;transition:all .1s ease-out;display:-webkit-box;display:-moz-box;display:-ms-flexbox;display:-webkit-flex;display:flex;}
#assetSetLocation .record img {margin-right:10px;width:98px;}
#assetSetLocation .record:active {background-color:rgba(69,69,69,.6);}
#assetSetLocation .record .row {display:-webkit-box;display:-moz-box;display:-ms-flexbox;display:-webkit-flex;display:flex;flex-direction:row;}
#assetSetLocation .record .row .caption.fixed {flex: 0 0 90px;width:90px;}
#assetSetLocation .record .row .caption.dynamic {flex: 0 0 auto;margin-right:5px;}
#assetSetLocation .record .row .caption.bold {font-weight:bold;}
#assetSetLocation .record .row .value {-webkit-box-flex:1;-webkit-flex:1;flex: 1 0 0;}

#assetSetLocation .asl-quantity .assetsetlocation {background-color:#fafafa;color:rgba(0,0,0,0.87);margin: 10px 0;}
#assetSetLocation .asl-quantity .assetsetlocation .assetsetlocation-totals {background-color:#039be5;padding:4px;color:white;font-weight:bold;}
#assetSetLocation .asl-quantity .assetsetlocation .assetsetlocation-totals .assetsetlocation-col2 {text-align:center;}
#assetSetLocation .asl-quantity .assetsetlocation .assetsetlocation-titlerow {padding:4px;font-size: 14px;}
#assetSetLocation .asl-quantity .assetsetlocation .assetsetlocation-titlerow .assetsetlocation-col2 {text-align:center;}
#assetSetLocation .asl-quantity .assetsetlocation .assetsetlocation-body {}
#assetSetLocation .asl-quantity .assetsetlocation .assetsetlocation-record {padding:4px;}
#assetSetLocation .asl-quantity .assetsetlocation .assetsetlocation-record:nth-of-type(2n) {background-color:#e0e0e0;}
#assetSetLocation .asl-quantity .assetsetlocation .assetsetlocation-record .location {width: 100%;box-sizing: border-box;font-size: 18px;border-radius: 4px;padding: 3px;border: 1px solid #bdbdbd;height: 44px;}
#assetSetLocation .asl-quantity .assetsetlocation .assetsetlocation-record .qty {width: 100%;box-sizing: border-box;font-size: 18px;color: black;line-height: 44px;height: 44px;flex: 1 1 auto;text-align:center;}
#assetSetLocation .asl-quantity .assetsetlocation .assetsetlocation-record i {font-size:44px;cursor:pointer;flex:0 0 44px;}
#assetSetLocation .asl-quantity .assetsetlocation .assetsetlocation-col1 {flex: 1 0 0;margin-right:10px;}
#assetSetLocation .asl-quantity .assetsetlocation .assetsetlocation-col2 {flex: 0 0 130px;}