/*Pick List Report*/
tbody {
    tr[data-rowtype="detail"]:nth-child(even) {
        background-color: #DCDCDC;
    }
}

.boxcol {
    border: 1px solid #000000;
    padding: 12px;
}

.title {
    align-self: center;
    font-size: 27px;
    font-weight: bold;
}

.header-center {
    align-self: center;
    font-size: 17px;
    margin-top: 5px;
}

.header-right {
    align-self: flex-end;
    font-size: 17px;
}

.header-left {
    align-self: flex-start;
    font-size: 17px;
}
.sub-header {
    background-color: #DCDCDC;
}
.sub-header tr > td {
    border: 1.5px solid black;
    border-collapse:collapse;
}

.sub-header-left {
    align-self: flex-start;
}
.sub-header-center {
    align-self: center;
}
.sub-header-right {
    align-self: flex-end;
}

body {
    font-size: 15px;
    margin: 0;
    padding: 0;
}

thead {
    th {
        border-top: 2px solid #000000;
        border-bottom: 2px solid #000000;
        font-weight: bold;
        padding: 5px;
        white-space: nowrap;
    }
}