#moveBCLocationView .aisleshelf {position:fixed;bottom:20px;left:0;right:0;/*height:50px;*/background-color:rgba(90,90,90,1);border-top:1px solid #000000;text-align:center;display:none;}

#moveBCLocationView .fwmobilecontrol-value {text-transform:uppercase;text-align:center;}
#moveBCLocationView .fwmobilecontrol-value::-webkit-input-placeholder {text-transform: none;}
#moveBCLocationView .fwmobilecontrol-value:-moz-placeholder {text-transform: none;}
#moveBCLocationView .fwmobilecontrol-value::-moz-placeholder {text-transform: none;}
#moveBCLocationView .fwmobilecontrol-value:-ms-input-placeholder {text-transform: none;}

#moveBCLocationView .aisleshelf-info {padding:10px;justify-content:center;font-size:18px;font-weight:bold;background-color:#546e7a;display:-webkit-box;display:-moz-box;display:-ms-flexbox;display:-webkit-flex;display:flex;flex-direction:row;will-change:opacity, transform;transition:all .1s ease-out;}
#moveBCLocationView .aisleshelf-info.notset {background-color:#f44336;color:rgba(0,0,0,0.87);}
#moveBCLocationView .aisleshelf-info:not(.notset) .notsetdisplay {display:none;}
#moveBCLocationView .aisleshelf-info.notset .aisle {display:none;}
#moveBCLocationView .aisleshelf-info.notset .shelf {display:none;}
#moveBCLocationView .aisleshelf-info .flex {display:-webkit-box;display:-moz-box;display:-ms-flexbox;display:-webkit-flex;display:flex;flex-direction:row;flex: 1 0 auto;justify-content: center;}
#moveBCLocationView .aisleshelf-info .flex .caption {margin-right:5px;}
#moveBCLocationView .aisleshelf-info .flex .value {font-weight:normal;}

#moveBCLocationView .movebclocation-status {margin-top:10px;padding:10px;color:rgba(0,0,0,0.87);display:none;text-align:center;}
#moveBCLocationView .movebclocation-status.error {background-color:#f44336;}
#moveBCLocationView .movebclocation-status.success {background-color:#4caf50}