.fwmobilemodulecontrol {background-color:#2196f3;height:40px;position:relative;color:#ffffff;}
.fwmobilemodulecontrol .btn {cursor:pointer;}
.fwmobilemodulecontrol .btn.left {float:left;}
.fwmobilemodulecontrol .btn.right {float:right;}
.fwmobilemodulecontrol .btn > i {font-size:28px;padding:6px;}

.fwmobilemodulecontrol .btn.standard {display: -webkit-box;display: -moz-box;display: -ms-flexbox;display: -webkit-flex;display: flex;}
.fwmobilemodulecontrol .btn.standard:hover {background-color:#1976d2;}
.fwmobilemodulecontrol .btn.standard .btncaption {line-height:28px;font-size:18px;padding:6px 6px 6px 0;}

.fwmobilemodulecontrol .btn.menu {position:relative;}
.fwmobilemodulecontrol .btn.menu:hover {background-color:#1976d2;}
.fwmobilemodulecontrol .btn.menu .menu-dropdown {display: none;position: absolute;padding: 1px;-moz-box-shadow: 3px 3px 5px 1px rgba(0,0,0,.3);-webkit-box-shadow: 3px 3px 5px 1px rgba(0,0,0,.3);box-shadow: 3px 3px 5px 1px rgba(0,0,0,.3);align-content: flex-start;flex-wrap: wrap;background-color:#fafafa;color:#212121;right:4px;top:0;min-width:200px;border-radius: 1px;}
.fwmobilemodulecontrol .btn.menu.active .menu-dropdown {display:block;}
.fwmobilemodulecontrol .btn.menu.active .menu-dropdown .menu-dropdown-btn {padding:10px;display:flex;}