html {overflow:auto;/*overflow-y:scroll;*/-webkit-touch-callout:none;-webkit-user-select:none;-khtml-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select: none;-webkit-tap-highlight-color: rgba(0,0,0,0);height:100%;min-height:100%;}
body { font-family: -apple-system,Segoe UI,Roboto,Arial,sans-serif;margin:0;padding:0;/*min-height:100%;position: relative;*/}
input,textarea {-webkit-touch-callout:default;-webkit-user-select:text;-khtml-user-select:text;-moz-user-select:text;-ms-user-select:text;user-select:text;}

/*#region Material Icons*/
@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: url('fwfonts/materialicons/MaterialIcons-Regular.woff2') format('woff2');
}
.material-icons {font-family: 'Material Icons';font-weight: normal;font-style: normal;display: inline-block;width: 1em;height: 1em;line-height: 1;text-transform: none;letter-spacing: normal;
                 font-size: 24px;                      /* Preferred icon size */
                 -webkit-font-smoothing: antialiased;  /* Support for all WebKit browsers. */
                 text-rendering: optimizeLegibility;   /* Support for Safari and Chrome. */
                 -moz-osx-font-smoothing: grayscale;   /* Support for Firefox. */
                 font-feature-settings: 'liga';        /* Support for IE. */
}
.material-icons.md-18 { font-size: 18px; }
.material-icons.md-24 { font-size: 24px; }
.material-icons.md-36 { font-size: 36px; }
.material-icons.md-48 { font-size: 48px; }

.material-icons.md-dark { color: rgba(0, 0, 0, 0.54); }
.material-icons.md-dark.md-inactive { color: rgba(0, 0, 0, 0.26); }

.material-icons.md-light { color: rgba(255, 255, 255, 1); }
.material-icons.md-light.md-inactive { color: rgba(255, 255, 255, 0.3); }
/*#endregion Material Icons*/

/***************************
FwDefault
***************************/
.default-page {height:100vh;background-color:#e5e5e5;overflow:auto;}
.default-page .default-container {background-color: #fefefe;box-shadow: rgba(0, 0, 0, 0.2) 0px 0px 2px;padding:30px;max-width:500px;margin:10% auto 30px auto;}
.default-page .default-container .programlogo {text-align:center;font-size:3.5em;color: #2f2f2f;}
.default-page .default-container .programlogo img {display:block;margin:0 auto;max-width:75%;}
.default-page .default-container .default-buttons {margin:30px auto 20px auto;text-align:center;display:flex;justify-content:space-around;/*width:300px;*/}
.default-page .default-container .default-buttons .default-button {color: #fff;background-color:#1976d2;text-align:center;cursor:pointer;border: none;border-radius: 2px;display: inline-block;height: 36px;line-height: 36px;outline: 0;padding: 0 2rem;text-transform: uppercase;vertical-align: middle;-webkit-tap-highlight-color: transparent;text-decoration: none;box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12);letter-spacing: .5px;transition: .2s ease-out;}
.default-page .default-container .default-buttons .default-button:hover {background-color:#1e88e5;box-shadow: 0 5px 11px 0 rgba(0,0,0,0.18),0 4px 15px 0 rgba(0,0,0,0.15);}

/***************************
FwLogin
***************************/
.login-page {height:100vh;background-color:#e5e5e5;overflow:auto;}
.login-page .login-container {background-color: #fefefe;box-shadow: rgba(0, 0, 0, 0.2) 0px 0px 2px;padding:30px;max-width:500px;margin:10% auto 30px auto;}
.login-page .login-container .change-password-caption {text-align: center; font-size: 1rem; margin: 5px auto;}
.login-page .login-container .programlogo {text-align:center;font-size:3.5em;color: #2f2f2f;}
.login-page .login-container .programlogo img {display:block;margin:0 auto;max-width:75%;}
.login-page .login-container .login-fields {margin:40px auto 20px auto;max-width: 400px;overflow:auto;}
.login-page .login-container .login-fields .login-field {margin-top: 1rem;position: relative;}
.login-page .login-container .login-fields .login-field .login-field-caption {color: #9e9e9e;position: absolute;top: 0.8rem;left:0;font-size: 1rem;cursor: text;transition: .2s ease-out;}
.login-page .login-container .login-fields .login-field .login-field-caption:after {display: block;content: "";position: absolute;top: 60px;opacity: 0;transition: .2s opacity ease-out, .2s color ease-out}
.login-page .login-container .login-fields .login-field .login-field-caption.active {font-size:0.8rem;transform:translateY(-140%);}
.login-page .login-container .login-fields .login-field.error .login-field-caption {color:#f44336;}
.login-page .login-container .login-fields .login-field .login-field-value {background-color:transparent;width:100%;border:none;color:rgba(47,47,47,1);border-bottom:1px solid #9e9e9e;padding:6px;box-sizing:border-box;border-radius:0;font-size:1rem;outline:0;transition: all 0.3s;margin: 0 0 20px 0;height:48px;}
.login-page .login-container .login-fields .login-field.error .login-field-value {border-bottom: 1px solid #f44336;box-shadow: 0 1px 0 0 #f44336;}
.login-page .login-container .login-fields .login-field .login-field-value:focus {border-bottom: 1px solid #2196f3;box-shadow: 0 1px 0 0 #2196f3;}
.login-page .login-container .login-fields .login-field .login-field-value:focus+.login-field-caption {color:#2196f3;}
.login-page .login-container .login-buttons {margin:20px auto 10px auto;text-align:center;display:flex;flex-wrap:wrap;justify-content:space-around;max-width:300px;}
.login-page .login-container .login-buttons .login-button {margin:10px 0;color: #fff;background-color:#1976d2;text-align:center;cursor:pointer;border: none;border-radius: 2px;display: inline-block;height: 36px;line-height: 36px;outline: 0;padding: 0 2rem;text-transform: uppercase;vertical-align: middle;-webkit-tap-highlight-color: transparent;text-decoration: none;box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12);letter-spacing: .5px;transition: .2s ease-out;}
.login-page .login-container .login-buttons .login-button:hover {background-color:#1e88e5;box-shadow: 0 5px 11px 0 rgba(0,0,0,0.18),0 4px 15px 0 rgba(0,0,0,0.15);}
.login-page .login-container .errormessage {text-align:center;color:#f44336;padding: 10px;border: 1px solid #f44336;background-color: #ffebee;display:none;}
/***************************
FwMobileLogin
***************************/
.mobileloginpage .programlogo {text-align:center;}
.mobileloginpage .mobilelogin-fields {margin-top:10em;font-size:14px;}
.mobileloginpage .mobilelogin-fields .mobilelogin-email {width:80%;margin:0 auto;}
.mobileloginpage .mobilelogin-fields .mobilelogin-email .mobilelogin-email-caption {color:rgba(200,200,200,.6);padding:0 6px;}
.mobileloginpage .mobilelogin-fields .mobilelogin-email.error .mobilelogin-email-caption {color:red;-webkit-animation: shake .5s linear;}
.mobileloginpage .mobilelogin-fields .mobilelogin-password {width:80%;margin:14px auto 0 auto;}
.mobileloginpage .mobilelogin-fields .mobilelogin-password .mobilelogin-password-caption {color:rgba(200,200,200,.6);padding:0 6px;}
.mobileloginpage .mobilelogin-fields .mobilelogin-password.error .mobilelogin-password-caption {color:red;-webkit-animation: shake .5s linear;}
.mobileloginpage .mobilelogin-fields input {background-color:transparent;width:100%;border:none;color:#f2f2f2;border-bottom:1px solid rgba(200,200,200,.6);padding:6px;box-sizing:border-box;border-radius:0;font-size:14px;}
.mobileloginpage .mobilelogin-buttons {margin-top:3em;}
.mobileloginpage .mobilelogin-buttons #mobilelogin-btnLogin {width:80%;margin:0 auto;text-align:center;padding:15px;box-sizing:border-box;color:#f2f2f2;font-weight:bolder;cursor:pointer;}
.mobileloginpage .mobilelogin-footer {margin-top:2em;text-align:center;color:#f2f2f2;font-size:10px;}

@-webkit-keyframes shake {
    8%, 41%  { -webkit-transform: translateX(-10px); }
    25%, 58% { -webkit-transform: translateX(10px); }
    75%      { -webkit-transform: translateX(-5px); }
    92%      { -webkit-transform: translateX(5px); }
    0%, 100% { -webkit-transform: translateX(0); }
}

@media screen and (min-width:546px) {
    .mobileloginpage {width:546px;margin:0 auto;}
}

/***************************
FwDesignerHandle
***************************/
.fwcontrol[data-rendermode="designer"] {border:3px double black;-webkit-transition: -webkit-transform 0.2s ease-out;-moz-transition: -moz-transform 0.2s ease-out;-o-transition: -o-transform 0.2s ease-out;-ms-transition: -ms-transform 0.2s ease-out;}
.fwcontrol.activeElement[data-rendermode="designer"] {border:3px solid #46a1ff;}
.fwdesignerhandle {border:1px solid #cccccc;overflow:hidden;text-wrap:none;white-space:nowrap;font-size:10px;height:12px;line-height:10px;vertical-align:middle;}
.fwdesignerhandle .fwdesignerhandlecaption {float:left;padding:1px;cursor:move;}
.fwdesignerhandle .fwdesignerhandlemenu {float:right;padding:1px;}
.fwdesignerhandle .fwdesignerhandlemenu .delete {padding:0 1px 0 1px;border-radius:2px;cursor:pointer;}
.fwdesignerhandle .fwdesignerhandlemenu .delete:active {background-color:#90b4c0;}


.droppableregion {background-color: yellow;}
.fwcontrol[data-rendermode="designer"] {background-color: #ffffff;}


/***************************
flexrow
***************************/
.flexrow {display:flex;flex-wrap: wrap;max-width:60em;}
.flexrow > * {flex:1 1 0;min-width:16em;/*max-width:24em;*/}
.wideflexrow {display:flex;flex-wrap:wrap;}
.wideflexrow > * {flex:1 1 0;min-width:16em;/*max-width:24em;*/}
.flexcolumn {display:flex;flex-direction:column;}
.flexwrap {flex-wrap:wrap;}
.flexalignitemscenter {align-items:center;}
