#privacyPolicy { }
#privacyPolicy .screenTitle {font-size:22px;}
#privacyPolicy .section {margin:10px 10px 0 10px;}
#privacyPolicy .sectionTitle {font-size:18px;font-weight:bold;margin:0 0 5px 0;}
#privacyPolicy .sectionText {font-size:14px;margin:0 0 0 10px;}