#timeLog {}

#timeLog .tl-menu {overflow:auto;}

#timeLog .tl-search {display:none;}
#timeLog .tl-search .fwmobilecontrol-value {text-transform:uppercase;}
#timeLog .tl-search .fwmobilecontrol-value::-webkit-input-placeholder {text-transform: none;}
#timeLog .tl-search .fwmobilecontrol-value:-moz-placeholder {text-transform: none;}
#timeLog .tl-search .fwmobilecontrol-value::-moz-placeholder {text-transform: none;}
#timeLog .tl-search .fwmobilecontrol-value:-ms-input-placeholder {text-transform: none;}
#timeLog .tl-search .tl-search-foundrecord {margin-top:10px;background-color:#212121;padding:10px;display:none;}
#timeLog .tl-search .tl-search-foundmulti {margin-top:10px;background-color:#212121;display:none;}

#timeLog .tl-select-menu {display:none;}

#timeLog .tl-editentry {display:none;}

#timeLog .tl-viewentries {display:none;}
#timeLog .tl-viewentries .title {background-color:#546e7a;padding:5px;text-align:center;}
#timeLog .tl-viewentries .title .desc {font-size:18px;}
#timeLog .tl-viewentries .header{padding: 5px;font-weight: bold;background: rgba(76, 175, 80,1);color: #333333;text-align: center;margin-top:5px;}
#timeLog .tl-viewentries .entry {padding:10px 10px 10px 11px;cursor:pointer;font-size:12px;overflow:auto;box-shadow:0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);background:#f0f0f0;color:#333333;position: relative;}
#timeLog .tl-viewentries .entry:hover,
#timeLog .tl-viewentries .entry:active {background-color:#bdbdbd;}
#timeLog .tl-viewentries .entry .row {overflow:auto;}
#timeLog .tl-viewentries .entry .row .caption {font-weight:bold;float:left;width:90px;}
#timeLog .tl-viewentries .entry .row .value {float:left;}
#timeLog .tl-viewentries .entry .legend {position:absolute;top:0;left:0;width:6px;height:100%;border-right:1px solid transparent;}
#timeLog .tl-viewentries .entry .legend.blank {}
#timeLog .tl-viewentries .entry .legend.time {background-color:#2196f3;border-right:1px solid #BBBBBB;}


#timeLog .record {font-size: 14px;border-bottom: 1px solid #454545;padding: 5px;cursor: pointer;will-change:opacity, transform;transition:all .1s ease-out;}
#timeLog .record:active {background-color:rgba(69,69,69,.6);}
#timeLog .record .row {display:-webkit-box;display:-moz-box;display:-ms-flexbox;display:-webkit-flex;display:flex;flex-direction:row;}
#timeLog .record .row .caption.fixed {flex: 0 0 80px;width:80px;}
#timeLog .record .row .caption.dynamic {flex: 0 0 65px;margin-right:5px;}
#timeLog .record .row .value {-webkit-box-flex:1;-webkit-flex:1;flex: 1 0 0;}

#timeLog .record .orderdesc {color:#03a9f4;text-decoration:underline;}
#timeLog .record .deal {color:#03a9f4;text-decoration:underline;}
#timeLog .record .event {color:#03a9f4;text-decoration:underline;}
#timeLog .record .order {color:#03a9f4;text-decoration:underline;}