html.theme-classic .fwscheduler {overflow:hidden;}
html.theme-classic .fwscheduler .schedulerbtns {overflow:auto;}
html.theme-classic .fwscheduler .lblView {float:left;font-weight:bold;cursor:default;}
html.theme-classic .fwscheduler .toggleView {float:left;overflow:hidden;}
html.theme-classic .fwscheduler .changeview {float:left;cursor:pointer;padding:0 10px;box-sizing:border-box;transition: .3s;}
html.theme-classic .fwscheduler .topnavigation {float:left;overflow:hidden;margin:0 0 0 10px;}
html.theme-classic .fwscheduler .datecallout {float:left;margin:0 0 0 10px;font-weight:bold;cursor:default;}

html.theme-classic .fwscheduler > .content {min-width:1400px;padding:10px;}
html.theme-classic .fwscheduler .calendarcontainer {overflow:hidden;}
html.theme-classic .fwscheduler .navcalendarcontainer {float:left;width:145px;}
html.theme-classic .fwscheduler .dpcalendarcontainer {float:left;width:1200px;}
html.theme-classic .fwscheduler .monthcontainer {overflow:hidden;}
html.theme-classic .fwscheduler .navmonthcontainer {float:left;width:145px;}
html.theme-classic .fwscheduler .dpmonthcontainer {float:left;width:1200px;}
html.theme-classic .fwscheduler .schedulercontainer {overflow:hidden;}
html.theme-classic .fwscheduler .navschedulercontainer {float:left;width:145px;}
html.theme-classic .fwscheduler .dpschedulercontainer {float:left;width:1200px;}

html.theme-classic .fwscheduler .month_default_main {border:1px solid rgb(160,160,160);}
html.theme-classic .fwscheduler .month_default_header {}
html.theme-classic .fwscheduler .month_default_header_inner {line-height:25px;vertical-align:middle;background: #e2e2e2;background: -moz-linear-gradient(top, #e2e2e2 0%, #dbdbdb 50%, #d1d1d1 51%, #fefefe 100%);background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#e2e2e2), color-stop(50%,#dbdbdb), color-stop(51%,#d1d1d1), color-stop(100%,#fefefe));background: -webkit-linear-gradient(top, #e2e2e2 0%,#dbdbdb 50%,#d1d1d1 51%,#fefefe 100%);background: -o-linear-gradient(top, #e2e2e2 0%,#dbdbdb 50%,#d1d1d1 51%,#fefefe 100%);background: -ms-linear-gradient(top, #e2e2e2 0%,#dbdbdb 50%,#d1d1d1 51%,#fefefe 100%);background: linear-gradient(to bottom, #e2e2e2 0%,#dbdbdb 50%,#d1d1d1 51%,#fefefe 100%);}
html.theme-classic .fwscheduler .month_default_cell {border:1px solid #cccccc;}
html.theme-classic .fwscheduler .month_default_cell_header {color:#000000;}
html.theme-classic .fwscheduler .selecteddate .month_default_cell_header {color:#ffffff;background-color:rgba(0,0,100,1);}
html.theme-classic .fwscheduler .month_default_event_inner {border:0px solid transparent;text-align:center;}
html.theme-classic .fwscheduler .month_default_event {border:1px solid rgb(160,160,160);}

html.theme-classic .fwscheduler .topnavigation button {float:left;cursor:pointer;box-sizing: border-box;border: none;background-color: transparent;color: inherit;font-size: inherit;padding: 0 10px;transition: .3s;}


html.theme-classic .fwscheduler .changeview {line-height:40px;height:40px;}
html.theme-classic .fwscheduler .changeview:hover {background-color:#90caf9;}
html.theme-classic .fwscheduler .changeview[data-selected="true"] {background-color:#90caf9;}
html.theme-classic .fwscheduler .topnavigation button {line-height: 40px;}
html.theme-classic .fwscheduler .topnavigation button:hover{background-color:#90caf9;}
