<ApplicationConfig>
  <Sites>
    <Site Name="Default">
      <DatabaseConnections>
        <DatabaseConnection Name="RentalWorks">
          <Server>localhost</Server>
          <Database>rentalworks</Database>
        </DatabaseConnection>
      </DatabaseConnections>
      <APISettings>
        <AuthUsername>DefaultUser</AuthUsername>
        <AuthPassword>DefaultPassword</AuthPassword>
      </APISettings>
    </Site>
  </Sites>
</ApplicationConfig>
