//Warehouse Inbound Report
tbody {
    tr[data-rowtype="detail"]:nth-child(odd) {
        background-color: #DCDCDC;
    }

    td:after {
        content: attr(data-value);
    }

    td {
        padding: 3px;
    }

    tr {
      line-height:25px;
    }
}

thead {
    th {
        border-top: 2px solid #000000;
        border-bottom: 2px solid #000000;
        font-weight: bold;
        padding: 5px;
        white-space: nowrap;
    }
}

@media screen {
  body {
    margin: 10px 5px 10px 10px;
  }
}

@media print {
  body {
    //margin: 10px 5px 10px 0px;
  }
}

@page {
  size: landscape;
}