/*Crew Sign-In Report*/

tbody {
    /*tr[data-rowtype="detail"]:nth-child(even) {
        background-color: #DCDCDC;
    }*/

    td {
        padding: 3px;
    }
}

thead {
    th {
        border-top: 2px solid #000000;
        border-bottom: 2px solid #000000;
        font-weight: bold;
        padding: 5px;
        white-space: nowrap;
    }
}

.boxcol {
    border: 1px solid #000000;
}

.header-box {
    border: 2px solid #000000;
}

.border-right {
    border-right: 2px solid #000000;
}


.time-field {
    width: 50px;
}
