@font-face {
    font-family: 'bgothm';
    src: url('fwfonts/bgothm/bgothm.002-webfont.eot');
    src: url('fwfonts/bgothm/bgothm.002-webfont.eot?#iefix') format('embedded-opentype'), url('fwfonts/bgothm/bgothm.002-webfont.woff2') format('woff2'), url('fwfonts/bgothm/bgothm.002-webfont.woff') format('woff'), url('fwfonts/bgothm/bgothm.002-webfont.ttf') format('truetype'), url('fwfonts/bgothm/bgothm.002-webfont.svg#bankgothic_md_btmedium') format('svg');
    font-weight: normal;
    font-style: normal;
}

.bgothm {
    font-family: bgothm;
}

.rwpurple {
    color: #6a3aaf;
}
/***************************
Master
***************************/
#master { /*min-width:1183px;*/
}

#master-header .usercontrol #logoff {
    cursor: pointer;
}

#master-header #officelocation {
    cursor: pointer;
    position: relative;
}

#master-header #officelocation .caption {
    display: inline-block;
}

#master-header #officelocation .value {
    display: inline-block;
    margin-left: 2px;
}

#master-header .user-controls .officelocation {
    padding: 0 10px;
    display: flex;
    align-items: center;
    cursor: pointer;
}

#master-header .user-controls .officelocation .locationcolor {
    width: 1em;
    height: 1em;
    margin: auto 4px auto 0;
}

#master-header .user-controls .officelocation .value {
}

#master-header .user-controls .dashboard {
    cursor: pointer;
    padding: 0 .3em;
}

#master-body { /*padding:10px;*/
}

#master-body .programlogo {
    flex-wrap: wrap;
    width: 99%;
}

#master-body .programlogo .chart-container {
    display: flex;
    float: left;
    position: relative;
}

#master-body .programlogo .chart-container .fwoverlay {
    z-index: 1;
    position:absolute;
}

#master-body .programlogo .chart-container .officebar {
    display: block;
    position: absolute;
    right: 2%;
}

#master-body .programlogo .chart-container:hover .toolbar {
    display: block;
}

#master-body .programlogo .chart-container .toolbar {
    display: none;
    position: absolute;
    top: 5%;
    right: 2%;
    cursor: pointer;
}

#master-footer {
    text-align: center;
    font-size: 12px;
    margin-bottom: 10px;
}

#master-footer #dbworkslink {
    cursor: pointer;
}

.homepage .programlogo {
    text-align: center;
    width: 100%;
}

.fwconfirmation .chart-container .fullscreenofficebar {
    position: absolute;
    top: 2%;
    right: 2%;
}

/* need to override the framework values here to make things responsive */
.formpage {
    min-width: 0;
    display: block;
}

/***************************
flexrow
***************************/

.flexrow {
    display: flex;
    flex-wrap: wrap;
    max-width: 1200px; /*max-width:60em;*/
}

.flexrow > * {
    flex: 1 1 0;
    min-width: 25px; /*min-width:16em;max-width:24em;*/
}

html.theme-material .fwform-section {
    margin: .6rem .6rem; /* .3erm .9erm  
    background-color: #eceff1;*/
}

html.theme-material .fwbrowse table thead tr td .field .fieldcaption .caption {
    font-size: .7em;
    padding: 0 .4em;
}

html.theme-material .fwbrowse table tbody tr.editrow .field[data-formdatatype="date"] input.value {
    font-size: .9em;
}

html.theme-material .fwbrowse table tbody tr.editrow .field[data-formdatatype="timepicker"] input.value {
    font-size: .9em;
}

html.theme-material .fwbrowse table tbody tr.editrow .field[data-formdatatype="time"] input.value {
}

html.theme-material .fwbrowse table tbody tr.editrow .field[data-formdatatype="money"] input.value {
    font-size: .9em;
}

html.theme-material .fwbrowse table tbody tr.editrow .field[data-formdatatype="text"] input.value {
    font-size: .9em;
}

html.theme-material .fwbrowse table tbody tr.editrow .field[data-formdatatype="validation"] input.text {
    font-size: .9em;
}

html.theme-material .fwbrowse table tbody tr.editrow .field[data-formdatatype="number"] input.value {
    font-size: .9em;
}

/*Rules for disabled grid rows text color-profile while selected*/
html.theme-material .fwbrowse table tbody tr.selected td .field-to-lock[data-formreadonly="true"] {
    color: black;
}
/*
html.theme-material .fwformfield[data-type="text"] .fwformfield-control{border-top:none;border-right:none;border-left:none;border-bottom:1px solid #e1dfdf;}
html.theme-material .fwformfield[data-type="validation"] .fwformfield-control{border-top:none;border-right:none;border-left:none;border-bottom:1px solid #e1dfdf;}
html.theme-material .fwformfield[data-type="date"] .fwformfield-control{border-top:none;border-right:none;border-left:none;border-bottom:1px solid #e1dfdf;}
html.theme-material .fwformfield[data-type="time"] .fwformfield-control{border-top:none;border-right:none;border-left:none;border-bottom:1px solid #e1dfdf;}
    */

/***************************
ProgressBar
***************************/

/* Reset the default appearance */
progress[value]::-webkit-progress-value {
    background-image: -webkit-linear-gradient(-45deg, transparent 33%, rgba(0, 0, 0, .1) 33%, rgba(0, 0, 0, .1) 66%, transparent 66%), -webkit-linear-gradient(top, rgba(255, 255, 255, .25), rgba(0, 0, 0, .25)), -webkit-linear-gradient(left, #335EC4, #1F71F4);
    border-radius: 45px;
    background-size: 35px 20px, 100% 100%, 100% 100%;
}

progress::-webkit-progress-bar {
    background-image: -webkit-linear-gradient(-45deg, transparent 33%, rgba(0, 0, 0, .1) 33%, rgba(0, 0, 0, .1) 66%, transparent 66%), -webkit-linear-gradient(top, rgba(255, 255, 255, .25), rgba(0, 0, 0, .25)), -webkit-linear-gradient(left, #333, #666);
    border-radius: 45px;
    background-size: 35px 20px, 100% 100%, 100% 100%
}

progress {
    width: 100%;
    -webkit-appearance: none;
    -moz-appearance: none;
    width: 300px;
    height: 25px;
    font-family: 'Material Icons';
}

.progress_bar {
    position: fixed;
    left: 42%;
    top: 42%;
    z-index: 100;
    text-align: center;
    background-color: #dcdcdc;
    border-radius: 10px;
    padding: 22px 5px 0 5px;
}

progress::-webkit-progress-value {
    background-image: -webkit-linear-gradient(-45deg, transparent 33%, rgba(0, 0, 0, .1) 33%, rgba(0,0, 0, .1) 66%, transparent 66%), -webkit-linear-gradient(top, rgba(255, 255, 255, .25), rgba(0, 0, 0, .25)), -webkit-linear-gradient(left, #09c, #f44);
    border-radius: 5px;
    background-size: 35px 20px, 100% 100%, 100% 100%;
}


/***************************
Form tables
***************************/
.form-table {  border-collapse: collapse; font-size:.8em;}
.form-table .header { background-color: #E0E0E0;}
.form-table th { border: .75px solid black;padding:5px; }
.form-table td { border: .75px solid black;padding:5px;margin:0; }
.form-table td:not(.invoice-amount) { vertical-align:text-top; }
.form-table .text { text-align:left; }
.form-table .decimal { text-align:right; }
.form-table input { height:100%;width:97%;padding:3px 0px 0px 0px;font-family:inherit; }
.form-table i { left:3px;float:right;position:relative;cursor:pointer; }
.form-table tr:nth-child(even) { background-color:#f1eded; }


/* Removes default up and down arrows in input[type="number"] */
#inventory input[type="number"]::-webkit-outer-spin-button, #inventory input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

#inventory input[type="number"] {
    -moz-appearance: textfield;
}

.fwbrowse table tbody tr input[type="number"].fieldvalue::-webkit-outer-spin-button,
.fwbrowse table tbody tr input[type="number"].fieldvalue::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Styling for play buttons */
.play-button {
    outline: none;
    background-color:transparent;
    border-color:transparent;
    border-width:0px 0px 0px 0px;
    margin-top:22px;
    height: 24px;
    width: 24px;
}

.play-button > img {
    cursor: pointer;
}

.play-button > img:active {
    cursor: pointer;
    background-color: lightgray;
    border-radius: 50%;
}

.dbl-angle {
    outline: none;
    background-color:transparent;
    border-color:transparent;
    border-width:0px 0px 0px 0px;
}
.dbl-angle > img {
    cursor: pointer;
    width: 50px;
    height: 50px;
}

.dbl-angle > img:active {
     background-color: #64f364;
     border-radius: 6px;
}

.arrow-clicked > img {
     background-color: #76f776;
     border-radius: 6px;
}

/* Styling for error message text */
.fwform .error-msg span {
    background-color: red;
    color: white;
    font-size: 1.4em;
    padding: 0px 4px 3px 4px;
    border-radius: 2px;
}
.fwform .error-msg div {
    margin-left:8px;
}
/* Styling for success message text */
.fwform .success-msg span {
  background-color: green;
  color: white;
  font-size: 1.4em;
  padding: 0px 4px 3px 4px;
  border-radius:2px;
}
.fwform .success-msg div {
    margin-left:8px;
}

.popup {
    background-color: white;
    box-shadow: 0 25px 44px rgba(0, 0, 0, 0.30), 0 20px 15px rgba(0, 0, 0, 0.22);
    width: 85vw;
    height: 85vh;
    overflow: scroll;
    position: relative;
}

.popup .close-modal {
    display: flex;
    position: absolute;
    top: 10px;
    right: 15px;
    cursor: pointer;
}

/*#region Search Interface*/
#searchpopup {
    background-color: white;
    box-shadow: 0 25px 44px rgba(0, 0, 0, 0.30), 0 20px 15px rgba(0, 0, 0, 0.22);
    width: 85vw;
    height: 85vh;
    overflow: hidden;
    position: relative;
}

#searchpopup .close-modal {
    display: flex;
    position: absolute;
    top: 10px;
    right: 15px;
    cursor: pointer;
}

#breadcrumbs {
    width: 100%;
    height: 2em;
    padding-left: 20px;
}

#breadcrumbs > div {
    float: left;
    cursor: pointer;
    font-weight: bold;
}

#breadcrumbs > div:hover {
    color: #4c4cff;
}

#breadcrumbs > div > div {
    color: black;
}

#searchFormHtml div[data-datafield="InventoryType"] {
    margin: 5px 0px 0px 10px;
    display:flex;
    max-width:500px;
}

    #searchFormHtml div[data-datafield="InventoryType"] > .fwformfield-control {
        height: auto !important;
        line-height:2em;
    }

    #searchFormHtml div[data-datafield="InventoryType"] .fwformfield-control > div {
        min-width: 85px;
        float: left;
        padding-top: 5px;
    }

.fwformcontrol.addToOrder {
    margin: 12px 6px 12px 0px;
}

#searchFormHtml .expandcategorycolumns {
    display: none;
    max-width: 80px;
    margin: 0.5em .5em 0 .5em;
    line-height: 1.5em;
    max-height: 1.5em;
}

#typeName, #inventoryType, #category, #subCategory {
    width: 200px;
    margin: 5px 0px 0px 5px;
    float: left;
}
#searchFormHtml .downArrowNav {
    position: absolute;
    left: 10px;
}

#searchFormHtml .invviewbtn {
    margin: 12px 6px 12px 5px;
    padding: 0px 7px 0px 7px;
    max-width:20px;
}

#searchFormHtml .columnDescriptions > div {
    float: left;
    text-align: center;
    font-weight: bold;
}

ul.fitText {
    cursor: pointer;
    margin: 2px;
    padding: 5px 5px 5px 40px;
}

ul.fitText span:not(.downArrowNav){
    left:-10px;
    position:relative;
}

 #inventoryType ul, #category ul, #subCategory ul {
    background-color: white;
    color: black;
    box-shadow: 0 0px 0px 0 rgba(0, 0, 0, 0.2);
}

#searchFormHtml .inventoryTypeNav {
    background-color: #bdbdbd;
    color: white;
    box-shadow: 0 3px 7px 0 rgba(0, 0, 0, 0.2);
}

    #inventoryType ul.selected, #category ul.selected, #subCategory ul.selected {
        background-color: #bdbdbd;
        color: white;
        box-shadow: 0 3px 7px 0 rgba(0, 0, 0, 0.2);
    }

#inventoryType ul:hover, #category ul:hover, #subCategory ul:hover {
    box-shadow: 0 3px 7px 0 rgba(0, 0, 0, 0.2);
}

.card {
    box-shadow: 0 2px 4px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
}

#inventory > .cardContainer > .card.selected {
    box-shadow: 0 6px 10px 0 rgba(0,0,153,0.2);
}

.card:hover {
    box-shadow: 0 5px 9px 0 rgba(0, 0, 0, 0.2);
}
.card .incrementQuantity, .card .decrementQuantity {
    padding: 5px 0px;
    float: left;
    width: 25%;
    border: none;
}

.card span:not(.available-color) {
    text-decoration: underline;
    font-weight: bold;
}

.cardContainer .lightBlue {
    background-color: #c5eefb;
}

.card .cornerTriangle {
    border-left: 20px solid;
    border-right: 20px solid transparent;
    border-bottom: 20px solid transparent;
    left: 0;
    top: 0;
    height: 0;
    width: 0;
    position: absolute;
    right: 0px;
    z-index: 2;
}

.card .available-color {
    border-left: 20px solid;
    border-right: 20px solid transparent;
    border-bottom: 20px solid transparent;
    height: 0px;
    display: inline-block;
    line-height: 2em;
}

.cardContainer .accContainer {
    float: left;
    height: auto;
    padding: 5px;
    margin: 5px;
    box-shadow: 0 6px 10px 0 rgba(0,0,153,0.2);
    transition: 0.3s;
}

.cardContainer .accColumns {
    float: left;
    text-align: center;
    font-weight: bold;
}

.accItem .descriptionColor {
    border-left: 20px solid;
    border-right: 20px solid transparent;
    border-bottom: 20px solid transparent;
    height: 0px;
    display: inline-block;
    line-height: 2em;
}

.accItem .acc-avail-color {
    border-left: 20px solid;
    border-right: 20px solid transparent;
    border-bottom: 20px solid transparent;
    height: 0px;
    display:inline-block;
    line-height:2em;
}

.accItem .quantityColor {
    border-left: 20px solid;
    border-right: 20px solid transparent;
    border-bottom: 20px solid transparent;
    left: 25%;
    top: 1px;
    height: 0;
    width: 0;
    position: absolute;
    right: 0px;
    z-index: 2;
    pointer-events: none;
    margin-left: 3px;
}

#searchpopup .optiontoggle[data-type="button"]{
    margin: 12px 7px 0px 7px;
    max-width:80px;
}

#searchpopup .options {
    left:0px;
    box-shadow:0 2px 5px 0 rgba(0,0,0,0.16), 0 2px 10px 0 rgba(0,0,0,0.12);
    color:black;
    text-transform:none;
    line-height:1em;
    position:absolute;
    background-color:white;
    padding-left:5px;
    padding-right:5px;
}
/*#endregion*/

html.theme-material .fwformcontrol[data-type="button"].pressed {
    background-color: #1E88EF;
}

/* Audit History Grid */
html.theme-material [data-name="AuditHistoryGrid"] tbody td ul:not(.auditHeader):nth-child(even) span:not(.auditSpacer) {
    background-color: #F5F5F5;
}

html.theme-material [data-name="AuditHistoryGrid"] tbody tr.selected td ul:not(.auditHeader):nth-child(even) span:not(.auditSpacer){
    background-color: #0087f3 !important;
}

/* Custom fields marker in duplicate rules and custom forms */
[data-iscustomfield="true"]::after {
    content: "[Custom]";
    font-size: .9em;
}

/* Custom Forms */
#designerContent [data-control="FwFormField"]:hover,
#designerContent [data-control="FwContainer"]:hover,
#designerContent div.flexrow:hover,
#designerContent div.flexcolumn:hover
{
    box-shadow: 0 5px 9px 0 rgba(0, 0, 0, 0.2);
    cursor: pointer;
}

#designerContent .fwform-body [data-control="FwContainer"],
#designerContent div.flexrow,
#designerContent div.flexcolumn,
#designerContent [data-control="FwFormField"]{
    margin:5px;
}

#designerContent .fwform-body [data-control="FwContainer"] {
    border: 1px solid darkblue;
}

#designerContent div.flexrow,
#designerContent div.flexcolumn{
    border: 1px solid lightblue;
}

#designerContent div.emptyContainer {
    min-height:50px;
}

#designerContent [data-control="FwFormField"] {
    border: 1px solid #dcdcdc;
}

#designerContent [data-control="FwBrowse"] td.column:not(.tdselectrow):not(.browsecontextmenucell) .field *{
    pointer-events: none;
}
#designerContent [data-type="tabpage"] div.fwformfield * {
    pointer-events: none;
}

#controlProperties .propertyContainer div.properties {
    width: 100%;
    display: flex;
    padding-bottom: 3px;
}

    #controlProperties .propertyContainer div.properties div {
        width: 50%;
        font-size: .9em;
        text-indent:5px;
    }

#controlProperties .propertyContainer div input:disabled {
    background-color: whitesmoke;
    border-color: inherit;
    border-style: solid;
}

