@font-face {
    font-family: 'bgothm';
    src: url('fwfonts/bgothm/bgothm.002-webfont.eot');
    src: url('fwfonts/bgothm/bgothm.002-webfont.eot?#iefix') format('embedded-opentype'), url('fwfonts/bgothm/bgothm.002-webfont.woff2') format('woff2'), url('fwfonts/bgothm/bgothm.002-webfont.woff') format('woff'), url('fwfonts/bgothm/bgothm.002-webfont.ttf') format('truetype'), url('fwfonts/bgothm/bgothm.002-webfont.svg#bankgothic_md_btmedium') format('svg');
    font-weight: normal;
    font-style: normal;
}

.bgothm {
    font-family: bgothm;
}

.rwpurple {
    color: #6a3aaf;
}
/***************************
Master
***************************/
#master { /*min-width:1183px;*/
}

#master-header .usercontrol #logoff {
    cursor: pointer;
}

#master-header #officelocation {
    cursor: pointer;
    position: relative;
}

#master-header #officelocation .caption {
    display: inline-block;
}

#master-header #officelocation .value {
    display: inline-block;
    margin-left: 2px;
}

#master-header .user-controls .officelocation {
    padding: 0 10px;
    display: flex;
    align-items: center;
    cursor: pointer;
}

#master-header .user-controls .officelocation .locationcolor {
    width: 1em;
    height: 1em;
    margin: auto 4px auto 0;
}

#master-header .user-controls .officelocation .value {
}

#master-header .user-controls .dashboard {
    cursor: pointer;
    padding: 0 .3em;
}

#master-body { /*padding:10px;*/
}

#master-body .programlogo {
    flex-wrap: wrap;
    width: 99%;
}

#master-body .programlogo .chart-container {
    display: flex;
    float: left;
    position: relative;
}

#master-body .programlogo .chart-container .fwoverlay {
    z-index: 1;
    position:absolute;
}

#master-body .programlogo .chart-container .officebar {
    display: block;
    position: absolute;
    right: 2%;
}

#master-body .programlogo .chart-container:hover .toolbar {
    display: block;
}

#master-body .programlogo .chart-container .toolbar {
    display: none;
    position: absolute;
    top: 5%;
    right: 2%;
    cursor: pointer;
}

#master-footer {
    text-align: center;
    font-size: 12px;
    margin-bottom: 10px;
}

#master-footer #dbworkslink {
    cursor: pointer;
}

.homepage .programlogo {
    text-align: center;
    width: 100%;
}

.fwconfirmation .chart-container .fullscreenofficebar {
    position: absolute;
    top: 2%;
    right: 2%;
}

/* need to override the framework values here to make things responsive */
.formpage {
    min-width: 0;
    display: block;
}

/***************************
flexrow
***************************/

.flexrow {
    display: flex;
    flex-wrap: wrap;
    max-width: 1200px; /*max-width:60em;*/
}

.flexrow > * {
    flex: 1 1 0;
    min-width: 25px; /*min-width:16em;max-width:24em;*/
}

html.theme-material .fwform-section {
    margin: .6rem .6rem; /* .3erm .9erm  
    background-color: #eceff1;*/
}

html.theme-material .fwbrowse table thead tr td .field .fieldcaption .caption {
    font-size: .7em;
    padding: 0 .4em;
}

html.theme-material .fwbrowse table tbody tr.editrow .field[data-formdatatype="date"] input.value {
    font-size: .9em;
}

html.theme-material .fwbrowse table tbody tr.editrow .field[data-formdatatype="timepicker"] input.value {
    font-size: .9em;
}

html.theme-material .fwbrowse table tbody tr.editrow .field[data-formdatatype="time"] input.value {
}

html.theme-material .fwbrowse table tbody tr.editrow .field[data-formdatatype="money"] input.value {
    font-size: .9em;
}

html.theme-material .fwbrowse table tbody tr.editrow .field[data-formdatatype="text"] input.value {
    font-size: .9em;
    padding: 0 .3rem;
}

html.theme-material .fwbrowse table tbody tr.editrow .field[data-formdatatype="validation"] input.text {
    font-size: .9em;
    padding: 0 .3rem;
}

html.theme-material .fwbrowse table tbody tr.editrow .field[data-formdatatype="number"] input.value {
    font-size: .9em;
}

/*Rules for disabled grid rows text color-profile while selected*/
html.theme-material .fwbrowse table tbody tr.selected td .field-to-lock[data-formreadonly="true"] {
    color: black;
}
/*
html.theme-material .fwformfield[data-type="text"] .fwformfield-control{border-top:none;border-right:none;border-left:none;border-bottom:1px solid #e1dfdf;}
html.theme-material .fwformfield[data-type="validation"] .fwformfield-control{border-top:none;border-right:none;border-left:none;border-bottom:1px solid #e1dfdf;}
html.theme-material .fwformfield[data-type="date"] .fwformfield-control{border-top:none;border-right:none;border-left:none;border-bottom:1px solid #e1dfdf;}
html.theme-material .fwformfield[data-type="time"] .fwformfield-control{border-top:none;border-right:none;border-left:none;border-bottom:1px solid #e1dfdf;}
    */

/***************************
ProgressBar
***************************/

/* Reset the default appearance */
progress[value]::-webkit-progress-value {
    background-image: -webkit-linear-gradient(-45deg, transparent 33%, rgba(0, 0, 0, .1) 33%, rgba(0, 0, 0, .1) 66%, transparent 66%), -webkit-linear-gradient(top, rgba(255, 255, 255, .25), rgba(0, 0, 0, .25)), -webkit-linear-gradient(left, #335EC4, #1F71F4);
    border-radius: 45px;
    background-size: 35px 20px, 100% 100%, 100% 100%;
}

progress::-webkit-progress-bar {
    background-image: -webkit-linear-gradient(-45deg, transparent 33%, rgba(0, 0, 0, .1) 33%, rgba(0, 0, 0, .1) 66%, transparent 66%), -webkit-linear-gradient(top, rgba(255, 255, 255, .25), rgba(0, 0, 0, .25)), -webkit-linear-gradient(left, #333, #666);
    border-radius: 45px;
    background-size: 35px 20px, 100% 100%, 100% 100%
}

progress {
    width: 100%;
    -webkit-appearance: none;
    -moz-appearance: none;
    width: 300px;
    height: 25px;
    font-family: 'Material Icons';
}

.progress_bar {
    position: fixed;
    left: 42%;
    top: 42%;
    z-index: 100;
    text-align: center;
    background-color: #dcdcdc;
    border-radius: 10px;
    padding: 22px 5px 0 5px;
}

progress::-webkit-progress-value {
    background-image: -webkit-linear-gradient(-45deg, transparent 33%, rgba(0, 0, 0, .1) 33%, rgba(0,0, 0, .1) 66%, transparent 66%), -webkit-linear-gradient(top, rgba(255, 255, 255, .25), rgba(0, 0, 0, .25)), -webkit-linear-gradient(left, #09c, #f44);
    border-radius: 5px;
    background-size: 35px 20px, 100% 100%, 100% 100%;
}


/***************************
Form tables
***************************/
.form-table {  border-collapse: collapse; font-size:.8em;}
.form-table .header { background-color: #E0E0E0;}
.form-table th { border: .75px solid black;padding:5px; }
.form-table td { border: .75px solid black;padding:5px;margin:0; }
.form-table td:not(.invoice-amount) { vertical-align:text-top; }
.form-table .text { text-align:left; }
.form-table .decimal { text-align:right; }
.form-table input { height:100%;width:97%;padding:3px 0px 0px 0px;font-family:inherit; }
.form-table i { left:3px;float:right;position:relative;cursor:pointer; }
.form-table tr:nth-child(even) { background-color:#f1eded; }


/* Removes default up and down arrows in input[type="number"] */
#inventory input[type="number"]::-webkit-outer-spin-button, #inventory input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

#inventory input[type="number"] {
    -moz-appearance: textfield;
}

/* Styling for play buttons */
.play-button {
    outline: none;
    background-color:transparent;
    border-color:transparent;
    border-width:0px 0px 0px 0px;
    margin-top:22px;
    height: 24px;
    width: 24px;
}

.play-button > img {
    cursor: pointer;
}

.play-button > img:active {
    cursor: pointer;
    background-color: lightgray;
    border-radius: 50%;
}

.dbl-angle {
    outline: none;
    background-color:transparent;
    border-color:transparent;
    border-width:0px 0px 0px 0px;
}
.dbl-angle > img {
    cursor: pointer;
    width: 50px;
    height: 50px;
}

.dbl-angle > img:active {
     background-color: #64f364;
     border-radius: 6px;
}

.arrow-clicked > img {
     background-color: #76f776;
     border-radius: 6px;
}

/* Styling for error message text */
.fwform .error-msg span {
    background-color: red;
    color: white;
    font-size: 1.4em;
    padding: 0px 4px 3px 4px;
    border-radius: 2px;
}
.fwform .error-msg div {
    margin-left:8px;
}
/* Styling for success message text */
.fwform .success-msg span {
  background-color: green;
  color: white;
  font-size: 1.4em;
  padding: 0px 4px 3px 4px;
  border-radius:2px;
}
.fwform .success-msg div {
    margin-left:8px;
}

.popup {
    background-color: white;
    box-shadow: 0 25px 44px rgba(0, 0, 0, 0.30), 0 20px 15px rgba(0, 0, 0, 0.22);
    width: 85vw;
    height: 85vh;
    overflow: scroll;
    position: relative;
}

.close-modal {display: flex;position: absolute;top: 10px;right: 15px;cursor: pointer;}

/*#region Search Interface*/
#searchpopup {
    background-color: white;
    box-shadow: 0 25px 44px rgba(0, 0, 0, 0.30), 0 20px 15px rgba(0, 0, 0, 0.22);
    width: 85vw;
    height: 85vh;
    overflow: hidden;
    position: relative;
}

#searchpopup #searchTabs {position:absolute;left:0;right:0;top:0;bottom:0;display: flex;flex-direction: column;}
#searchpopup #searchTabs .tabs {flex: 0 0 auto;}
#searchpopup #searchTabs .tabpages {flex: 1 1 0;position:relative;}
#searchpopup #searchTabs .tabpages .tabpage {position:absolute;left:0;right:0;top:0;bottom:0;}
#itemsearch {height:100%;}
#itemsearch .flexpage {height:100%;position:relative;display:flex;flex-direction:column;}

#itemsearch .addToOrder[data-type="button"] {margin: 16px 7px 0px 7px;}
#itemsearch .refresh-availability[data-type="button"] {margin: 16px 7px 0px 7px;}

#itemsearch div[data-datafield="SearchBox"] .fwformfield-caption {font-weight:bold;font-size:1em;}
#itemsearch div[data-datafield="SearchBox"] .fwformfield-control {border: 1px solid #9E9E9E;}

#itemsearch .breadcrumbrow {display: flex;flex:0 0 auto;align-items: center;background-color: #fafafa;border-top: 1px solid #BDBDBD;border-bottom: 1px solid #BDBDBD;}
#itemsearch #breadcrumbs {padding-left: 20px;display:flex;flex: 1 0 auto;}
#itemsearch #breadcrumbs .breadcrumb {display: flex;cursor: pointer;font-weight: bold;padding: 6px 0;}
#itemsearch #breadcrumbs .breadcrumb+.breadcrumb:before {content: "\002F";padding: 0 10px;}
#itemsearch #breadcrumbs .breadcrumb .value:hover {color: #1565c0;}
#itemsearch .breadcrumbrow .material-icons {padding: 4.5px;cursor:pointer;}
#itemsearch .breadcrumbrow .material-icons:hover {background-color:#BDBDBD}

#itemsearch .options {position:relative;}
#itemsearch .options .optionsmenu {display: none;position: absolute;top: 100%;right: 2px;padding: 0.0625em;-moz-box-shadow: 3px 3px 5px 1px rgba(0,0,0,.3);-webkit-box-shadow: 3px 3px 5px 1px rgba(0,0,0,.3);box-shadow: 3px 3px 5px 1px rgba(0,0,0,.3);white-space: nowrap;min-width: 170px;background-color: white;}
#itemsearch .options.active .optionsmenu {display:block;overflow:auto;height:55vh;}
#itemsearch .options.active [data-datafield="Columns"] {overflow:hidden;max-height:475px; margin-top: 10px;}

#itemsearch #categorycolumns {border-top: 1px solid #BDBDBD;border-right: 1px solid #BDBDBD;overflow-y: auto;position: absolute;top: 0;left: 0;right: 0;bottom: 0;}
#itemsearch #categorycolumns > div {margin-bottom:6px;}
#itemsearch #categorycolumns ul {margin:0;cursor:pointer;padding:5px;display:flex;}
#itemsearch #categorycolumns ul.selected {background-color:#66BB6A;}
#itemsearch #categorycolumns ul .downArrowNav {height:24px;width:24px;}
#itemsearch #categorycolumns ul .downArrowNav i {display:none;}
#itemsearch #categorycolumns ul.selected .downArrowNav i {display:block;}
#itemsearch #categorycolumns ul:hover:not(.selected) {background-color: #E0E0E0;}
#itemsearch #categorycolumns #subCategory ul {padding:5px 5px 5px 29px;}

#itemsearch #itemlist {flex: 1 1 0;position:relative;}
#itemsearch #itemlist #inventory {overflow-y: scroll;position: absolute;top: 32px;left: 0;right: 0;bottom: 0;}

#itemsearch #itemlist[data-view="GRID"] .columnDescriptions {display:none;}
#itemsearch #itemlist[data-view="GRID"] {max-width:1950px;}
#itemsearch #itemlist[data-view="GRID"] #inventory {display:flex;flex-wrap:wrap;top:0;}
#itemsearch #itemlist[data-view="GRID"] #inventory .item-container {flex:0 0 280px;}
#itemsearch #itemlist[data-view="GRID"] .item-info {padding:20px;position:relative;border: 1px solid #E0E0E0;}
#itemsearch #itemlist[data-view="GRID"] div[data-column="ItemImage"] {width:8em;height:8em;position:relative;margin:0 auto;}
#itemsearch #itemlist[data-view="GRID"] div[data-column="ItemImage"] img {max-height:100%;max-width:100%;position:absolute;top:0;bottom:0;left:0;right:0;margin:auto;cursor:pointer;}
#itemsearch #itemlist[data-view="GRID"] div[data-column="Description"] {height:4em; user-select:text; text-align:center;}
#itemsearch #itemlist[data-view="GRID"] div[data-column="Description"] .description {font-weight:bold;}
#itemsearch #itemlist[data-view="GRID"] div[data-column="Description"] .toggleaccessories {display:none;}
#itemsearch #itemlist[data-view="GRID"] div[data-column="Note"] {flex:1 0 35px; display:flex;}
#itemsearch #itemlist[data-view="GRID"] div[data-column="Note"] textarea {display:none;}
#itemsearch #itemlist[data-view="GRID"] div[data-column="Note"] i {text-align:right;color:#0d48a0; cursor:pointer;}
#itemsearch #itemlist[data-view="GRID"] div[data-column="Tags"] {display:flex;height:25px;}
#itemsearch #itemlist[data-view="GRID"] div[data-column="Tags"] .tag {display:inline-block;border-radius: 4px;padding: 2px 4px;color: white;text-transform: lowercase;font-weight: 500;box-shadow: inset 0 -1px 0 rgba(27,31,35,.12);}
#itemsearch #itemlist[data-view="GRID"] div[data-column="Tags"] .tag:not(:first-of-type) {margin-left: 4px;}
#itemsearch #itemlist[data-view="GRID"] div[data-column="Quantity"] {display:flex;align-items:center;}
#itemsearch #itemlist[data-view="GRID"] div[data-column="Available"] {display: flex;align-items:center;}
#itemsearch #itemlist[data-view="GRID"] div[data-column="Available"] .available-color {text-align:right;}
#itemsearch #itemlist[data-view="GRID"] div[data-column="ICode"] {display: none;user-select:text;}
#itemsearch #itemlist[data-view="GRID"] div[data-column="PartNumber"] {display: none;user-select:text;}
#itemsearch #itemlist[data-view="GRID"] div[data-column="ConflictDate"] {display: flex;}
#itemsearch #itemlist[data-view="GRID"] div[data-column="In"] {display: flex;}
#itemsearch #itemlist[data-view="GRID"] div[data-column="QC"] {display: flex;}
#itemsearch #itemlist[data-view="GRID"] div[data-column="Rate"] {display: flex;}
#itemsearch #itemlist[data-view="GRID"] div[data-column="Type"] {display:none;}
#itemsearch #itemlist[data-view="GRID"] div[data-column="Category"] {display:none;}
#itemsearch #itemlist[data-view="GRID"] div[data-column="SubCategory"] {display:none;}
#itemsearch #itemlist[data-view="GRID"] div[data-column="AllWh"] {display:none;}
#itemsearch #itemlist[data-view="GRID"] .gridcaption {text-decoration: underline;flex: 1 0 100px;}
#itemsearch #itemlist[data-view="GRID"] .item-accessories {display:none;}

#itemsearch #itemlist[data-view="LIST"] .columnDescriptions {display:flex;align-items:center;padding:5px 20px 5px 5px;background-color:#e0e0e0;color:#464646;border-bottom:1px solid #BDBDBD;font-weight:bold;}
#itemsearch #itemlist[data-view="LIST"] .item-info {display:flex;align-items:center;padding:5px;position:relative;border-bottom: 1px solid #BDBDBD;}
#itemsearch #itemlist[data-view="LIST"] div[data-column="ItemImage"] {display:none;}
#itemsearch #itemlist[data-view="LIST"] div[data-column="Description"] {flex:1 0 250px;margin:0 10px;user-select:text;}
#itemsearch #itemlist[data-view="LIST"] div[data-column="Description"] .descriptionrow {display:flex;align-items:center;}
#itemsearch #itemlist[data-view="LIST"] div[data-column="Tags"] {flex:1 0 100px;margin:0 10px;}
#itemsearch #itemlist[data-view="LIST"] div[data-column="Tags"] .tag {display:inline-block;border-radius: 4px;padding: 2px 4px;color: white;text-transform: lowercase;font-weight: 500;box-shadow: inset 0 -1px 0 rgba(27,31,35,.12);}
#itemsearch #itemlist[data-view="LIST"] div[data-column="Tags"] .tag:not(:first-of-type) {margin-left: 4px;}
#itemsearch #itemlist[data-view="LIST"] div[data-column="Quantity"] {flex:0 0 90px;margin-right:10px;position:relative;text-align:center;}
#itemsearch #itemlist[data-view="LIST"] div[data-column="Note"] {flex:1 0 35px;margin-right:10px;}
#itemsearch #itemlist[data-view="LIST"] div[data-column="Note"] textarea {display:none;}
#itemsearch #itemlist[data-view="LIST"] div[data-column="Note"] i {text-align:right;color:#0d48a0; cursor:pointer;}
#itemsearch #itemlist[data-view="LIST"] div[data-column="Type"] {flex:1 0 100px;margin-right:10px;}
#itemsearch #itemlist[data-view="LIST"] div[data-column="Category"] {flex:1 0 100px;margin-right:10px;}
#itemsearch #itemlist[data-view="LIST"] div[data-column="SubCategory"] {flex:1 0 110px;margin-right:10px;}
#itemsearch #itemlist[data-view="LIST"] div[data-column="ICode"] {flex:0 0 100px;margin-right:10px;user-select:text;}
#itemsearch #itemlist[data-view="LIST"] div[data-column="PartNumber"] {flex:0 0 175px;margin-right:10px;user-select:text;}
#itemsearch #itemlist[data-view="LIST"] div[data-column="Available"] {flex:0 0 100px;margin-right:10px;text-align:right;}
#itemsearch #itemlist[data-view="LIST"] div[data-column="AllWh"] {flex:0 0 120px;margin-right:10px;text-align:right;}
#itemsearch #itemlist[data-view="LIST"] div[data-column="ConflictDate"] {flex:0 0 120px;margin-right:10px;text-align:right;}
#itemsearch #itemlist[data-view="LIST"] div[data-column="In"] {flex:0 0 60px;margin-right:10px;text-align:right;}
#itemsearch #itemlist[data-view="LIST"] div[data-column="QC"] {flex:0 0 60px;margin-right:10px;text-align:right;}
#itemsearch #itemlist[data-view="LIST"] div[data-column="Rate"] {flex:0 0 80px;margin-right:10px;text-align:right;}
#itemsearch #itemlist[data-view="LIST"] .gridcaption {display:none;}
#itemsearch #itemlist[data-view="LIST"] .item-accessories .accColumns {display:none;}
#itemsearch #itemlist[data-view="LIST"] .item-accessories .item-accessory-info > div[data-column="Description"] { margin: 0em -2em 0em 3em; }
#itemsearch #itemlist[data-view="LIST"] .item-accessories .item-accessory-info > div[data-column="Description"] .descriptionrow { margin-right: 1em; }
#itemsearch #itemlist[data-view="LIST"] .item-accessories .nested-accessories div[data-column="Description"] { margin: 0em -5em 0em 6em; }
#itemsearch #itemlist[data-view="LIST"] .item-accessories .nested-accessories div[data-column="Description"] .descriptionrow { margin-right: 5em; }

#itemsearch #itemlist[data-view="HYBRID"] .columnDescriptions {display:flex;align-items:center;padding:5px 20px 5px 5px;background-color:#e0e0e0;color:#464646;border-bottom:1px solid #BDBDBD;font-weight:bold;}
#itemsearch #itemlist[data-view="HYBRID"] .item-info {display:flex;align-items:center;padding:5px;position:relative;border-bottom: 1px solid #BDBDBD;}
#itemsearch #itemlist[data-view="HYBRID"] div[data-column="ItemImage"] {width:4em;margin-right:10px;}
#itemsearch #itemlist[data-view="HYBRID"] .item-info div[data-column="ItemImage"] {height:4em;}
#itemsearch #itemlist[data-view="HYBRID"] div[data-column="ItemImage"] img {max-height:100%;max-width:100%;cursor:pointer;}
#itemsearch #itemlist[data-view="HYBRID"] div[data-column="Description"] {flex:1 0 250px;margin-right:10px;user-select:text;}
#itemsearch #itemlist[data-view="HYBRID"] div[data-column="Description"] .descriptionrow {display:flex;align-items:center;}
#itemsearch #itemlist[data-view="HYBRID"] div[data-column="Tags"] {flex:1 0 100px;margin-right:10px;}
#itemsearch #itemlist[data-view="HYBRID"] div[data-column="Tags"] .tag {display:inline-block;border-radius: 4px;padding: 2px 4px;color: white;text-transform: lowercase;font-weight: 500;box-shadow: inset 0 -1px 0 rgba(27,31,35,.12);}
#itemsearch #itemlist[data-view="HYBRID"] div[data-column="Tags"] .tag:not(:first-of-type) {margin-left: 4px;}
#itemsearch #itemlist[data-view="HYBRID"] div[data-column="Quantity"] {flex:0 0 90px;margin-right:10px;position:relative;text-align:center;}
#itemsearch #itemlist[data-view="HYBRID"] div[data-column="Note"] textarea {display:none;}
#itemsearch #itemlist[data-view="HYBRID"] div[data-column="Note"] {flex:1 0 35px;margin-right:10px;}
#itemsearch #itemlist[data-view="HYBRID"] div[data-column="Note"] i {text-align:right;color:#0d48a0; cursor:pointer;}
#itemsearch #itemlist[data-view="HYBRID"] div[data-column="Type"] {flex:1 0 100px;margin-right:10px;}
#itemsearch #itemlist[data-view="HYBRID"] div[data-column="Category"] {flex:1 0 100px;margin-right:10px;}
#itemsearch #itemlist[data-view="HYBRID"] div[data-column="SubCategory"] {flex:1 0 110px;margin-right:10px;}
#itemsearch #itemlist[data-view="HYBRID"] div[data-column="Available"] {flex:0 0 100px;margin-right:10px;text-align:right;}
#itemsearch #itemlist[data-view="HYBRID"] div[data-column="ICode"] {flex:0 0 100px;margin-right:10px;user-select:text;}
#itemsearch #itemlist[data-view="HYBRID"] div[data-column="PartNumber"] {flex:0 0 175px;margin-right:10px;user-select:text;}
#itemsearch #itemlist[data-view="HYBRID"] div[data-column="AllWh"] {flex:0 0 120px;margin-right:10px;text-align:right;}
#itemsearch #itemlist[data-view="HYBRID"] div[data-column="ConflictDate"] {flex:0 0 120px;margin-right:10px;text-align:right;}
#itemsearch #itemlist[data-view="HYBRID"] div[data-column="In"] {flex:0 0 60px;margin-right:10px;text-align:right;}
#itemsearch #itemlist[data-view="HYBRID"] div[data-column="QC"] {flex:0 0 60px;margin-right:10px;text-align:right;}
#itemsearch #itemlist[data-view="HYBRID"] div[data-column="Rate"] {flex:0 0 80px;margin-right:10px;text-align:right;}
#itemsearch #itemlist[data-view="HYBRID"] .gridcaption {display:none;}
#itemsearch #itemlist[data-view="HYBRID"] .item-accessories .accColumns {display:none;}
#itemsearch #itemlist[data-view="HYBRID"] .item-accessories .item-accessory-info div[data-column="Description"] { margin-left: 5em; margin-right: 0em; }
#itemsearch #itemlist[data-view="HYBRID"] .item-accessories .item-accessory-info div[data-column="ItemImage"] { float: left; }
#itemsearch #itemlist[data-view="HYBRID"] .item-accessories .nested-accessories div[data-column="Description"] { margin-left: 10em; margin-right: -5em; }
/*#itemsearch #itemlist[data-view="HYBRID"] .item-accessories .nested-accessories div[data-column="ItemImage"] {float:left;}*/


#inventory .item-container .item-info .opentab {margin-left:auto;cursor:pointer;}
#inventory .item-container .toggleaccessories { font-weight: bold; color: #1E88E5; display: inline-block; cursor: pointer; }
#inventory .item-container .toggleaccessories:hover { text-decoration: underline; }

.item-info .incrementQuantity, .item-info .decrementQuantity {padding: 5px 0px;float: left;width: 25%;border: none;cursor:pointer;}

.item-container .lightBlue {background-color: #c5eefb;}
.item-container .available-color {padding:4px 8px;border-radius:4px;display:inline-block;min-width: 36px;border: 1px solid rgba(0, 40, 100, 0.12);}
.item-container div[data-column="Available"][data-state="enough"] .available-color {background-color:#009933;color:#ffffff;}
.item-container div[data-column="Available"][data-state="negative"] .available-color {background-color:#f44336;color:#ffffff;}
.item-container div[data-column="Available"][data-state="stale"] .available-color {background-color:#1565C0;color:#ffffff;}
.item-container div[data-column="Available"][data-state="low"] .available-color {background-color:#ffeb3b;}
.item-container div[data-column="Available"][data-state="noavailcheck"] .available-color {background-color:#00ffff;}
.item-container div[data-column="Available"][data-state="positiveconflict"] .available-color {background-color:#006600;color:#ffffff;}

.item-container .item-accessories {}
.item-container .item-accessories .item-accessory-info .toggleaccessories { text-indent: 1em; }

#previewHtml {height:100%;}
#previewHtml div[data-browsedatafield="QuantityAvailable"] .fieldvalue {padding:4px 8px;border-radius:4px;display:inline-block;min-width: 36px;border: 1px solid rgba(0, 40, 100, 0.12);}
#previewHtml div[data-browsedatafield="QuantityAvailable"][data-state="enough"] .fieldvalue {background-color:#009933;color:#ffffff;}
#previewHtml div[data-browsedatafield="QuantityAvailable"][data-state="negative"] .fieldvalue {background-color:#f44336;color:#ffffff;}
#previewHtml div[data-browsedatafield="QuantityAvailable"][data-state="stale"] .fieldvalue {background-color:#1565C0;color:#ffffff;}
#previewHtml div[data-browsedatafield="QuantityAvailable"][data-state="low"] .fieldvalue {background-color:#ffeb3b;}
#previewHtml div[data-browsedatafield="QuantityAvailable"][data-state="noavailcheck"] .fieldvalue {background-color:#00ffff;}
#previewHtml div[data-browsedatafield="QuantityAvailable"][data-state="positiveconflict"] .fieldvalue {background-color:#006600;color:#ffffff;}
/*#endregion*/

[data-name="OrderItemGrid"] div[data-browsedatafield="AvailableQuantity"] .fieldvalue {padding:4px 8px;border-radius:4px;display:inline-block;min-width: 36px;border: 1px solid rgba(0, 40, 100, 0.12);}
[data-name="OrderItemGrid"] div[data-browsedatafield="AvailableQuantity"][data-state="enough"] .fieldvalue {background-color:#009933;color:#ffffff;}
[data-name="OrderItemGrid"] div[data-browsedatafield="AvailableQuantity"][data-state="negative"] .fieldvalue {background-color:#f44336;color:#ffffff;}
[data-name="OrderItemGrid"] div[data-browsedatafield="AvailableQuantity"][data-state="stale"] .fieldvalue {background-color:#1565C0;color:#ffffff;}
[data-name="OrderItemGrid"] div[data-browsedatafield="AvailableQuantity"][data-state="low"] .fieldvalue {background-color:#ffeb3b;}
[data-name="OrderItemGrid"] div[data-browsedatafield="AvailableQuantity"][data-state="noavailcheck"] .fieldvalue {background-color:#00ffff;}
[data-name="OrderItemGrid"] div[data-browsedatafield="AvailableQuantity"][data-state="positiveconflict"] .fieldvalue {background-color:#006600;color:#ffffff;}

html.theme-material .fwformcontrol[data-type="button"].pressed {
    background-color: #1E88EF;
}

/* Audit History Grid */
html.theme-material [data-name="AuditHistoryGrid"] tbody td ul {font-size:14px; display:flex;}
html.theme-material [data-name="AuditHistoryGrid"] tbody td ul.audit-header span.field-name-header{font-weight:bold; float:left; width:300px; text-decoration:underline; padding-right:1em;}
html.theme-material [data-name="AuditHistoryGrid"] tbody td ul.audit-header span.value-header{font-weight:bold; float:left; width:250px; text-decoration:underline; padding-right:1em;}
html.theme-material [data-name="AuditHistoryGrid"] tbody td ul span.field-name{font-weight:bold; float:left; width:300px; padding-right:1em; word-wrap: break-word;}
html.theme-material [data-name="AuditHistoryGrid"] tbody td ul span.old-value{width:250px; padding-right:1em;}
html.theme-material [data-name="AuditHistoryGrid"] tbody td ul span.new-value{width:250px; padding-right:4em;}
html.theme-material [data-name="AuditHistoryGrid"] tbody td ul span.old-html span{font-weight:bolder; cursor:pointer; display:contents;}
html.theme-material [data-name="AuditHistoryGrid"] tbody td ul span.old-html textarea{display:none;}
html.theme-material [data-name="AuditHistoryGrid"] tbody td ul span.audit-spacer{flex:1 1 0}
html.theme-material [data-name="AuditHistoryGrid"] tbody td ul:not(.audit-header):nth-child(even) span:not(.audit-spacer) {background-color: #F5F5F5;}
html.theme-material [data-name="AuditHistoryGrid"] tbody tr.selected td ul:not(.audit-header):nth-child(even) span:not(.audit-spacer){background-color: #0087f3 !important;}

/* Custom fields marker in duplicate rules and custom forms */
[data-iscustomfield="true"]::after {
    content: "[Custom]";
    font-size: .9em;
}

/* Custom Forms */
#designerContent [data-control="FwFormField"]:hover,
#designerContent [data-control="FwContainer"]:hover,
#designerContent div.flexrow:hover,
#designerContent div.flexcolumn:hover
{
    box-shadow: 0 5px 9px 0 rgba(0, 0, 0, 0.2);
    cursor: pointer;
}

#designerContent .fwform-body [data-control="FwContainer"],
#designerContent div.flexrow,
#designerContent div.flexcolumn,
#designerContent [data-control="FwFormField"]{
    margin:5px;
}

#designerContent .fwform-body [data-control="FwContainer"] {
    border: 1px solid darkblue;
}

#designerContent div.flexrow,
#designerContent div.flexcolumn{
    border: 1px solid lightblue;
}

#designerContent div.emptyContainer {
    min-height:50px;
}

#designerContent [data-control="FwFormField"] {
    border: 1px solid #dcdcdc;
}

#designerContent [data-control="FwBrowse"] td.column:not(.tdselectrow):not(.browsecontextmenucell) .field *{
    pointer-events: none;
}
#designerContent [data-type="tabpage"] div.fwformfield * {
    pointer-events: none;
}

#controlProperties .propertyContainer div.properties {
    width: 100%;
    display: flex;
    padding-bottom: 3px;
}

    #controlProperties .propertyContainer div.properties div {
        width: 50%;
        font-size: .9em;
        text-indent:5px;
    }

#controlProperties .propertyContainer div input:disabled {
    background-color: whitesmoke;
    border-color: inherit;
    border-style: solid;
}

.modulefields div {cursor:pointer;}
.modulefields div:nth-child(odd) {background-color: #f1f1f1;}

/* Availability Conflicts */
#availabilityTable table {border-collapse:collapse;}
#availabilityTable table .number {text-align:right;}
#availabilityTable table .nowrap {white-space: nowrap;}
#availabilityTable table thead tr {text-align:left; background-color:lightgray; border: 2px solid #989898;}
#availabilityTable table tr td, #availabilityTable tr th {padding:5px;}
#availabilityTable table tr.data-row {border-bottom: 2px solid #989898;}
#availabilityTable table tr.data-row:nth-of-type(2n+1) {background-color:#EFEFEF;}
#availabilityTable table tr td i.btnpeek {cursor: pointer; transition: all 0.3s; color: #616161;padding: 2px;/*position: fixed;*/}
#availabilityTable table tr td.quantity-available {cursor:pointer;}
#availabilityTable table tr td div.available-color {padding:4px 8px;border-radius:4px;display:inline-block;min-width: 36px;border: 1px solid rgba(0, 40, 100, 0.12);}
#availabilityTable table tr td div[data-state="stale"] {background-color:#1565C0;color:#ffffff;}
#availabilityTable table tr td div[data-state="enough"]{background-color:#009933;color:#ffffff;}
#availabilityTable table tr td div[data-state="negative"]{background-color:#f44336;color:#ffffff;}
#availabilityTable table tr td div[data-state="low"]  {background-color:#ffeb3b;}
#availabilityTable table tr td div[data-state="noavailcheck"] {background-color:#00ffff;}
#availabilityTable table tr td div[data-state="positiveconflict"] {background-color:#006600;color:#ffffff;}

.rwSubModule > div {
  margin: 15px;
  border-left: 1px solid #9e9e9e;
  border-right: 1px solid #9e9e9e;
}

.submenu-btn[data-enabled="false"] {pointer-events: none;color: lightgray;}

.activity {
  border-bottom: 1px solid #BDBDBD;
  margin: 0px 10px 0px 10px;
}