#assignItems .ui-itemlist {display:none;}
#assignItems .ui-itemlist .iteminfo {background-color:#546e7a;text-align:center;font-size:18px;padding:4px;}

#assignItems .record {font-size:.625em;border-bottom: 1px solid #454545;padding:.3em;cursor: pointer;will-change:opacity, transform;transition:all .1s ease-out;}
#assignItems .record:active {background-color:rgba(69,69,69,.6);}
#assignItems .record .row {display:-webkit-box;display:-moz-box;display:-ms-flexbox;display:-webkit-flex;display:flex;flex-direction:row;}
#assignItems .record .row .caption {color:#aaaaaa;}
#assignItems .record .row .caption.fixed {flex: 0 0 64px;width:64px;}
#assignItems .record .row .caption.dynamic {flex: 0 0 auto;margin-right:5px;}
#assignItems .record .row .value {-webkit-box-flex:1;-webkit-flex:1;flex: 1 0 0;}
#assignItems .record.poitem {border-left:10px solid #673ab7;}
#assignItems .record.item {border-left:10px solid #9e9e9e;}
#assignItems .record .desc {font-size:.75rem;color:#03a9f4;text-decoration:underline;}
#assignItems .norecord {text-align:center;}

#assignItems .itemrecord {font-size:.625em;border-bottom: 1px solid #454545;padding:.3em;min-height:34px;cursor: pointer;will-change:opacity, transform;transition:all .1s ease-out;display: flex;align-items: center;flex-flow: row wrap;}
#assignItems .itemrecord:active {background-color:rgba(69,69,69,.6);}
#assignItems .itemrecord .row {display:-webkit-box;display:-moz-box;display:-ms-flexbox;display:-webkit-flex;display:flex;flex-direction:row;flex: 1 0 auto;width: 100%;}
#assignItems .itemrecord .row .caption {color:#aaaaaa;flex: 0 1 50%;margin-right:5px;text-align:right;}
#assignItems .itemrecord .row .value {-webkit-box-flex:1;-webkit-flex:1;flex: 1 0 50%;}

#assignItems .ui-itemassign {display:none;}
#assignItems .ui-itemassign .itemassign-title {background-color:#546e7a;text-align:center;font-size:18px;padding:4px;}
#assignItems .ui-itemassign .itemassign-item {background-color:#212121;padding:10px;}
#assignItems .ui-itemassign .itemassign-item div[data-datafield="barcode"] input {text-transform: uppercase;}
#assignItems .ui-itemassign .itemassign-item div[data-datafield="mfgserial"][data-mixedcase="false"] input {text-transform: uppercase;}

#assignItems .ui-multiscan {display:none;} 
#assignItems .ui-multiscan .multiscan-title {background-color:#546e7a;text-align:center;font-size:18px;padding:4px;}
#assignItems .ui-multiscan .multiscan-info {background-color:#212121;padding:4px;font-size: .825em;border-bottom: 1px solid #454545;}
#assignItems .ui-multiscan .multiscan-info .row {display:flex;}
#assignItems .ui-multiscan .multiscan-info .row .info {display:flex;flex:1 0 50%;}
#assignItems .ui-multiscan .multiscan-info .row .info .caption {flex:1 0 50%;text-align:right;padding-right:2px;}
#assignItems .ui-multiscan .multiscan-info .row .info .value {flex:1 0 25%;padding-left:2px;}
#assignItems .ui-multiscan .multiscan-tags {}
#assignItems .ui-multiscan .multiscan-tags .multiscanrecord {background-color:#212121;font-size:.625em;border-bottom: 1px solid #454545;padding:.3em;cursor: pointer;will-change:opacity, transform;transition:all .1s ease-out;border-left:10px solid #212121;}
#assignItems .ui-multiscan .multiscan-tags .multiscanrecord.processed {border-left-color:#2196f3;}
#assignItems .ui-multiscan .multiscan-tags .multiscanrecord.assigned {border-left-color:#4caf50;}
#assignItems .ui-multiscan .multiscan-tags .multiscanrecord.exception {border-left-color:#f44336;}
#assignItems .ui-multiscan .multiscan-tags .multiscanrecord .row {display:flex;}
#assignItems .ui-multiscan .multiscan-tags .multiscanrecord .row .caption {width:55px;}
#assignItems .ui-multiscan .multiscan-tags .multiscanrecord .row .value {}
#assignItems .ui-multiscan .multiscan-readready {text-align:center;line-height:64vh;}
#assignItems .ui-multiscan .multiscan-read {background-color: #212121;padding: 4px;}
#assignItems .ui-multiscan .multiscan-read .tagsread {text-align:center;}
#assignItems .ui-multiscan .multiscan-read .tagsreadcount {font-weight:bold;text-align:center;font-size:100px;}
#assignItems .ui-multiscan .multiscan-read .buttonrow {text-align:center;}

#assignItems .ui-scan {display:none;}
#assignItems .ui-scan .fwmobilecontrol-value {text-align:center;}

#assignItems .ui-assetdetails {display:none;}
#assignItems .ui-assetdetails .assetinfo {background-color:#546e7a;text-align:center;font-size:18px;padding:4px;}
#assignItems .ui-assetdetails .detailrecord {font-size:.8em;background-color:#212121;border-bottom: 1px solid #454545;cursor: pointer;will-change:opacity, transform;transition:all .1s ease-out;padding:8px;}
#assignItems .ui-assetdetails .detailrecord:active {background-color:rgba(69,69,69,.6);}
#assignItems .ui-assetdetails .detailrecord .row {display:flex;padding:2px;}
#assignItems .ui-assetdetails .detailrecord .row .caption {flex:0 0 80px;color:#aaaaaa;}
#assignItems .ui-assetdetails .detailrecord .row .value {flex:1 0 80px;}
#assignItems .ui-assetdetails .detailrecord.out .value {color:#FF9800;}