/*Sales Inventory Purchase History Report*/
tbody {
    tr[data-rowtype="detail"]:nth-child(odd):not(.detail-view-row) {
        background-color: #DCDCDC;
    }

    .detail-view-row[data-rowtype="detail"]:nth-child(even) {
        background-color: #DCDCDC;
    }
}

thead {
    th {
        border-top: 2px solid #000000;
        border-bottom: 2px solid #000000;
        font-weight: bold;
        padding: 5px;
        white-space: nowrap;
    }
}