#quoteMenuView .qm-search {margin-bottom:10px;}
#quoteMenuView .qm-search .fwmobilecontrol-value {text-transform:uppercase;}
#quoteMenuView .qm-search .fwmobilecontrol-value::-webkit-input-placeholder {text-transform: none;}
#quoteMenuView .qm-search .fwmobilecontrol-value:-moz-placeholder {text-transform: none;}
#quoteMenuView .qm-search .fwmobilecontrol-value::-moz-placeholder {text-transform: none;}
#quoteMenuView .qm-search .fwmobilecontrol-value:-ms-input-placeholder {text-transform: none;}

#quoteMenuView .qm-newquote {background-color:#212121;}
#quoteMenuView .qm-newquote .qm-newquote-title {background-color:#546e7a;padding:5px;font-size:18px;text-align:center;}
#quoteMenuView .qm-newquote .qm-newquote-fields {padding:10px;}

#quoteMenuView .qm-records {background-color:#212121;}
#quoteMenuView .qm-records .norecords {padding:5px;background-color:#f44336;color:rgba(0,0,0,0.87);}

#quoteMenuView .record {font-size: 14px;border-bottom: 1px solid #454545;padding: 5px;cursor: pointer;will-change:opacity, transform;transition:all .1s ease-out;}
#quoteMenuView .record:active {background-color:rgba(69,69,69,.6);}
#quoteMenuView .record .row {display:-webkit-box;display:-moz-box;display:-ms-flexbox;display:-webkit-flex;display:flex;flex-direction:row;}
#quoteMenuView .record .row .caption.fixed {flex: 0 0 80px;width:80px;}
#quoteMenuView .record .row .caption.dynamic {flex: 0 0 65px;margin-right:5px;}
#quoteMenuView .record .row .value {-webkit-box-flex:1;-webkit-flex:1;flex: 1 0 0;}

#quoteMenuView .record.order .desc {color:#03a9f4;text-decoration:underline;}
