/*Change Audit Report*/
tbody[data-rowtype="detail"]:nth-of-type(even) {
    background-color: #DCDCDC;
}

.main-header {
    border-top: 2px solid #000000;
    border-bottom: 2px solid #000000;
    font-weight: bold;
    padding: 5px;
    white-space: nowrap;
}
