@font-face {
    font-family: 'bgothm';
    src: url('fwfonts/bgothm/bgothm.002-webfont.eot');
    src: url('fwfonts/bgothm/bgothm.002-webfont.eot?#iefix') format('embedded-opentype'),
         url('fwfonts/bgothm/bgothm.002-webfont.woff2') format('woff2'),
         url('fwfonts/bgothm/bgothm.002-webfont.woff') format('woff'),
         url('fwfonts/bgothm/bgothm.002-webfont.ttf') format('truetype'),
         url('fwfonts/bgothm/bgothm.002-webfont.svg#bankgothic_md_btmedium') format('svg');
    font-weight: normal;
    font-style: normal;
}
.bgothm {font-family:bgothm;}

@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: url('fwfonts/materialicons/MaterialIcons-Regular.eot'); /* For IE6-8 */
  src: local('Material Icons'),
       local('MaterialIcons-Regular'),
       url('fwfonts/materialicons/MaterialIcons-Regular.woff2') format('woff2'),
       url('fwfonts/materialicons/MaterialIcons-Regular.woff') format('woff'),
       url('fwfonts/materialicons/MaterialIcons-Regular.ttf') format('truetype');
}
.material-icons {font-family: 'Material Icons';font-weight: normal;font-style: normal;display: inline-block;width: 1em;height: 1em;line-height: 1;text-transform: none;letter-spacing: normal;
                 font-size: 24px;                      /* Preferred icon size */
                 -webkit-font-smoothing: antialiased;  /* Support for all WebKit browsers. */
                 text-rendering: optimizeLegibility;   /* Support for Safari and Chrome. */
                 -moz-osx-font-smoothing: grayscale;   /* Support for Firefox. */
                 font-feature-settings: 'liga';        /* Support for IE. */
}
.material-icons.md-18 { font-size: 18px; }
.material-icons.md-24 { font-size: 24px; }
.material-icons.md-36 { font-size: 36px; }
.material-icons.md-48 { font-size: 48px; }

.material-icons.md-dark { color: rgba(0, 0, 0, 0.54); }
.material-icons.md-dark.md-inactive { color: rgba(0, 0, 0, 0.26); }

.material-icons.md-light { color: rgba(255, 255, 255, 1); }
.material-icons.md-light.md-inactive { color: rgba(255, 255, 255, 0.3); }
/***************************
Responsive - this should eventually go on the html element after we move away from px sizes
***************************/
@media only screen and (min-device-width: 1px) and (max-device-width: 768px) {  /* iPhone */
.responsive  {font-size:16px;}
}
@media only screen and (min-device-width: 769px) and (max-device-width:1366) {  /* up to iPad Pro */
.responsive {font-size:110%;}
}
@media only screen and (min-device-width: 1024px) and (-webkit-min-device-pixel-ratio: 2) {
.responsive {font-size: 2.2vmin}
}
@media only screen and (min-device-width: 1367px) {  /* big screens */
.responsive {font-size:105%;}
}

/***************************
Master
***************************/
#master #master-header {background-color: rgba(0,0,0,.4);background-image: linear-gradient(rgba(92,92,92,.3),rgba(36,36,36,.3));width:100%;/*margin-bottom:15px;box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12);*/}
#master #master-header #master-header-row1 {height:50px;}
#master #master-header #master-header-row1:after {content:"";display:table;clear:both;}
#master #master-header #master-header-row1 #btnmenu {width:30px;padding:10px;float:left;cursor:pointer;}
#master #master-header #master-header-row1 #btnmenu #btnmenu-icon {background-size:30px 30px;background-image:url("fwimages/icons/128/menu.001.png");height:30px;width:30px;}
#master #master-header #master-header-row1 #master-header-caption {line-height:50px;float:left;margin-left:5px;font-size:20px;color:#f2f2f2;}
#master #master-header #master-header-row1 #device-status-icons {float:right;padding:6px 0;height:30px;}
#master #master-header #master-header-row1 #device-status-icons .device-status-icon {float:left;overflow:hidden;margin:0 4px;}
#master #master-header #master-header-row1 #device-status-icons .device-status-icon .icon {text-align:center;}
#master #master-header #master-header-row1 #device-status-icons .device-status-icon .caption {text-align:center;font-size:10px;}
#master #master-header #master-header-row1 #device-status-icons .material-icons {font-size:16px;}
#master #master-header #master-header-row1 #module-controls {float:right;padding:10px;height:30px;}
#master #master-header #master-header-row1 #module-controls i {font-size:30px;}
#master #master-header #master-header-row1 #module-controls:not(:empty) {cursor:pointer;}
#master #master-header #master-header-row1 #module-controls #add-icon {background-size:30px 30px;background-image:url("fwimages/icons/128/add.001.png");height:30px;width:30px;cursor:pointer;}
#master #master-header #master-header-row2:after {content:"";display:table;clear:both;}
#master #master-header #master-header-row2 .title {padding:4px;font-size: 12px;background: #424242;color: rgba(245,245,245,1);font-weight: bold;}
#master #master-header #master-header-row3 {color:#ffffff;background-color:#2196f3;/*box-shadow:0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);*/}
#master #master-header #master-header-row3:after {content:"";display:table;clear:both;}
#master #master-header #master-header-row3 .btn {cursor:pointer;line-height:20px;padding:10px;font-size:18px;display:flex;align-items:center;}
/*#master #master-header #master-header-row3 .btn::before {content:"";display:block;float:left;background-size:20px 20px;height:20px;width:20px;margin:0 5px 0 0;}*/
#master #master-header #master-header-row3 .btn:hover {background-color:#1976d2;}
#master #master-header #master-header-row3 #save {float:right;}
#master #master-header #master-header-row3 #save::before {background-image:url("fwimages/icons/128/save.001.png");}
#master #master-header #master-header-row3 #continue {float:right;}
#master #master-header #master-header-row3 #continue::before {background-image:url("fwimages/icons/128/continue.001.png");}
#master #master-header #master-header-row3 #cancel {float:left;}
#master #master-header #master-header-row3 #cancel::before {background-image:url("fwimages/icons/128/cancel.001.png");}
#master #master-header #master-header-row3 #back {float:left;}
#master #master-header #master-header-row3 #back::before {background-image:url("fwimages/icons/128/back.001.png");}
#master #master-header #master-header-row3 .print::before {background-image:url("fwimages/icons/128/print.001.png");}

#master #master-header #master-header-row3 .btn.left {float:left;}
#master #master-header #master-header-row3 .btn.right {float:right;}
#master #master-header #master-header-row3 .btn.save::before {background-image:url("fwimages/icons/128/save.001.png");}
#master #master-header #master-header-row3 .btn.continue::before {background-image:url("fwimages/icons/128/continue.001.png");}
#master #master-header #master-header-row3 .btn.cancel::before {background-image:url("fwimages/icons/128/cancel.001.png");}
#master #master-header #master-header-row3 .btn.back::before {background-image:url("fwimages/icons/128/back.001.png");}
#master #master-header #master-header-row3 .btn.new::before {background-image:url("fwimages/icons/128/add.001.png");}

#master #master-header #master-header-row4 {display:-webkit-box;display:-moz-box;display:-ms-flexbox;display: flex;flex-wrap:wrap;background-color: #545454;/*position: relative;overflow-x: auto;overflow-y: hidden;margin: 0 auto;width: 100%;*/}
#master #master-header #master-header-row4 .tab {-webkit-box-flex:1;-webkit-flex:1;flex:1 0 auto;/*display: block;float: left;*/text-align: center;line-height: 40px;height: 40px;padding: 0;margin: 0;text-transform: uppercase;text-overflow: ellipsis;overflow: hidden;letter-spacing: .8px;min-width: 80px;-webkit-transition: all .28s ease;transition: all .28s ease;cursor: pointer;box-sizing: border-box;font-size:14px;}
#master #master-header #master-header-row4 .tab.active {border-bottom: 4px solid #2196f3;background-color: #6B6B6B;}

#master #master-footer {display:none;margin:2px 0 0 0;padding:0;vertical-align:middle;background-color:rgba(25,25,25,1);color:#ffffff;overflow:hidden;left:0;right:0;position:fixed;bottom:0;border-top:1px solid #000000;border-bottom:1px solid #000000;}
html[connectionstate="CONNECTING"] #master #master-footer {background-color:yellow;color:black;}
html[connectionstate="CONNECTED"] #master #master-footer {background-color:green;}
#master #master-footer #master-footer-connectionstate {padding:2px 5px;font-size:12px;}

@media screen and (max-width:1024px) {
    /*#master .menu.is-active .menu-body {box-shadow: 8px 8px 20px 0 rgba(0, 0, 0, 0.2);}*/
}
@media screen and (min-width:1025px) {
    #master {max-width:1280px;/*margin: 0 auto;*/padding-left:240px;}
    #master #master-header #master-header-row1 #btnmenu {display:none;}
    #master #master-header #master-header-row1 #master-header-caption {margin-left:10px;}
}
@media screen and (min-width:1367px) {
    #master {max-width:568px;margin: 0 auto;}
}
#master .menu .menu-body {/*width:80%;*/width:240px;height:100%;position:fixed;-webkit-transition:-webkit-transform 0.3s;top:0;left:0;-webkit-transform:translateX(-100%);background-color:#ffffff;color:#282628;z-index:200;overflow-y:auto;-webkit-overflow-scrolling:touch;}
#master .menu.is-active .menu-body {-webkit-transform:translateX(0);}
#master .menu .menu-close {background-color:#000000;position:fixed;top:0;left:0;width:0;height:0;opacity:0;-webkit-transition: opacity .3s,width 0s .3s,height 0s .3s;}
#master .menu.is-active .menu-close {width:100%;height:100%;opacity:.7;-webkit-transition: opacity .3s;}

#master .menu .menu-body .menu-body-top {background-color:rgba(0,0,0,.4);}
#master .menu .menu-body .menu-body-top .apptitle {padding-top:10px 0;font-size:20px;}
#master .menu .menu-body .menu-body-top .menu-top-controls {padding:5px;overflow:auto;font-size:12px;}
#master .menu .menu-body .menu-body-links {font-size:14px;}
#master .menu .menu-body .menu-body-link {overflow:auto;/*border-bottom:1px solid #9c9c9c;padding:10px;*/cursor:pointer;line-height: 44px;padding: 0 15px;}
.no-touch #master .menu .menu-body .menu-body-link:hover {background-color:rgba(0, 0, 0, 0.1);}
#master .menu .menu-body .menu-body-link:active {background-color:rgba(0, 0, 0, 0.1);}
/*#master .menu .menu-body .menu-body-link:last-of-type {border-bottom:0;}*/
#master .menu .menu-body .menu-body-link .menu-body-link-icon {float:left;height: 44px;line-height: inherit;}
#master .menu .menu-body .menu-body-link .menu-body-link-icon .linkicon {/*width:32px;height:32px;*/width: 28px;height: 28px;display: block;margin-top: 8px;}
#master .menu .menu-body .menu-body-link .menu-body-link-caption {float:left;/*line-height:36px;*/margin-left:10px;line-height:inherit;}

/*#master .menu .menu-body .menu-body-linkgroup:not(:last-of-type) {border-bottom:1px solid #e0e0e0;}*/
#master .menu .menu-body .menu-body-linkgroupheader {/*padding:5px;background-color:rgba(0,0,0,.5);border-top:1px solid #4e4e4e;border-bottom:1px solid #4e4e4e;*/padding:5px 15px 5px 15px;text-transform:uppercase;background-color:#2269b8;color:#ffffff;}

@media screen and (min-width:1025px) {
    #master .menu .menu-body {-webkit-transform:translateX(0);width:240px;box-shadow: 8px 8px 20px 0 rgba(0, 0, 0, 0.2);}
}
#master .menu .menu-body .menu-body-footer {font-size: 10px;padding: 5px 0;background-color: rgba(0,0,0,.4);width: 100%;}
/***************************
FwMobileLogin
***************************/
.mobileloginpage { width: 100vw; height: 100vh; overflow: hidden; display: flex; flex-direction: column; justify-content: center; }
.mobileloginpage .programlogo { text-align: center; /*padding-top: 50px;*/ font-size: 40px; color: #2f2f2f; }
.mobileloginpage .mobilelogin-fields {/*margin-top:10em;*//*margin-top:25vh;*/margin:44px 0 0 0;font-size:14px;}
.mobileloginpage .mobilelogin-fields .mobilelogin-email {width:80%;margin:0 auto;}
.mobileloginpage .mobilelogin-fields .mobilelogin-email .mobilelogin-email-caption {color:rgba(20,20,20,.6);padding:0 6px;}
.mobileloginpage .mobilelogin-fields .mobilelogin-email.error .mobilelogin-email-caption {color:red;-webkit-animation: shake .5s linear;}
.mobileloginpage .mobilelogin-fields .mobilelogin-password {width:80%;margin:14px auto 0 auto;}
.mobileloginpage .mobilelogin-fields .mobilelogin-password .mobilelogin-password-caption {color:rgba(20,20,20,.6);padding:0 6px;}
.mobileloginpage .mobilelogin-fields .mobilelogin-password.error .mobilelogin-password-caption {color:red;-webkit-animation: shake .5s linear;}
.mobileloginpage .mobilelogin-fields input {background-color:transparent;width:100%;border:none;color:#2f2f2f;border-bottom:1px solid rgba(20,20,20,.6);padding:6px;box-sizing:border-box;border-radius:0;font-size:14px;}
.mobileloginpage .mobilelogin-buttons {/*margin-top:3em;*/margin-top:8vh;}
.mobileloginpage .mobilelogin-buttons #mobilelogin-btnLogin {width:80%;margin:0 auto;text-align:center;padding:15px;box-sizing:border-box;color:#f2f2f2;font-weight:bolder;cursor:pointer;}
.mobileloginpage .mobilelogin-footer {margin-top:2em;text-align:center;color:#2f2f2f;font-size:10px;}

@-webkit-keyframes shake {
    8%, 41%  { -webkit-transform: translateX(-10px); }
    25%, 58% { -webkit-transform: translateX(10px); }
    75%      { -webkit-transform: translateX(-5px); }
    92%      { -webkit-transform: translateX(5px); }
    0%, 100% { -webkit-transform: translateX(0); }
}

@media screen and (min-width:546px) {
    .mobileloginpage {width:546px;margin:0 auto;}
}

.fwpanel {border:1px solid #777777;background-color:rgba(0,0,0,.3);margin:5px;}
.fwpanel > .caption {border-bottom:1px solid #777777;background-color:rgba(0,0,0,.6);padding:5px;color:#ffffff;}
.fwpanel > .children {padding:5px;}

.fwtextbox > .control {background-color:rgba(255,255,255,1);border-radius:14px;padding:5px;}
.fwtextbox > .control > .textbox {width:100%;padding:0;margin:0;height:22px;line-height:22px;border:0;background-color:transparent;color:#000000;border-bottom:1px solid #ffffff;}
.fwtextbox > .control > .textbox:focus {outline:0;border-bottom:1px solid #f1caff;}

ul.fwradiobuttongroup {overflow:hidden;margin:0;padding:0;border:1px solid #000000;background-color:rgba(255,255,255,1);border-radius:14px;display:inline-block;}
ul.fwradiobuttongroup li {float:left;list-style-type:none;}
ul.fwradiobuttongroup label {
    -moz-box-shadow:    0 4px 3px rgba(0,0,0,.2), inset 0 1px 0 0 rgba(255,255,255,1);
    -webkit-box-shadow: 0 4px 3px rgba(0,0,0,.2), inset 0 1px 0 0 rgba(255,255,255,1);
    box-shadow:         0 4px 3px rgba(0,0,0,.2), inset 0 1px 0 0 rgba(255,255,255,1);
    color:rgba(150,150,150,1);
}
ul.fwradiobuttongroup input[type="radio"]:checked + label {
    -moz-box-shadow:    0 4px 3px rgba(0,0,0,.2), inset 0 1px 0 0 #97c4fe;
    -webkit-box-shadow: 0 4px 3px rgba(0,0,0,.2), inset 0 1px 0 0 #97c4fe;
    box-shadow:         0 4px 3px rgba(0,0,0,.2), inset 0 1px 0 0 #97c4fe;
    background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #3d94f6), color-stop(1, #1e62d0) );
    background:-moz-linear-gradient( center top, #3d94f6 5%, #1e62d0 100% );
    background-color:#3d94f6;
    border:1px solid #337fed;
    color:#ffffff;
    font-family:arial;
    font-size:15px;
    font-weight:bold;
    text-decoration:none;
    text-shadow:0 -1px 0 rgba(0,0,0,.5);
    text-align:center;
}
ul.fwradiobuttongroup li label {display:block;cursor:pointer;text-align:center;margin:0;padding:11px 6px;}
ul.fwradiobuttongroup li input {display:none;}

.fwradiobuttongroup2 {margin:0 auto;padding:0;border:0;background-color:transparent;display:-webkit-box;display:-moz-box;display:-ms-flexbox;display:flex;flex-direction:row;justify-content:center;}
.fwradiobuttongroup2 li {list-style-type:none;border-top: 1px solid #2196f3;border-left: 1px solid #2196f3;border-bottom: 1px solid #2196f3;color:#2196f3;overflow:hidden;}
.fwradiobuttongroup2 li:first-child {border-top-left-radius:5px;border-bottom-left-radius:5px;}
.fwradiobuttongroup2 li:last-child {border-right: 1px solid #2196f3;border-top-right-radius:5px;border-bottom-right-radius:5px;}
.fwradiobuttongroup2 input[type="radio"]:checked + label {background-color:#2196f3;color:#ffffff;}
.fwradiobuttongroup2 input[type="radio"]:disabled + label {opacity:.5;}
.fwradiobuttongroup2 li label {display:block;text-align:center;margin:0;padding:11px 12px;background-color:#ffffff;}
.fwradiobuttongroup2 input[type="radio"]:not(:disabled) + label {cursor:pointer;}
.fwradiobuttongroup2 li input {display:none;}

.button {display:inline-block;box-sizing:border-box;padding:12px 20px;cursor:pointer;text-align:center;letter-spacing:.5px;text-transform:uppercase;border-radius:2px;box-shadow:0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12);font-size:16px;will-change:opacity, transform;transition:all .3s ease-out;white-space:nowrap;overflow:hidden;text-overflow:ellipsis;}
.button:hover:not(.disabled) {cursor:pointer;box-shadow: 0 5px 11px 0 rgba(0,0,0,0.18),0 4px 15px 0 rgba(0,0,0,0.15);}
.button.default {
    color:#fff;background-color:#2196f3;
}
.button.default:hover:not(.disabled) {
    background-color:#42a5f5;
}
.button.green {
    color:#fff;background-color:#4caf50;
}
.button.green:hover:not(.disabled) {
    background-color:#66bb6a;
}
.button.red {
    color:#fff;background-color:#f44336;
}
.button.red:hover:not(.disabled) {
    background-color:#ef5350;
}
/*.button.default:focus,
.button.default.focus {
    border:1px solid #0000aa;
}*/
/*.button.default:active,
.button.default.active {
    -moz-box-shadow:    0 0px 6px rgba(255,255,255,.5), inset 0 1px 0 0 #97c4fe;
    -webkit-box-shadow: 0 0px 6px rgba(255,255,255,.5), inset 0 1px 0 0 #97c4fe;
    box-shadow:         0 0px 6px rgba(255,255,255,.5), inset 0 1px 0 0 #97c4fe;
}*/
.button.disabled {
    cursor:default;color:#fff;background-color:#9e9e9e;
}

.button.prototype {
	-moz-box-shadow:    0 4px 3px rgba(0,0,0,.2), inset 0 1px 0 0 #97c4fe;
    -webkit-box-shadow: 0 4px 3px rgba(0,0,0,.2), inset 0 1px 0 0 #97c4fe;
    box-shadow:         0 4px 3px rgba(0,0,0,.2), inset 0 1px 0 0 #97c4fe;
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #777777), color-stop(1, #333333) );
	background:-moz-linear-gradient( center top, #777777 5%, #333333 100% );
	background-color:#777777;
	-moz-border-radius:6px;
	-webkit-border-radius:6px;
	border-radius:6px;
	border:1px solid #777777;
	display:inline-block;
	color:#ffffff;
	font-family:arial;
	font-size:15px;
	font-weight:bold;
	margin:8px 2px;
    padding:8px 6px;
	text-decoration:none;
	text-shadow:0 -1px 0 rgba(0,0,0,.5);
	text-align:center;
	min-width:80px;
}
.button.prototype:hover {
	cursor:pointer;
}
.button.prototype:active,
.button.prototype.active {
    -moz-box-shadow:    0 0 6px rgba(255,255,255,.5), inset 0 1px 0 0 #97c4fe;
    -webkit-box-shadow: 0 0 6px rgba(255,255,255,.5), inset 0 1px 0 0 #97c4fe;
    box-shadow:         0 0 6px rgba(255,255,255,.5), inset 0 1px 0 0 #97c4fe;
}

.flexrow {display:-webkit-box;display:-moz-box;display:-ms-flexbox;display:flex;flex-direction:row;}
.flexcolumn {display:-webkit-box;display:-moz-box;display:-ms-flexbox;display:flex;flex-direction:column;}
.flexwrap {flex-wrap:wrap;}
.flexalignitemscenter {align-items:center;}