.rpt-flexrow {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    width: 1500px;
}

.rpt-flexrow > * {
    flex: 1 1 0;
    min-width: 16em; /*max-width:24em;*/
}

.rpt-flexcolumn {
    display: flex;
    flex-direction: column;
}

.rpt-title {
    align-self: center;
    font-family: Arial;
    font-size: 30px;
    font-weight: bold;
}

.rpt-header-date {
    align-self: center;
    font-family: Arial;
    font-size: 18px;
    margin-top: 15px;
}

.rpt-header-right {
    align-self: flex-end;
    font-size: 20px
}

.rpt-header-left {
    align-self: flex-start;
    font-size: 20px
}