.rpt-flexrow {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    width: 1000px;
}

.rpt-flexrow > * {
    flex: 1 1 0;
    min-width: 16em; /*max-width:24em;*/
}

.rpt-flexcolumn {
    display: flex;
    flex-direction: column;
}

.rpt-title {
    align-self: center;
    font-family: Arial, sans-serif;
    font-size: 19px;
    font-weight: bold;
}

.rpt-header-date {
    align-self: center;
    font-family: Arial, sans-serif;
    font-size: 12px;
    margin-top: 5px;
}

.rpt-header-right {
    font-family: Arial, sans-serif;
    align-self: flex-end;
    font-size: 12px;
    font-weight: bold;
}

.rpt-header-left {
    font-family: Arial, sans-serif;
    align-self: flex-start;
    font-size: 12px;
    font-weight: bold;
}