#contractSignatureView-canvasSignature {cursor:url(fwcursors/pen.001.cur) 0 0, crosshair;}

/* disable text selection for touch screens so it feels more like a native app */
html.touch div, 
html.touch span, 
html.touch li, 
html.touch a, 
html.touch img, 
html.touch table, 
html.touch tr, 
html.touch td {-webkit-tap-highlight-color: rgba(0,0,0,0) !important; -webkit-touch-callout: none; -webkit-text-size-adjust: none; -webkit-user-select: none; -khtml-user-select: none; -moz-user-select: none; -o-user-select: none; user-select: none;}

*:focus {outline: none;}


.rental {font-size:28px;margin:30px 0 0 0;}
.works {font-size:28px;}
.quikscan {font-size:22px;margin:0 0 0 0;}
/**/
.qtypanel {background-color:rgba(150,150,150,.9) !important;text-align:center;}
html.textcolor-white .qtypanel {color:#000000;}

html {height:100%;margin:0;padding:0;background-position:center top;background-color:#000000;font-family:Arial,Helvetica,Sans-Serif;overflow:auto;-webkit-text-size-adjust:none;-webkit-touch-callout:none;-webkit-user-select:none;-khtml-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select: none;background-image:url(images/textures/brushedmetal1.001.jpg);}
body {min-height:100%;padding:0;margin:0;background-color:rgba(0,0,0,.3);background-image:linear-gradient(rgba(25,25,25,.8),rgba(50,50,50,.8));background-image:-webkit-linear-gradient(rgba(25,25,25,.8),rgba(50,50,50,.8));color:#ffffff;}

#index-loading {text-align:center;position:fixed;top:0;left:0;right:0;bottom:0;margin:0 auto;color:#000000;font-weight:bold;}
#index-loadingInner {margin:10px auto 0 auto;padding:10px 0;width:88px;height:10px;}
#index-loading-caption {height:30px;line-height:30px;vertical-align:middle;}

@media screen and (max-width:391px) {
    .menuview {width:320px;margin:0 auto;}
}
@media screen and (min-width:392px) and (max-width:467px) {
    .menuview {width:392px;margin:0 auto;}
}
@media screen and (min-width:468px) and (max-width:545px) {
    .menuview{width:468px;margin:0 auto;}
}
@media screen and (min-width:546px) and (max-width:785px) {
    .menuview{width:546px;margin:0 auto;}
}
@media screen and (min-width:786px) and (max-width:1025px) {
    .menuview{width:786px;margin:0 auto;}
}

.fwchip {position:fixed;bottom:2rem;right:2rem;box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 1px 5px 0 rgba(0,0,0,0.12), 0 3px 1px -2px rgba(0,0,0,0.2);background-color: #2196f3;color: #fff;border-radius: 50%;width: 56px;height: 56px;text-align: center;line-height: 56px;padding: 0;cursor: pointer;text-transform: uppercase;letter-spacing: .5px;font-size: 1.6rem;transition: .2s ease-out;}
.fwchip:hover {box-shadow: 0 3px 3px 0 rgba(0,0,0,0.14), 0 1px 7px 0 rgba(0,0,0,0.12), 0 3px 1px -1px rgba(0,0,0,0.2);background-color:#42a5f5;}
.fwchip:active {background-color:#42a5f5;}
.fwchip .material-icons {font-size: 1.6rem;line-height: 56px;}

.fwmenu {overflow:hidden;}
.fwmenu-title {clear:left;padding:2px 5px;margin:2px 2px;font-family:bgothm;font-size:18px;font-weight:bold;border:1px solid #000000;border-radius:3px;background-color:rgba(0,0,0,.6);color:rgba(255,255,255,1);
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -o-user-select: none;
    user-select: none;
    -moz-box-shadow:    0 4px 3px rgba(0,0,0,.5);
    -webkit-box-shadow: 0 4px 3px rgba(0,0,0,.5);
    box-shadow:         0 4px 3px rgba(0,0,0,.5);
}

.fwmenu-item {float:left;overflow:hidden;text-align:center;width:74px;margin:2px 2px 0 2px;padding:3px 0 0 0;}
.fwmenu-item-inner {height:104px;margin:0 0;cursor:pointer;}
.fwmenu-item-icon {border-radius:14px; width:64px;height:64px;background-color:rgba(255,255,255,.3);text-align:center;margin:0 auto;background-repeat:no-repeat;background-position:center center;
}
.fwmenu-item-icon:active, 
.fwmenu-item-icon.active {
    background-color:rgba(255,255,255,.6);
}
.fwmenu-item.disabled .fwmenu-item-icon{background-color:rgba(150,0,0,.6);}
.fwmenu-item-icon img {width:44px;height:44px;margin:10px;}
.fwmenu-item-description {font-weight:bold;font-size:11px;margin:5px 0;line-height:15px;height:30px;overflow:hidden;vertical-align:middle;text-align:center;/*text-shadow: 0px 2px 3px rgba(0,0,0,.8);*/}
html.textcolor-black .fwmenu-item-description,
html.textcolor-darkgrey .fwmenu-item-description{ text-shadow:none;text-shadow: 0 1px 2px rgba(255,255,255,.8); }

#scanBarcodeView .barcodewrapper{background-color:#ffffff;display:flex;}
#scanBarcodeView-txtBarcodeData {flex: 1 1 0;width: 275px;text-transform:uppercase;height: 44px;font-size: 18px;padding: 10px 5px;border: 0;box-sizing: border-box;border-radius: 0;}
#scanBarcodeView .clearbarcode{flex:0 0 44px;width:44px;height:44px;line-height:44px;text-align:center;font-size:22px;color:#757575;cursor:pointer;display:none;}
#scanBarcodeView .clearbarcode i {line-height:inherit;}
#scanBarcodeView .numpad { flex: 0 0 44px; width: 44px; height: 44px; line-height: 44px; text-align: center; font-size: 22px; color: #757575; cursor: pointer; display: none; }
#scanBarcodeView .numpad i { line-height: inherit; }
/*#scanBarcodeView-button {background-color:rgba(255,255,255,.7);border:1px solid #ffffff;border-radius:5px;padding:4px;}*/

.center {text-align:center;}

/* field */
.field {margin:0 0 5px 0;}
.field .caption {padding:0 0 0 10px;overflow:hidden;}
.field .caption .label{float:left;color:rgba(0,200,0,1);font-weight:bold;}
.field .caption .number{float:right;margin:0 10px 0 0;}
body.darkgrey    .field .caption {color:#ffffff;}
body.lightblue   .field .caption,
body.silver      .field .caption,
body.white       .field .caption,
body.transparent .field .caption {color:#000000;}

.tablefield > .caption{font-weight:bold;color:rgba(0,200,0,1);}
.tablefield > table {border-collapse:collapse;}
.tablefield > table td{border-top:1px solid rgba(255,255,255,.2);border-bottom:1px solid rgba(255,255,255,.2);padding:5px 0;}
.tablefield > table tr:first-child td{border-top:0;}
.tablefield > table tr:last-child td{border-bottom:0;}

.panel,
.panel2 {border-radius:3px;background-color:rgba(0,0,0,.5);border:1px solid rgba(0,0,0,.7);margin:0 2px 2px 2px;}
.panel {padding:5px;}

/* readonlytextbox */
.readonlytextbox {min-height:1em;border-radius:7px;margin:0 5px;padding:5px;border:1px solid rgba(0,0,0,.8);background-color:rgba(50,50,50,.7);color:#ffffff;}

/* textbox */
.textbox {border:1px solid rgba(0,0,0,.5);border-radius:7px;background-color:#ffffff;font-size:14px;
    width:100%;
    height:44px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -webkit-user-select: text;
    -khtml-user-select:  text;
    -moz-user-select:    text;
    -o-user-select:      text;
    user-select:         text;
}
.textbox[type=number] {width:100px;border-radius:0;text-align:center;}
.textbox[disabled] {background-color: rgb(235, 235, 228);}
.textbox:focus {outline:none;}
.dropdownlist{border:1px solid rgba(0,0,0,.5);border-radius:7px;background-color:#ffffff;font-size:14px;
    width:100%;
    height:44px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}
.textarea {border-radius:7px;padding:5px;width:100%;height:100px;-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box;/*resize:none;*/}
/*.scanTarget {border:1px solid #f44336 !important;}*/

.qserror {min-height:1em;padding:5px;background-color:rgba(255,0,0,1);color:rgba(255,255,255,1);text-align:center;font-size:12px;}
.qssuccess {min-height:1em;padding:5px;background-color:rgba(0,150,0,1);color:rgba(255,255,255,1);text-align:center;font-size:12px;}
.qsmessage {min-height:1em;padding:5px;background-color:rgba(0,0,0,.5);color:rgba(255,255,255,1);text-align:left;font-size:12px;}

.bottomspacer {height:50px;}
.pageselector {text-align:center;background-color:rgba(90,90,90,1);height:41px;}
@media screen and (orientation:portrait) {
    .pageselector {position:fixed;bottom:0;left:0;right:0;border-top:1px solid #000000;}
}
@media screen and (orientation:landscape) {
    .pageselector {position:fixed;bottom:0;left:0;right:0;border-top:1px solid #000000;}
}
.pageselector span  {display:inline-block;min-width:50px;line-height:40px;padding:0 5px;font-size:14px;color:#000000;-webkit-transition:all ease-in .5s;transition:all ease-in .25s;}
.pageselector span.selected {background-color:#000000;color:#ffffff;cursor:pointer;}
.pageselector span.unselected {color:#cccccc;cursor:pointer;}

.rfid-placeholder {text-align:center;font-size:12px;margin-top:5px;}
.rfid-items {font-size:10px;margin-bottom:8px;}
.rfid-items .rfid-item {margin-top:4px;cursor:pointer;border:1px solid #616161;}
.rfid-items .rfid-item .rfid-item-title {/*border-bottom:1px solid black;border-top:1px solid rgba(139,139,139,1);*/background-color:#616161;font-size:12px;font-weight:bold;padding:2px;text-align:center;background-image:linear-gradient(transparent,rgba(55,55,55,0.6));}
.rfid-items .rfid-item .rfid-item-info {overflow:auto;background:#242424;}
/*.rfid-items .rfid-item .rfid-item-info .rfid-item-rfid {overflow:auto;width:100%;}
.rfid-items .rfid-item .rfid-item-info .rfid-item-barcode {overflow:auto;float:left;margin-top:4px;width:50%;}
.rfid-items .rfid-item .rfid-item-info .rfid-item-serial {overflow:auto;float:left;margin-top:4px;width:50%;}
.rfid-items .rfid-item .rfid-item-info .rfid-item-message {margin-top:4px;overflow:auto;width:100%;}
.rfid-items .rfid-item .rfid-item-info .rfid-item-ordered {overflow:auto;float:left;width:33%;}
.rfid-items .rfid-item .rfid-item-info .rfid-item-staged {overflow:auto;float:left;width:33%;}
.rfid-items .rfid-item .rfid-item-info .rfid-item-remaining {overflow:auto;float:left;width:33%;}*/
.rfid-items .rfid-item .rfid-item-info .rfid-data {overflow:hidden;padding:2px 4px;}
.rfid-items .rfid-item .rfid-item-info .rfid-data:nth-child(even) {background:rgba(65, 65, 65, 0.65);}
.rfid-items .rfid-item .rfid-item-info .rfid-data .item-caption {float:left;width:30%;}
.rfid-items .rfid-item .rfid-item-info .rfid-data .item-value {float:left;width:70%;}

.rfid-items .rfid-item.selected {background-color:#0066ff;}
.rfid-items .rfid-item:active .rfid-item-title,
.rfid-items .rfid-item:active .rfid-item-info {background-color:#0066ff;}

.rfid-items .rfid-item.processed .rfid-item-title {background-color:#209309;}
.rfid-items .rfid-item.processed.duplicate .rfid-item-title {background-color:#3557e7;}
.rfid-items .rfid-item.exception .rfid-item-title {background-color:#953735;}
.rfid-items .rfid-item.pending .rfid-item-title {background-color:#31859c;}

.rfid-bottom {position:fixed;bottom:0;left:0;right:0;background-color: rgba(90,90,90,1);border-top: 1px solid #000000;}
.rfid-bottom .rfid-rfidstatus {overflow:auto;text-align:center;margin:2px 5px 0 5px;padding:2px;font-size:14px;border:1px solid black;background-color:gray;}
.rfid-bottom .rfid-rfidstatus .statusitem {overflow:auto;float:left;}
.rfid-bottom .rfid-rfidstatus .statusitem.processed {margin-left:5px;margin-right:11px;}
.rfid-bottom .rfid-rfidstatus .statusitem.exceptions {margin-right:11px;}
.rfid-bottom .rfid-rfidstatus .statusitem.pending {margin-right:5px;}
.rfid-bottom .rfid-rfidstatus .statusitem .statusitem-caption {float:left;}
.rfid-bottom .rfid-rfidstatus .statusitem .statusitem-value {float:left;width:24px;}
.rfid-bottom .rfid-rfidbuttons {text-align:center;margin:2px 0;}
.rfid-bottom .rfid-rfidbuttons .rfidbutton {display:inline-block;line-height:30px;padding:0 6px;background-color:rgb(48,106,255);border:1px solid rgb(0,54,77);cursor:pointer;background-size:auto 200%;background-position:0 80%;transition:color 0.2s,background-position 0.2s;background-image:linear-gradient(transparent, rgba(0, 0, 0, .4));}
.rfid-bottom .rfid-rfidbuttons .rfidbutton:hover {background-position:0 20%;}
.rfid-bottom .rfid-rfidbuttons .rfidbutton:active {background-image:linear-gradient(rgba(0, 0, 0, .4), transparent);}

.exceptionmessage {color:black;}
.exceptionbuttons div {text-align:center;background-color:rgb(132, 132, 132);border:1px solid rgb(55, 55, 55);padding:8px;margin:5px 0;}
.exceptionbuttons div:active {background-color:#0066ff;}

#index-loading-icon {position:absolute;height:120px;width:120px;top:50%;left:50%;margin:-70px 0 0 -60px;color:#ffffff;text-align:center;font-family:Arial;padding:10px;}
.loading-circle { border: 10px solid rgba(0,183,229,1); opacity: .9; border-right: 10px solid rgba(0,0,0,0); border-left: 10px solid rgba(0,0,0,0); border-radius: 100px; box-shadow: 0 0 70px #2187e7; width: 100px; height: 100px; margin: 0 auto; -moz-animation: spinPulse 1s infinite ease-in-out; -webkit-animation: spinPulse 1s infinite linear; }
.loading-circle1 { border: 10px solid rgba(0,183,229,1); opacity: .9; border-left: 10px solid rgba(0,0,0,0); border-right: 10px solid rgba(0,0,0,0); border-radius: 50px; box-shadow: 0 0 30px #2187e7; width: 60px; height: 60px; margin: 0 auto; position: relative; top: -100px; -moz-animation: spinoffPulse 1s infinite linear; -webkit-animation: spinoffPulse 1s infinite linear; }
@-moz-keyframes spinPulse {
    0% { -moz-transform: rotate(160deg); opacity: .5; box-shadow: 0 0 1px #2187e7; }
    50% { -moz-transform: rotate(145deg); opacity: 1; }
    100% { -moz-transform: rotate(-320deg); opacity: .5; }
}
@-moz-keyframes spinoffPulse {
    0% { -moz-transform: rotate(0deg); }
    100% { -moz-transform: rotate(360deg); }
}
@-webkit-keyframes spinPulse {
    0% { -webkit-transform: rotate(160deg); opacity: .5; box-shadow: 0 0 1px #2187e7; }
    50% { -webkit-transform: rotate(145deg); opacity: 1; }
    100% { -webkit-transform: rotate(-320deg); opacity: .5; }
}
@-webkit-keyframes spinoffPulse {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
}

.fwmobilecontrol-control {display:-webkit-box;display:-moz-box;display:-ms-flexbox;display:flex;flex-direction:row;background-color:#ffffff;box-sizing:border-box;}
.fwmobilecontrol-control .fwmobilecontrol-value {height:44px;font-size:18px;padding:10px 5px;border:0;box-sizing:border-box;border-radius:0;-webkit-box-flex:1;-webkit-flex:1;flex: 1 1 0;width:275px;}
.fwmobilecontrol-control .fwmobilecontrol-search {box-sizing:border-box;height:44px;width:44px;cursor:pointer;border-left: 1px solid #bdbdbd;background:#e9e9e9;-webkit-box-flex:1;-webkit-flex:1;flex: 0 0 44px;}
.fwmobilecontrol-control .fwmobilecontrol-search:active {background-color:#bcb4b0;}
.fwmobilecontrol-control .fwmobilecontrol-search .icon-search {z-index:1;display:inline-block;width:26px;height:26px;line-height:16px;vertical-align:text-top;background-image:url("images/icons/128/itemstatus.001.png");background-size:cover;background-repeat:no-repeat;margin:7px;box-sizing:border-box;}

.card {background:#f0f0f0;user-select:none;color:#333333;margin-bottom:10px;position:relative}
.card:after {content:"";display:table;clear:both;}
.card .card-title {padding:10px;font-weight:bold;font-size:20px;background-image:linear-gradient(transparent, rgba(80, 80, 80, .6));background-size:auto 200%;background-position:0 80%;}
.card .card-list-item {padding:10px;border-bottom:1px solid #BBBBBB;}
.card .card-callout {font-weight:bold;font-size:18px;}
.card .card-body {padding:10px;background-color:#f0f0f0;}
.card .card-body:after {content:"";display:table;clear:both;}
.card .card-body .card-item .item-caption {border-bottom:1px solid #BBBBBB;font-size:12px;}
.card .card-body .card-item .item-caption:after {content:"";display:table;clear:both;}
.card .card-body .card-item .item-value {overflow:auto;margin-top:4px;min-height:18px;}
.card .card-body hr {border: 0;height: 1px;background: #333;background-image: linear-gradient(to right, #ccc, #333, #ccc);margin:15px;}

@-webkit-keyframes fly-in-from-left {
  from {-webkit-transform:translateY(15rem);opacity:0;}
}
@-webkit-keyframes fly-in-from-right {
  from {-webkit-transform:translateY(15rem);opacity:0;}
}

/* override some styles from the jQuery virtual keyboard */
.ui-keyboard-button { border-radius:10em; font-size:26px;}
.ui-keyboard-actionkey:not(.ui-keyboard-dec):not(.ui-keyboard-combo) { min-width: 3em; }
.ui-keyboard-actionkey:not(.ui-keyboard-dec):not(.ui-keyboard-combo) span { font-size: unset; position: unset; top: unset; left: unset; }
.ui-keyboard-preview { font-size: 1.4em; }