.fwmobilesearch .searchinput {background-color:#fff;display:-webkit-box;display:-moz-box;display:-ms-flexbox;display:-webkit-flex;display:flex;align-items:center;}
.fwmobilesearch .searchinput i {width: 44px;height: 44px;text-align: center;box-sizing:border-box;-webkit-box-flex:0;-webkit-flex:0;flex: 0 0 auto;min-width:44px;background-color: white;line-height: 44px;}
.fwmobilesearch .searchinput input {font-size:18px;height:44px;border:0;box-sizing:border-box;border-radius:0;-webkit-box-flex:1;-webkit-flex:1;flex: 1 1 auto;min-width:0;}
.fwmobilesearch .searchinput input::-ms-clear {display:none;}
.fwmobilesearch .searchinput input.toupper {text-transform:uppercase;}
.fwmobilesearch .searchinput input::-webkit-input-placeholder {text-transform: none;}
.fwmobilesearch .searchinput input:-moz-placeholder {text-transform: none;}
.fwmobilesearch .searchinput input::-moz-placeholder {text-transform: none;}
.fwmobilesearch .searchinput input:-ms-input-placeholder {text-transform: none;}
.fwmobilesearch .searchinput .clear {display:none;cursor:pointer;}
.fwmobilesearch .searchinput .clear.visible {display:block;}

.fwmobilesearch .options {display:-webkit-box;display:-moz-box;display:-ms-flexbox;display:-webkit-flex;display:flex;-webkit-flex-wrap:wrap;flex-wrap:wrap;white-space:nowrap;background-color: #eeeeee;color: rgba(0,0,0,0.87);border-top: 1px solid #bdbdbd;font-size:.75em;}
.fwmobilesearch .options .option {flex:1 0 auto;text-align:center;-webkit-transition: all .28s ease;transition: all .28s ease;cursor: pointer;box-sizing: border-box;padding:1em .3em;}
.fwmobilesearch .options .option:active {background-color:#e0e0e0;}
.fwmobilesearch .options .option.active {background-color: #2196f3;}

.fwmobilesearch .searchresults {background-color:#212121;}

.fwmobilesearch .searchfooter {}
.fwmobilesearch .searchfooter .recordcount {background-color: #607d8b;text-align: center;color: rgba(0,0,0,0.87);}
.fwmobilesearch .searchfooter .recordcount:not(:empty) {padding: 4px 0;}
.fwmobilesearch .searchfooter .pager {text-align: center;cursor: pointer;background-color: #2196f3;color: rgba(0,0,0,0.87);}
.fwmobilesearch .searchfooter .pager:not(:empty) {padding: 10px 0;}
