/*CustomerRevenueByMonthReport*/
tbody {
    tr[data-rowtype="detail"]:nth-child(odd) {
        background-color: #DCDCDC;
    }

    tr[data-rowtype="GroupHeadingheader"] td {
        padding-bottom: .8em;
        font-weight: bold;
        text-decoration: underline;
    }

    td:after {
        content: attr(data-value);
    }

    td {
        padding: 3px;
    }
}

thead {
    th {
        border-top: 2px solid #000000;
        border-bottom: 2px solid #000000;
        font-weight: bold;
        padding: 5px;
        white-space: nowrap;
    }
}
