/*SubItemStatusReport*/

tbody {
    tr[data-rowtype="detail"]:nth-child(odd) {
        background-color: #DCDCDC;
    }

    td.tax-option {
        font-weight: 600;
        border-bottom: 1px solid black;
    }
}

.top-section-header {
    th {
        background-color: #DCDCDC;
        text-align: center;
    }
}
thead {
    th {
        border-top: 2px solid #000000;
        border-bottom: 2px solid #000000;
        font-weight: bold;
        padding: 15px 5px 5px 5px;
        white-space: nowrap;
    }
}

.no-border {
    border-top: none;
    border-bottom: none;
}

.line-header {
    font-weight:700;
    border: none;
    span {
        font-weight:300;
    }
}
@page {
    size: landscape;
    margin: 10px 10px 10px 10px; // Adds margin on the pdf
}