/* selectPOVIew */
#selectPOView-btnSelectPO {}

#selectPOView .browsepurchaseorders {display:block;margin:0;padding:0;}
#selectPOView .browsepurchaseorders > li {display:block;cursor:pointer;padding:.3em 0;}
#selectPOView .browsepurchaseorders > li:not(:first-child) {border-top: 1px solid rgba(80,80,80,1);}
#selectPOView .browsepurchaseorders > li:active {background-color:rgba(69,69,69,.6);}
#selectPOView .browsepurchaseorders li .valueOrderDesc {-webkit-box-flex:1;-webkit-flex:1;flex:1;color:#00aaff;text-decoration: underline;font-size:.75em;font-weight: bold;}
#selectPOView .browsepurchaseorders li .captionDeal {flex:0 0 6em;width:6em;font-size:.625em;color:#aaaaaa;}
#selectPOView .browsepurchaseorders li .valueDeal {flex:1 1 0;width:18em;font-size:.625em;}
#selectPOView .browsepurchaseorders li .captionOrderNo {flex:0 0 6em;width:6em;font-size:.625em;color:#aaaaaa;}
#selectPOView .browsepurchaseorders li .valueOrderNo {flex:1 1 0;width:18em;font-size:.625em;}
#selectPOView .browsepurchaseorders li .captionStatus {flex:0 0 3.5em;width:3.5em;padding:0 .3em;font-size:.625em;color:#aaaaaa;}
#selectPOView .browsepurchaseorders li .valueStatus {-webkit-box-flex:1;flex:1 1 0;font-size:.625em;}
#selectPOView .browsepurchaseorders li .captionOrderDate {flex:0 0 6em;width:6em;font-size:.625em;color:#aaaaaa;}
#selectPOView .browsepurchaseorders li .valueOrderDate {flex:1 1 0;width:18em;font-size:.625em;}
#selectPOView .browsepurchaseorders li .captionAsOf {flex:0 0 3.5em;width:3.5em;padding:0 .3em;font-size:.625em;color:#aaaaaa;}
#selectPOView .browsepurchaseorders li .valueAsOf {-webkit-box-flex:1;flex:1 1 0;font-size:.625em;}

.po-suspendedsessions {color:#000000;font-size:10px;padding:5px;background-color:rgba(0,0,0,.1);}
.po-suspendedsession {cursor:pointer;padding:2px 2px 2px 4px;margin:2px 0;border-left:5px solid #0000ff;border-top:1px solid #777777;border-bottom:1px solid #777777;border-right:1px solid #777777;background-color:#ffffff;}
.po-suspendedsession:active{background-color:#bbdefb;}
.po-suspendedsession-status-NEW {border-left:5px solid #ffff00;}
.po-suspendedsession-status-NEW .po-suspendedsession-status-label,
.po-suspendedsession-status-NEW .po-suspendedsession-status-value {background-color:#ffff00;}
.po-suspendedsession-status-ACTIVE {border-left:5px solid #00ff00;}
.po-suspendedsession-status-ACTIVE .po-suspendedsession-status-label,
.po-suspendedsession-status-ACTIVE .po-suspendedsession-status-value {background-color:#00ff00;}
/*.po-suspendedsession:not(:first-child) {border-top:1px solid #000000;}*/
.po-suspendedsession-row {overflow:hidden;}
.po-suspendedsession-statusdate-label {float:left;width:25%;box-sizing:border-box;font-weight:bold;}
.po-suspendedsession-statusdate-value {float:left;width:35%;box-sizing:border-box;}
.po-suspendedsession-sessionno-label {float:left;width:25%;box-sizing:border-box;font-weight:bold;text-decoration:underline;color:#0000ff;}
.po-suspendedsession-sessionno-value {float:left;width:35%;box-sizing:border-box;text-decoration:underline;color:#0000ff;}
.po-suspendedsession-orderno-label {float:left;width:25%;box-sizing:border-box;font-weight:bold;}
.po-suspendedsession-orderno-value {float:left;width:25%;box-sizing:border-box;}
.po-suspendedsession-orderdesc-label {float:left;width:25%;box-sizing:border-box;font-weight:bold;}
.po-suspendedsession-orderdesc-value {float:left;width:25%;box-sizing:border-box;}
.po-suspendedsession-deal-label {float:left;width:25%;box-sizing:border-box;font-weight:bold;}
.po-suspendedsession-deal-value {float:left;width:75%;box-sizing:border-box;}
.po-suspendedsession-status-label {float:left;width:15%;box-sizing:border-box;font-weight:bold;padding:0 2px;border-top:1px solid #777777;border-bottom:1px solid #777777;border-left:1px solid #777777;}
.po-suspendedsession-status-value {float:left;width:25%;box-sizing:border-box;padding:0 2px;border-top:1px solid #777777;border-bottom:1px solid #777777;border-right:1px solid #777777;}
.po-suspendedsession-username-label {float:left;width:25%;box-sizing:border-box;font-weight:bold;}
.po-suspendedsession-username-value {float:left;width:75%;box-sizing:border-box;}
