/***************************
FwPage
***************************/
html.theme-material .fwpage {color:#282628;}
html.theme-material .fwpage .fwpage-title {font-size:20px;padding:5px 15px;background-image:linear-gradient(#476984,#364f65);color: #ebebee;border-bottom:1px solid #1a2631;}
html.theme-material .fwpage .fwpage-body {padding:20px 20px 10px 20px;overflow:auto;}

/***************************
FwForm
***************************/
html.theme-material .fwform {color:#282628;/*background-color:#e0e0e0;*/}
html.theme-material .fwform[data-rendermode="designer"] {min-height:15px;}
html.theme-material .fwform-title {font-size:20px;font-weight:bold;color:#39546B;}
html.theme-material .fwform[data-rendermode="runtime"] .fwform-body {}
html.theme-material .fwform[data-rendermode="designer"] .fwform-body {padding:0 0 16px 0;}

/***************************
Section
***************************/
/*#region Default Theme*/
html.theme-material .fwform-section {margin:.1rem .3rem;/*box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 1px 5px 0 rgba(0,0,0,0.12), 0 3px 1px -2px rgba(0,0,0,0.2);background-color: #F5F5F5;border: 1px solid #E0E0E0;*/}
html.theme-material .fwform-section-title {padding:0 .25em;font-size:1.15em;cursor:default;color:#2196f3;border-bottom:1px solid;}
html.theme-material .fwform-section-title span.highlighted {background-color:yellow;}
html.theme-material .fwform-section-body {min-height:1px;padding:.4em 0;/*overflow: auto; mv 2018-01-21 this was causing combobox popup to get cutoff */}
/*#endregion Default Theme*/

/***************************
FieldRow
***************************/
html.theme-material .fwform-fieldrow {margin: 0 0 5px 0;}
html.theme-material .fwform-fieldrow:after {content:"";display:table;clear:both;}
html.theme-material .fwform-fieldrow[data-rendermode="designer"] > .children {margin:1px;min-height:1px;padding:0px 0px 16px 0px;}
html.theme-material .fwform-fieldrow[data-rendermode="designer"] > .children:after {content:"";display:table;clear:both;}

/***************************
FwDesignerHandle
***************************/
html.theme-material .fwcontainer .fwdesignerhandle { background-color: lightblue; }

/***************************
FwGroupBox
***************************/
html.theme-material .fwgroupbox {margin:5px;padding:0px;border:1px solid #A1A1A1;}
html.theme-material .fwgroupbox .groupbox-title{font-weight:bold;font-size:14px;text-align:center;line-height:24px;height:24px;cursor:default;color:#555555;border-bottom:1px solid rgba(0,0,0,.2);background-image:linear-gradient(#dddddd,#bbbbbb);}
html.theme-material .fwgroupbox .groupbox-body {min-height:1px;padding:10px;background-color: rgba(200,200,200,.7);}
html.theme-material .fwgroupbox .groupbox-body:after {content:"";display:table;clear:both;}

/***************************
Status
***************************/
html.theme-material .fwstatus {margin:5px;}

/***************************
Structure
***************************/
html.theme-material.transworks .formpage {min-width:1121px;display:inline-block;}
html.theme-material .formpage {}
html.theme-material .formpage:after {content:"";display:table;clear:both;}
html.theme-material .formrow:after {content:"";display:table;clear:both;}
html.theme-material .formcolumn {float:left;width:50%;}
html.theme-material .fwgroupbox.half {float:left;min-width:458px;}
html.theme-material .fwgroupbox.quarter {float:left;min-width:224px;}

html.theme-material .fwform-section.half{float:left;min-width:472px;}