body {margin:0;font-family:-apple-system,Segoe UI,Roboto,Arial,sans-serif;-webkit-touch-callout: none;-webkit-user-select: none;-khtml-user-select: none;-moz-user-select: none;-ms-user-select: none;user-select: none;}
#qboconnect .btn {color:#ffffff;padding:8px;border-radius:3px;cursor:pointer;font-size: 14px;text-shadow: 0 0 1px #FFF;}

.connectcontainer {width:100%;text-align:center;overflow:auto;}

.logocontainer {height:65px;display: inline-block;}
.logocontainer .logo {display:inline-block;width:200px;height:65px;background-image:url("images/qbo_logo.png");background-size:200px 65px;background-repeat:no-repeat;}

.rightcontainer {height:65px;display: inline-block;}
.rightcontainer .connecttoqbo {background-color:#5CA54D;float:left;margin: 18px 0 0 30px;}
.rightcontainer .connecttoqbo.disabled {background-color:#949494;cursor:default;color: #D6D6D6;text-shadow: none;}
.rightcontainer .connecttoqbo:not(.disabled):hover {background-color:#4D8E40;}
.rightcontainer .disconnectqbo {background-color:#808080;float:left;margin: 18px 0 0 18px;}
.rightcontainer .disconnectqbo.disabled {background-color:#949494;cursor:default;color: #D6D6D6;text-shadow: none;}
.rightcontainer .disconnectqbo:not(.disabled):hover {background-color:#6B6B6B;}

.connecteddate {font-size:18px;margin:10px;cursor:default;}

.connecteddate .date {display:inline-block;}
.connecteddate .date .datelabel {display:inline-block;}
.connecteddate .date .dateconnected {display:inline-block;margin-left:10px;font-weight:bold;}
.connecteddate .expire {display:inline-block;margin-left: 70px;}
.connecteddate .expire .expirelabel {display:inline-block;}
.connecteddate .expire .expiredays {display:inline-block;margin-left:10px;font-weight:bold;}

.qbofunctions {text-align:center;padding-top:20px;}
.qbofunctions .exporttoqbo {background-color:#5CA54D;display:inline-block;}
.qbofunctions .exporttoqbo.disabled {background-color:#949494;cursor:default;color: #D6D6D6;text-shadow: none;}
.qbofunctions .exporttoqbo:not(.disabled):hover {background-color:#4D8E40;}
