/*Deal Outstanding Items Report*/
tbody {
    tr[data-rowtype="detail"]:nth-child(odd) {
        background-color: #DCDCDC;
    }
}

thead {
    th {
        border-top: 2px solid #000000;
        border-bottom: 2px solid #000000;
        font-weight: bold;
        padding: 5px;
        white-space: nowrap;
    }
}

td.tax-option {
    font-weight: 600;
    border-bottom: 1px solid black;
}
.top {
    vertical-align: top;
}


@page {
    size: landscape;
    margin: 10px 10px 10px 10px; // Adds margin on the pdf
}