<div id="footer" style="margin:0 24px; width: 558px; box-sizing: border-box; display:flex; font-size:12px;">
  <div style="flex:0 0 140px; font-size: 9px;">{{PrintTime}}</div>
  <div style="flex: 1 1 1px; text-align:center; font-weight:bold;">{{ContractNumber}}</div>
  <div id="pageno" style="flex:0 0 140px; text-align:right; font-size: 9px">Page <span class="pageNumber"></span> of <span class="totalPages"></span></div>
</div>