$page-width: 768px;
$line-height: 16px;
$normal-text: 1em;

@page {
    margin: 130px 32px 96px 32px;
    /*margin: 48px 24px 48px 24px;*/
    /*size: auto;*/
    size: portrait;
}

html.preview {
    #pageno {
        visibility: hidden;
    }
}

html.pdf {
    body {
        /*margin: 130px 24px 96px 24px;*/
    }
}

@media only screen {
    .parameters {
        display: block;
    }
}

@media only print {
    .parameters {
        display: none;
    }
}

@mixin flexfield($captionwidth) {
    display: flex;
    height: $line-height;
    line-height: $line-height;
    @content;

    .caption {
        flex: 0 0 $captionwidth;
        height: $line-height;
        line-height: $line-height;
        font-size: $normal-text;
        font-weight: bold;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    .value {
        flex: 1 1 0;
        height: $line-height;
        line-height: $line-height;
        font-size: $normal-text;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }
}

.flexfield-50 {
    @include flexfield(50px);
}

.flexfield-75 {
    @include flexfield(75px);
}

.flexfield-85 {
    @include flexfield(85px);
}

.flexfield-150 {
    @include flexfield(150px);
}

.label {
    line-height: $line-height;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: $normal-text;
}

.BillingStartDate {
    text-align: center;
    border-bottom: 1px solid #000000;
    padding: 40px 0 0 0;
}

.IssuedTo {
    .IssuedToCaption {
        text-align: center;
        border-bottom: 1px solid #000000;
        font-size: $normal-text;
        font-weight: bold;
    }

    .add1, .add2, .add3 {
        line-height: $line-height;
        font-size: $normal-text;
    }

    .phone {
        margin: 20px 0 0 0;
    }

    .fax {
    }
}


.tblContractItems {
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0 0 0;

    colgroup {
        .ICode {
            width: 60px;
        }

        .Description {
            width: auto;
        }

        .QuantityOrdered {
            width: 75px;
        }

        .QuantityOut {
            width: 75px;
        }

        .TotalOut {
            width: 75px;
        }
    }

    thead {
        tr.columnheadings {
            th {
                font-weight: bold;
                padding: 5px;
                white-space: nowrap;
                border-top: 1px solid #000000;
                border-bottom: 1px solid #000000;
            }

            .ICode {
                border-left: 1px solid #000000;
                text-align: left;
            }

            .Description {
                text-align: left;
            }

            .QuantityOrdered {
                text-align: right;
            }

            .QuantityOut {
                text-align: right;
            }

            .TotalOut {
                text-align: right;
            }
        }

        tr.caption {
            text-align: center;
            font-size: 1.5em;
            font-weight: bold;
        }
    }

    tbody {
        td {
            padding: 2px 5px;
            font-size: .9em;
        }

        .ICode {
            white-space: pre;
            text-align: left;
        }

        .Description {
            text-align: left;
        }

        .QuantityOrdered {
            text-align: right;
        }

        .QuantityOut {
            text-align: right;
        }

        .TotalOut {
            text-align: right;
        }

        .Barcodes {
            padding:0 0 0 50px;
            .Barcodes-label {
                font-weight:bold;
            }
        }

        tr.C {
            td {
                font-weight: bold;
            }
        }
    }
}

.rentalItems {
    
}

.salesItems {
    page-break-before:always;
}

@media screen {
    #pageContainer {
        width: $page-width;
    }
}

#pageContainer {
    #pageHeader {
    }

    #contract {
    }

    #pageFooter {
        margin: $line-height 0 0 0;
    }
}

#pageContainer {
    #header, #footer {
        width: auto !important;
    }
}

fieldset {
    border: 1px solid #000000;
    height: 120px;

    legend {
        text-align: center;
        font-weight: bold;
    }
}

.receivedBy {
    page-break-inside: avoid;
    margin: $line-height 0 0 0;
}

.receivedbyfield {
    flex: 0 1 50%;
    margin: 0 $line-height/2;

    .value {
        border-bottom: 1px solid #000000;
        white-space: nowrap;
        height: $line-height*2;
    }

    .caption {
        white-space: nowrap;
        height: $line-height;
    }
}
