/*qc*/
#qc-rentalConditions {width:100%;height:42px;margin: 0 0 0 5px;}
#qc-complete .note{padding: 0 5px 0 5px;}
#qc-txtNotes{padding:5px;width:100%;height:100px;-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box;/*resize:none;*/}
#qc-btnTakePicture img{vertical-align:middle;margin:0 10px 0 0;width:22px;height:22px;}
#qc-images {text-align:center;}
#qc-images img {width:99px;height:99px;border:1px solid #ffffff;}
#qc-pnlCompleteQC {background-color:rgba(0,0,0,.3);border-top:1px solid #000000;}
#qc .qc-RFID .qc-qcreq .rfid-sectiontitle {text-align:center;font-weight:bold;padding:2px;border:1px solid #5C1919;background-color:rgba(182,30,30,1);background-image:linear-gradient(transparent,rgba(0,0,0,.6));letter-spacing:1px;font-size:20px;}
#qc .qc-RFID .qc-noqcreq .rfid-sectiontitle {text-align:center;font-weight:bold;padding:2px;border:1px solid #193f5c;background-color:#1F76BA;background-image:linear-gradient(transparent,rgba(0,0,0,.6));letter-spacing:1px;font-size:20px;}
#qc .modeSelector {text-align:center;background-color:rgba(90,90,90,1);position:fixed;bottom:20px;left:0;right:0;/*height:44px;*/border-top:1px solid #000000;}
#qc .modeSelector .modebtn {display:inline-block;min-width:50px;line-height:40px;padding:0 5px;font-size:14px;color:#ffffff;cursor:pointer;}
#qc .modeSelector .modebtn.selected {background-color:#000000;}

.qc-iteminfo {color:black;}
.qc-iteminfo #qc-btnTakePicture .pictureicon {background-image:url("images/icons/128/iphone-camera.002.png");background-size:22px 22px;margin:0 10px 0 0;width:22px;height:22px;float:left;}
.qc-iteminfo #qc-btnTakePicture img {width:99px;height:99px;border:1px solid #ffffff;}