.rfidstaging .card {}

.rfidstaging .card .card-body {background-color: #424242;color:#ffffff;}

.rfidstaging .fwformfield-value {border:0 !important;/*background-color:#000000;color:#00BCD4;*/}

.rfidstaging .screenheader {background-color:#607D8B;color:#ffffff;padding:.5em;}
.rfidstaging .screenheader .flexrow {align-items:center;flex-wrap:wrap}
.rfidstaging .dealcaption {flex:0 0 6em;width:6em;color:#000000;font-size:.7em;}
.rfidstaging .dealvalue {flex:2 1 0;overflow:hidden;text-overflow:ellipsis;white-space:nowrap;}
.rfidstaging .agentcaption {flex:0 0 5em;width:5em;color:#000000;font-size:.7em;}
.rfidstaging .agentvalue {flex:1 1 0;overflow:hidden;text-overflow:ellipsis;white-space:nowrap;}
.rfidstaging .orderdesccaption {flex:0 0 6em;width:6em;color:#000000;font-size:.7em;}
.rfidstaging .orderdescvalue {flex:2 1 0;overflow:hidden;text-overflow:ellipsis;white-space:nowrap;}
.rfidstaging .ordernocaption {flex:0 0 5em;width:5em;color:#000000;font-size:.7em;}
.rfidstaging .ordernovalue {flex:1 1 0;overflow:hidden;text-overflow:ellipsis;white-space:nowrap;}

.rfidstaging .rfiduirow {margin:0 0 0 0;}

.rfidstaging .roundedshadow {position:relative;/*box-shadow:0 1px 4px rgba(0, 0, 0, 0.3);*/box-shadow:0 5px 10px rgba(0, 0, 0, 0.4)}
.rfidstaging .roundedshadow:after {content:"";position:absolute;z-index:-1;box-shadow:0 5px 40px rgba(0,0,0,0.8);bottom:0px;left:10%;right:10%;width:80%;height:50%;border-radius:100%;}

.rfidstaging .itemscol {flex:2 1 60%;/*border:1px solid #000000;*/}

.rfidstaging .processed {}
.rfidstaging .processedheader {z-index:2;border-top-left-radius:.2em;border-top-right-radius:.2em;flex:0 0 1em;background-color:#000000;color:#ffffff;border-bottom:1px solid #000000;font-size:1em;font-weight:bold;padding:.3em .6em;text-align:center;}
.rfidstaging .processedcontainer {flex:2 2 auto;position:relative;border:1px solid #000000;}
.rfidstaging .processedcontainer:after {content:"";position:absolute;z-index:-1;box-shadow:0 0 40px rgba(255,255,255,0.8);bottom:0px;left:10%;right:10%;width:80%;height:50%;border-radius:100%;}
.rfidstaging .processedcontent {height:43vh;background-color:rgba(55,55,55,1);overflow-y:scroll;-webkit-overflow-scrolling: touch;padding:0 0 1em 0;}
.rfidstaging .processedcontent .item {transition:all 1s ease-in;background-color:#212121;border:1px solid #000000;border-radius:5px;margin:1px 1px 0 1px;padding:.3em;}
.rfidstaging .processedcontent .item[data-staged="true"] {/*background-color:#512DA8;*/opacity:.4;}
.rfidstaging .processedcontent .item.new {background-color:#2196f3;color:#ffffff;}
.rfidstaging .processedcontent .item .master {font-size:.8em;color:#E1F5FE;}
.rfidstaging .processedcontent .item .tag {font-size:.6em;color:#03A9F4;}
.rfidstaging .processedgradientbottom {position:absolute;z-index:2;right:0;bottom:0;left:0;height:1em;background:linear-gradient(to bottom,rgba(55,55,55,0) 0%, rgba(55,55,55,1) 80%);}

.rfidstaging .exception {margin:1em 0 0 0;}
.rfidstaging .exceptionheader {z-index:2;border-top-left-radius:.2em;border-top-right-radius:.2em;flex:0 0 1em;background-color:#000000;color:#ffffff;border-top:1px solid #000000;border-bottom:1px solid #000000;padding:.3em .6em;text-align:center;}
.rfidstaging .exceptioncaption {font-size:1em;}
.rfidstaging .exceptionheader:after {content:"";display:table;clear:both;}
.rfidstaging .exceptionheader .contextmenucontainer {position: absolute;right:.5em;top:.2em;}
.rfidstaging .exceptionheader .contextmenu {width:1.5em;}
.rfidstaging .exceptioncontainer {flex-grow:1;flex-shrink:1;position:relative;border:1px solid #000000;}
.rfidstaging .exceptioncontent {height:27vh;background-color:rgba(55,55,55,1);overflow-y:scroll;-webkit-overflow-scrolling: touch;padding:0 0 1em 0;}
.rfidstaging .exceptioncontent .item {overflow:hidden;transition:all .5s ease-in;background-color:#212121;border:1px solid #000000;border-radius:5px;margin:1px 1px 0 1px;padding:.3em;}
.rfidstaging .exceptioncontent .item.new {background-color:#ff8a80;color:#ffffff;}
.rfidstaging .exceptioncontent .item.delete {/*transform:scaleY(0);*/font-size: 0;margin: 0;opacity: 0;padding: 0;}
.rfidstaging .exceptioncontent .item.delete .col1 {visibility:hidden;}
.rfidstaging .exceptioncontent .item.delete .col2 {visibility:hidden;}
.rfidstaging .exceptioncontent .item .col1 {flex:1 1 auto;}
.rfidstaging .exceptioncontent .item .col1 .master {font-size:.8em;color:#FFEBEE;}
.rfidstaging .exceptioncontent .item .col1 .tag {font-size:.6em;color:#F44336;}
.rfidstaging .exceptioncontent .item .col1 .message {font-size:.6em;}
.rfidstaging .exceptioncontent .item .col2 {flex:0 0 auto;}
.rfidstaging .exceptioncontent .item .col2 .button {width:100%;margin:5px 0;font-size:1em;}
.rfidstaging .exceptioncontent .item .col2 .contextmenu {width:1.5em;}
.rfidstaging .exceptiongradientbottom {position:absolute;z-index:2;right:0;bottom:0;left:0;height:1em;background:linear-gradient(to bottom,rgba(55,55,55,0) 0%, rgba(55,55,55,1) 80%);}

.rfidstaging .pendingitems {margin:1em 0 0 0;}
.rfidstaging .pendingitemsheader {z-index:2;border-top-left-radius:.2em;border-top-right-radius:.2em;flex:0 0 1em;background-color:#000000;color:#ffffff;border-bottom:1px solid #000000;font-size:1em;font-weight:bold;padding:.3em .6em;text-align:center;}
.rfidstaging .pendingitemscontainer {flex:2 2 auto;position:relative;border:1px solid #000000;}
.rfidstaging .pendingitemscontainer:after {content:"";position:absolute;z-index:-1;box-shadow:0 0 40px rgba(255,255,255,0.8);bottom:0px;left:10%;right:10%;width:80%;height:50%;border-radius:100%;}
.rfidstaging .pendingitemscontent {height:27vh;background-color:rgba(55,55,55,1);overflow-y:scroll;-webkit-overflow-scrolling: touch;padding:0 0 1em 0;}
.rfidstaging .pendingitemscontent {padding:.4em;}
.rfidstaging .pendingitemscontent .item {}
.rfidstaging .pendingitemscontent .item:not(:first-child) {border-top:1px solid #e0e0e0;margin:.3em 0 0 0;padding:.3em 0 0 0;}
.rfidstaging .pendingitemscontent .description {font-size:.75em;font-weight: bold;color:#00aaff;}
.rfidstaging .pendingitemscontent .item .masternocaption {flex: 0 0 5em;font-size:.625em;}
.rfidstaging .pendingitemscontent .item .masternovalue {flex:1 1 0;font-size:.625em;}
.rfidstaging .pendingitemscontent .item .missingqtycaption {flex: 0 0 6em;font-size:.625em;color:#ff9800;}
.rfidstaging .pendingitemscontent .item .missingqtyvalue {flex:0 0 3em;font-size:.625em;color:#ff9800;}
.rfidstaging .pendingitemscontent .item .spacercaption {flex: 0 0 5em;font-size:.625em;}
.rfidstaging .pendingitemscontent .item .spacervalue {flex:1 1 0;font-size:.625em;}
.rfidstaging .pendingitemscontent .item .qtystagedandoutcaption {flex: 0 0 6em;font-size:.625em;}
.rfidstaging .pendingitemscontent .item .qtystagedandoutvalue {flex:0 0 3em;font-size:.625em;}
.rfidstaging .pendingitemscontent .item .qtyorderedcaption {flex: 0 0 6em;font-size:.625em;}
.rfidstaging .pendingitemscontent .item .qtyorderedvalue {flex:0 0 3em;font-size:.625em;}


.rfidstaging .pendingitemsgradientbottom {position:absolute;z-index:2;right:0;bottom:0;left:0;height:1em;background:linear-gradient(to bottom,rgba(66,66,66,0) 0%, rgba(66,66,66,1) 80%);}

.rfidstaging .countscol {flex:0 0 40%;/*border-top:1px solid #000000;border-right:1px solid #000000;border-bottom:1px solid #000000;*/}
.rfidstaging .rowscanbuttons {text-align:center;/*border-bottom:1px solid #000000;*/}
.rfidstaging .countscol .rowscanbuttons {padding:0 .6em 0 .6em;}
.rfidstaging .countscol .rowscanbuttons .button {width:100%;}

.rfidstaging .batchtimeout {padding:.6em .6em 0 .6em;}
.rfidstaging .batchtimeoutcaption {flex:0 0 7em;padding:0 .25em 0 0;font-weight:bold;}
.rfidstaging .batchtimeoutvalue {flex:1 0 4em;padding:0 .25em 0 0;}
.rfidstaging .txtbatchtimeout {font-size:1.5em;width:100%;display:block;text-align:center;border-radius:.2em;box-sizing:border-box;border:0;background-color:#111111;color:#4CAF50;}
.rfidstaging .batchtimeoutunits {flex:0 0 2em;}

.rfidstaging .scanagain {padding:.6em .6em 0 .6em;}
.rfidstaging .scanagaincaption {flex:0 0 7em;padding:0 .25em 0 0;font-weight:bold;}
.rfidstaging .scanagainvalue {flex:1 0 4em;padding:0 .25em 0 0;}
.rfidstaging .txtscanagain {font-size:1.5em;width:100%;display:block;text-align:center;border-radius:.2em;box-sizing:border-box;border:0;background-color:#111111;color:#4CAF50;}
.rfidstaging .scanagainunits {flex:0 0 2em;}

.rfidstaging .batchqty {}
.rfidstaging .batchqtycaption {text-align:center;margin:0 0 .2em 0;font-weight:bold;}
.rfidstaging .batchqtyvalue {text-align:center;font-size:6em;font-weight:bold;margin:0 .1em;border-radius:.1em;background-color:#FAFAFA;color:#000000;box-shadow: 0 .1em .3em rgba(0,0,0,0.4) inset, 0 0 1.3em rgba(0,0,0,0.2) inset;border-bottom: 1px solid #9E9E9E;text-shadow: 0 .02em 0 rgba(0, 0, 0, 0.4);}

.rfidstaging .processqty {}
.rfidstaging .processqtycaption {text-align:center;margin:1em 0 .2em 0;font-weight:bold;}
.rfidstaging .processqtyvalue {text-align:center;font-size:6em;font-weight:bold;margin:0 .1em;border-radius:.1em;background-color:#2196f3;color:#000000;box-shadow: 0 .1em .3em rgba(0,0,0,0.4) inset, 0 0 1.3em rgba(0,0,0,0.2) inset;border-bottom: 1px solid #9E9E9E;text-shadow: 0 .02em 0 rgba(0, 0, 0, 0.4);}

.rfidstaging .exceptionqty {}
.rfidstaging .exceptionqtycaption {text-align:center;margin:1em 0 .2em 0;font-weight:bold;}
.rfidstaging .exceptionqtyvalue {text-align:center;font-size:6em;font-weight:bold;margin:0 .1em;border-radius:.1em;background-color:#F44336;color:#000000;box-shadow: 0 .1em .3em rgba(0,0,0,0.4) inset, 0 0 1.3em rgba(0,0,0,0.2) inset;border-bottom: 1px solid #FF9E9E;text-shadow: 0 .02em 0 rgba(0, 0, 0, 0.4);}

@media only screen and (min-device-width: 1024px) and (max-device-width: 1366px) and (orientation:portrait) {  /* iPad Pro Portrait */
/*.rfidstaging .processedcontent {height:600px;}
.rfidstaging .exceptioncontent {height:300px;}*/
}

@media only screen and (min-device-width: 1024px) and (max-device-width: 1366px) and (orientation:landscape) {  /* iPad Pro Landscape */
/*.rfidstaging .processedcontent {height:400px;}
.rfidstaging .exceptioncontent {height:300px;}*/
}

.rfidstaging .btnscanitems, .rfidstaging .btnstopscanning {display:inline-block;box-sizing:border-box;padding:.8em 1.2em;cursor:pointer;text-align:center;letter-spacing:.5px;text-transform:uppercase;border-radius:.2em;box-shadow:0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12);font-size:1em;will-change:opacity, transform;transition:all .3s ease-out;white-space:nowrap;overflow:hidden;text-overflow:ellipsis;width:100%;}
.rfidstaging .btnscanitems:hover:not(.disabled), .rfidstaging .btnstopscanning:hover:not(.disabled) {cursor:pointer;box-shadow: 0 5px 11px 0 rgba(0,0,0,0.18),0 4px 15px 0 rgba(0,0,0,0.15);}
.rfidstaging .btnscanitems {color:#fff;background-color:#4caf50;}
.rfidstaging .btnstopscanning {color:#fff;background-color:#f44336;}
.rfidstaging .btnscanitems:hover:not(.disabled) {background-color:#66bb6a;}
.rfidstaging .btnstopscanning {color:#fff;background-color:#f44336;}
.rfidstaging .btnstopscanning:hover:not(.disabled) {background-color:#ef5350;}

.rfidstaging .rfidicon,.rfidstaging .stopicon {width:1.3em;height:1.3em;margin:-.15em .5em 0 0;vertical-align:middle;}

.rfidstaging .stageditems .item {}
.rfidstaging .stageditems .item .col1 {flex:1 1 0;}
.rfidstaging .stageditems .item .col2 {flex:0 0 1.5em;}
.rfidstaging .stageditems .item .contextmenu {width:1.5em;}
.rfidstaging .stageditems .item:not(:first-child) {border-top:1px solid #e0e0e0;margin:.3em 0 0 0;padding:.3em 0 0 0;}
.rfidstaging .stageditems .description {font-size:.75em;font-weight: bold;text-decoration:underline;color:#00aaff;}
.rfidstaging .stageditems .masternocaption {flex:0 0 5em;width:5em;font-size:.625em;}
.rfidstaging .stageditems .masternovalue {flex:1 1 auto;font-size:.625em;}
.rfidstaging .stageditems .quantitycaption {flex:0 0 5em;width:5em;font-size:.625em;}
.rfidstaging .stageditems .quantityvalue {flex:1 1 auto;font-size:.625em;}
.rfidstaging .stageditems .barcodecaption {flex:0 0 5em;width:5em;font-size:.625em;}
.rfidstaging .stageditems .barcodevalue {flex:1 1 auto;font-size:.625em;}
.rfidstaging .stageditems .vendorcaption {flex:0 0 5em;width:5em;font-size:.625em;}
.rfidstaging .stageditems .vendorvalue {flex:1 1 auto;font-size:.625em;}
