html.theme-material .fw-grid {border: 1px solid #BDBDBD;box-sizing:border-box;display:flex;flex-direction:column;}

html.theme-material .fw-grid table {width:100%;margin:0;empty-cells:show;border-collapse:separate;border-spacing:0;border-width:0;}

html.theme-material .fw-grid .grid-title {font-size: 1.5em;font-weight: 500;padding: 10px;border-style: solid;border-width: 0 0 1px 0;border-color: #BDBDBD;flex:0 0;}

html.theme-material .fw-grid .grid-menu {display:flex;align-items:center;padding: 6px 10px;border-style: solid;border-width: 0 0 1px 0;border-color: #BDBDBD;background-color: #EEEEEE;flex:0 0;}
html.theme-material .fw-grid .grid-menu .grid-menu-button {display:inline-flex;align-items:center;white-space: nowrap;padding:6px 16px;cursor:pointer;border-radius:2px;transition: background-color 150ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;margin:0 4px;border:1px solid rgba(0,0,0,0.1);background-color:#90CAF9;line-height:24px;}
html.theme-material .fw-grid .grid-menu .grid-menu-button i.left {margin:0 4px 0 -4px;}
html.theme-material .fw-grid .grid-menu .grid-menu-button i.right {margin:0 -4px 0 4px;}
html.theme-material .fw-grid .grid-menu .grid-menu-button:hover {background-color: #BBDEFB;}
html.theme-material .fw-grid .grid-menu .grid-menu-button:active {background-color: #64B5F6;}
html.theme-material .fw-grid .grid-menu .grid-menu-seperator {background-color:#9E9E9E;width:1px;height:38px;margin:0 8px;}
html.theme-material .fw-grid .grid-menu .grid-menu-filter {position:relative;}
html.theme-material .fw-grid .grid-menu .grid-menu-dropdownbutton {position:relative;}
html.theme-material .fw-grid .grid-menu .grid-menu-dropdown {display:none;position: absolute;left: 0;top: 38px;z-index: 9999;background-color:#ffffff;min-width:150px;box-shadow:0 2px 5px 0 rgba(0,0,0,0.16), 0 2px 10px 0 rgba(0,0,0,0.12);transition: opacity 267ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;opacity:0;}
html.theme-material .fw-grid .grid-menu .grid-menu-dropdown.active {display:block;opacity:1;}
html.theme-material .fw-grid .grid-menu .grid-menu-dropdown .dropdown-seperator {background-color:#E0E0E0;width:100%;height:1px;}
html.theme-material .fw-grid .grid-menu .grid-menu-dropdown .dropdown-item {padding:4px 8px;cursor:pointer;font-size: .9em;transition: background-color 150ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;}
html.theme-material .fw-grid .grid-menu .grid-menu-dropdown .dropdown-item:hover {background-color:rgba(0,0,0,0.1);}

html.theme-material .fw-grid .grid-menu .grid-menu-dropdown .dropdown-item[data-type="exclusive"][data-selected="true"] {background-color:rgba(144, 202, 249, 0.5);}

html.theme-material .fw-grid .grid-menu .grid-menu-dropdown .dropdown-item[data-type="checkbox"] .dropdown-item-caption {position: relative;padding-left:1.7em;-webkit-user-select: none;-moz-user-select: none;-khtml-user-select: none;-ms-user-select: none;white-space: nowrap;}
html.theme-material .fw-grid .grid-menu .grid-menu-dropdown .dropdown-item[data-type="checkbox"] .dropdown-item-caption:after {border-radius:0.125em;box-sizing:border-box;}
html.theme-material .fw-grid .grid-menu .grid-menu-dropdown .dropdown-item[data-type="checkbox"] .dropdown-item-caption:before,
html.theme-material .fw-grid .grid-menu .grid-menu-dropdown .dropdown-item[data-type="checkbox"] .dropdown-item-caption:after {content: '';left: 0;position: absolute;transition: border .25s, background-color .25s, width .20s .1s, height .20s .1s, top .20s .1s, left .20s .1s;z-index: 1;box-sizing:border-box;border-radius: 0.0625em;margin-top: 0.125em;width: 1.125em;height: 1.125em;}
html.theme-material .fw-grid .grid-menu .grid-menu-dropdown .dropdown-item[data-type="checkbox"][data-selected="false"] .dropdown-item-caption:before {width: 0;height: 0;border: 0.1875em solid transparent;left: .375em;top: .625em;-webkit-transform: rotateZ(37deg);transform: rotateZ(37deg);-webkit-transform-origin: 20% 40%;transform-origin: 100% 100%;}
html.theme-material .fw-grid .grid-menu .grid-menu-dropdown .dropdown-item[data-type="checkbox"][data-selected="false"] .dropdown-item-caption:after {height: 1.25em;width: 1.25em;background-color: transparent;border: .125em solid #5a5a5a;top: 0px;z-index: 0;}
html.theme-material .fw-grid .grid-menu .grid-menu-dropdown .dropdown-item[data-type="checkbox"][data-selected="true"] .dropdown-item-caption:before {top: 0.125em;left: 0.0625em;width: .5em;height: 0.8125em;border-top: 0.125em solid transparent;border-left: 0.125em solid transparent;border-right: 0.125em solid #fff;border-bottom: 0.125em solid #fff;-webkit-transform: rotateZ(37deg);transform: rotateZ(37deg);-webkit-transform-origin: 100% 100%;transform-origin: 100% 100%;}
html.theme-material .fw-grid .grid-menu .grid-menu-dropdown .dropdown-item[data-type="checkbox"][data-selected="true"] .dropdown-item-caption:after {top: 0;width: 1.25em;height: 1.25em;z-index: 0;border: 0.125em solid #4caf50;background-color: #4caf50;}

html.theme-material .fw-grid .grid-header {background-color:#fafafa;color:rgba(0,0,0,.54);flex:0 0;padding-right: 17px;}
html.theme-material .fw-grid .grid-header table {table-layout:fixed;border-width: 0 1px 0 0;border-style: solid;border-color:#BDBDBD;}
html.theme-material .fw-grid .grid-header th {border-style:solid;border-width:0 0 1px 1px;border-color:#BDBDBD;font-weight:500;white-space:nowrap;text-overflow:ellipsis;text-align:left;padding:10px;vertical-align:bottom;position:relative;}
html.theme-material .fw-grid .grid-header th:hover {color:rgba(0,0,0,.87);}
html.theme-material .fw-grid .grid-header th:first-child {border-left-width:0;}
html.theme-material .fw-grid .grid-header .sortable {cursor:pointer;}
html.theme-material .fw-grid .grid-header .sortable .header-sort {height:20px;margin:0 5px;display:inline-block;vertical-align:text-top;}
html.theme-material .fw-grid .grid-header .sortable .header-sort i {font-size:20px;}
html.theme-material .fw-grid .grid-header .filter-menu {height:20px;padding:5px;margin:0 5px;display:inline-block;vertical-align:text-top;border-radius:50%;position:absolute;right:0;bottom:5px;}
html.theme-material .fw-grid .grid-header .filter-menu.active {background-color:rgba(0,0,0,0.2);}
html.theme-material .fw-grid .grid-header .filter-menu:active {background-color:rgba(0,0,0,0.2);}
html.theme-material .fw-grid .grid-header .filter-menu.filtered {background-color:#64B5F6;}
html.theme-material .fw-grid .grid-header .filter-menu i {font-size:20px;}
html.theme-material .fw-grid .grid-header .filter-menu .filter-menu-dropdown {display:none;color:#282628;position: absolute;z-index: 9999;background-color:#ffffff;min-width:260px;box-shadow:0 2px 5px 0 rgba(0,0,0,0.16), 0 2px 10px 0 rgba(0,0,0,0.12);transition: opacity 267ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;opacity:0;}
html.theme-material .fw-grid .grid-header .filter-menu.active .filter-menu-dropdown {display:block;opacity:1;}
html.theme-material .fw-grid .grid-header .filter-menu .filter-menu-dropdown .action-buttons {display:flex;flex-direction:row;align-items:center;flex-wrap:nowrap;justify-content:flex-end;align-content:flex-end;padding:8px;}
html.theme-material .fw-grid .grid-header .filter-menu .filter-menu-dropdown .action-buttons .filter-button {padding:6px 16px;font-size:14px;font-weight:normal;cursor:pointer;text-align:center;display:inline-flex;border-radius:2px;flex:0 1 auto;}
html.theme-material .fw-grid .grid-header .filter-menu .filter-menu-dropdown .action-buttons .filter-button+.filter-button {margin-left:8px;}
html.theme-material .fw-grid .grid-header .filter-menu .filter-menu-dropdown .action-buttons .filter-button:hover {background-color:rgba(0,0,0,0.1);}
html.theme-material .fw-grid .grid-header .filter-menu .filter-menu-dropdown .action-buttons .filter-button.primary:hover {background-color:rgba(144, 202, 249, 0.5);}
html.theme-material .fw-grid .grid-header .filter-menu .filter-menu-dropdown .filter-content {padding:10px;}
html.theme-material .fw-grid .grid-header .filtercell {display:flex;flex-direction:row;}
html.theme-material .fw-grid .grid-header .filtercell .filterclear {display:none;flex:0 0 auto;cursor:pointer;padding:5px;height: 1.2em;margin-left: 4px;border: 1px solid #E0E0E0;}
html.theme-material .fw-grid .grid-header .filtercell .filterclear:hover {background-color:rgba(0,0,0,0.1);}
html.theme-material .fw-grid .grid-header .filtercell.filtered .filterclear {display:inline-block;}
html.theme-material .fw-grid .grid-header .filtercell .filterclear i {font-size:20px;}

html.theme-material .fw-grid .grid-header .filterinput {flex: 1 1 0;height:2.3em;background-color:#ffffff;padding: 0 .375em;font-size: .8em; border: 1px solid #E0E0E0; outline: 0;transition: all 0.3s;min-width:0px;}

html.theme-material .fw-grid .grid-content {flex: 1 1;overflow: auto;overflow-x: auto;overflow-y: scroll;}
html.theme-material .fw-grid .grid-content table {table-layout:fixed;}
html.theme-material .fw-grid .grid-content table tr {}
html.theme-material .fw-grid .grid-content table tr:hover {background-color:rgba(0,0,0,.07);}
html.theme-material .fw-grid .grid-content table tr.state-selected {background-color:#42A5F5;}
html.theme-material .fw-grid .grid-content table tr td {overflow: hidden;padding:6px;vertical-align: middle;text-overflow: ellipsis;border-style:solid;border-width:0 0 1px 1px;border-color: rgba(0,0,0,0.16);border-left-color: transparent;}
html.theme-material .fw-grid .grid-content table tr td:first-child {border-left-width:0;}
html.theme-material .fw-grid .grid-content table tr:last-of-type td {border-bottom: 0;}
html.theme-material .fw-grid .grid-content table tr td .tag {display:inline-block;border-radius:4px;padding:4px;margin-right:5px;border: 1px solid rgba(0,40,100,0.12);font-size: 0.8em;}
html.theme-material .fw-grid .grid-content table tr td .tag:last-of-type {margin-right:0;}

html.theme-material .fw-grid .grid-pager {display:flex;align-items:center;background-color:#fafafa;color:#464646;padding:.25em;border-top: 1px solid #BDBDBD;flex:0 0;}
html.theme-material .fw-grid .grid-pager .pager-refresh {height:24px;padding:3px;cursor:pointer;}
html.theme-material .fw-grid .grid-pager .pager-info {flex:1 0;margin:0 1em;}
html.theme-material .fw-grid .grid-pager .pager-control {flex:1 0;display:flex;justify-content: center;align-items: center;}
html.theme-material .fw-grid .grid-pager .pager-control .pager-nav {height:24px;padding:3px;cursor:pointer;border-radius:50%;}
html.theme-material .fw-grid .grid-pager .pager-control .pager-nav.pager-nav-disabled {opacity:.6;cursor:default;}
html.theme-material .fw-grid .grid-pager .pager-control .pager-nav:not(.pager-nav-disabled):hover {color: rgba(0,0,0,.87);background-color: rgba(0,0,0,.04);cursor:pointer;}
html.theme-material .fw-grid .grid-pager .pager-control .pager-pages {display: inline-flex;flex-direction: row;margin: 0 8px;}
html.theme-material .fw-grid .grid-pager .pager-control .pager-pages .pager-page {height:24px;width:24px;display:inline-flex;align-items:center;justify-content:center;text-align:center;border-radius:50%;padding:3px;}
html.theme-material .fw-grid .grid-pager .pager-control .pager-pages .pager-page.pager-page-selected {background-color:#1565c0;color:#ffffff;}
html.theme-material .fw-grid .grid-pager .pager-control .pager-pages .pager-page:not(.pager-page-selected):hover {color: rgba(0,0,0,.87);background-color: rgba(0,0,0,.04);cursor:pointer;}
html.theme-material .fw-grid .grid-pager .pager-sizes {flex: 1 0;text-align:right;margin:0 1em;}

html.theme-material .fw-grid .fw-checkbox {
    border-radius: 2px;
    margin: 0;
    padding: 0;
    width: 20px;
    height: 20px;
    line-height: initial;
    border: 1px solid rgba(0,0,0,.2);
    outline: 0;
    box-sizing: border-box;
    display: inline-block;
    vertical-align: middle;
    position: relative;
    -webkit-appearance: none;
    color: #656565;
    background-color: #fff;
}
html.theme-material .fw-grid .fw-checkbox:hover {
    cursor:pointer;
    border-color: rgba(0,0,0,.35);
}
html.theme-material .fw-grid .fw-checkbox:focus {
    border-color: rgba(0,0,0,.35);
    box-shadow: 0 0 0 2px rgba(0,0,0,.06);
}
html.theme-material .fw-grid .fw-checkbox:checked {
    border-color: #43A047;
    color: #fff;
    background-color: #4CAF50;
}
html.theme-material .fw-grid .fw-checkbox:before {
    content: "\2714";
    font-size: 14px;
    -webkit-transform: scale(0) translate(-50%,-50%);
    -ms-transform: scale(0) translate(-50%,-50%);
    transform: scale(0) translate(-50%,-50%);
    overflow: hidden;
    position: absolute;
    top: 50%;
    left: 50%;
}
html.theme-material .fw-grid .fw-checkbox:checked:before {
    border-radius: 2px;
    -webkit-transform: scale(1) translate(-50%,-50%);
    -ms-transform: scale(1) translate(-50%,-50%);
    transform: scale(1) translate(-50%,-50%);
}