#fw-app {display: block;left: 0;min-height: 100%;position: absolute;right: 0;top: 0;}

#fw-app #fw-app-header {position: fixed;top: 0;width: 100%;z-index: 2020;transform: translateY(0);transition: transform 0.3s ease;display:flex;flex-wrap:wrap;align-items:stretch;border-bottom:1px solid;}
#fw-app #fw-app-header .app-menu-button:focus {outline:none;}
#fw-app #fw-app-header .app-menu-button > i {cursor:pointer;font-size:2em;padding:6px;}
#fw-app #fw-app-header .app-title {flex:1 0 auto;font-size: 2em;cursor:default;margin-left:.1em;display:flex;align-items:center;}

#fw-app #fw-app-header .app-usercontrols {display: flex;align-items: center;flex-wrap: nowrap;}
#fw-app #fw-app-header .app-usercontrols .bookmark {display:flex;align-items: center;cursor:pointer;}
#fw-app #fw-app-header .app-usercontrols .bookmark > i {/*font-size:2em;*/padding:6px;}
#fw-app #fw-app-header .app-usercontrols .bookmark .bookmark-title {padding-right:.4em;}
#fw-app #fw-app-header .app-usercontrols .usercontrol {padding: 0 .625em;}
#fw-app #fw-app-header .app-usercontrols .app-usermenu:focus {outline:none;}
#fw-app #fw-app-header .app-usercontrols .app-usermenu > i {cursor:pointer;font-size:2em;padding:6px;}
#fw-app #fw-app-header .app-usercontrols .app-usermenu .app-menu-tray {width:240px;position:fixed;-webkit-transition:-webkit-transform 0.2s;top:45px;right:0;-webkit-transform:translateX(100%);z-index:200;border-left: 1px solid;}
#fw-app #fw-app-header .app-usercontrols .app-usermenu.active .app-menu-tray {-webkit-transform:translateX(0);}
#fw-app #fw-app-header .app-usercontrols .app-usermenu .app-menu-tray .link {padding:10px 20px;font-size:0.9em;cursor:pointer;}
#fw-app #fw-app-header .app-usercontrols .app-usermenu .app-menu-tray .link:first-of-type {margin-top:.375em;}
#fw-app #fw-app-header .app-usercontrols .app-usermenu .app-menu-tray .staticinfo {border-top: 1px solid;border-bottom: 1px solid;font-size: .75em;text-align: center;padding: .375em;}

#fw-app #fw-app-header .app-usercontrols.minified .usercontrol  {padding: 6px .625em;}
#fw-app #fw-app-header .app-usercontrols .app-usermenu .app-menu-tray .container {background-color: #E0E0E0;border-bottom: 1px solid #9E9E9E;}
#fw-app #fw-app-header .app-usercontrols .app-usermenu .app-menu-tray .bookmarkcaption {padding: 6px .625em;font-weight: bold;}
#fw-app #fw-app-header .app-usercontrols .app-usermenu .app-menu-tray .bookmarkicons {display:flex;}

#fw-app #fw-app-menu {position: fixed;top: 45px;bottom: 0;left: 0;border-right: 1px solid;z-index: 2020;}
#fw-app #fw-app-menu:focus {outline:none;}
#fw-app #fw-app-menu .app-menu-tray {padding:10px 0;}
#fw-app #fw-app-menu .menu-category {display:flex;cursor:pointer;padding: 4px 0;/*position:relative;*/}
#fw-app #fw-app-menu .menu-category > i {font-size:2em;padding:6px;}
#fw-app #fw-app-menu .menu-category .category-tray {display:flex;align-items:center;width:0;-webkit-transition:width 0.2s, opacity 0.2s;opacity:0;visibility:hidden;}
#fw-app #fw-app-menu.active .menu-category .category-tray {width: 160px;opacity:1;visibility:visible;}
#fw-app #fw-app-menu .menu-category .category-tray .menu-category-title {flex:1;line-height:24px;}
#fw-app #fw-app-menu .menu-category .module-tray {position:absolute;left:-99999em;width: 220px;border: 1px solid;-webkit-overflow-scrolling:touch;opacity:0;visibility:hidden;-webkit-transform:scaleX(0);-webkit-transform-origin:left;-webkit-transition:-webkit-transform 0.12s, opacity 0.12s;}
#fw-app #fw-app-menu .menu-category.selected .module-tray,
#fw-app #fw-app-menu.active .menu-category.hovered .module-tray {left:100%;top:10px;opacity:1;visibility:visible;-webkit-transform:scaleX(1);}
#fw-app #fw-app-menu .menu-category .module-tray .module {padding:10px 20px;font-size:0.9em;}

#fw-app #fw-app-body {display:flex;margin-top:45px;margin-left:45px;}
#fw-app #fw-app-body > * {flex:1;}

@media only screen and (max-width: 1239px) {
    #fw-app #fw-app-menu {-webkit-transition:-webkit-transform 0.2s;-webkit-transform:translateX(-100%);}
    #fw-app #fw-app-menu.active {-webkit-transform:translateX(0);}

    #fw-app #fw-app-body {margin-left:0;}
}

@media only screen and (max-width: 500px) {
    #fw-app #fw-app-header .app-title {font-size:1.5em;}
}


/*html.theme-material #fw-app #fw-app-header {background-color:#EEEEEE;color:#37474F;border-color:#9E9E9E;}
html.theme-material #fw-app #fw-app-header .app-menu-button:hover > i {background-color:#BDBDBD;}
html.theme-material #fw-app #fw-app-header .app-menu-button.active > i {background-color:#BDBDBD;}

html.theme-material #fw-app #fw-app-header .app-usercontrols .app-usermenu:hover > i {background-color:#BDBDBD;}
html.theme-material #fw-app #fw-app-header .app-usercontrols .app-usermenu.active > i {background-color:#BDBDBD;}
html.theme-material #fw-app #fw-app-header .app-usercontrols .app-usermenu .app-menu-tray {background-color:#FAFAFA;color:#282628;border-color:rgba(0, 0, 0, 0.2);}
html.theme-material #fw-app #fw-app-header .app-usercontrols .app-usermenu .app-menu-tray .link:hover {background-color:#e0e0e0;}
html.theme-material #fw-app #fw-app-header .app-usercontrols .app-usermenu .app-menu-tray .staticinfo {background-color: #E0E0E0;border-color:rgba(0, 0, 0, 0.2);}

html.theme-material #fw-app #fw-app-menu {background-color:#EEEEEE;color:#37474F;border-color:#9E9E9E;}
html.theme-material #fw-app #fw-app-menu.active .menu-category.hovered {background-color:#e0e0e0;}
html.theme-material #fw-app #fw-app-menu .menu-category .module-tray {background-color: #fafafa;border-color:#9E9E9E;}
html.theme-material #fw-app #fw-app-menu .menu-category.selected {background-color:#bdbdbd;}
html.theme-material #fw-app #fw-app-menu .menu-category .module-tray .module:hover {background-color:#e0e0e0;}*/

html.theme-material #fw-app #fw-app-header {background-color:#f5f5f5;color:#212121;border-color:#9E9E9E;}
html.theme-material #fw-app #fw-app-header .app-menu-button:hover > i {background-color:#BDBDBD;}
html.theme-material #fw-app #fw-app-header .app-menu-button.active > i {background-color:#BDBDBD;}

html.theme-material #fw-app #fw-app-header .app-usercontrols .bookmark:hover {background-color:#BDBDBD;}
html.theme-material #fw-app #fw-app-header .app-usercontrols .app-usermenu:hover > i {background-color:#BDBDBD;}
html.theme-material #fw-app #fw-app-header .app-usercontrols .app-usermenu.active > i {background-color:#BDBDBD;}
html.theme-material #fw-app #fw-app-header .app-usercontrols .app-usermenu .app-menu-tray {background-color:#ffffff;color:#212121;border-color:#9E9E9E}
html.theme-material #fw-app #fw-app-header .app-usercontrols .app-usermenu .app-menu-tray .link:hover {background-color:#E0E0E0;}
html.theme-material #fw-app #fw-app-header .app-usercontrols .app-usermenu .app-menu-tray .staticinfo {background-color: #BDBDBD;border-color:#9E9E9E;}

html.theme-material #fw-app #fw-app-menu {background-color:#2196F3;color:#FAFAFA;border-color:#1976D2;}
/*html.theme-material #fw-app #fw-app-menu.active {background-color:#ffffff;color:#212121}
html.theme-material #fw-app #fw-app-menu.active .menu-category > i {color:#2196F3;}*/
html.theme-material #fw-app #fw-app-menu.active .menu-category.hovered {background-color:#64B5F6;}
html.theme-material #fw-app #fw-app-menu .menu-category .module-tray {background-color: #ffffff;color:#212121;border-color:#1976D2;}
html.theme-material #fw-app #fw-app-menu .menu-category.selected {background-color:#64B5F6;}
html.theme-material #fw-app #fw-app-menu .menu-category .module-tray .module:hover {background-color:#64B5F6;}