/*#region FwMenu Grid*/
html.theme-material .fwmenu.grid {display:flex;align-items:center;}
html.theme-material .fwmenu.grid .menucaption {flex: 1 1 auto;padding:0 10px; font-size: 14px; font-weight:600; color: #2196F3;overflow: hidden; text-overflow: ellipsis; white-space: nowrap;}
html.theme-material .fwmenu.grid .buttonbar {flex: 0 0 auto;}
html.theme-material .fwmenu.grid .buttonbar .btn {background:#4CAF50;color:#ffffff;height:24px;cursor:pointer;padding:4px;font-family:arial;font-size:12px;font-weight:bold;text-decoration:none;text-align:center;float:left;}
html.theme-material .fwmenu.grid .buttonbar .btn:hover {background-color:#43a047;}
html.theme-material .fwmenu.grid .buttonbar .btn.disabled {opacity:0.6;}
html.theme-material .fwmenu.grid .submenubutton {flex: 0 0 auto;color: #607D8B;}
html.theme-material .fwmenu.grid .submenubutton:hover {background-color: #7B1FA2; color: #ffffff;}
html.theme-material .fwmenu.grid .submenubutton.active {background-color: #7B1FA2; color: #ffffff;}
html.theme-material .fwmenu.grid .submenubutton .icon {height:24px;padding:4px;cursor:pointer;}
html.theme-material .fwmenu.grid .submenubutton .submenu {display:none;position:absolute;margin-top:1px;padding:1px;-moz-box-shadow:3px 3px 5px 1px rgba(0,0,0,.3);-webkit-box-shadow:3px 3px 5px 1px rgba(0,0,0,.3);box-shadow:3px 3px 5px 1px rgba(0,0,0,.3);background: #fafafa;border: 1px solid #d6d6d6;color: #263248;}
html.theme-material .fwmenu.grid .submenubutton.active .submenu {display:block;}
html.theme-material .fwmenu.grid .submenubutton .submenu .submenu-column {margin:10px;font-size:14px;float:left;min-width:200px;}
html.theme-material .fwmenu.grid .submenubutton .submenu .submenu-column .submenu-group {margin-bottom:15px;}
html.theme-material .fwmenu.grid .submenubutton .submenu .submenu-column .submenu-group > .caption {font-weight:bold;color:#000077;border-bottom:solid 2px #000077;}
html.theme-material .fwmenu.grid .submenubutton .submenu .submenu-column .submenu-group .submenu-btn {cursor:pointer;padding:3px;border:solid 1px transparent;}
html.theme-material .fwmenu.grid .submenubutton .submenu .submenu-column .submenu-group .submenu-btn:hover {background: rgba(213,221,229,1);color: #1a2631;border: 1px solid rgba(41,77,133,1);}
html.theme-material .fwbrowse[data-enabled="false"] .fwmenu.grid .buttonbar .btn {background:grey;}
/*#endregion FwMenu Grid*/

/*#region FwMenu: (Browses/Forms)*/
html.theme-material .fwmenu.default {display:flex;align-items:center;background-color:#fafafa;border-top: 1px solid #9e9e9e;border-bottom: 1px solid #9e9e9e;}

html.theme-material .fwmenu.default .buttonbar {flex:1 0 auto;height:2.5em;margin-left:.625em;display:flex;align-items:center;}
html.theme-material .fwmenu.default .buttonbar .vr {height:30px;width:1px;margin:0 5px;background-color:rgba(0,0,0,0.4);}
html.theme-material .fwmenu.default .buttonbar > .btn {cursor:pointer;padding:0 10px .25em 10px;display:flex;align-items: center;height: 100%;box-sizing: border-box;border-top: .25em solid transparent;transition: .3s;outline:0;}
html.theme-material .fwmenu.default .buttonbar .btn .findbutton-dropdown { display:none;position: absolute; top: 40px; -moz-box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12); -webkit-box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16), 0 2px 10px 0 rgba(0,0,0,0.12); box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16), 0 2px 10px 0 rgba(0,0,0,0.12); background: #fafafa; border: 1px solid #d6d6d6; color: #263248;}
html.theme-material .fwmenu.default .buttonbar .btn .findbutton-dropdown .queryrow { display: flex; flex-wrap: nowrap; }
html.theme-material .fwmenu.default .buttonbar .btn.active .findbutton-dropdown {display:block;cursor:default;}
html.theme-material .fwmenu.default .buttonbar .btn.active .findbutton-dropdown .andor { visibility:hidden; }
html.theme-material .fwmenu.default .buttonbar .btn.active .findbutton-dropdown .delete-query { visibility:hidden; cursor:pointer; margin: .9em 0 0 0;}
html.theme-material .fwmenu.default .buttonbar .btn.active .findbutton-dropdown .add-query {cursor:pointer; margin: .9em 0 0 0;}
html.theme-material .fwmenu.default .buttonbar .btn:hover:not(.disabled) {border-top:.25em solid #2e7d32;}
html.theme-material .fwmenu.default .buttonbar .btn.disabled {opacity:0.6;}
html.theme-material .fwmenu.default .buttonbar .btn > i {font-size:1.5em;}

html.theme-material .fwmenu.default .buttonbar .ddviewbtn {display:flex;padding:0 10px;-webkit-touch-callout: none;-webkit-user-select: none;-moz-user-select: none;-ms-user-select: none;user-select: none;align-items:center;height:100%;}
html.theme-material .fwmenu.default .buttonbar .ddviewbtn > .ddviewbtn-caption {margin-right:5px;}
html.theme-material .fwmenu.default .buttonbar .ddviewbtn > .ddviewbtn-select {display:flex;cursor:pointer;border-top:.25em solid transparent;transition: .3s;align-items:center;padding-bottom:.25em;outline:0;height:100%;box-sizing:border-box;}
html.theme-material .fwmenu.default .buttonbar .ddviewbtn > .ddviewbtn-select:hover {border-top:4px solid #2e7d32;}
html.theme-material .fwmenu.default .buttonbar .ddviewbtn > .ddviewbtn-select.active {border-top:4px solid #2e7d32;}
html.theme-material .fwmenu.default .buttonbar .ddviewbtn > .ddviewbtn-select > .ddviewbtn-select-value {padding-left:5px;}

html.theme-material .fwmenu.default .buttonbar .ddviewbtn > .ddviewbtn-select > .ddviewbtn-dropdown {display:none;position:absolute;top:40px;line-height:24px;font-size:14px;-moz-box-shadow:0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12);-webkit-box-shadow:0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12);box-shadow:0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12);background: #fafafa;border: 1px solid #d6d6d6;color:#263248;}
html.theme-material .fwmenu.default .buttonbar .ddviewbtn > .ddviewbtn-select.active > .ddviewbtn-dropdown {display:block;}
html.theme-material .fwmenu.default .buttonbar .ddviewbtn > .ddviewbtn-select > .ddviewbtn-dropdown > .ddviewbtn-dropdown-btn {border: 1px solid transparent;overflow: auto; display:flex;}
html.theme-material .fwmenu.default .buttonbar .ddviewbtn > .ddviewbtn-select > .ddviewbtn-dropdown > .ddviewbtn-dropdown-btn:hover {background: rgba(213,221,229,1);color: #1a2631;border: 1px solid rgba(41,77,133,1);}
html.theme-material .fwmenu.default .buttonbar .ddviewbtn > .ddviewbtn-select > .ddviewbtn-dropdown > .ddviewbtn-dropdown-btn > input {margin:5px 0px 5px 5px; cursor:pointer;}
html.theme-material .fwmenu.default .buttonbar .ddviewbtn > .ddviewbtn-select > .ddviewbtn-dropdown > .ddviewbtn-dropdown-btn > .ddviewbtn-dropdown-btn-caption {float:left;padding:0 10px;}

html.theme-material .fwmenu.default .submenubutton {flex:0 0 auto;transition: .3s;}
html.theme-material .fwmenu.default .submenubutton:hover {background:#2e7d32;}
html.theme-material .fwmenu.default .submenubutton:active {background:#2e7d32;}
html.theme-material .fwmenu.default .submenubutton.active {background:#2e7d32;}
html.theme-material .fwmenu.default .submenubutton .icon {padding:.5em;cursor:pointer;display:flex;align-items:center;}
html.theme-material .fwmenu.default .submenubutton .icon .material-icons {font-size:1.5em;}
html.theme-material .fwmenu.default .submenubutton .submenu {display:none;position:absolute;margin-top:1px;-moz-box-shadow:3px 3px 5px 1px rgba(0,0,0,.3);-webkit-box-shadow:3px 3px 5px 1px rgba(0,0,0,.3);box-shadow:3px 3px 5px 1px rgba(0,0,0,.3);background: #fafafa;border: 1px solid #d6d6d6;color: #263248;}
html.theme-material .fwmenu.default .submenubutton.active .submenu {display:flex;}
html.theme-material .fwmenu.default .submenubutton .submenu .submenu-column {margin:10px;font-size:14px;min-width:200px;flex:1 0 auto;}
html.theme-material .fwmenu.default .submenubutton .submenu .submenu-column .submenu-group {margin-bottom:15px;}
html.theme-material .fwmenu.default .submenubutton .submenu .submenu-column .submenu-group > .caption {font-weight:bold;color:#000077;border-bottom:solid 2px #000077;}
html.theme-material .fwmenu.default .submenubutton .submenu .submenu-column .submenu-group .submenu-btn {cursor:pointer;padding:3px;border:solid 1px transparent;}
html.theme-material .fwmenu.default .submenubutton .submenu .submenu-column .submenu-group .submenu-btn:hover {background: rgba(213,221,229,1);color: #1a2631;border: 1px solid rgba(41,77,133,1);}

html.theme-material .fwmenu.default .submenubutton.fw {float:right;}
html.theme-material .fwmenu.default .submenubutton.fw .submenu {right:0;}

/*#region data-type="btnmenu" (main button)*/
html.theme-material [data-type="btnmenu"] .btnmenu {float:left;border-radius:2px 0 0 2px;padding: 0 1rem;cursor:pointer;display:inline-block;height: 36px;letter-spacing: .5px;line-height: 36px;font-size: 15px;text-transform: uppercase;will-change: opacity, transform;-webkit-transition: all 0.3s ease-out;-moz-transition: all 0.3s ease-out;-o-transition: all 0.3s ease-out;-ms-transition: all 0.3s ease-out;transition: all 0.3s ease-out;}
html.theme-material [data-type="btnmenu"] .btnmenu {background-color: #01579b;color: #ffffff;box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16), 0 2px 10px 0 rgba(0,0,0,0.12);}
html.theme-material [data-type="btnmenu"] .btnmenu:hover {box-shadow: 0 5px 11px 0 rgba(0,0,0,0.18), 0 4px 15px 0 rgba(0,0,0,0.15);}
html.theme-material [data-type="btnmenu"] .btnmenu:active {background-color:#1e88e5;}
/*#endregion*/

/*#region data-type="btnmenu" (button drop-down menu)*/
html.theme-material [data-type="btnmenu"] .btnmenuoptions {border-radius:2px;margin-top:37px;display:none;position:absolute; background-color: #01579b;color: #ffffff;box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16), 0 2px 10px 0 rgba(0,0,0,0.12);}
/*#endregion*/

/*#region data-type="btnmenu" (icon revealing dropdown)*/
html.theme-material [data-type="btnmenu"] i.btnmenudd { vertical-align:middle;float:right;background-color:#01579B;color:white;height:29px;padding:4px 3px 3px 3px;border-radius:0 2px 2px 0;cursor:pointer; }
/*#endregion*/

/*#region data-type="btnmenu" (button menu options) */
html.theme-material [data-type="btnmenu"] .btnmenuoption {cursor: pointer; padding:.5em 1em .5em 1em;}
html.theme-material [data-type="btnmenu"] .btnmenuoption:hover {box-shadow: 0 5px 11px 0 rgba(0,0,0,0.18), 0 4px 15px 0 rgba(0,0,0,0.15);}
html.theme-material [data-type="btnmenu"] .btnmenuoption:active {background-color:#1e88e5;}
/*#endregion*/

/*#endregion FwMenu:(Browses/Forms)*/
