$page-width: 1210px;
$line-height: 16px;
$normal-text: 1em;

@page {
    margin: 130px 32px 96px 32px;
    /*margin: 48px 24px 48px 24px;*/
    /*size: auto;*/
    size: landscape;
}

html.preview {
    #pageno {
        visibility: hidden;
    }
}

html.pdf {
    body {
        /*margin: 130px 24px 96px 24px;*/
    }
}

@media only screen {
    .parameters {
        display: block;
    }
}

@media only print {
    .parameters {
        display: none;
    }
}

.Header {
    div {
        flex: 1 0 1210px;

        div {
            min-width: 33.33333%;
            flex: 1 1 0;
            font-size: 13px;
            white-space: nowrap;
        }
    }
}

.tblLateReturns {
    flex: 1 0 1110px;
    border-collapse: collapse;
    margin: 40px 0 0 0;

    table {
        width: 100%;
        border-collapse: collapse;

        colgroup {
            .GLAccount {
                flex: 1 1 0;
            }

            .Description {
                flex: 1 1 0;
            }

            .Debit {
                flex: 1 1 0;
            }

            .Credit {
                flex: 1 1 0;
            }
        }

        tr.columnheadings {
            td {
                font-weight: bold;
                padding: 5px;
                white-space: nowrap;
                border-top: 1px solid #000000;
                border-bottom: 1px solid #000000;
            }
        }

        tbody {
            tr[data-rowtype="detail"]:nth-child(even) {
                background-color: #DCDCDC;
            }

            tr.caption {
                display: block;
                text-align: center;
                font-size: 1.5em;
                font-weight: bold;
            }

            td.OfficeLocationHeader {
                padding-top: .8em;
                padding-bottom: .8em;
                font-weight: bold;
                font-size: 1.1em;
                text-decoration: underline;
            }

            td.first-order {
                padding-bottom: .8em;
                font-weight: bold;
                padding-left: 40px;
                padding-top: 2em;
            }

            td.first-order-icode {
                padding-bottom: .8em;
                font-weight: bold;
                padding-left: 40px;
                position: relative
            }

            td.first-order-icode:after {
                position: absolute;
                content: '';
                border-bottom: 1px solid #000000;
                width: 80%;
                transform: translateX(-50%);
                bottom: -1px;
                left: 60%;
            }

            td.order-columnheadings {
                font-weight: bold;
                border-bottom: 1px solid #000000;
            }

            td.OrderNumberHeader {
                padding-bottom: .8em;
                font-weight: bold;
                padding-top: 2em;
            }

            td.DealHeader {
                padding-bottom: .8em;
                font-weight: bold;
                text-decoration: underline;
                padding-left: 20px;
            }

            td.first-detail {
                padding-left: 40px;
            }

            td.number {
                text-align: right;
            }

            td.total {
                text-align: right;
            }

            td {
                padding: 2px 5px;
                font-size: .9em;
            }
        }
    }
}

.rentalItems {
}

.salesItems {
    page-break-before: always;
}

@media screen {
    #pageContainer {
        width: $page-width;
    }
}

#pageContainer {
    #pageHeader {
    }

    #contract {
    }

    #pageFooter {
        margin: $line-height 0 0 0;
    }
}

#pageContainer {
    #header, #footer {
        width: auto !important;
    }
}

fieldset {
    border: 1px solid #000000;
    height: 120px;

    legend {
        text-align: center;
        font-weight: bold;
    }
}

.receivedBy {
    page-break-inside: avoid;
    margin: $line-height 0 0 0;
}

.receivedbyfield {
    flex: 0 1 50%;
    margin: 0 $line-height/2;

    .value {
        border-bottom: 1px solid #000000;
        white-space: nowrap;
        height: $line-height*2;
    }

    .caption {
        white-space: nowrap;
        height: $line-height;
    }
}
