tbody {
    tr[data-rowtype="detail"]:nth-child(odd) {
        background-color: #DCDCDC;
    }

    td:after {
        content: attr(data-value);
    }

    td {
        padding: 3px;
    }

    .order-header {
        font-weight: bold;
        border-bottom: 1px solid #000000;
    }
}

thead {
    th {
        border-top: 2px solid #000000;
        border-bottom: 2px solid #000000;
        font-weight: bold;
        padding: 5px;
        white-space: nowrap;
    }
}

@page {
    size: landscape;
}
