@page {
  margin: 130px 24px 96px 24px;
  size: letter; }

body {
  font-family: Arial, sans-serif;
  font-size: 12px;
  margin: 0;
  padding: 0; }

@media only screen {
  .parameters {
    display: block; } }

@media only print {
  .parameters {
    display: none; } }

.flexfield-50 {
  display: flex;
  height: 16px;
  line-height: 16px; }
  .flexfield-50 .caption {
    flex: 0 0 50px;
    height: 16px;
    line-height: 16px;
    font-size: 1em;
    font-weight: bold;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis; }
  .flexfield-50 .value {
    flex: 1 1 0;
    height: 16px;
    line-height: 16px;
    font-size: 1em;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis; }

.flexfield-75 {
  display: flex;
  height: 16px;
  line-height: 16px; }
  .flexfield-75 .caption {
    flex: 0 0 75px;
    height: 16px;
    line-height: 16px;
    font-size: 1em;
    font-weight: bold;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis; }
  .flexfield-75 .value {
    flex: 1 1 0;
    height: 16px;
    line-height: 16px;
    font-size: 1em;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis; }

.flexfield-85 {
  display: flex;
  height: 16px;
  line-height: 16px; }
  .flexfield-85 .caption {
    flex: 0 0 85px;
    height: 16px;
    line-height: 16px;
    font-size: 1em;
    font-weight: bold;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis; }
  .flexfield-85 .value {
    flex: 1 1 0;
    height: 16px;
    line-height: 16px;
    font-size: 1em;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis; }

.flexfield-150 {
  display: flex;
  height: 16px;
  line-height: 16px; }
  .flexfield-150 .caption {
    flex: 0 0 150px;
    height: 16px;
    line-height: 16px;
    font-size: 1em;
    font-weight: bold;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis; }
  .flexfield-150 .value {
    flex: 1 1 0;
    height: 16px;
    line-height: 16px;
    font-size: 1em;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis; }

.label {
  line-height: 16px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 1em; }

.BillingStartDate {
  text-align: center;
  border-bottom: 1px solid #000000;
  padding: 40px 0 0 0; }

.IssuedTo .IssuedToCaption {
  text-align: center;
  border-bottom: 1px solid #000000;
  font-size: 1em;
  font-weight: bold; }

.IssuedTo .add1, .IssuedTo .add2, .IssuedTo .add3 {
  line-height: 16px;
  font-size: 1em; }

.IssuedTo .phone {
  margin: 20px 0 0 0; }

.tblContractItems {
  width: 100%;
  border-collapse: collapse;
  margin: 20px 0 0 0; }
  .tblContractItems colgroup .ICode {
    width: 60px; }
  .tblContractItems colgroup .Description {
    width: auto; }
  .tblContractItems colgroup .QuantityOrdered {
    width: 75px; }
  .tblContractItems colgroup .QuantityOut {
    width: 75px; }
  .tblContractItems colgroup .TotalOut {
    width: 75px; }
  .tblContractItems thead tr.columnheadings th {
    font-weight: bold;
    padding: 5px;
    white-space: nowrap;
    border-top: 1px solid #000000;
    border-bottom: 1px solid #000000; }
  .tblContractItems thead tr.columnheadings .ICode {
    border-left: 1px solid #000000;
    text-align: left; }
  .tblContractItems thead tr.columnheadings .Description {
    text-align: left; }
  .tblContractItems thead tr.columnheadings .QuantityOrdered {
    text-align: right; }
  .tblContractItems thead tr.columnheadings .QuantityOut {
    text-align: right; }
  .tblContractItems thead tr.columnheadings .TotalOut {
    text-align: right; }
  .tblContractItems thead tr.caption {
    text-align: center;
    font-size: 1.5em;
    font-weight: bold; }
  .tblContractItems tbody td {
    padding: 2px 5px;
    font-size: .9em; }
  .tblContractItems tbody .ICode {
    white-space: pre;
    text-align: left; }
  .tblContractItems tbody .Description {
    text-align: left; }
  .tblContractItems tbody .QuantityOrdered {
    text-align: right; }
  .tblContractItems tbody .QuantityOut {
    text-align: right; }
  .tblContractItems tbody .TotalOut {
    text-align: right; }
  .tblContractItems tbody .Barcodes {
    padding: 0 0 0 50px; }
    .tblContractItems tbody .Barcodes .Barcodes-label {
      font-weight: bold; }
  .tblContractItems tbody tr.C td {
    font-weight: bold; }

.salesItems {
  page-break-before: always; }

#pagecontainer {
  width: 768px; }
  #pagecontainer #pageFooter {
    margin: 16px 0 0 0; }

@media screen {
  #pagecontainer #header, #pagecontainer #footer {
    width: auto !important; }
  #pageno {
    /*visibility: hidden;*/ } }

@media print {
  #pagecontainer #pageHeader {
    display: none; }
  #pagecontainer #pageFooter {
    display: none; } }

fieldset {
  border: 1px solid #000000;
  height: 120px; }
  fieldset legend {
    text-align: center;
    font-weight: bold; }

.receivedBy {
  page-break-inside: avoid;
  margin: 16px 0 0 0; }

.receivedbyfield {
  flex: 0 1 50%;
  margin: 0 8px; }
  .receivedbyfield .value {
    border-bottom: 1px solid #000000;
    white-space: nowrap;
    height: 32px; }
  .receivedbyfield .caption {
    white-space: nowrap;
    height: 16px; }
