.exchange {}
.exchange .pageexchangeby .migroupheader {height:44px;line-height:44px;font-weight:bold;background-color:#ffffff;color:#000000;border-bottom:1px solid #cccccc;text-align:center;}
.exchange .pageexchangeby .mispacer {background-color:#eeeeee;height:22px;border-bottom:1px solid #cccccc;}
.exchange .pageexchangeby .mi {display:flex;align-items:center;padding:10px 10px 10px 20px;background-color:#ffffff;color:#000000;border-bottom:1px solid #cccccc;cursor:pointer;}
.exchange .pageexchangeby .mi:active {background-color:#bdbdbd;}
.exchange .pageexchangeby .mi .label {flex:1 0 0;}
.exchange .pageexchangeby .mi i {flex:0 0 22px;color:#cccccc;}

.exchange .pageselectorder .pageheader {padding:10px;justify-content:center;font-size:18px;font-weight:bold;background-color:#546e7a;display:-webkit-box;display:-moz-box;display:-ms-flexbox;display:flex;flex-direction:row;will-change:opacity, transform;transition:all .1s ease-out;}
.exchange .pageselectorder .searchresults {background-color:#ffffff;color:#000000;border-top:1px solid #bdbdbd;}
.exchange .pageselectorder .searchresults .item {cursor:pointer;font-size:12px;border-bottom:1px solid #bdbdbd;display:flex;align-items:center;padding:10px 10px 10px 20px;}
.exchange .pageselectorder .searchresults .item:active {background-color:#bdbdbd;}
.exchange .pageselectorder .searchresults .item .col1 {flex:1 0 0;}
.exchange .pageselectorder .searchresults .item .col2 {flex:0 0 22px;color:#cccccc;}
.exchange .pageselectorder .searchresults .item .row {display:flex;}
.exchange .pageselectorder .searchresults .item .valueDescription {flex:0 1 auto;font-weight:bold;font-size:14px;text-decoration:underline;}
.exchange .pageselectorder .searchresults .item .caption {flex: 0 0 80px;color:#0277bd;font-size:11px;}
.exchange .pageselectorder .searchresults .item .value {flex:1 1 0;}

.exchange .pageselectdeal .pageheader {padding:10px;justify-content:center;font-size:18px;font-weight:bold;background-color:#546e7a;display:-webkit-box;display:-moz-box;display:-ms-flexbox;display:flex;flex-direction:row;will-change:opacity, transform;transition:all .1s ease-out;}
.exchange .pageselectdeal .searchresults {background-color:#ffffff;color:#000000;border-top:1px solid #bdbdbd;}
.exchange .pageselectdeal .searchresults .item {cursor:pointer;font-size:12px;border-bottom:1px solid #bdbdbd;display:flex;align-items:center;padding:10px 10px 10px 20px;}
.exchange .pageselectdeal .searchresults .item:active {background-color:#bdbdbd;}
.exchange .pageselectdeal .searchresults .item .col1 {flex:1 0 0;}
.exchange .pageselectdeal .searchresults .item .col2 {flex:0 0 22px;color:#cccccc;}
.exchange .pageselectdeal .searchresults .item .row {display:flex;}
.exchange .pageselectdeal .searchresults .item .valueDeal {flex:0 1 auto;font-weight:bold;font-size:14px;text-decoration:underline;}
.exchange .pageselectdeal .searchresults .item .caption {flex: 0 0 80px;color:#0277bd;font-size:11px;}
.exchange .pageselectdeal .searchresults .item .value {flex:1 1 0;}

.exchange .pageselectcompanydepartment .pageheader {padding:10px;justify-content:center;font-size:18px;font-weight:bold;background-color:#546e7a;display:-webkit-box;display:-moz-box;display:-ms-flexbox;display:flex;flex-direction:row;will-change:opacity, transform;transition:all .1s ease-out;}
.exchange .pageselectcompanydepartment .searchresults {background-color:#ffffff;color:#000000;border-top:1px solid #bdbdbd;}
.exchange .pageselectcompanydepartment .searchresults .item {cursor:pointer;font-size:12px;border-bottom:1px solid #bdbdbd;display:flex;align-items:center;padding:10px 10px 10px 20px;}
.exchange .pageselectcompanydepartment .searchresults .item:active {background-color:#bdbdbd;}
.exchange .pageselectcompanydepartment .searchresults .item .col1 {flex:1 0 0;}
.exchange .pageselectcompanydepartment .searchresults .item .col2 {flex:0 0 22px;color:#cccccc;}
.exchange .pageselectcompanydepartment .searchresults .item .row {display:flex;}
.exchange .pageselectcompanydepartment .searchresults .item .valueDepartment {flex:0 1 auto;font-weight:bold;font-size:14px;text-decoration:underline;}
.exchange .pageselectcompanydepartment .searchresults .item .caption {flex: 0 0 70px;color:#0277bd;font-size:11px;}
.exchange .pageselectcompanydepartment .searchresults .item .value {flex:1 1 0;}

.exchange .pageselectpendingexchange .pageheader {padding:10px;justify-content:center;font-size:18px;font-weight:bold;background-color:#546e7a;display:-webkit-box;display:-moz-box;display:-ms-flexbox;display:flex;flex-direction:row;will-change:opacity, transform;transition:all .1s ease-out;}
.exchange .pageselectpendingexchange .searchresults {background-color:#ffffff;color:#000000;border-top:1px solid #bdbdbd;}
.exchange .pageselectpendingexchange .searchresults .item {cursor:pointer;font-size:12px;border-bottom:1px solid #bdbdbd;display:flex;align-items:center;padding:10px 10px 10px 20px;}
.exchange .pageselectpendingexchange .searchresults .item:active {background-color:#bdbdbd;}
.exchange .pageselectpendingexchange .searchresults .item .col1 {flex:1 0 0;}
.exchange .pageselectpendingexchange .searchresults .item .col2 {flex:0 0 22px;color:#cccccc;}
.exchange .pageselectpendingexchange .searchresults .item .row {display:flex;}
.exchange .pageselectpendingexchange .searchresults .item .valueDescription {flex:0 1 auto;font-weight:bold;font-size:14px;text-decoration:underline;}
.exchange .pageselectpendingexchange .searchresults .item .caption {flex: 0 0 70px;color:#0277bd;font-size:11px;}
.exchange .pageselectpendingexchange .searchresults .item .value {flex:0 0 50px;}

.exchange .pageselectsuspendedsession .pageheader {padding:10px;justify-content:center;font-size:18px;font-weight:bold;background-color:#546e7a;display:-webkit-box;display:-moz-box;display:-ms-flexbox;display:flex;flex-direction:row;will-change:opacity, transform;transition:all .1s ease-out;}
.exchange .pageselectsuspendedsession .searchresults {background-color:#ffffff;color:#000000;border-top:1px solid #bdbdbd;}
.exchange .pageselectsuspendedsession .searchresults .item {cursor:pointer;font-size:12px;border-bottom:1px solid #bdbdbd;display:flex;align-items:center;padding:10px 10px 10px 20px;}
.exchange .pageselectsuspendedsession .searchresults .item[data-status="NEW"] {border-left:10px solid #ffff00;}
.exchange .pageselectsuspendedsession .searchresults .item[data-status="ACTIVE"] {border-left:10px solid #00ff00;}
.exchange .pageselectsuspendedsession .searchresults .item:active {background-color:#bdbdbd;}
.exchange .pageselectsuspendedsession .searchresults .item .col1 {flex:1 0 0;}
.exchange .pageselectsuspendedsession .searchresults .item .col2 {flex:0 0 22px;color:#cccccc;}
.exchange .pageselectsuspendedsession .searchresults .item .row {display:flex;}
.exchange .pageselectsuspendedsession .searchresults .item .valueOrderDesc {flex: 1 1 auto;font-weight:bold;font-size:14px;text-decoration:underline;}
.exchange .pageselectsuspendedsession .searchresults .item .caption {flex:0 0 80px;color:#0277bd;font-size:11px;}
.exchange .pageselectsuspendedsession .searchresults .item .value {flex: 1 1 0;}

.exchange .pageexchange .pageheader {padding:10px;justify-content:center;font-size:11px;background-color:#546e7a;will-change:opacity, transform;transition:all .1s ease-out;}
.exchange .pageexchange .pageheader .caption {flex:0 0 70px;}
.exchange .pageexchange .pageheader .value {flex:1 1 0;}
.exchange .pageexchange .checkinpanel,
.exchange .pageexchange .checkoutpanel {padding:10px;border-top:1px solid #bdbdbd;background-color:#ffffff;color:#000000;}
.exchange .pageexchange .iteminfo {margin:10px 10px 0 10px;}
.exchange .pageexchange .iteminfo .caption {flex:0 0 70px;color:#0277bd;font-size:11px;}
.exchange .pageexchange .iteminfo .value {flex: 1 1 0;min-height:16px;font-size:12px;border:1px solid #bcbcbc;border-radius:5px;margin:2px 0;padding:0 5px;background-color:#e0e0e0;color:#000000;}
.exchange .pageexchange .checkin {flex: 1 1 0;}
.exchange .pageexchange .scanfooter {padding:10px 20px;background-color:#ffffff;color:#000000;border-top:1px solid #bdbdbd;}
.exchange .pageexchange .scanfooter .scanfooterinfo {flex:1 1 0;}
.exchange .pageexchange .scanfooter .caption {flex:0 0 70px;color:#0277bd;font-size:11px;}
.exchange .pageexchange .scanfooter .value {flex: 1 1 0;min-height:16px;font-size:12px;border:1px solid #bcbcbc;border-radius:5px;margin:2px 0;padding:0 5px;background-color:#e0e0e0;color:#000000;}
.exchange .pageexchange .exchangeqty {flex:0 0 60px;}

.exchange .exchangesessionsearch .searchresults {background-color:#ffffff;color:#000000;border-top:1px solid #bdbdbd;}
.exchange .exchangesessionsearch .item {cursor:pointer;font-size:12px;border-bottom:1px solid #bdbdbd;display:flex;align-items:center;padding:10px 10px 10px 20px;}
.exchange .exchangesessionsearch .item[data-itemstatus="P"] {background-color:rgb(255,255,255);} /* Pending Exchange */
.exchange .exchangesessionsearch .item[data-completedpendingexchange="T"] {background-color:rgb(221,221,255);} /* Completed Exchange */
.exchange .exchangesessionsearch .item[data-torepair="T"] {background-color:rgb(255,255,255);} /* To Repair */
.exchange .exchangesessionsearch .item[data-multiwarehouse="T"] {background-color:rgb(214,225,128);} /* Multi-Warehouse */
.exchange .exchangesessionsearch .item:active {background-color:#bdbdbd;}
.exchange .exchangesessionsearch .col1 {flex:1 0 0;}
.exchange .exchangesessionsearch .col2 {flex:0 0 22px;color:#cccccc;}
.exchange .exchangesessionsearch .row {display:flex;}
.exchange .exchangesessionsearch .valueDescription {flex: 1 1 0;font-weight:bold;font-size:14px;text-decoration:underline;}
.exchange .exchangesessionsearch .caption {flex:0 0 80px;color:#0277bd;font-size:11px;}
.exchange .exchangesessionsearch .value {flex: 1 1 0;font-weight:bold;}

.exchangevaliddlg {font-size:12px;}
.exchangevaliddlg .caption {flex:0 0 75px;}
.exchangevaliddlg .value {flex:1 1 0;}
.exchangevaliddlg .searchresults {background-color:transparent;color:#000000;}
.exchangevaliddlg .item:not(:first-child) {border-top:1px solid #000000;}
