/*Order Report*/
tbody {
    tr[data-rowtype="detail"]:nth-child(even) {
        background-color: #DCDCDC;
    }

    td:after {
        content: attr(data-value);
    }

    td {
        padding: 3px;
    }
}
.sub-header tr > td {
    padding: 0;
}

.sub-header-left {
    align-self: flex-start;
}
.sub-header-center {
    align-self: center;
}
.sub-header-right {
    align-self: flex-end;
}

.title {
    align-self: center;
    font-family: Arial, sans-serif;
    font-size: 27px;
    font-weight: bold;
}
.header-center {
    align-self: center;
    font-family: Arial, sans-serif;
    font-size: 15px;
    margin-top: 5px;
}

.header-right {
    font-family: Arial, sans-serif;
    align-self: flex-end;
    font-size: 15px;
}

.header-left {
    font-family: Arial, sans-serif;
    align-self: flex-start;
    font-size: 15px;
}

body {
    font-family: Arial, sans-serif;
    font-size: 15px;
    margin: 0;
    padding: 0;
}

thead {
    th {
        border-top: 2px solid #000000;
        border-bottom: 2px solid #000000;
        font-weight: bold;
        padding: 5px;
        white-space: nowrap;
    }
}

.header-row {
    font-weight: bold;
    font-size: 12px;
}

.top-header-row:not(.lower) {
    padding-top: 15px;
}

.total-row {
    font-weight: bold;
    border-top: 1.5px solid black;
    padding-top: 10px;
}
