<ApplicationConfig>
  <Sites>
    <Site Name="Local">
      <DatabaseConnections>
        <DatabaseConnection Name="RentalWorks">
          <Server>vmikesql01</Server>
          <Database>rentalworksdemo</Database>
        </DatabaseConnection>
      </DatabaseConnections>
    </Site>
  </Sites>
</ApplicationConfig>
