<ApplicationConfig>
  <Sites>
    <Site Name="Local">
      <DatabaseConnections>
        <DatabaseConnection Name="RentalWorks">
          <Server>(local)\sql2016</Server>
          <Database>rentalworks_2018_001</Database>
        </DatabaseConnection>
      </DatabaseConnections>
    </Site>
  </Sites>
</ApplicationConfig>
