<ApplicationConfig>
  <Sites>
    <Site Name="Local">
      <DatabaseConnections>
        <DatabaseConnection Name="RentalWorks">
          <Server>server.company.com</Server>
          <Database>rentalworks</Database>
        </DatabaseConnection>
      </DatabaseConnections>
      <WebApi>
        <Url>https://webapi.company.com</Url>
      </WebApi>
    </Site>
  </Sites>
</ApplicationConfig>
