<JSAppBuilderConfig>
  <SchemaPath>FwApplicationSchema.config</SchemaPath>
  <DatabaseConnection>RentalWorks</DatabaseConnection>
  <Fields>
    <Field Publish="false" Key="{{FwFrontEndLibraryPath}}" Value="$(SolutionDir)\src\RentalWorksQuikScan\Libraries\Fw" />
    <Field Publish="false" Key="{{FwFrontEndLibraryUri}}" Value="[appbaseurl][fwvirtualdirectory]" />
    <Field Publish="false" Key="{{AppPath}}" Value="$(SolutionDir)\src\RentalWorksQuikScan" />
    <Field Publish="false" Key="{{AppUri}}" Value="[appbaseurl][appvirtualdirectory]" />

    <Field Publish="true" Key="{{FwFrontEndLibraryPath}}" Value="$(SolutionDir)\src\RentalWorksQuikScan\Libraries\Fw" />
    <Field Publish="true" Key="{{FwFrontEndLibraryUri}}" Value="http://localhost/qs2018/libraries/fw" />
    <Field Publish="true" Key="{{AppPath}}" Value="$(SolutionDir)\src\RentalWorksQuikScan" />
    <Field Publish="true" Key="{{AppUri}}" Value="http://localhost/qs2018/" />
  </Fields>
  <MergeSections>
    <MergeSection>
      <ReplaceField>{{{applicationConfigVersion}}}</ReplaceField>
      <MergeFiles>
        <MergeFile>
          <Template><![CDATA[{{{File}}}
applicationConfig.version='{{Version}}';]]></Template>
          <Uri>{{AppPath}}\scripts\DefaultApplicationConfig.js</Uri>
        </MergeFile>
      </MergeFiles>
    </MergeSection>
    <MergeSection>
      <ReplaceField>{{{mustacheTemplates}}}</ReplaceField>
      <MergeFiles>
        <!-- Module HTML Templates-->
        <MergeFile>
          <Template><![CDATA[<script id="tmpl-account-login" type="text/html">{{{File}}}</script>]]></Template>
          <Uri>{{AppPath}}\Modules\Login\Login.html</Uri>
        </MergeFile>
        <MergeFile>
          <Template><![CDATA[<script id="tmpl-account-support" type="text/html">{{{File}}}</script>]]></Template>
          <Uri>{{AppPath}}\Modules\Support\Support.html</Uri>
        </MergeFile>
        <MergeFile>
          <Template><![CDATA[<script id="tmpl-account-preferences" type="text/html">{{{File}}}</script>]]></Template>
          <Uri>{{AppPath}}\Modules\Preferences\Preferences.html</Uri>
        </MergeFile>
        <MergeFile>
          <Template><![CDATA[<script id="tmpl-account-privacyPolicy" type="text/html">{{{File}}}</script>]]></Template>
          <Uri>{{AppPath}}\Modules\PrivacyPolicy\PrivacyPolicy.html</Uri>
        </MergeFile>
        <MergeFile>
          <Template><![CDATA[<script id="tmpl-assetdisposition" type="text/html">{{{File}}}</script>]]></Template>
          <Uri>{{AppPath}}\Modules\AssetDisposition\AssetDisposition.html</Uri>
        </MergeFile>
        <MergeFile>
          <Template><![CDATA[<script id="tmpl-assetdisposition-orderitem" type="text/html">{{{File}}}</script>]]></Template>
          <Uri>{{AppPath}}\Modules\AssetDisposition\OrderItem.html</Uri>
        </MergeFile>
        <MergeFile>
          <Template><![CDATA[<script id="tmpl-assetsetlocation" type="text/html">{{{File}}}</script>]]></Template>
          <Uri>{{AppPath}}\Modules\AssetSetLocation\AssetSetLocation.html</Uri>
        </MergeFile>
        <MergeFile>
          <Template><![CDATA[<script id="tmpl-assetsetlocationbarcodetemplate" type="text/html">{{{File}}}</script>]]></Template>
          <Uri>{{AppPath}}\Modules\AssetSetLocation\AssetSetLocationBarcodeTemplate.html</Uri>
        </MergeFile>
        <MergeFile>
          <Template><![CDATA[<script id="tmpl-assetsetlocationquantitytemplate" type="text/html">{{{File}}}</script>]]></Template>
          <Uri>{{AppPath}}\Modules\AssetSetLocation\AssetSetLocationQuantityTemplate.html</Uri>
        </MergeFile>
        <MergeFile>
          <Template><![CDATA[<script id="tmpl-checkIn" type="text/html">{{{File}}}</script>]]></Template>
          <Uri>{{AppPath}}\Modules\CheckIn\CheckIn.html</Uri>
        </MergeFile>
        <MergeFile>
          <Template><![CDATA[<script id="tmpl-checkIn-suspendedSession" type="text/html">{{{File}}}</script>]]></Template>
          <Uri>{{AppPath}}\Modules\CheckIn\CheckIn-SuspendedSession.html</Uri>
        </MergeFile>
        <MergeFile>
          <Template><![CDATA[<script id="tmpl-CheckIn-PopupQty" type="text/html">{{{File}}}</script>]]></Template>
          <Uri>{{AppPath}}\Modules\CheckIn\PopupQty.html</Uri>
        </MergeFile>
        <MergeFile>
          <Template><![CDATA[<script id="tmpl-checkInMenu" type="text/html">{{{File}}}</script>]]></Template>
          <Uri>{{AppPath}}\Modules\CheckInMenu\CheckInMenu.html</Uri>
        </MergeFile>
        <MergeFile>
          <Template><![CDATA[<script id="tmpl-contractSignature" type="text/html">{{{File}}}</script>]]></Template>
          <Uri>{{AppPath}}\Modules\ContractSignature\ContractSignature.html</Uri>
        </MergeFile>
        <MergeFile>
          <Template><![CDATA[<script id="tmpl-Exchange" type="text/html">{{{File}}}</script>]]></Template>
          <Uri>{{AppPath}}\Modules\Exchange\Exchange.html</Uri>
        </MergeFile>
        <MergeFile>
          <Template><![CDATA[<script id="tmpl-fillcontainer" type="text/html">{{{File}}}</script>]]></Template>
          <Uri>{{AppPath}}\Modules\FillContainer\FillContainer.html</Uri>
        </MergeFile>
        <MergeFile>
          <Template><![CDATA[<script id="tmpl-FillContainer-PopupQty" type="text/html">{{{File}}}</script>]]></Template>
          <Uri>{{AppPath}}\Modules\FillContainer\PopupQty.html</Uri>
        </MergeFile>
        <MergeFile>
          <Template><![CDATA[<script id="tmpl-FillContainer-PopupSelectSerialNo" type="text/html">{{{File}}}</script>]]></Template>
          <Uri>{{AppPath}}\Modules\FillContainer\PopupSelectSerialNo.html</Uri>
        </MergeFile>
        <MergeFile>
          <Template><![CDATA[<script id="tmpl-getOrdersItem" type="text/html">{{{File}}}</script>]]></Template>
          <Uri>{{AppPath}}\Modules\SelectOrder\GetOrdersItem.html</Uri>
        </MergeFile>
        <MergeFile>
          <Template><![CDATA[<script id="tmpl-getPackageTruckItem" type="text/html">{{{File}}}</script>]]></Template>
          <Uri>{{AppPath}}\Modules\SelectOrder\GetPackageTruckItem.html</Uri>
        </MergeFile>
        <MergeFile>
          <Template><![CDATA[<script id="tmpl-home" type="text/html">{{{File}}}</script>]]></Template>
          <Uri>{{AppPath}}\Modules\Home\Home.html</Uri>
        </MergeFile>
        <MergeFile>
          <Template><![CDATA[<script id="tmpl-inventoryWebImage" type="text/html">{{{File}}}</script>]]></Template>
          <Uri>{{AppPath}}\Modules\InventoryWebImage\InventoryWebImage.html</Uri>
        </MergeFile>
        <MergeFile>
          <Template><![CDATA[<script id="tmpl-itemStatus" type="text/html">{{{File}}}</script>]]></Template>
          <Uri>{{AppPath}}\Modules\ItemStatus\ItemStatus.html</Uri>
        </MergeFile>
        <MergeFile>
          <Template><![CDATA[<script id="tmpl-itemStatusWarehouse" type="text/html">{{{File}}}</script>]]></Template>
          <Uri>{{AppPath}}\Modules\ItemStatus\ItemStatusWarehouse.html</Uri>
        </MergeFile>
        <MergeFile>
          <Template><![CDATA[<script id="tmpl-moveBCLocation" type="text/html">{{{File}}}</script>]]></Template>
          <Uri>{{AppPath}}\Modules\MoveBCLocation\MoveBCLocation.html</Uri>
        </MergeFile>
        <MergeFile>
          <Template><![CDATA[<script id="tmpl-packageTruckMenu" type="text/html">{{{File}}}</script>]]></Template>
          <Uri>{{AppPath}}\Modules\PackageTruckMenu\PackageTruckMenu.html</Uri>
        </MergeFile>
        <MergeFile>
          <Template><![CDATA[<script id="tmpl-phyInvItem" type="text/html">{{{File}}}</script>]]></Template>
          <Uri>{{AppPath}}\Modules\PhyInvItem\PhyInvItem.html</Uri>
        </MergeFile>
        <MergeFile>
          <Template><![CDATA[<script id="tmpl-POSubReceiveReturn" type="text/html">{{{File}}}</script>]]></Template>
          <Uri>{{AppPath}}\Modules\POSubReceiveReturn\POSubReceiveReturn.html</Uri>
        </MergeFile>
        <MergeFile>
          <Template><![CDATA[<script id="tmpl-POSubReceiveReturn-PopupQty" type="text/html">{{{File}}}</script>]]></Template>
          <Uri>{{AppPath}}\Modules\POSubReceiveReturn\PopupQty.html</Uri>
        </MergeFile>
        <MergeFile>
          <Template><![CDATA[<script id="tmpl-SelectPO-SuspendedSession" type="text/html">{{{File}}}</script>]]></Template>
          <Uri>{{AppPath}}\Modules\SelectPO\SuspendedSession.html</Uri>
        </MergeFile>
        <MergeFile>
          <Template><![CDATA[<script id="tmpl-QC" type="text/html">{{{File}}}</script>]]></Template>
          <Uri>{{AppPath}}\Modules\QC\QC.html</Uri>
        </MergeFile>
        <MergeFile>
          <Template><![CDATA[<script id="tmpl-quikIn" type="text/html">{{{File}}}</script>]]></Template>
          <Uri>{{AppPath}}\Modules\QuikIn\QuikIn.html</Uri>
        </MergeFile>
        <MergeFile>
          <Template><![CDATA[<script id="tmpl-quote" type="text/html">{{{File}}}</script>]]></Template>
          <Uri>{{AppPath}}\Modules\Quote\Quote.html</Uri>
        </MergeFile>
        <MergeFile>
          <Template><![CDATA[<script id="tmpl-Quote-PopupCancelQuote" type="text/html">{{{File}}}</script>]]></Template>
          <Uri>{{AppPath}}\Modules\Quote\PopupCancelQuote.html</Uri>
        </MergeFile>
        <MergeFile>
          <Template><![CDATA[<script id="tmpl-Quote-PopupQty" type="text/html">{{{File}}}</script>]]></Template>
          <Uri>{{AppPath}}\Modules\Quote\PopupQty.html</Uri>
        </MergeFile>
        <MergeFile>
          <Template><![CDATA[<script id="tmpl-Quote-PopupRemoveItem" type="text/html">{{{File}}}</script>]]></Template>
          <Uri>{{AppPath}}\Modules\Quote\PopupRemoveItem.html</Uri>
        </MergeFile>
        <MergeFile>
          <Template><![CDATA[<script id="tmpl-quoteMenu" type="text/html">{{{File}}}</script>]]></Template>
          <Uri>{{AppPath}}\Modules\QuoteMenu\QuoteMenu.html</Uri>
        </MergeFile>
        <MergeFile>
          <Template><![CDATA[<script id="tmpl-receiveonset" type="text/html">{{{File}}}</script>]]></Template>
          <Uri>{{AppPath}}\Modules\ReceiveOnSet\ReceiveOnSet.html</Uri>
        </MergeFile>
        <MergeFile>
          <Template><![CDATA[<script id="tmpl-receiveonsetnewsettemplate" type="text/html">{{{File}}}</script>]]></Template>
          <Uri>{{AppPath}}\Modules\ReceiveOnSet\ReceiveOnSetNewSetTemplate.html</Uri>
        </MergeFile>
        <MergeFile>
          <Template><![CDATA[<script id="tmpl-repairItem" type="text/html">{{{File}}}</script>]]></Template>
          <Uri>{{AppPath}}\Modules\RepairItem\RepairItem.html</Uri>
        </MergeFile>
        <MergeFile>
          <Template><![CDATA[<script id="tmpl-repairMenu" type="text/html">{{{File}}}</script>]]></Template>
          <Uri>{{AppPath}}\Modules\RepairMenu\RepairMenu.html</Uri>
        </MergeFile>
        <MergeFile>
          <Template><![CDATA[<script id="tmpl-repairorder" type="text/html">{{{File}}}</script>]]></Template>
          <Uri>{{AppPath}}\Modules\RepairOrder\RepairOrder.html</Uri>
        </MergeFile>
        <MergeFile>
          <Template><![CDATA[<script id="tmpl-repairorderbrowseitem" type="text/html">{{{File}}}</script>]]></Template>
          <Uri>{{AppPath}}\Modules\RepairOrder\RepairOrderBrowseItem.html</Uri>
        </MergeFile>
        <MergeFile>
          <Template><![CDATA[<script id="tmpl-rfidcheckin" type="text/html">{{{File}}}</script>]]></Template>
          <Uri>{{AppPath}}\Modules\RFIDCheckIn\RFIDCheckIn.html</Uri>
        </MergeFile>
        <MergeFile>
          <Template><![CDATA[<script id="tmpl-rfidstaging" type="text/html">{{{File}}}</script>]]></Template>
          <Uri>{{AppPath}}\Modules\RFIDStaging\RFIDStaging.html</Uri>
        </MergeFile>
        <MergeFile>
          <Template><![CDATA[<script id="tmpl-selectOrder" type="text/html">{{{File}}}</script>]]></Template>
          <Uri>{{AppPath}}\Modules\SelectOrder\SelectOrder.html</Uri>
        </MergeFile>
        <MergeFile>
          <Template><![CDATA[<script id="tmpl-physicalinventory" type="text/html">{{{File}}}</script>]]></Template>
          <Uri>{{AppPath}}\Modules\PhysicalInventory\PhysicalInventory.html</Uri>
        </MergeFile>
        <MergeFile>
          <Template><![CDATA[<script id="tmpl-selectPO" type="text/html">{{{File}}}</script>]]></Template>
          <Uri>{{AppPath}}\Modules\SelectPO\SelectPO.html</Uri>
        </MergeFile>
        <MergeFile>
          <Template><![CDATA[<script id="tmpl-SelectPO-SubRentalPOBrowseItem" type="text/html">{{{File}}}</script>]]></Template>
          <Uri>{{AppPath}}\Modules\SelectPO\SubRentalPOBrowseItem.html</Uri>
        </MergeFile>
        <MergeFile>
          <Template><![CDATA[<script id="tmpl-staging" type="text/html">{{{File}}}</script>]]></Template>
          <Uri>{{AppPath}}\Modules\Staging\Staging.html</Uri>
        </MergeFile>
        <MergeFile>
          <Template><![CDATA[<script id="tmpl-Staging-PopupQty" type="text/html">{{{File}}}</script>]]></Template>
          <Uri>{{AppPath}}\Modules\Staging\PopupQty.html</Uri>
        </MergeFile>
        <MergeFile>
          <Template><![CDATA[<script id="tmpl-Staging-PopupSelectSerialNo" type="text/html">{{{File}}}</script>]]></Template>
          <Uri>{{AppPath}}\Modules\Staging\PopupSelectSerialNo.html</Uri>
        </MergeFile>
        <MergeFile>
          <Template><![CDATA[<script id="tmpl-scanBarcode" type="text/html">{{{File}}}</script>]]></Template>
          <Uri>{{AppPath}}\views\Partial\ScanBarcode.htm</Uri>
        </MergeFile>
        <MergeFile>
          <Template><![CDATA[<script id="tmpl-transferInMenu" type="text/html">{{{File}}}</script>]]></Template>
          <Uri>{{AppPath}}\Modules\TransferInMenu\TransferInMenu.html</Uri>
        </MergeFile>
        <MergeFile>
          <Template><![CDATA[<script id="tmpl-timeLog" type="text/html">{{{File}}}</script>]]></Template>
          <Uri>{{AppPath}}\Modules\TimeLog\TimeLog.html</Uri>
        </MergeFile>
        <MergeFile>
          <Template><![CDATA[<script id="tmpl-assignitems-newitems" type="text/html">{{{File}}}</script>]]></Template>
          <Uri>{{AppPath}}\Modules\AssignItems\NewItems.html</Uri>
        </MergeFile>
        <MergeFile>
          <Template><![CDATA[<script id="tmpl-assignitems-existingitems" type="text/html">{{{File}}}</script>]]></Template>
          <Uri>{{AppPath}}\Modules\AssignItems\ExistingItems.html</Uri>
        </MergeFile>
        <MergeFile>
          <Template><![CDATA[<script id="tmpl-assignitemsmenu" type="text/html">{{{File}}}</script>]]></Template>
          <Uri>{{AppPath}}\Modules\AssignItems\AssignItemsMenu.html</Uri>
        </MergeFile>
        <MergeFile>
          <Template><![CDATA[<script id="tmpl-barcodelabel" type="text/html">{{{File}}}</script>]]></Template>
          <Uri>{{AppPath}}\Modules\BarcodeLabel\BarcodeLabel.html</Uri>
        </MergeFile>
      </MergeFiles>
    </MergeSection>
  </MergeSections>
  <SourceFiles>
    <SourceFile>
      <ReplaceField>{{{stylesheets}}}</ReplaceField>
      <Template><![CDATA[<link type="text/css" rel="stylesheet" href="{{File}}" />]]></Template>
      <InputFiles>
        <Uri>{{FwFrontEndLibraryUri}}theme/quikscan.css</Uri>
        
        <Uri>{{FwFrontEndLibraryUri}}theme/material/FwConfirmation.css</Uri>
        <Uri>{{FwFrontEndLibraryUri}}theme/material/FwContainer.css</Uri>
        <Uri>{{FwFrontEndLibraryUri}}theme/material/FwContextMenu.css</Uri>
        <Uri>{{FwFrontEndLibraryUri}}theme/material/FwFormField.css</Uri>
        <Uri>{{FwFrontEndLibraryUri}}theme/material/FwNotification.css</Uri>
        
        <Uri>{{FwFrontEndLibraryUri}}theme/FwOverlay.css</Uri>
        <Uri>{{FwFrontEndLibraryUri}}theme/FwMobileModuleControl.css</Uri>
        <Uri>{{FwFrontEndLibraryUri}}theme/FwMobileModuleTabs.css</Uri>
        <Uri>{{FwFrontEndLibraryUri}}theme/FwMobileSearch.css</Uri>
 
        <Uri>{{FwFrontEndLibraryUri}}scripts/jquery/datepicker/datepicker.css</Uri>
        <Uri>{{FwFrontEndLibraryUri}}scripts/jquery/noUiSlider/nouislider.css</Uri>
        <Uri>{{FwFrontEndLibraryUri}}scripts/jquery/timepicker/timepicker.css</Uri>
        <Uri>{{AppUri}}theme/style.css</Uri>
        <Uri>{{AppUri}}Modules/AssetDisposition/AssetDisposition.css</Uri>
        <Uri>{{AppUri}}Modules/AssetSetLocation/AssetSetLocation.css</Uri>
        <Uri>{{AppUri}}Modules/CheckIn/CheckIn.css</Uri>
        <Uri>{{AppUri}}Modules/CheckInMenu/CheckInMenu.css</Uri>
        <Uri>{{AppUri}}Modules/ContractSignature/ContractSignature.css</Uri>
        <Uri>{{AppUri}}Modules/Exchange/Exchange.css</Uri>
        <Uri>{{AppUri}}Modules/FillContainer/FillContainer.css</Uri>
        <Uri>{{AppUri}}Modules/Home/Home.css</Uri>
        <Uri>{{AppUri}}Modules/InventoryWebImage/InventoryWebImage.css</Uri>
        <Uri>{{AppUri}}Modules/ItemStatus/ItemStatus.css</Uri>
        <Uri>{{AppUri}}Modules/Login/Login.css</Uri>
        <Uri>{{AppUri}}Modules/MoveBCLocation/MoveBCLocation.css</Uri>
        <Uri>{{AppUri}}Modules/PackageTruckMenu/PackageTruckMenu.css</Uri>
        <Uri>{{AppUri}}Modules/PhyInvItem/PhyInvItem.css</Uri>
        <Uri>{{AppUri}}Modules/POSubReceiveReturn/POSubReceiveReturn.css</Uri>
        <Uri>{{AppUri}}Modules/Preferences/Preferences.css</Uri>
        <Uri>{{AppUri}}Modules/PrivacyPolicy/PrivacyPolicy.css</Uri>
        <Uri>{{AppUri}}Modules/QC/QC.css</Uri>
        <Uri>{{AppUri}}Modules/QuikIn/QuikIn.css</Uri>
        <Uri>{{AppUri}}Modules/Quote/Quote.css</Uri>
        <Uri>{{AppUri}}Modules/QuoteMenu/QuoteMenu.css</Uri>
        <Uri>{{AppUri}}Modules/RepairItem/RepairItem.css</Uri>
        <Uri>{{AppUri}}Modules/RepairMenu/RepairMenu.css</Uri>
        <Uri>{{AppUri}}Modules/RepairOrder/RepairOrder.css</Uri>
        <Uri>{{AppUri}}Modules/RFIDCheckIn/RFIDCheckIn.css</Uri>
        <Uri>{{AppUri}}Modules/RFIDStaging/RFIDStaging.css</Uri>
        <Uri>{{AppUri}}Modules/SelectOrder/SelectOrder.css</Uri>
        <Uri>{{AppUri}}Modules/PhysicalInventory/PhysicalInventory.css</Uri>
        <Uri>{{AppUri}}Modules/SelectPO/SelectPO.css</Uri>
        <Uri>{{AppUri}}Modules/Staging/Staging.css</Uri>
        <Uri>{{AppUri}}Modules/Support/Support.css</Uri>
        <Uri>{{AppUri}}Modules/TimeLog/TimeLog.css</Uri>
        <Uri>{{AppUri}}Modules/ReceiveOnSet/ReceiveOnSet.css</Uri>
        <Uri>{{AppUri}}Modules/AssignItems/AssignItems.css</Uri>
        <Uri>{{AppUri}}Modules/BarcodeLabel/BarcodeLabel.css</Uri>
        <Uri>{{AppUri}}Modules/TransferInMenu/TransferInMenu.css</Uri>
      </InputFiles>
      <Minify>true</Minify>
      <OutputFile>theme\style-{{Version}}.debug.css</OutputFile>
      <MinifiedFile>theme\style-{{Version}}.min.css</MinifiedFile>
    </SourceFile>
    <SourceFile>
      <ReplaceField>{{{javascripts}}}</ReplaceField>
      <Template><![CDATA[<script type="text/javascript" src="{{File}}"></script>]]></Template>
      <InputFiles>
        <!--<Uri>{{FwFrontEndLibraryUri}}scripts/fastclick.js</Uri>-->
        <!--<Uri>{{FwFrontEndLibraryUri}}scripts/FwEPS/FwEPS.js</Uri>-->
        <Uri>{{FwFrontEndLibraryUri}}scripts/modernizr/modernizr-2.6.2.js</Uri>
        <Uri>{{FwFrontEndLibraryUri}}scripts/jquery/jquery-3.3.1.js</Uri>
        <Uri>{{FwFrontEndLibraryUri}}scripts/jquery/jquery-noconflict.js</Uri>
        <!--<Uri>{{FwFrontEndLibraryUri}}scripts/jquery/jquery.mousewheel.js</Uri>-->
        <Uri>{{FwFrontEndLibraryUri}}scripts/jquery/jquery.FwConversion.js</Uri>
        <Uri>{{FwFrontEndLibraryUri}}scripts/jquery/jquery.FwPopup.js</Uri>
        <Uri>{{FwFrontEndLibraryUri}}scripts/mustache/mustache-0.7.0.js</Uri>
        <Uri>{{FwFrontEndLibraryUri}}scripts/jquery/jquery.signaturepad.js</Uri>
        <!--<Uri>{{FwFrontEndLibraryUri}}scripts/jquery/colorpicker/colpick.js</Uri>
        <Uri>{{FwFrontEndLibraryUri}}scripts/jquery/jquery.color.js</Uri>-->
        <Uri>{{FwFrontEndLibraryUri}}scripts/jquery/jquery.RemoveClassPrefix.js</Uri>
        <Uri>{{FwFrontEndLibraryUri}}scripts/jquery/datepicker/bootstrap-datepicker.js</Uri>
        <Uri>{{FwFrontEndLibraryUri}}scripts/jquery/inputmask/jquery.inputmask.js</Uri>
        <Uri>{{FwFrontEndLibraryUri}}scripts/jquery/noUiSlider/nouislider.js</Uri>
        <Uri>{{FwFrontEndLibraryUri}}scripts/jquery/timepicker/jquery.timepicker.js</Uri>
        <!--<Uri>{{FwFrontEndLibraryUri}}scripts/moment/moment.min.js</Uri>-->
        <Uri>{{FwFrontEndLibraryUri}}scripts/FwAppData.js</Uri>
        <Uri>{{FwFrontEndLibraryUri}}scripts/FwApplicationConfig.js</Uri>
        <Uri>{{FwFrontEndLibraryUri}}scripts/FwControls/FwAudit.js</Uri>
        <Uri>{{FwFrontEndLibraryUri}}scripts/FwControls/FwApplicationTree.js</Uri>
        <Uri>{{FwFrontEndLibraryUri}}scripts/FwControls/FwBrowseColumns/FwBrowseColumn_appdocumentimage.js</Uri>
        <Uri>{{FwFrontEndLibraryUri}}scripts/FwControls/FwBrowseColumns/FwBrowseColumn_appdocumentversion.js</Uri>
        <Uri>{{FwFrontEndLibraryUri}}scripts/FwControls/FwBrowseColumns/FwBrowseColumn_appimage.js</Uri>
        <Uri>{{FwFrontEndLibraryUri}}scripts/FwControls/FwBrowseColumns/FwBrowseColumn_checkbox.js</Uri>
        <Uri>{{FwFrontEndLibraryUri}}scripts/FwControls/FwBrowseColumns/FwBrowseColumn_date.js</Uri>
        <Uri>{{FwFrontEndLibraryUri}}scripts/FwControls/FwBrowseColumns/FwBrowseColumn_hidden.js</Uri>
        <Uri>{{FwFrontEndLibraryUri}}scripts/FwControls/FwBrowseColumns/FwBrowseColumn_key.js</Uri>
        <Uri>{{FwFrontEndLibraryUri}}scripts/FwControls/FwBrowseColumns/FwBrowseColumn_legend.js</Uri>
        <Uri>{{FwFrontEndLibraryUri}}scripts/FwControls/FwBrowseColumns/FwBrowseColumn_money.js</Uri>
        <Uri>{{FwFrontEndLibraryUri}}scripts/FwControls/FwBrowseColumns/FwBrowseColumn_note.js</Uri>
        <Uri>{{FwFrontEndLibraryUri}}scripts/FwControls/FwBrowseColumns/FwBrowseColumn_number.js</Uri>
        <Uri>{{FwFrontEndLibraryUri}}scripts/FwControls/FwBrowseColumns/FwBrowseColumn_olecolor.js</Uri>
        <Uri>{{FwFrontEndLibraryUri}}scripts/FwControls/FwBrowseColumns/FwBrowseColumn_phone.js</Uri>
        <Uri>{{FwFrontEndLibraryUri}}scripts/FwControls/FwBrowseColumns/FwBrowseColumn_rowbackgroundcolor.js</Uri>
        <Uri>{{FwFrontEndLibraryUri}}scripts/FwControls/FwBrowseColumns/FwBrowseColumn_rowtextcolor.js</Uri>
        <Uri>{{FwFrontEndLibraryUri}}scripts/FwControls/FwBrowseColumns/FwBrowseColumn_text.js</Uri>
        <Uri>{{FwFrontEndLibraryUri}}scripts/FwControls/FwBrowseColumns/FwBrowseColumn_time.js</Uri>
        <Uri>{{FwFrontEndLibraryUri}}scripts/FwControls/FwBrowseColumns/FwBrowseColumn_time12.js</Uri>
        <Uri>{{FwFrontEndLibraryUri}}scripts/FwControls/FwBrowseColumns/FwBrowseColumn_utcdate.js</Uri>
        <Uri>{{FwFrontEndLibraryUri}}scripts/FwControls/FwBrowseColumns/FwBrowseColumn_utcdatetime.js</Uri>
        <Uri>{{FwFrontEndLibraryUri}}scripts/FwControls/FwBrowseColumns/FwBrowseColumn_utctime.js</Uri>
        <Uri>{{FwFrontEndLibraryUri}}scripts/FwControls/FwBrowseColumns/FwBrowseColumn_validation.js</Uri>
        <Uri>{{FwFrontEndLibraryUri}}scripts/FwControls/FwBrowse.js</Uri>
        <!--<Uri>{{FwFrontEndLibraryUri}}scripts/FwControls/FwCharge.js</Uri>-->
        <Uri>{{FwFrontEndLibraryUri}}scripts/FwControls/FwConfirmation.js</Uri>
        <Uri>{{FwFrontEndLibraryUri}}scripts/FwControls/FwContainer.js</Uri>
        <Uri>{{FwFrontEndLibraryUri}}scripts/FwControls/FwControl.js</Uri>
        <Uri>{{FwFrontEndLibraryUri}}scripts/FwControls/FwFormField.js</Uri>
        <Uri>{{FwFrontEndLibraryUri}}scripts/FwControls/FwFormFields/FwFormField_checkbox.js</Uri>
        <Uri>{{FwFrontEndLibraryUri}}scripts/FwControls/FwFormFields/FwFormField_checkboxlist.js</Uri>
        <Uri>{{FwFrontEndLibraryUri}}scripts/FwControls/FwFormFields/FwFormField_color.js</Uri>
        <Uri>{{FwFrontEndLibraryUri}}scripts/FwControls/FwFormFields/FwFormField_combobox.js</Uri>
        <Uri>{{FwFrontEndLibraryUri}}scripts/FwControls/FwFormFields/FwFormField_date.js</Uri>
        <Uri>{{FwFrontEndLibraryUri}}scripts/FwControls/FwFormFields/FwFormField_datetime.js</Uri>
        <Uri>{{FwFrontEndLibraryUri}}scripts/FwControls/FwFormFields/FwFormField_email.js</Uri>
        <Uri>{{FwFrontEndLibraryUri}}scripts/FwControls/FwFormFields/FwFormField_encrypt.js</Uri>
        <Uri>{{FwFrontEndLibraryUri}}scripts/FwControls/FwFormFields/FwFormField_key.js</Uri>
        <Uri>{{FwFrontEndLibraryUri}}scripts/FwControls/FwFormFields/FwFormField_money.js</Uri>
        <Uri>{{FwFrontEndLibraryUri}}scripts/FwControls/FwFormFields/FwFormField_multiselectvalidation.js</Uri>
        <Uri>{{FwFrontEndLibraryUri}}scripts/FwControls/FwFormFields/FwFormField_number.js</Uri>
        <Uri>{{FwFrontEndLibraryUri}}scripts/FwControls/FwFormFields/FwFormField_orderby.js</Uri>
        <Uri>{{FwFrontEndLibraryUri}}scripts/FwControls/FwFormFields/FwFormField_password.js</Uri>
        <Uri>{{FwFrontEndLibraryUri}}scripts/FwControls/FwFormFields/FwFormField_percent.js</Uri>
        <Uri>{{FwFrontEndLibraryUri}}scripts/FwControls/FwFormFields/FwFormField_phone.js</Uri>
        <Uri>{{FwFrontEndLibraryUri}}scripts/FwControls/FwFormFields/FwFormField_radio.js</Uri>
        <Uri>{{FwFrontEndLibraryUri}}scripts/FwControls/FwFormFields/FwFormField_searchbox.js</Uri>
        <Uri>{{FwFrontEndLibraryUri}}scripts/FwControls/FwFormFields/FwFormField_select.js</Uri>
        <Uri>{{FwFrontEndLibraryUri}}scripts/FwControls/FwFormFields/FwFormField_ssn.js</Uri>
        <Uri>{{FwFrontEndLibraryUri}}scripts/FwControls/FwFormFields/FwFormField_text.js</Uri>
        <Uri>{{FwFrontEndLibraryUri}}scripts/FwControls/FwFormFields/FwFormField_textarea.js</Uri>
        <Uri>{{FwFrontEndLibraryUri}}scripts/FwControls/FwFormFields/FwFormField_time.js</Uri>
        <Uri>{{FwFrontEndLibraryUri}}scripts/FwControls/FwFormFields/FwFormField_url.js</Uri>
        <Uri>{{FwFrontEndLibraryUri}}scripts/FwControls/FwFormFields/FwFormField_validation.js</Uri>
        <Uri>{{FwFrontEndLibraryUri}}scripts/FwControls/FwFormFields/FwFormField_zipcode.js</Uri>
        <Uri>{{FwFrontEndLibraryUri}}scripts/FwControls/FwAppImage.js</Uri>
        <Uri>{{FwFrontEndLibraryUri}}scripts/FwControls/FwContextMenu.js</Uri>
        <Uri>{{FwFrontEndLibraryUri}}scripts/FwControls/FwListView.js</Uri>
        <Uri>{{FwFrontEndLibraryUri}}scripts/FwControls/FwMenu.js</Uri>
        <Uri>{{FwFrontEndLibraryUri}}scripts/FwControls/FwModule.js</Uri>
        <Uri>{{FwFrontEndLibraryUri}}scripts/FwControls/FwMultiSelectValidation.js</Uri>
        <Uri>{{FwFrontEndLibraryUri}}scripts/FwControls/FwNotification.js</Uri>
        <Uri>{{FwFrontEndLibraryUri}}scripts/FwControls/FwOverlay.js</Uri>
        <Uri>{{FwFrontEndLibraryUri}}scripts/FwControls/FwPopup.js</Uri>
        <Uri>{{FwFrontEndLibraryUri}}scripts/FwControls/FwTabs.js</Uri>
        <Uri>{{FwFrontEndLibraryUri}}scripts/FwControls/FwValidation.js</Uri>
        <Uri>{{FwFrontEndLibraryUri}}scripts/FwPages/FwBasePages.js</Uri>
        <Uri>{{FwFrontEndLibraryUri}}scripts/mobile/FwMobileMasterController.js</Uri>
        <Uri>{{FwFrontEndLibraryUri}}scripts/mobile/FwMobileModuleControl.js</Uri>
        <Uri>{{FwFrontEndLibraryUri}}scripts/mobile/FwMobileModuleTabs.js</Uri>
        <Uri>{{FwFrontEndLibraryUri}}scripts/mobile/FwMobileSearch.js</Uri>
        <Uri>{{FwFrontEndLibraryUri}}scripts/wnumb-1.0.2/wNumb.js</Uri>
        <Uri>{{FwFrontEndLibraryUri}}scripts/FwFunc.js</Uri>
        <Uri>{{FwFrontEndLibraryUri}}scripts/FwLanguages.js</Uri>
        <Uri>{{FwFrontEndLibraryUri}}scripts/FwSecurity.js</Uri>
        <Uri>{{FwFrontEndLibraryUri}}scripts/FwServices.js</Uri>
        <Uri>{{FwFrontEndLibraryUri}}scripts/polyfill.js</Uri>
        <Uri>{{FwFrontEndLibraryUri}}scripts/Sortable-1.1.1/Sortable.js</Uri>
        
        <Uri>{{AppUri}}scripts/RwConstants.js</Uri>
        <Uri>{{AppUri}}scripts/RwLanguages.js</Uri>
        <Uri>{{AppUri}}scripts/RwAppData.js</Uri>
        <Uri>{{AppUri}}scripts/RwServices.js</Uri>
        <Uri>{{AppUri}}scripts/RwRFID.js</Uri>
        <Uri>{{AppUri}}scripts/controllers/RwPartialController.js</Uri>
        <Uri>{{AppUri}}scripts/controllers/RwAccountController.js</Uri>
        <Uri>{{AppUri}}scripts/controllers/RwOrderController.js</Uri>
        <Uri>{{AppUri}}scripts/controllers/RwInventoryController.js</Uri>
        <Uri>{{AppUri}}Modules/AssetDisposition/AssetDisposition.js</Uri>
        <Uri>{{AppUri}}Modules/AssetSetLocation/AssetSetLocation.js</Uri>
        <Uri>{{AppUri}}Modules/CheckIn/CheckIn.js</Uri>
        <Uri>{{AppUri}}Modules/CheckInMenu/CheckInMenu.js</Uri>
        <Uri>{{AppUri}}Modules/ContractSignature/ContractSignature.js</Uri>
        <Uri>{{AppUri}}Modules/OutContractReport/OutContractReport.js</Uri>
        <Uri>{{AppUri}}Modules/Exchange/Exchange.js</Uri>
        <Uri>{{AppUri}}Modules/FillContainer/FillContainer.js</Uri>
        <Uri>{{AppUri}}Modules/Home/Home.js</Uri>
        <Uri>{{AppUri}}Modules/InventoryWebImage/InventoryWebImage.js</Uri>
        <Uri>{{AppUri}}Modules/ItemStatus/ItemStatus.js</Uri>
        <Uri>{{AppUri}}Modules/Login/Login.js</Uri>
        <Uri>{{AppUri}}Modules/MoveBCLocation/MoveBCLocation.js</Uri>
        <Uri>{{AppUri}}Modules/PackageTruckMenu/PackageTruckMenu.js</Uri>
        <Uri>{{AppUri}}Modules/PhyInvItem/PhyInvItem.js</Uri>
        <Uri>{{AppUri}}Modules/POSubReceiveReturn/POSubReceiveReturn.js</Uri>
        <Uri>{{AppUri}}Modules/Preferences/Preferences.js</Uri>
        <Uri>{{AppUri}}Modules/PrivacyPolicy/PrivacyPolicy.js</Uri>
        <Uri>{{AppUri}}Modules/QC/QC.js</Uri>
        <Uri>{{AppUri}}Modules/QuikIn/QuikIn.js</Uri>
        <Uri>{{AppUri}}Modules/Quote/Quote.js</Uri>
        <Uri>{{AppUri}}Modules/QuoteMenu/QuoteMenu.js</Uri>
        <Uri>{{AppUri}}Modules/RepairItem/RepairItem.js</Uri>
        <Uri>{{AppUri}}Modules/RepairMenu/RepairMenu.js</Uri>
        <Uri>{{AppUri}}Modules/RepairOrder/RepairOrder.js</Uri>
        <Uri>{{AppUri}}Modules/RFIDCheckIn/RFIDCheckIn.js</Uri>
        <Uri>{{AppUri}}Modules/RFIDStaging/RFIDStaging.js</Uri>
        <Uri>{{AppUri}}Modules/SelectOrder/SelectOrder.js</Uri>
        <Uri>{{AppUri}}Modules/PhysicalInventory/PhysicalInventory.js</Uri>
        <Uri>{{AppUri}}Modules/SelectPO/SelectPO.js</Uri>
        <Uri>{{AppUri}}Modules/Staging/Staging.js</Uri>
        <Uri>{{AppUri}}Modules/Support/Support.js</Uri>
        <Uri>{{AppUri}}Modules/TimeLog/TimeLog.js</Uri>
        <Uri>{{AppUri}}Modules/ReceiveOnSet/ReceiveOnSet.js</Uri>
        <Uri>{{AppUri}}Modules/TransferInMenu/TransferInMenu.js</Uri>
        <Uri>{{AppUri}}Modules/AssignItems/AssignItems.js</Uri>
        <Uri>{{AppUri}}Modules/BarcodeLabel/BarcodeLabel.js</Uri>
        <Uri>[source_js]</Uri>
        <Uri>{{FwFrontEndLibraryUri}}scripts/FwApplication.js</Uri>
        <Uri>{{AppUri}}scripts/Program.js</Uri>
      </InputFiles>
      <Minify>true</Minify>
      <OutputFile>script-{{Version}}.debug.js</OutputFile>
      <MinifiedFile>script-{{Version}}.min.js</MinifiedFile>
    </SourceFile>
  </SourceFiles>
  <Targets>
    <Target>
      <Publish>false</Publish>
      <Minify>false</Minify>
      <AddBaseUrlToSourceFiles>true</AddBaseUrlToSourceFiles>
      <OutputDirectory>$(SolutionDir)\src\RentalWorksQuikScan</OutputDirectory>
      <Files>
        <File>
          <InputFile>$(SolutionDir)\src\RentalWorksQuikScan\app_headsrc.htm</InputFile>
          <OutputFile>$(SolutionDir)\src\RentalWorksQuikScan\app_head.htm</OutputFile>
        </File>
        <File>
          <InputFile>$(SolutionDir)\src\RentalWorksQuikScan\app_bodysrc.htm</InputFile>
          <OutputFile>$(SolutionDir)\src\RentalWorksQuikScan\app_body.htm</OutputFile>
        </File>
        <File>
          <InputFile>$(SolutionDir)\src\RentalWorksQuikScan\app_startupscriptsrc.js</InputFile>
          <OutputFile>$(SolutionDir)\src\RentalWorksQuikScan\app_startupscript.js</OutputFile>
        </File>
      </Files>
    </Target>
    <Target>
      <Publish>true</Publish>
      <Minify>true</Minify>
      <AddBaseUrlToSourceFiles>true</AddBaseUrlToSourceFiles>
      <OutputDirectory>$(SolutionDir)\build\RentalWorksQuikScan</OutputDirectory>
      <Files>
        <File>
          <InputFile>$(SolutionDir)\src\RentalWorksQuikScan\app_headsrc.htm</InputFile>
          <OutputFile>$(SolutionDir)\build\RentalWorksQuikScan\app_head.htm</OutputFile>
        </File>
        <File>
          <InputFile>$(SolutionDir)\src\RentalWorksQuikScan\app_bodysrc.htm</InputFile>
          <OutputFile>$(SolutionDir)\build\RentalWorksQuikScan\app_body.htm</OutputFile>
        </File>
        <File>
          <InputFile>$(SolutionDir)\src\RentalWorksQuikScan\app_startupscriptsrc.js</InputFile>
          <OutputFile>$(SolutionDir)\build\RentalWorksQuikScan\app_startupscript.js</OutputFile>
        </File>
      </Files>
    </Target>
  </Targets>
</JSAppBuilderConfig>
