<?xml version="1.0"?>
<configuration>
  <location path="." inheritInChildApplications="false">
    <system.web>
      <machineKey validationKey="2F7FF63DA1600E7E440559598A0B55E0EBA9726E1DA717D710085C4B0B9723DDA1BD35D8BEBE25C80BC197C05749DCBB4BD5AB9BE62A68FF166431FD4A1E1AA4" decryptionKey="E5856AD218EDD5BC434A5886E221C67FC63AA2B11A8ADE144CF70FC5706BA01B" validation="SHA1" decryption="AES"/>
      <compilation debug="true" targetFramework="4.0" />
      <authentication mode="None"></authentication>
      <customErrors mode="Off" />
      <globalization culture="en-US"/>
      <!-- Allow Requests up to 50MB to handle large image uploads (default is 4MB) -->
      <httpRuntime maxRequestLength="51200"/>
      <httpHandlers>
        <add validate="false" verb="*" path="services.ashx" type="RentalWorksQuikScan.Source.RwServiceRouting, RentalWorksQuikScan" />
      </httpHandlers>
    </system.web>
    <system.webServer>
      <security>
        <requestFiltering>
          <!-- Allow Requests up to 50MB to handle large image uploads (default is 4MB) -->
          <requestLimits maxAllowedContentLength="52428800" />
        </requestFiltering>
      </security>
      <httpProtocol>
        <customHeaders>
          <clear />
          <add name="Access-Control-Allow-Origin" value="*"/>
          <add name="Access-Control-Allow-Methods" value="GET, POST"/>
          <add name="Access-Control-Allow-Headers" value="Origin, X-Requested-With, Content-Type, Accept"/>
        </customHeaders>
      </httpProtocol>
      <urlCompression doDynamicCompression="true" doStaticCompression="true" />
      <staticContent>
        <clientCache cacheControlMode="DisableCache" />
        <mimeMap fileExtension="svg" mimeType="image/svg+xml" />
        <mimeMap fileExtension="eot" mimeType="application/vnd.ms-fontobject" />
        <mimeMap fileExtension="woff" mimeType="application/font-woff" />
        <mimeMap fileExtension="woff2" mimeType="application/font-woff2" />
        <mimeMap fileExtension="csv" mimeType="application/vnd.ms-excel" />
        <mimeMap fileExtension="json" mimeType="application/json" />
      </staticContent>
      <validation validateIntegratedModeConfiguration="false" />
      <modules runAllManagedModulesForAllRequests="true">
      </modules>
      <handlers>
        <add name="RwServices" verb="*" path="services.ashx" preCondition="integratedMode" type="RentalWorksQuikScan.Source.RwServiceRouting, RentalWorksQuikScan" />
      </handlers>
    </system.webServer>
  </location>
</configuration>
