<div id="footer" style="box-sizing:border-box; margin:0 0 -15px 0; padding:24px; width: 612px; box-sizing: border-box; display:flex; font-size:12px;">
  <div style="flex:0 0 140px; font-size: 9px;">{{PrintTime}}</div>
</div>