tbody:nth-child(even) {
    background-color: #DCDCDC;
}
body {
    font-family: Arial, sans-serif;
    font-size: 11px;
    margin: 0;
    padding: 0;
}

.body thead td {
    border-bottom: 1px solid black;
    text-align: left;
}
.body thead td div {
    font-size: 14px;
    text-align: center;
}

tr td div {
    padding: 5px 0px 5px 0px;
    min-height: 16px;
}


.body tfoot tr {
    border-top: 1px solid black;
}

.body tfoot td > div {
    line-height: 16px;
    vertical-align: middle;
    font-size: 14px;
    padding: 10px 0;
    font-weight: bold;
}

.rptcaption {
    font-weight: bold;  
}
.boxcol {
    border: 1px solid black;
    text-align: left;
    padding-left: 2px;
}
.row4 td {
    padding: 0 0 8px 0
}