/*Crew Sign-In Report*/

tbody {
    /*tr[data-rowtype="detail"]:nth-child(even) {
        background-color: #DCDCDC;
    }*/
    /*tr[data-rowtype="detail"]:nth-child(odd) {
        background-color: deepskyblue;
    }

    tr[data-rowtype="detail"]:nth-child(1n) {
        background-color: orangered;
    }

    tr[data-rowtype="detail"]:nth-child(2n) {
        background-color: cadetblue;
    }

    tr[data-rowtype="detail"]:nth-child(2n+1) {
        background-color: blue;
    }*/


    td {
        padding: 3px;
    }
}

body {
    font-family: Arial, sans-serif;
    font-size: 11px;
    margin: 0;
    padding: 0;
}

thead {
    th {
        border-top: 2px solid #000000;
        border-bottom: 2px solid #000000;
        font-weight: bold;
        padding: 5px;
        white-space: nowrap;
    }
}

.office-row {
    font-weight: bold;
    padding-top: 15px;
    font-size: 12px;
}

.deal-row {
    font-weight: bold;
    padding-top: 10px;
}

.date-row {
    font-weight: bold;
    padding-top: 10px;
}

.boxcol {
    border: 1px solid #000000;
    border-bottom: 0;
}

.box-no-top {
    border: 1px solid #000000;
    border-top: 0;
}

.header-box {
    border: 2px solid #000000;
}


