/*Crew Sign-In Report*/

tbody {
    /*.detail-row:nth-child(even) {
        background-color: palevioletred;
    }*/

    .row-two:nth-child(odd) {
        background-color: lightgray;
    }

    td {
        padding: 3px;
    }
}

thead {
    th {
        border-top: 2px solid #000000;
        border-bottom: 2px solid #000000;
        font-weight: bold;
        padding: 5px;
        white-space: nowrap;
    }
}

.header-row:not(.lower) {
    padding-top: 15px;
}

.header-row {
    font-size: 12px;
    font-weight: bold;
    padding-top: 10px;
}

.boxcol {
    border: 1px solid #000000;
    border-bottom: 0;
}

.box-no-top {
    border: 1px solid #000000;
    border-top: 0;
}

.header-box {
    border: 2px solid #000000;
}

.time-field {
    width: 50px;
}


