tbody {
    tr[data-rowtype="detail"]:nth-child(odd) {
        background-color: #DCDCDC;
    }

    tr[data-rowtype="Agentheader"] {
        td[data-value="0"]:after {
            content: "";
        }
    }
}