tbody {
    tr[data-rowtype="detail"]:nth-child(odd) {
        background-color: #DCDCDC;
    }

    tr[data-rowtype="Agentheader"] {
        td[data-value="0"]:after {
            content: "";
        }
    }
}

thead {
    th {
        border-top: 2px solid #000000;
        border-bottom: 2px solid #000000;
        font-weight: bold;
        padding: 5px;
        white-space: nowrap;
    }
}

.name-row {
    font-weight: bold;
    padding-top: 15px;
    font-size: 12px;
}

.total-row {
    font-weight: bold;
    border-top: 1.5px solid black;
    padding-top: 10px;
}