/*DealInvoiceDetailReport*/
tbody[data-rowtype="detail"]:nth-child(odd) td:not(.no-border) {
    background-color: #DCDCDC;
}

thead {
    th {
        border-bottom: 2px solid #000000;
        font-weight: bold;
        padding: 5px;
        white-space: nowrap;
    }
}

.no-border {
    border-top: none;
    border-bottom: none;
}

.border-top {
    border-top: 2px solid black;
}

@media print {
    @page {
        size: landscape;
        margin: 10px 10px 35px 10px; // Adds margin on the pdf
    }
    thead {
        display: table-row-group;
    }
}