html {margin:0;padding:0;}
div {box-sizing:border-box;font-family:Arial;}
table {font-size:inherit;border-collapse:collapse;margin:0;padding:0;}
td {box-sizing:border-box;}
body {margin:0;padding:0;}

/* report header styles */
.header {}

/* report body styles */
.body {}
.body table {width:100%;border-collapse:collapse;margin:0;padding:0;}
.body thead td {vertical-align:top;background-color:#aaaaaa;border-bottom: 1px solid #777777;white-space:nowrap}
.body thead td > div {min-height:16px;line-height:16px;vertical-align:middle;font-size:12px;font-weight:bold;color:#000000;white-space:nowrap;}
.body tbody td {vertical-align:top;}
.body tbody td > div {line-height:16px;vertical-align:middle;font-size:12px;}
/*#body tbody td:nth-child(even) {background-color:#dddddd;}*/
.body tbody tr:nth-child(even) {background-color:#dddddd;}
.body td{padding:0 3px;}

/* report footer styles */
.footer {}
.renderhtml .pagenumber {display:none;}
.renderpdf .pagenumber {display:block;}

.bold {font-weight:bold;}
.floatcontainer {overflow:hidden;}
.floatleft {float:left;}
.floatright {float:right;}
.line16 {height:16px;line-height:16px;vertical-align:middle;}
.line24 {height:24px;line-height:24px;vertical-align:middle;}
.font10 {font-size:10px;}
.font12 {font-size:12px;}
.font14 {font-size:14px;}
.font16 {font-size:16px;}
.font18 {font-size:18px;}
.font20 {font-size:20px;}
.font22 {font-size:22px;}
.font24 {font-size:24px;}
.font26 {font-size:26px;}
.font28 {font-size:28px;}
.font30 {font-size:30px;}
.caption {font-weight:bold;}
.caption16 {height:16px;line-height:16px;vertical-align:middle;font-weight:bold;padding:0 4px;text-overflow:ellipsis;}
.caption24 {height:24px;line-height:24px;vertical-align:middle;font-weight:bold;padding:0 4px;text-overflow:ellipsis;}
.value16 {height:16px;line-height:16px;vertical-align:middle;padding:0 4px;text-overflow:ellipsis;}
.value24 {height:24px;line-height:24px;vertical-align:middle;padding:0 4px;text-overflow:ellipsis;}
.value48 {height:48px;line-height:48px;vertical-align:middle;padding:0 4px;text-overflow:ellipsis;}
.heading16 {height:16px;line-height:16px;vertical-align:middle;font-weight:bold;padding:0 4px;text-align:center;text-overflow:ellipsis;}
.heading24 {height:24px;line-height:24px;vertical-align:middle;font-weight:bold;padding:0 4px;text-align:center;text-overflow:ellipsis;}
.bt {border-top:1px solid #000000;}
.br {border-right:1px solid #000000;}
.bb {border-bottom:1px solid #000000;}
.bl {border-left:1px solid #000000;}
.textleft {text-align:left;}
.textright {text-align:right;}
.textcenter {text-align:center;}

.phone {min-width:92px;white-space:nowrap}

.reportfooter {font-size:12px;}
.reportfooter td {padding:10px 0;}

