@font-face {
    font-family: 'bgothm';
    src: url('fwfonts/bgothm/bgothm.002-webfont.eot');
    src: url('fwfonts/bgothm/bgothm.002-webfont.eot?#iefix') format('embedded-opentype'),
         url('fwfonts/bgothm/bgothm.002-webfont.woff2') format('woff2'),
         url('fwfonts/bgothm/bgothm.002-webfont.woff') format('woff'),
         url('fwfonts/bgothm/bgothm.002-webfont.ttf') format('truetype'),
         url('fwfonts/bgothm/bgothm.002-webfont.svg#bankgothic_md_btmedium') format('svg');
    font-weight: normal;
    font-style: normal;
}
.bgothm {font-family:bgothm;}
/***************************
Master
***************************/
#master {min-width:1183px;}
#master-header .usercontrol #logoff {cursor:pointer;}
#master-header #officelocation {cursor:pointer;position:relative;}
#master-header #officelocation .caption {display:inline-block;}
#master-header #officelocation .value {display:inline-block;margin-left:2px;}
#master-body {padding:10px;}
#master-footer {text-align:center;font-size:12px;margin-bottom:10px;}
#master-footer #dbworkslink {cursor:pointer;}

/***************************
RwGroupController
***************************/
div[data-controller="RwGroupController"] .editgrouptree {}
div[data-controller="RwGroupController"] .editgrouptree > .title {text-align:center;}
div[data-controller="RwGroupController"] .previewgrouptree {margin:0 0 0 60px;}
div[data-controller="RwGroupController"] .previewgrouptree > .title {text-align:center;}
div[data-controller="RwGroupController"] .grouptree {cursor:default;margin:0;padding:0;}
div[data-controller="RwGroupController"] .grouptree ul {margin:0 0 0 5px;padding:0;border-left: 1px dotted #777777;}
div[data-controller="RwGroupController"] .grouptree li {margin:1px 0 0 10px;padding:0;list-style-type:none;display:block;}
div[data-controller="RwGroupController"] .grouptree .content {overflow:hidden;background-color:rgba(100,100,100,.1);border:1px solid rgba(100,100,100,.3);padding:2px 2px;}

div[data-controller="RwGroupController"] .grouptree .iconexpander {float:left;cursor:pointer;margin:5px 6px 5px 0;width:12px;height:12px;background-size:cover;background-repeat:no-repeat;visibility:hidden;}
div[data-controller="RwGroupController"] .grouptree li[data-expanded="T"] > .iconexpander {background-image:url('fwimages/icons/128/arrow-south.png');visibility:visible;}
div[data-controller="RwGroupController"] .grouptree li[data-expanded="F"] > .iconexpander {background-image:url('fwimages/icons/128/arrow-east.png');visibility:visible;}

div[data-controller="RwGroupController"] .grouptree .icon {float:left;margin:3px 6px 3px 0;width:16px;height:16px;background-size:cover;background-repeat:no-repeat;display:none;}
div[data-controller="RwGroupController"] .grouptree li[data-property-nodetype="Tab"] > .icon,
div[data-controller="RwGroupController"] .grouptree li[data-property-nodetype="Lv1ModuleMenu"] > .icon {background-image:url('fwimages/icons/128/securitytree-tab.001.png');display:block;}

div[data-controller="RwGroupController"] .grouptree .iconvisible {float:left;cursor:pointer;margin:0 1px 0 1px;width:16px;height:16px;background-size:cover;background-repeat:no-repeat;background-image:url('fwimages/icons/128/securitytree-visible-false.002.png');}
div[data-controller="RwGroupController"] .grouptree li[data-property-visible="T"] > .content > .iconvisible {background-image:url('fwimages/icons/128/securitytree-visible-true.002.png');}
div[data-controller="RwGroupController"] .grouptree li[data-property-visible="F"] {opacity:0.2;}
div[data-controller="RwGroupController"] .grouptree li[data-property-visible="F"] li[data-property-visible="F"] {opacity:1;}
div[data-controller="RwGroupController"] .grouptree li[data-property-visible="T"] {opacity:1;}

div[data-controller="RwGroupController"] .grouptree .iconeditable {float:left;margin:0 1px 0 1px;width:16px;height:16px;background-size:cover;background-repeat:no-repeat;background-image:url('fwimages/icons/128/securitytree-editable-false.001.png');}
div[data-controller="RwGroupController"] .grouptree li[data-property-visible="T"] > .content > .iconeditable {cursor:pointer;}
div[data-controller="RwGroupController"] .grouptree li[data-property-visible="T"][data-property-editable="T"] > .content > .iconeditable {background-image:url('fwimages/icons/128/securitytree-editable-true.001.png');}
div[data-controller="RwGroupController"] .grouptree li[data-property-editable="F"] > .content > .caption {color:#ff0000;}

div[data-controller="RwGroupController"] .grouptree .caption {float:left;font-size:11px;height:16px;line-height:16px;padding:0 3px 0 3px;}

div[data-controller="RwGroupController"] .grouptree li[data-haschildren="F"] {list-style-type:none;}
div[data-controller="RwGroupController"] .grouptree li[data-expanded="F"] > .childrencontainer {display:none;}
div[data-controller="RwGroupController"] .grouptree li[data-property-id="apptree"] > .content > .iconvisible {display:none;}
div[data-controller="RwGroupController"] .grouptree li[data-property-id="apptree"] > .content > .iconeditable {display:none;}